#homepage-content {padding:0 0 25px; border-bottom:solid 1px #ededed;}
#homepage-content a {color: #929292; text-decoration: underline;}
#homepage-content .blue{color:#3E8AE8; text-decoration:none;}
#homepage-content h1, #homepage-content h2, #homepage-content h3, #homepage-content h4, #homepage-content h5, #homepage-content h6 {
	font-weight: normal; margin:3px 0; padding: 0px; color: #5b5b5b; background: none;}
#getonline {
	background:url("/getImage.php?src=homepage-sprite.jpg") no-repeat scroll 200px 0 transparent; height:63px; margin:0 auto;
	text-align:left; width:100%; text-indent:-9999em;}
.orange {color:#ee7214;}
.green {color:#749707;}
.italic {font-style:italic;}
#homepage-content, #homepage-content h3 {color:#636363;}
#homepage-content #region-top h1,  #homepage-content #region-center h1 {font-size: 40px; font-weight:bold; text-shadow:0 2px 0 #CCCCCC;}
.domain-submit-disabled {background-position: -83px -142px; font-size:32px;}
.space-right {float:left; width:50px;}
.blocks h4 {font-size: 16px;}
.free-list {width: 350px;}
.free-list ul {width: 300px;}
.free-list ul li {background:url("/getImage.php?src=frontpage-icons.gif") no-repeat scroll 0 -3px transparent; font-size: 16px; padding:8px 0 8px 50px;}
.free-list ul li.privacy {background:url("/getImage.php?src=frontpage-icons.gif") no-repeat scroll 0 -38px transparent;}
.free-list ul li.support {background:url("/getImage.php?src=frontpage-icons.gif") no-repeat scroll 0 -71px transparent;}
/* --------- TLD Price List ---------  */

.oldprice {color:#A7A7A7; line-height:20px;}
.currentprice {font:normal 15px/18px Arial, Helvetica, sans-serif; margin-top:3px;}
.currentprice .currencySymbol {font:normal 15px Arial, Helvetica, sans-serif;}
.strikeout {font:normal 13px Arial, Helvetica, sans-serif; text-decoration:line-through;}
.t1 {font-size: 16px; line-height:20px;}
.t2 {font-size: 12px; line-height:18px;}
.quick-easy .t1 {font-weight: bold;}
.quick-easy .t3 {font-size: 13px; margin-bottom:5px;}
.narrow-right-column .view-plan {float:left; height:140px; margin-top:10px; width:140px;}
.narrow-right-column .image {background: url("/getImage.php?src=homepage-sprite.jpg") no-repeat scroll -40px -85px transparent; height: 130px; margin-top: 0; width: 100%;}
.narrow-right-column .ui-button, #region-center .ui-button {margin-top:70px; text-align:center; width:140px;}
#homepage-content .ui-button a {color: #FFFFFF; text-decoration: none;}
.email-blurb ul {margin-top:5px; padding-left:0; margin-left: 0px; width:200px;}
.email-blurb ul li {
	background:url("/getImage.php?src=grey-sign-bullet.png") no-repeat scroll left 4px transparent;
	_background:url("/getImage.php?src=homepage-sprite.jpg") no-repeat scroll -350px -291px transparent;
	color:#666; font-size:12px; padding:4px 0 3px 20px;}
#region-center {background:url("/getImage.php?src=Homepage-region-center-bg.gif") repeat-x scroll 0px 0px transparent; border-top:1px solid #E4E4E4;}
#region-center .t2 {font-size:16px; font-weight:bold; margin-bottom:0; padding-left:0px;}
#region-center .email-blurb {float: left;}
#homepage-content #region-center .view-plan {float:left; height:140px; margin:0 15px 0 20px; width:140px;}
#homepage-content .view-plan .text {margin-left: 10px; position: relative;}
#homepage-content .view-plan .text .rs {font-size:18px; line-height:28px; top:15px; left:-2px;}
#homepage-content .view-plan .text .price {font-size: 36px; left: 43px; line-height: 48px; text-align: left; width: 70px;}
#homepage-content .view-plan .text .sign {font-size:24px; font-weight:normal; left:97px; line-height:48px; top:8px;}
#homepage-content .view-plan .text .per-month {left:43px; top:40px; font-size:12px; line-height: 12xp; width: 70px;}
#homepage-content #domainsPromoBlurb .text .per-month {width:140px; left:0; font-size:11px; top:44px;}
#homepage-content #region-top .narrow-right-column .view-plan .text { float: none; height: 60px; margin: 0 0 0 0; position: relative; width: 140px;}
#homepage-content #region-top .narrow-right-column .view-plan {float: left; height: 80px; margin-top: 10px; width:300px; position:relative;}
#homepage-content #region-top a.ui-button {position:absolute; right:0; top:10px; margin:0;}
#homepage-content .wide-left-column .server {
	background:url("/getImage.php?src=home-get-hosting.png") no-repeat scroll left top transparent;
	_background:url("/getImage.php?src=homepage-sprite.jpg") no-repeat scroll -395px -92px transparent;
	float:left;height:184px; width:165px; margin-top:-50px;}
#homepage-content #region-center .narrow-right-column {height:275px; margin-top:10px; padding-top:0; width:345px;}
#homepage-content #region-center .narrow-right-column .banner {margin-left:10px; margin-right:35px; text-align:center;}
#homepage-content #region-center .narrow-right-column .banner ul#banner-slider {margin:0px; padding:0px; width:305px; height:255px; overflow:hidden;}
#homepage-content #region-center .narrow-right-column .banner ul#banner-slider li {	display:none;}
#homepage-content #region-center .narrow-right-column .banner ul#banner-slider li.current {display:block;}
#homepage-content #region-center .narrow-right-column .banner ul#banner-pagination {height: 14px; width:100px; margin: 3px auto 0; overflow: hidden; padding: 0;}
#homepage-content #region-center .narrow-right-column .banner ul#banner-pagination li,  #homepage-content #region-center .narrow-right-column .banner ul#banner-pagination li a {
	display:block; float:left; width:14px; height:14px; overflow:hidden; margin:0 2px;}
#homepage-content #region-center .narrow-right-column .banner ul#banner-pagination li a {
	background:url("/getImage.php?src=homepage-sprite.jpg") no-repeat scroll -322px -737px transparent;
	text-decoration:none; text-indent:999px; margin:0;}
ul#banner-pagination li a img {	border:none;}
#homepage-content #region-center .narrow-right-column .banner ul#banner-pagination li a.current {background:url("/getImage.php?src=homepage-sprite.jpg") no-repeat scroll -304px -737px transparent;}
#homepage-content #trust {text-align:center; background:url("/getImage.php?src=hompage-header-line.gif") no-repeat scroll center 14px transparent; margin:0;font-size:18px;}
#homepage-content #trust a {text-decoration:none;color:#5B5B5B;}
#trust span {background:none repeat scroll 0 0 #FFFFFF; padding:0 10px; color:#7C7C7C;}
#region-top {margin-bottom:20px; margin-top:15px;}
#homepage-content #region-top { margin:0;}
#region-bottom {margin-bottom: 15px; border-top:1px solid #E4E4E4;}
#region-bottom .clients {background:url("/getImage.php?src=homepage-sprite.jpg") no-repeat scroll -8px -474px transparent; height:175px; margin-top:10px;width:550px;}
#region-bottom .ui-title {font-size:24px;}
#region-bottom h3 {font-size:15px; margin-top:5px;}
#region-bottom .facebook {font-size: 11px; font-weight:bold; margin: 0;}
#region-bottom .facebook p {margin:5px 0; padding-left:5px;}
#region-bottom .facebook .facebook-icon,  #region-bottom .twitter .twitter-icon,  #region-bottom .website-builder .icon {float: left;}
#region-bottom .twitter .t1 {font-size:13px; line-height:14px; margin-bottom:5px; margin-left:65px; padding-top:5px;}
#region-bottom .twitter .t1 a {color: #888;}
#region-bottom .twitter .t2 {font-size: 11px; line-height: 13px; margin-left:0px;clear:left;}
#region-bottom .twitter .t2 a {color:#ee7214; text-decoration: underline;}
#region-bottom .facebook .friends {margin-left:55px;}
#region-bottom .narrow-right-column {width:350px; padding-top:0;}
#region-bottom .website-builder .feed_title {font-size: 12px; line-height: 20px;}
#region-bottom .website-builder .feed_title a {color:#ee7214; text-decoration: underline;}
#region-bottom .website-builder .feed_desc {font-size: 12px; line-height: 18px;}
#region-bottom .website-builder .date {font-size: 10px; line-height: 12px;}
#region-bottom .facebook,  #region-bottom .twitter {border-bottom:1px solid #BAC5D7;padding:12px 0;}
#region-bottom .website-builder {padding:10px 0;}
.like {clear: both;}
.like .icon {background:url("/getImage.php?src=homepage-sprite.jpg") no-repeat scroll -347px -354px transparent; float:left; height:24px; width:51px;}
.like .text {background:url("/getImage.php?src=homepage-sprite.jpg") no-repeat scroll -344px -325px transparent; float:left; padding:4px 0 4px 23px;}
#homepage-content #region-top .domain-names .title {font-size:16px; font-weight:bold; color:#919191;}
.domain_pricing_link {position:absolute; bottom:0; right:0; margin:0; padding:0; font-size: 11px; font-weight: bold; text-align: left; color: #929292;}
#homepage-content a.ui-button {text-decoration: none; color: #FFFFFF;}
#region-top .wide-left-column .blocks .links {position:relative; width:530px;}
.brd-fix {opacity:0; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); zoom: 1;}
#homepageAds {margin-top:15px;}
#homepageAds a {background: url("/getImage.php?src=bg_tv.gif") no-repeat scroll 0 0 transparent; display: block; height: 142px; margin: 11px 0 0; width: 322px;}
html>body #homepageAds a {background: url("/getImage.php?src=bg_tv.png") no-repeat scroll 0 0 transparent;}
.customer-speaks-wrp {margin: 0 0 0 66px;}
.customer-speaks-blurb {background: url("/getImage.php?src=bg-customer-speaks-blurb-home.gif") no-repeat scroll 0 0 transparent;}
#homepage-content .customer-speaks h5 {color: #656565; font-weight: bold;}
#region-bottom .customer-speaks .ui-title {	font-size:16px;}
#homepage-content .ui-heading {	font:bold 35px 'Rokkitt', serif; color:#5b5b5b;}