h1, h2, h3, h4, p, div, ul, a, small{font-family:Arial, Helvetica, sans-serif !important;}

.scrollbar{*position:absolute; *top:0;}
.scrollbar-bottom{ *position:static; *bottom:auto;}
.plans-columns.linux-hosting .plan-list{*height:450px !important;}
.plans-columns.windows-hosting .plan-list{*height:450px !important;}
.plans-columns.reseller-hosting .plan-list{*height:400px !important;}
.plans-columns.email-hosting .plan-list{*height:450px !important;}
.plans-columns.site-builder .plan-list{*height:460px !important;}

 #primary-nav {*background:#333 url("/getImage.php?src=menu-sprite.png") repeat-x left top !important;}
 #ie6-header {*background:#fffdf0 url(/getImage.php?src=bg-ie6-header-message.gif) no-repeat left top !important;}
 .features-wrp .faq {*background:url("/getImage.php?src=dethr-bg.jpg") repeat !important;} 
 #menu-homesection .menu-mid { *background: url("/getImage.php?src=home-icon-ie.gif") no-repeat scroll 13px 13px !important;}
 .cart-button .ui-button-dis{*border:1px solid #E1E2DD !important;}
 .cart-items{*background:url("/getImage.php?src=cart.gif") no-repeat 0px 0px !important;}
 .domains-wishlist-success .lbl-1, .domains-wishlist-block .lbl-1{ font-size:12px;}
.navigation .tag-new span { position:absolute; bottom:-5px; left:4px;}

/* Paid pre reg */

#text-notes{ border-top: 1px solid #3bc2d6; }
#text-notes h2 
{ background: #fff !important; border:1px solid #3bc2d6; margin:-20px auto 30px auto; padding:8px;
  -webkit-border-radius: 41px; -moz-border-radius: 41px; border-radius: 41px; width:15%; *position:relative; *top:-20px !important; }
#text-notes ul li h3 { height:30px; padding: 5px 0 0 37px; }
#other-gtld a[data-action="add_to_prebook"] { width:90px !important; }
a.tooltipanimated span { height:55px; width:180px;  }
span.classic .tooltip_img { *margin-top:14px !important; }

/* DCA - Revamp */

.dca-footer-banner .learn-more-container { width:112px; }
.show-more button { background:url('/getImage.php?src=images/dca-icons-sprite.png') no-repeat 165px -169px #fff; }
#dca-match-filter .white-patch { width:62px; }
#dca-price-filter .white-patch { width:36px; }
a.dca-premiumdomain-tag.tooltipanimated span.classic-ani { height:65px; bottom:-85px; }
a:hover.dca-premiumdomain-tag.tooltipanimated span.classic-ani { bottom: -95px; }
.user-opt .user-dd { width: 180px; }
.sl-features h2 { background: url("/getImage.php?src=images/all-images_sitelock.png") no-repeat 3px -338px; }

/* SiteLock */

.sl-head-banner h1 { margin:0 0 15px 195px; }
.sl-features h2 { background-position: 5px -349px; height: 30px;}
#sl-plan-details h2{ background:url("/getImage.php?src=images/sl-heading2-ch-bg.png") no-repeat center !important; }
table.sl-plans-pricing > tbody > tr > td.first-child { width:175px; }
#identity-threat { left:562px; }
#bad-bot-attack { left:256px; }
#hackers { left:428px; }
#virus { left:135px; }
.sl-head-banner h1 {line-height: 58px;}