 #primary-nav {	*background:#333 url("/getImage.php?src=menu-sprite.png") repeat-x left top !important;}
 #ie6-header {*background:#fffdf0 url(/getImage.php?src=bg-ie6-header-message.gif) no-repeat left top !important;}
 .features-wrp .faq {*background:url("/getImage.php?src=dethr-bg.jpg") repeat !important;} 
  #menu-homesection .menu-mid { *background: url("/getImage.php?src=home-icon-ie.gif") no-repeat scroll 13px 13px !important;}
.nav li:hover li a, .nav li.active li a, .nav li.nav-hover li a{*font-size:14px !important;}
.nav li:hover li a:hover, .nav li.active li a:hover, .nav li.nav-hover li a:hover{*font-size:14px !important;}

.scrollbar{*position:absolute; *top:0;}
.scrollbar-bottom{ *position:static; *bottom:auto;}
.plans-columns.linux-hosting .plan-list{*height:450px;}
.plans-columns.windows-hosting .plan-list{*height:450px; }
.plans-columns.reseller-hosting .plan-list{*height:400px; }
.plans-columns.email-hosting .plan-list{*height:450px;}
.plans-columns.site-builder .plan-list{*height:460px; }
.cart-button .ui-button-dis{*border:1px solid #E1E2DD !important;}
.cart-items{*background:url("/getImage.php?src=cart.gif") no-repeat 0px 0px !important;}




