#page-wrapper #homepage-content .ui-heading, #page-wrapper .home-blurbs h2{font: bold 31px 'Rokkitt',serif;}
#page-wrapper .home-blurbs li{ line-height:17px;}
.row-white .price-list-bar ul .last{font: 13px Arial,Helvetica,sans-serif}
.vpsMainWrapper #visible .txt-button{ padding:7px 15px;}
.plan-list li.m-feat{ font-size:13px;}
.plans-columns .plan-featured .p-feat strong{font:bold 19px Arial,Helvetica,sans-serif;}
#secondaryDomainResults .dsarch-sug-wrp .ui-button-grn{ width:80px;}
#dplans-container .plan-featured li.p-button .txt-button{ font-size:19px; padding:11px 25px;}
#homepage-content .domain-submit, #homepage-content .domain-submit-disabled {padding: 6px 12px;}
.loginform label {
    font: normal 15px Arial, Helvetica, sans-serif;
    color: #626262;
    display: block;
    margin: 5px 0;
    width: auto;
}
#CartSection_paymentOptions .opt-1 {
    width: 360px;
}
.home-blurb h2{ font:bold 30px/37px 'Rokkitt',serif;}
.user-opt .user-dd { width: 180px; }
