#shopping-cart{width: 38%;}
.domain-submit, .domain-submit-disabled{font-size:18px;}
#ssl-certs ul{width: 187px;}
.feature-blurb ul li{min-height:118px;}
.plan-featured li.p-button .txt-button{font-size: 18px;}
.vps-features{ font-size: 15px;}
.vpsMainWrapper .txt-button{ padding: 7px 15px;}
.vps-container table.pricing-tbl .w2{width: 128px;}
.price_dropdown{width:245px;}
.vps-container table.pricing-tbl .w1{padding-right:30px;}
.vps-domain-name .vps-domain-block{width:525px;}
.nav li .sub li a{min-height:51px;}
.vps-addons table td.col1{width:158px;}
.vps-addons .div-spacer{height:50px;}

.currentprice .currencySymbol{font-size:11px;}
.currentprice, .strikeout{font-size:12px;}
.home-blurbs .p-currency{top:0; font-size:15px;}
#ssl-certs .p-pricing, #site-builder .p-pricing, #reseller-hosting .p-pricing, #web-hosting .p-pricing{font-size:18px;}
.price-list-bar ul .domain-c{font-size:11px;}
.price-list-bar ul li{font-size:14px;}
li.p-pricing{font-size:30px;}
.loginform label {
    font: normal 15px Arial, Helvetica, sans-serif;
    color: #626262;
    display: block;
    margin: 5px 0;
    width: auto;
}
.nav ul.navigation{ font-size:17px;}
.tld-section .txt-block-1{ top:15px;}
.sidebar-sunrise li.title{ padding:8px 10px 13px 60px;}
.switch-nav .tab-wrp .faqlist{ width:300px;}
.tlds-wishlist-wrp .row-left{ width:720px;}
.new-gtlds-steps .step{ padding-right:35px;}

/* Paid pre reg */

#text-notes{ border-top: 1px solid #3bc2d6; }
#text-notes h2 
{ background: #fff !important; border:1px solid #3bc2d6; margin:-20px auto 30px auto; padding:8px;
  -webkit-border-radius: 41px; -moz-border-radius: 41px; border-radius: 41px; width:18%; *position:relative; *top:-20px !important; }
#other-gtld a[data-action="add_to_prebook"], #other-gtld a[data-action="add_to_wishlist"]
{ width: auto !important; padding: 7px 20px 0 35px !important; } 
#other-gtld a[data-action="add_to_prebook"].remove, #other-gtld a[data-action="add_to_wishlist"].remove
{ padding: 7px 20px 0 30px !important; }
a.tooltipanimated span { height:85px; width:200px;  }
span.classic .tooltip_img { *margin-top:10px!important; }  

/* DCA - Revamp */

.dca-footer-banner .learn-more-container { width:147px; }  
.show-more button { background:url('/getImage.php?src=images/dca-icons-sprite.png') no-repeat 208px -169px #fff; width: 226px; }
.dca-domain-avail .styled-select { width:75px !important; }
#dca-match-filter .white-patch { width:104px; }
#dca-price-filter .white-patch { width:54px; }
.domains-input { width:380px; }
.domain-submit { width:110px; }
.dca-page-wrapper .cart-empty p { background:url("/getImage.php?src=prereg-icons-bg.png") no-repeat 15px -147px; }
.user-opt .user-dd { width: 180px; }

/* SiteLock */

.sl-head-banner h1 { margin:0 0 15px 150px; }
#identity-threat { left:525px; width:175px; }
.sl-view-plans, .sl-learn-more { padding:0 10px; }
.sl-features h3 { white-space:normal; height:40px; }
.sl-howitworks-step { margin:0 60px 0 0; width:254px; }
.sl-howitworks-step h3 { white-space:normal; font-size:18px; text-transform:capitalize; height:40px; }
.sl-howitworks-step-seperator { right:-40px; }
.sl-testimonials ol.bjqs-markers.h-centered { top:-37px; }
table.sl-plans-pricing > tbody > tr > td.first-child { width:200px }