.plan-featured li.p-button .txt-button{font-size:20px;}
.menu-ic.rh{margin-bottom:10px;}
.txt-button{font-size:16px;}
.actionRow .uiButton-2{font-size:24px;}
.plan-featured li.p-button .txt-button{font-size:15px;}
.nav li:hover li a, .nav li.active li a, .nav li.nav-hover li a{*font-size:14px !important;}
.nav li:hover li a:hover, .nav li.active li a:hover, .nav li.nav-hover li a:hover{*font-size:14px !important;}
.plans-columns.linux-hosting .plan-list{*height:450px !important;}
.plans-columns.windows-hosting .plan-list{*height:450px !important;}
.plans-columns.email-hosting .plan-list{*height:450px !important;}
.plans-columns.site-builder .plan-list{*height:460px !important}
.plans-columns.reseller_hosting_lin .plan-list{*height:400px !important; }
.scrollbar{*position:absolute; *top:0;}
.scrollbar-bottom{ *position:static; *bottom:auto;}
 #primary-nav {	*background:#333 url("/getImage.php?src=menu-sprite.png") repeat-x left top !important;}
 #ie6-header {*background:#fffdf0 url(/getImage.php?src=bg-ie6-header-message.gif) no-repeat left top !important;}
 .features-wrp .faq {*background:url("/getImage.php?src=dethr-bg.jpg") repeat !important;} 
  #menu-homesection .menu-mid { *background: url("/getImage.php?src=home-icon-ie.gif") no-repeat scroll 13px 13px !important;}
  .cart-button .ui-button-dis{*border:1px solid #E1E2DD !important;}
  .cart-items{*background:url("/getImage.php?src=cart.gif") no-repeat 0px 0px !important;}

#site-builder .p-pricing, #ssl-certs .p-pricing, #reseller-hosting .p-pricing, #web-hosting .p-pricing{font-size:18px !important;}
.home-blurbs .p-currency{font-size:16px !important; }
.home-blurbs .p-duration{font-size:13px !important;}
.loginform label {
    font: normal 15px Arial, Helvetica, sans-serif;
    color: #626262;
    display: block;
    margin: 5px 0;
    width: auto;
}
.blurb-devider{ top:335px;}
.over-white-box{ top:315px;}
.btn-blue{ padding:14px 6px;}
a .menu-mid{ padding:9px 5px 2px;}
.nav ul.navigation{ font-size:17px;}
.tld-section .txt-block-1{ top:15px;}
.sidebar-sunrise li.title{ padding:8px 10px 13px 60px;}
.tlds-wishlist-wrp .row-left{ width:720px;}
.new-gtlds-steps span span{ font-size:16px;}
.new-gtlds-steps .step{ padding-right:30px;}
.server_loc_tabs li.tab_IN{background: url("/getImage.php?src=ic-small-in.png") no-repeat 6px 11px #fff;}
.server_loc_tabs li.tab_US{background: url("/getImage.php?src=ic-small-us.png") no-repeat 6px 11px #fff;}
.server_loc_tabs li.tab_UK{background: url("/getImage.php?src=ic-small-uk.png") no-repeat 6px 11px #fff;}
.server_loc_tabs li.tab_TR{background: url("/getImage.php?src=ic-small-tr.png") no-repeat 6px 11px #fff;}
.server_loc_tabs li.tab_HK{background: url("/getImage.php?src=ic-small-hk.png") no-repeat 6px 11px #fff;}
.server_loc_tabs li{ padding:0 6px 0 35px;}
li.p-feat strong {
    font: bold 14px Arial, Helvetica, sans-serif;
}
li.m-feat { height: 30px}
.vps-heading{font: bold 67px/1 'Rokkitt',serif;}
.dd-heading { font-size: 60px; }

/* DCA - Revamp */

.dca-search button { width:175px; display: inline-block; *display:inline; *position:relative; zoom:1; vertical-align:top; }
.dca-search input { width:530px; }
.dca-domain-avail span button { white-space:nowrap; } 
.show-more button{ background: url('/getImage.php?src=images/dca-icons-sprite.png') no-repeat 210px -169px #fff; width:225px; }
.dca-footer-banner .learn-more-container { width:113px; }
#dca-price-filter .white-patch { width:52px; }
#dca-match-filter .white-patch { width:143px; }
.secondary-section-heading, .filters { display: inline-block; *display: inline; *position: relative; zoom:1; }
.secondary-section-heading { vertical-align: top; width:400px; }
.dca-page-wrapper .cart-empty p { background:url("/getImage.php?src=prereg-icons-bg.png") no-repeat 17px -147px; }
.user-opt .user-dd { width: 180px; }
.reseller-opt { width: 185px; }

/* SiteLock */

.sl-head-banner h1 { margin:0 0 15px 142px; }
.sl-head-banner ul li { text-transform: capitalize; font-size:16px; width:170px; }
#se-blacklist { left:700px; }
#virus { left:133px; }
.sl-features h3, .sl-howitworks-step h3 { white-space:normal; }
.sl-howitworks-step h3 { height:40px; }
#sl-plan-details h2 { background: url("/getImage.php?src=images/all-images_sitelock.png") no-repeat -27px -349px !important; }
.sl-testimonials ol.bjqs-markers.h-centered { top:-38px; }