h1, h2, h3, h4, p, div, ul, a, small, span, input, button {font-family:Arial, Helvetica, sans-serif !important;}
.home-blurbs h2{font-size:28px !important;}
.txt-button, .uiButton, .ui-button, .frmButton{font-size:15px;}
.home-blurbs h2{font-size:32px;}
.actionRow .uiButton-2{font-size:18px;}
.domainSearchResult .duration .saving, .SavingsShow{padding-left:135px;}
.plan-list li.p-name{height:40px;}
.plan-featured .p-feat strong{font-size:16px;}
.CartSection h3{font-size:24px;}
.ui-sub-heading{font-size:21px;}
.menu-ic.lnx{margin-bottom:10px;}
.menu-ic.rh{margin-bottom:20px;}
.plan-list li.p-pricing{padding:5px 0 37px}
.scrollbar{*position:absolute; *top:0;}
.scrollbar-bottom{ *position:static; *bottom:auto;}
.plans-columns.linux-hosting .plan-list{*height:500px !important;}
.plans-columns.windows-hosting .plan-list{*height:500px !important;}
.plans-columns.reseller-hosting .plan-list{*height:420px !important;}
.plans-columns.email-hosting .plan-list{*height:490px !important;}
.plans-columns.site-builder .plan-list{*height:490px !important;}
li.p-pricing{*font-size:30px;}
#primary-nav {	*background:#333 url("/getImage.php?src=menu-sprite.png") repeat-x left top !important;}
#ie6-header {*background:#fffdf0 url(/getImage.php?src=bg-ie6-header-message.gif) no-repeat left top !important;}
.features-wrp .faq {*background:url("/getImage.php?src=dethr-bg.jpg") repeat !important;}
#menu-homesection .menu-mid { *background: url("/getImage.php?src=home-icon-ie.gif") no-repeat scroll 13px 13px !important;}
.cart-button .ui-button-dis{*border:1px solid #E1E2DD !important;}
.cart-items{*background:url("/getImage.php?src=cart.gif") no-repeat 0px 0px !important;}
 .nav .navigation li{ margin:0;}
#site-builder .p-pricing, #ssl-certs .p-pricing, #reseller-hosting .p-pricing, #web-hosting .p-pricing{font-size:18px !important;}
.home-blurbs .p-currency{font-size:16px !important; top:-2px !important; }
.home-blurbs .p-duration{font-size:13px !important;}
.nav ul{font-size:14px !important;}
.nav a .menu-mid{ padding:9px 4px 2px;}
.ui-subtitle{font-size:16px !important;}
#web-hosting h3, #reseller-hosting h3, #site-builder h3, #ssl-certs h3{font-size:16px;}
#web-hosting .p-pricing, #reseller-hosting .p-pricing{padding-left:20px;}
#ssl-certs ul{width:200px !important;}
#ssl-certs .p-pricing{right:36px !important}
#ssl-certs .txt-button{right:20px !important;}
#site-builder ul{width:161px !important;}
#site-builder .txt-button{right:10px !important}
#site-builder, #ssl-certs{min-height:208px !important;}
.u-name {font-size: 12px;}
.mgmt-account {top: 6px;}
.domain-submit, .domain-submit-disabled {padding: 6px 6px; font:bold 16px Arial,Helvetica,sans-serif;}
#plans-masthead { height: 220px;}
.plan-featured { padding: 7px 0 30px 0; }
.loginform label {
    font: normal 15px Arial, Helvetica, sans-serif;
    color: #626262;
    display: block;
    margin: 5px 0;
    width: auto;
}
#CartSection_paymentOptions .opt-1 {
    width: 360px;
}
.home-blurb h2{font:bold 28px/37px 'Rokkitt',serif;}
.ui-heading{ font:bold 30px 'Rokkitt',serif;}
.rhw{ margin-bottom:33px;}
.ee-email{ margin-bottom:10px;}
.vps-heading{ font: bold 75px/1 'Rokkitt',serif;}
.vpsMainWrapper .txt-button{ font:bold 14px Arial, Helvetica, sans-serif; padding:7px 6px;}
.tld-section .txt-block-1{ top:15px;}
.sidebar-sunrise li.title{ font-size:15px;}
.switch-nav .tab-wrp .faqlist{ width:280px;}
.tlds-wishlist-wrp .row-left{ width:725px;}
.new-gtlds-steps .step{ margin-right:15px; padding-right:25px;}
.domains-wishlist-success .lbl-1, .domains-wishlist-block .lbl-1{ font-size:14px;}
.new-gtlds-steps span{ font-size:12px;}
.navigation .tag-new span { position:absolute; bottom:-5px; left:4px;}
li.p-feat strong {
    font: bold 14px Arial, Helvetica, sans-serif;
}
li.m-feat { height: 30px}
.dd-heading { font-size: 60px; }

/* Paid pre reg */

.navigation .tag-new { position: absolute; top: 3px; right:-40px; }
.home-promo-msg span { margin-top: 0; }
#text-notes{ border-top: 1px solid #3bc2d6; }
#text-notes h2 
{ background: #fff !important; border:1px solid #3bc2d6; margin:-20px auto 30px auto; padding:8px;
  -webkit-border-radius: 41px; -moz-border-radius: 41px; border-radius: 41px; width:15%; *position:relative; *top:-20px !important; }
#other-gtld a[data-action="add_to_prebook"], #other-gtld a[data-action="add_to_wishlist"]
{ width: auto !important; padding: 6px 20px 0 35px !important; }  
#other-gtld a[data-action="add_to_wishlist"].remove
{ padding: 6px 20px 0 30px !important; }
#other-gtld a[data-action="add_to_prebook"].remove { width:159px !important; text-overflow: ellipsis; overflow:hidden !important; white-space:nowrap; }
a.tooltipanimated span { height:85px; width:220px;  }  
span.classic .tooltip_img { *margin-top:10px !important; }
.cart-empty .cart-view p { background: url('/getImage.php?src=images/prereg-russian-emptycart.png') no-repeat 5px 5px; padding:0 7px 0 23px; }
.user-opt .user-dd { width: 180px; }
a .menu-mid { font-size: 14px;}

/* SiteLock */
.sl-head-banner h1 { font-size:40px; margin:0 0 10px 123px; padding:5px 0 0 253px !important; }
#identity-threat { text-align: center; width:165px; left:520px; }
.sl-view-plans, .sl-learn-more { padding:0 10px; }
.sl-features h2 { background:url('/getImage.php?src=images/sl-heading1-ru-bg.png') no-repeat -93px 16px; width:850px; margin:0 auto 21px auto; }
.sl-features h3, .sl-howitworks-step h3 { font-size:18px; }
.sl-howitworks-step h3 { white-space:normal; height:40px; }
.sl-testimonials ol.bjqs-markers.h-centered{ top:-45px !important; }
.sl-testimonials ul li p { font-size:14px; }
.sl-plans-pricing thead th { vertical-align:top; }
.sl-plans-pricing thead th span.sl-plan-usedfor { height:30px; }
table.sl-plans-pricing > tbody > tr > td.first-child { width:250px; white-space:normal; }
.sl-featured-plan#blacklist td.first-child span { font-family:"proxima_nova", Arial; font-size:14px; font-weight:800; }
#sl-plan-details h2 { background-position:-27px -349px !important; }
