.home-blurb h2{font:bold 27px/37px 'Rokkitt',serif;}
.plan-featured li.p-button .txt-button{font-size:16px;}
.plan-list li.p-name{height:40px;}
.nav li:hover li a, .nav li.active li a, .nav li.nav-hover li a{/*font-size:13px;*/}
.menu-ic.lnx{margin-bottom:10px;}
.menu-ic.rh, .rhw, .ee-email{margin-bottom:15px;}

.nav li:hover li a, .nav li.active li a, .nav li.nav-hover li a{font-size:13px !important;}
.nav li:hover li a:hover, .nav li.active li a:hover, .nav li.nav-hover li a:hover{font-size:13px !important;}

.scrollbar{*position:absolute; *top:0;}
.scrollbar-bottom{ *position:static; *bottom:auto;}
.plans-columns.linux-hosting .plan-list{*height:500px !important;}
.plans-columns.windows-hosting .plan-list{*height:500px !important;}
.plans-columns.reseller-hosting .plan-list{*height:440px !important;}
.plans-columns.email-hosting .plan-list{*height:520px !important;}
.plans-columns.site-builder .plan-list{*height:500px !important;}

 #primary-nav {	*background:#333 url("/getImage.php?src=menu-sprite.png") repeat-x left top !important;}
 #ie6-header {*background:#fffdf0 url(/getImage.php?src=bg-ie6-header-message.gif) no-repeat left top !important;}
 .features-wrp .faq {*background:url("/getImage.php?src=dethr-bg.jpg") repeat !important;} 
  #menu-homesection .menu-mid { *background: url("/getImage.php?src=home-icon-ie.gif") no-repeat scroll 13px 13px !important;}
.cart-button .ui-button-dis{*border:1px solid #E1E2DD !important;}
.cart-items{*background:url("/getImage.php?src=cart.gif") no-repeat 0px 0px !important;}
.vps-container table.pricing-tbl td.p-button { padding: 11px 10px 11px 5px;}
.vpsMainWrapper { overflow: hidden; width: 940px; height: 800px; position: relative;}
.home-blurbs ul { width: 200px;}
.loginform label {
    font: normal 15px Arial, Helvetica, sans-serif;
    color: #626262;
    display: block;
    margin: 5px 0;
    width: auto;
}
#CartSection_paymentOptions .opt-1 {
    width: 360px;
}
.vps-heading{ font:bold 75px/1 'Rokkitt',serif;}
.vpsMainWrapper .txt-button{
	font:bold 13px Arial, Helvetica, sans-serif;
	padding:7px 8px;
	}
a .menu-mid{ padding:9px 4px 2px;}
.nav ul.navigation{ font-size:15px;}
.tld-section .txt-block-1{ top:24px;}
.tlds-wishlist-wrp .row-left{ width:720px;}
.new-gtlds-steps .step{ padding-right:30px;}
li.p-feat strong {
    font: bold 14px Arial, Helvetica, sans-serif;
}
li.m-feat { height: 30px}
.dd-heading { font-size: 60px; }

/* Paid pre reg */
.navigation .tag-new { position: absolute; top:3px; right:15px; }
#text-notes{ border-top: 1px solid #3bc2d6; }
#text-notes h2 
{ background: #fff !important; border:1px solid #3bc2d6; margin:-20px auto 30px auto; padding:8px;
  -webkit-border-radius: 41px; -moz-border-radius: 41px; border-radius: 41px; width:15%; *position:relative; *top:-20px !important; }
#other-gtld a[data-action="add_to_prebook"], #other-gtld a[data-action="add_to_wishlist"]
{ width: auto !important; padding: 6px 20px 0 35px !important; } 
#other-gtld a[data-action="add_to_prebook"].remove, #other-gtld a[data-action="add_to_wishlist"].remove
{ padding: 6px 20px 0 30px !important; }
a.tooltipanimated span { height:85px; width:220px;  }  
span.classic .tooltip_img { *margin-top:10px!important; }
.cart-empty .cart-view p { background: url('/getImage.php?src=images/prereg-russian-emptycart.png') no-repeat 15px 5px; padding:0 23px; }

/* DCA -Revamp */

a .menu-mid { padding: 9px 2px 2px; }
.dca-footer-banner .learn-more-container {  width:163px; }
.show-more button{ background: url('/getImage.php?src=images/dca-icons-sprite.png') no-repeat 165px -169px #fff }
#dca-match-filter .white-patch { width:167px; }
#dca-price-filter .white-patch { width:55px; }
.dca-search button { width:175px; display: inline-block; *display:inline; *position:relative; zoom:1; vertical-align:top; }
.dca-search input { width:530px; }
.dca-domain-avail span button { white-space:nowrap; }
.dca-page-wrapper .cart-empty p { background:url("/getImage.php?src=prereg-icons-bg.png") no-repeat 15px -147px; }
.user-opt .user-dd { width: 180px; }
.reseller-opt { width: 185px; }

/* SiteLock */

.sl-head-banner h1 { margin:0 0 15px 143px; }
.sl-head-banner ul li { font-size:16px; width:150px; } 
#bad-bot-attack { text-align:center; left:210px; top:59px; }
#se-blacklist { left:707px; top:70px; }
.sl-features h3, .sl-howitworks-step h3 { white-space:normal; }
.sl-howitworks-step h3 { height:40px; }
.sl-plans-pricing thead th { vertical-align:top; }
.sl-plans-pricing thead th span.sl-plan-usedfor { height:30px; }
table.sl-plans-pricing > tbody > tr > td.first-child { width:230px; }
.sl-testimonials ol.bjqs-markers.h-centered { top:-38px; }
#sl-plan-details h2{ background: url("/getImage.php?src=images/all-images_sitelock.png") no-repeat -28px -349px !important; }