.txt-button, .uiButton, .ui-button, .frmButton{font-size:13px;}
.ui-sub-heading{font-size:26px;}
.plan-featured li.p-button .txt-button{font-size:21px;}
.menu-ic.lnx{margin-bottom:10px;}
.scrollbar{*position:absolute; *top:0;}
.scrollbar-bottom{ *position:static; *bottom:auto;}
.plans-columns.linux-hosting .plan-list{*height:460px !important;}
.plans-columns.windows-hosting .plan-list{*height:460px !important;}
.plans-columns.reseller-hosting .plan-list{*height:400px !important;}
.plans-columns.email-hosting .plan-list{*height:470px !important;}
.plans-columns.site-builder .plan-list{*height:460px !important;}
.plan-featured li.p-button .txt-button{font-size:16px;}
.plan-list {border: 1px solid #dedcdc !important;}
 #primary-nav {	*background:#333 url("/getImage.php?src=menu-sprite.png") repeat-x left top !important;}
 #ie6-header {*background:#fffdf0 url(/getImage.php?src=bg-ie6-header-message.gif) no-repeat left top !important;}
 .features-wrp .faq {*background:url("/getImage.php?src=dethr-bg.jpg") repeat !important;} 
  #menu-homesection .menu-mid { *background: url("/getImage.php?src=home-icon-ie.gif") no-repeat scroll 13px 13px !important;}
.cart-button .ui-button-dis{*border:1px solid #E1E2DD !important;}
.cart-items{*background:url("/getImage.php?src=cart.gif") no-repeat 0px 0px !important;}
.loginform label {
    font: normal 15px Arial, Helvetica, sans-serif;
    color: #626262;
    display: block;
    margin: 5px 0;
    width: auto;
}
a .menu-mid{ padding:9px 5px 2px;}
.nav ul.navigation{ font-size:17px;}
.tld-section .txt-block-1{ top:15px;}
.tlds-wishlist-wrp .row-left{ width:720px;}
.new-gtlds-steps span span{ font-size:16px;}
.new-gtlds-steps .step{ padding-right:30px;}
li.p-feat strong {
    font: bold 14px Arial, Helvetica, sans-serif;
}
li.m-feat { height: 30px}

/* Paid pre reg */

.new-tlds-page .lead-text h1 { width:490px; }
#text-notes{ border-top: 1px solid #3bc2d6; }
#text-notes h2 
{ background: #fff !important; border:1px solid #3bc2d6; margin:-20px auto 30px auto; padding:8px;
  -webkit-border-radius: 41px; -moz-border-radius: 41px; border-radius: 41px; width:15%; *position:relative; *top:-20px !important; }
#text-notes ul li h3 { height:30px; padding: 5px 0 0 37px; }

#other-gtld li { display:block !important; padding: 25px 15px !important;
*display: inline !important;  *padding: 10px 15px !important; *position: relative !important; zoom: 1;
}
#other-gtld LI SPAN.domainname-tld1 { top:0 !important;  *top:20px !important; }
#other-gtld a[data-action="add_to_prebook"], #other-gtld a[data-action="add_to_wishlist"]
{ width: auto !important; padding: 7px 20px 0 35px !important; } 
#other-gtld a[data-action="add_to_prebook"].remove, #other-gtld a[data-action="add_to_wishlist"].remove
{ padding: 7px 20px 0 30px !important; }
#dca_cart .heading { font-weight:400; }
a.tooltipanimated span { height:55px; width:180px; background:#000 !important; *background:#999 !important;  }
span.classic .tooltip_img { *margin-top:14px !important; display: none !important; *display: inline-block !important;  }

/* DCA - Revamp */

.dca-footer-banner .learn-more-container { width:155px; }
.show-more button { background:url('/getImage.php?src=images/dca-icons-sprite.png') no-repeat 217px -169px #fff; width:230px; }
#dca-match-filter .white-patch { width:116px; }
a.dca-premiumdomain-tag.tooltipanimated span.classic-ani .tooltip-arrow 
{ background:url('/getImage.php?src=images/dca-tooltip-arrow.png') no-repeat !important; }
.dca-page-wrapper .cart-empty p { background:url("/getImage.php?src=prereg-icons-bg.png") no-repeat 25px -147px; }
.user-opt .user-dd { width: 180px; }
.reseller-opt { width: 185px; }


/* SiteLock */

.sl-head-banner h1 { font-size:45px; padding:7px 0 0 253px !important; margin: 0 0 8px 118px; }
.sl-head-banner ul li { width:135px; }
#bad-bot-attack { left:220px; }
#hackers { left:375px; width:190px; }
#se-blacklist { left:718px; }
.sl-view-plans, .sl-learn-more { padding:0 5px; margin:0 8px 0 5px; }
.sl-howitworks-step h3 { white-space:normal; height:40px; }
#sl-plan-details h2{ background: url("/getImage.php?src=images/all-images_sitelock.png") no-repeat -30px -349px !important; }