#sb-plans h1,
#sb-plans h2,
#sb-plans h3,
#sb-plans h4,
#sb-plans h5,
#sb-plans h6{
	background: none;
	margin: 0px;
	padding: 2px 0;

}
#sb-plans p{
	margin: 0px;
	padding: 0px;
}
#sb-plans #section-top  {
	text-align: center;
	margin:20px auto 40px;
}
#sb-plans #section-top h1 {
    color: #5B5B5B;
    font-size: 44px;
    padding-top: 0;
    text-align: center;
}
#sb-plans #section-top .image {
	background:url("/getImage.php?src=sb-plans-sprite.jpg") repeat scroll 0 21px transparent;
	float:left;
	height:137px;
	width:155px;
	margin-right: 20px;
}
#sb-plans #section-top .text {
}
#sb-plans #section-top .text h3 {
	font-weight: normal;
	font-size: 20px;
}
#sb-plans #section-middle h2 {
	text-align: center;
	font-size: 22px;
	color: #5c5c5c;
	margin:20px 0;
	font-weight:normal;
}
#sb-plans #section-middle h6 {
	text-align: center;
	font-size: 16px;
	color: #5c5c5c;
	margin:20px 0;
	font-weight:normal;
}
.rbcontent {
	background:none repeat scroll 0 0 #F6F6F6;
	border-left:1px solid #C9C9C9;
	border-right:1px solid #C9C9C9;
	overflow:hidden;
	padding:5px 10px 10px;
	text-align:center;
}
.rbtop div span {
background:none repeat scroll 0 0 #F6F6F6;
height:6px;
}
#sb-plans #section-middle .diy {
	float: left;
	width: 370px;
}
#sb-plans #section-middle .or {
	color:#AAA;
	float:left;
	font-size:20px;
	font-weight:bol d;
	margin-top:50px;
	padding:10px;
}
#sb-plans #section-middle .bifm {
	float: right;
	width: 370px;
}
.rbcontent .title {
	border-bottom:1px solid #E6E6E6;
	padding-bottom:5px;
	text-align:center;
}
.rbcontent .title h3 {
    color: #4F92C5;
    font-family: Verdana;
    font-size: 21px;
    font-weight: bold;
    height: 60px;
    line-height: 24px;
}
.rbcontent .title h5 {
	font-size:12px;
	font-weight:bold;
	color:#5B5B5B;
} 
#section-middle .title { border-bottom:3px solid #AAA; padding:0px 0 15px; }
#section-middle .title .ui-title-4{ color:#4F92C5; }

#section-middle .title h3 {
    color: #4F92C5;
    font-family: Arial;
    font-size: 31px;
    font-weight: bold;
    height: 35px;
    line-height: 24px;
}
.bg-no-coding-required { background:url("/getImage.php?src=no-coding-required.gif") no-repeat right 12px; }
.title h4 { color:#5C5C5C; font-size:17px; font-weight:normal; }
.ul-li-bdr { padding:0 0 10px; }
#sb-plans .ul-li-bdr {
	margin: 0 20px 0;
	padding: 10px 0 10px; 
}
.ul-li-bdr li { border-bottom:1px solid #DADDD6; padding:8px; font-size:14px; }
.ul-li-bdr li.last { border-bottom:none; }

#section-middle,
#section-bottom {
	margin:0 30px 50px;
}



#section-middle .detail{
	background:url("/getImage.php?src=bg-main-content-wrapper.gif") no-repeat bottom left #F6F6F6;	

	padding-bottom:15px;
}

.rbcontent p {
	text-align:center;
}
.rbcontent .blurb {
	border-bottom:1px solid #E6E6E6;
	padding:10px 0px;
}
.rbcontent .blurb h4 {
	color: #5b5b5b;
	font-size: 18px;
	font-weight: normal;
}
.rbcontent .detail {
	padding:10px 0px;
	height:125px;
}
.rbcontent .detail p {
	color: #5b5b5b;
	font-size: 13px;
	font-weight: normal;
	line-height: 24px;
}
#section-bottom {
	background:none repeat scroll 0 0 #FFFFFF;

}
#section-bottom h1{
	color:#656565;
	font-size:28px;
	font-weight:bold;
	margin:auto;
	padding-top:10px;
	text-align:center;
	width:430px;
}
#section-bottom h4{
	color:#646464;
	font-size:14px;
	font-weight:normal;
	text-align:center;
}
#section-bottom #help {
	background:url("/getImage.php?src=sb-plans-sprite.jpg") no-repeat scroll 0 -125px transparent;
	padding-bottom:1px;
	padding-left:40px;
	padding-top:1px;
	text-align:left;
	height:94px;
	margin-top:20px;
}
#section-bottom #help .left,
#section-bottom #help .center,
#section-bottom #help .right{
	float:left;
}
#sb-plans #section-bottom .rbtop {
	background:#f8f8f8;
}
#sb-plans #section-bottom .rbbot {
	background: transparent;
	margin-top:-7px;
}
#sb-plans #section-bottom .rbtop div {
background:url("/getImage.php?src=sbplans-top-right-curve.gif") no-repeat scroll right top transparent;
}
#sb-plans #section-bottom .rbbot div {
background:url("/getImage.php?src=sbplans-bottom-right-curve.gif") no-repeat scroll right top transparent;
}
#sb-plans #section-bottom .rbtop div span {
	background: none;
	margin:0 6px 0 0;
}
#sb-plans #section-bottom .rbbot div span {
	background: none;
	margin:0 6px 0 0;
}
#sb-plans #section-bottom .rbcontent {
	border-left: none;
	background: none;
	background:url("/getImage.php?src=sbplans-help-bg.jpg") repeat-x scroll 0 bottom #F8F8F8;
	padding:0;
	height:88px;
}
#section-bottom #help .left {
width:270px;
border-right: 1px solid #dedcdc;
}
#section-bottom #help .left .toll-free {
background:url("/getImage.php?src=sb-plans-sprite.jpg") no-repeat scroll -38px -134px transparent;
margin-bottom:0;
margin-top:5px;
padding:5px 86px 0 22px;
}
#section-bottom #help .left .toll-free .orange-text {
	font-size:22px;
	font-weight:bold;
} 
#section-bottom #help .left .toll-free .number {
	color: #646464;
	font-size: 14px;
}
#section-bottom #help .left .toll-free .email {
margin-top:10px;
}
#section-bottom .live-chat-icon{
background:url("/getImage.php?src=sb-plans-sprite.jpg") no-repeat scroll -7px -228px transparent;
height:40px;
width:40px;
float: left;
}
#section-bottom .query-icon  {
background:url("/getImage.php?src=sb-plans-sprite.jpg") no-repeat scroll -7px -277px transparent;
height:55px;
width:50px;
float: left;
}
#section-bottom .center {
	padding:10px 15px 0;
	border-right:1px solid #DEDCDC;
}
#section-bottom .right {
	padding:10px 15px;
}
#section-bottom .query {
	float: left;
	text-align: left;
}
#section-bottom .live-chat {
	float: left;
	text-align: left;
}
#section-bottom #help h4 {
text-align: left;
margin:0 0 10px 5px;
} 
#sb-plans .rbcontent .ui-button {
	width:119px;
	color: #FFFFFF;
}