#diy_header{
	background: url('/ui/supersite/themes/ClassicBlue/images/bg_diy_header.png') repeat-x 0 -386px;
	height:386px;
	position:relative;
}

#diy_header h1{
	font-size:41px;
	padding:0;
	margin:0 0 0 12px;
	padding-top:30px;
}

	#diy_header h1 em{
		font-size:32px;
		font-style:normal;
		font-weight:normal;
	}
	
	#diy_header p.heading_byline{
		color:#777777;
		font-size:15px;
		font-weight:bold;
		margin:0 0 0 12px;
		padding:0;
	}		


#diy_header span.left_corner, #diy_header span.right_corner{
	position:absolute;
	width:12px;
	height:386px;
	top:0;
	background: url('/ui/supersite/themes/ClassicBlue/images/bg_diy_header.png') no-repeat 0 -772px;
}

#diy_header span.left_corner{
	left:0;
}

#diy_header span.right_corner{
	right:0;
	background-position: -20px 0px;
}	


#diy_steps{
	position:absolute;
	bottom:10px;
	left:0;
	width:345px;
	padding:0 15px 0 0;
	background: url('/ui/supersite/themes/ClassicBlue/images/bg_diy_header.png') no-repeat right -1248px;
}

	#diy_steps h3{
		font-weight:normal;
		font-size:24px;
		color:#444;
		margin-bottom:10px;
		padding-bottom:5px;
		background: url('/ui/supersite/themes/ClassicBlue/images/diy_header_seperator.jpg') repeat-x left bottom;
	}	


	#diy_steps ul{
		margin:0 0 0 12px; padding:0;overflow:hidden;
	}

	#diy_steps ul li{
		padding:0 0 0 44px;
	}
	
		#diy_steps ul li.step{
			font-size:26px;
			color:#444;				
			background: url('/ui/supersite/themes/ClassicBlue/images/bg_diy_header.png') no-repeat 0 0;
		}							
		
		#diy_steps ul li.step_1 {
			background-position:left -1545px;
		}		

		#diy_steps ul li.step_2 {
			background-position:left -1578px;
		}			
		
		#diy_steps ul li.step_3 {
			background-position:left -1610px;
		}
					
		#diy_steps ul li.subtext{
			font-size:13px;
			font-style:italic;
			color:#69862d;
			margin-bottom:5px;
			padding-bottom:15px;
			background: url('/getImage.php?src=diy_header_seperator.jpg') no-repeat 44px bottom;
		}	
		
		#diy_steps ul li.last{
			background:none;
			margin-bottom:0;
			padding-bottom:0;
		}						

	/* Screenshots */
	
	#diy_featured_themes{
		position:absolute;
		top:80px;
		margin:0; padding:0;
		overflow:hidden; 
		right:14px;
		height:302px;
		width:577px;
		cursor:pointer;
	}	


	#diy_banner_featured{
		position:absolute;
		top:41px;
		margin:0; padding:0;overflow:hidden; text-indent:-9999px;
		right:12px;
		height:50px;
		width:175px;
		background: url('/getImage.php?src=bg_diy_banner_featured.png') no-repeat top left;
	}

/* COMPARE PLANS PAGE */

.comparePlans td {
	font-family: verdana, arial, sans-serif;
	}

.comparePlans .cplans {
	background: url('/getImage.php?src=blue-tab.jpg') #0060BE repeat-x left top;
	border-left: 1px solid #fff;
	font-weight: bold;
	font-size: 11px;
	}

.comparePlans .SelectedPlan {
	background: url('/getImage.php?src=red-tab.jpg') #A43A2D repeat-x left top;
	border-left: 1px solid #fff;
	font-weight: bold;
	font-size: 11px;
	text-align: center;
	}

.cplans a {
	color: #fff;
	text-decoration: none;
	}

.cplans a:hover {
	color: #fff;
	text-decoration: underline;
	}

.SelectedPlan a {
	color: #fff;
	text-decoration: none;
	}

.SelectedPlan a:hover {
	color: #fff;
	text-decoration: underline;
	}
.comparePlans .HeadingCaption {
	font-size: 12px;
	font-family: verdana, arial, sans-serif;
	color: #0B6CCA;
	font-weight: bold;
	background: url('/getImage.php?src=heading.gif') no-repeat 8px center;
	padding-left: 31px;
	text-align: left;
	}

.comparePlans .MainHeading {
	background: #0161BD url('/getImage.php?src=subheading.gif') no-repeat 8px 7px;
	padding: 8px 0 8px 31px;
	color: #fff;
	font-weight: bold;
	font-size: 12px
	}

.comparePlans .hilite {
	background: #FFFFD3;
	color: #252525;
	font-size: 11px;
	font-family: verdana, arial, sans-serif;
	font-weight: bold;
	}

.comparePlans .hiliteplan {
	background: #FF8071;
	color: #252525;
	font-size: 11px;
	font-weight: bold;
	}

.comparePlans .hilitetd {
	background: #FED5D0;
	color: #252525;
	font-size: 11px;
	}

.comparePlans .hilitetdalt {
	background: #FFF2F1;
	color: #252525;
	font-size: 11px;
	}

.comparePlans .alt1, .alt2, .alt3, .alt4 {
	color: #252525;
	font-size: 11px;
	padding-top: 5px;
	padding-bottom:5px;
	}

.comparePlans .alt2 {
	background: #fff url('/getImage.php?src=pointer.gif') no-repeat 13px center;
	padding-left: 25px;
	text-align: left;
	}

.comparePlans .alt1 {
	background: #DEEDFB url('/getImage.php?src=pointer.gif') no-repeat 13px center;
	padding-left: 25px;
	text-align: left;
	}

.comparePlans .alt3 {
	background: #DEEDFB;
	}

.comparePlans .textHilight {
	font-weight:bold;
	}

.comparePlans .comparePlans a {
	color: #0036A3;
	}

.comparePlans .SubHeading {
	background: #5A98D4 url('/getImage.php?src=subheading.gif') no-repeat 8px 7px;
	padding: 8px 0 8px 31px;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	text-align: left;
	}

/* COMPARE PLANS PAGE */


.alternateplan_heading {
	margin: 8px 0;
	padding-left:32px;
	padding-right:3px;
	padding-top:3px;
	padding-bottom:4px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#CC0000;
	font-weight:bold;
	background:url(/getImage.php?src=alternateplan_head.gif) #f4fff1 no-repeat 6px 2px;
	border-bottom:1px solid #c5f2b9;
}

/* diy hosting css*/

.tab-wrapper .tabs{
	margin:12px 0 0;
	padding:0;
	border-bottom:1px solid #eaeaea;	
	display:inline-block;
	text-align:left;
	font-size:0px;
	width:100%;
	letter-spacing:-1px;
}
.tab-wrapper .tabs li, .tab-wrapper .tabs li a{
	background:#fff url("/getImage.php?src=tabs-bg.gif") no-repeat 0 0;
}
.tab-wrapper .tabs li{	
	display:inline-block;
	padding:0;
	background-position: 0 -66px;		
	letter-spacing:0px;
	position:relative;
	top:1px;
	*zoom:1;
	*display:inline;	
}
.tab-wrapper .tabs li.first{
	margin-left:10px;
}
.tab-wrapper .tabs li a{
	font-size:14px;
	font-weight:bold;
	color:#5c5c5c;	
	padding:0px;
	margin-left:5px;
	display:inline-block;
	background-position: 100% -99px;	
	outline:none;
}
.tab-wrapper .tabs li a .text-wrap{
	padding:8px 8px 7px;
	margin-right:5px;
	display:block;
}
.tab-wrapper .tabs li.active{
	/*top:1px;*/
	background-position: 0 0;
}
.tab-wrapper .tabs li.active a{
	background-position: 100% -33px;
}
.tab-wrapper .tabs li.active a .text-wrap{
	padding-bottom:8px;
}

/**************************/
/*Tabs inside page header*/
/************************/
.pageHeaderWide .tab-wrapper{
	position:absolute;
	right:5px;
	width:320px;
	line-height:15px;
	margin-right:5px;
	margin-top:15px;
	bottom:0;
}
.pageHeaderWide .tab-wrapper ul{
	border-bottom:0;
}
.pageHeaderWide .tab-wrapper ul li{
	*float:left;
}
.pageHeaderWide .tab-wrapper .tabs li.active a .text-wrap{
	padding-bottom:9px;
}
.tab-wrapper .tabs li a .icon{
	padding-left:31px;
}
.tab-wrapper .tabs li a .linux-icon, .tab-wrapper .tabs li a .win-icon{
	background: url("/getImage.php?src=hosting-platform-icon.gif") transparent  no-repeat left 5px;
}
.tab-wrapper .tabs li a .win-icon{
	background-position:0 -25px;
}

.tab-wrapper .tabs .orange-text{
	text-transform:uppercase;
}
.features-list{
	font-size:19px;
	color:#646464;
	padding:0 0 0 12px;
	margin:0;	
}
.features-list li{
	background:#fff url("/getImage.php?src=feature-list-icons.gif") no-repeat left 0;
	margin:0 0 18px 0;
	padding:7px 0 4px 50px;
}
.features-list .website-content{background-position:left -54px;padding:2px 0 4px 50px}
.features-list .email-phone{background-position:left -105px;padding:7px 0 7px 50px}
.features-list .starter-website{background-position:left -153px}
.features-list .chat-friends{background-position:left -205px}
.features-list .photo-albums{background-position:left -255px}
.features-list .sell-online{background-position:left -309px}
.features-list .easy-drag-drop{background-position:left -421px}
.features-list .ads-free{background-position:left -634px}
.features-list .social-network{background-position:left -585px}
.features-list .search-opitmized{background-position:left -527px}
.features-list .sell-ebay{background-position:left -364px}
.features-list .design-templates{background-position:left -472px}
.features-list .storage-space{background-position:left -689px}
.features-list .mobile-icon{background-position:left -747px}
.features-list .email-clients{background-position:left -806px}
.features-list .webmail-icons{background-position:left -864px}

.free-features-title {
	background:#FD8907 url("/getImage.php?src=orange-round-corners.gif") no-repeat left top;
	color:#FFFFFF;
	font-size:14px;
	margin: 0 0 20px 12px;
	padding:0;
	text-align:center;
	float:left;	
	overflow:visible;
	position:relative;
	height:27px;
}
.free-features-title .right-round{
	background:#FD8907 url("/getImage.php?src=orange-round-corners.gif") no-repeat right -27px;
	padding:5px 7px 5px 0;
	margin-left:6px;
	float:left;
}
.free-features-title .arrow{
	background:url("/getImage.php?src=feature-title-arrow.gif") no-repeat scroll 0 0 transparent;
	position:relative;
	width:11px;
	height:9px;
	position:absolute;
	left:11px;
	top:27px;
}

.icon-money-back{
	background:url("/getImage.php?src=side-bar-info-icons.gif") no-repeat scroll 0 0 transparent;
	float:left;
	width:76px;
	height:86px;
	margin-top:-13px;
}
.money-back-list{
	padding: 0 0 25px 50px;
	margin:0;
	font-size:14px;
}
.money-back-list li{
	list-style-type:disc;
}
.which-plan-heading h2{
	font-size:23px;
	font-weight:bold;
	color:#656565;
	background:url("/getImage.php?src=side-bar-info-icons.gif") no-repeat scroll 0 -91px transparent;
	padding-left:72px;
}
.which-plan-heading h2 small{
	font-size:19px;
	font-weight:normal;
	display:block;
}
.sidebar-content .which-plan-heading p{
	font-size:14px;
	padding: 0 10px 12px 10px;
}

.left-floated{
	float:left;
	width:150px;
}
.live-chat-floated, .contact-us-floated{
	float:left;
	width:138px;
	display:inline;
	margin:0 0 15px 15px;
	zoom:1;
}
.live-chat-floated .sidebar-child-blurb-content, .contact-us-floated .sidebar-child-blurb-content{
	margin:0;
}
.live-chat-floated h3, .contact-us-floated h3{
	background:url("/getImage.php?src=side-bar-support-icons-tiny.gif") no-repeat scroll 0 0 transparent;
	padding-left:35px !important;
}
.contact-us-floated h3{
	background-position:5px -21px;
	padding-left:10px !important;
}
.contact-us-floated .sidebar-child-blurb-content{
	text-align:center;
}
.contact-us-floated small{
	display:block;
}
.icon-free-trial{
	background:url("/getImage.php?src=side-bar-info-icons.gif") no-repeat scroll 0 -165px transparent;
	float:left;
	width:90px;
	height:110px;
	position:absolute;
	top:-1px;
	left:10px;
}

.new-sidebar-blurb{
	position:relative;
}

.free-trial-blurb .sidebar-child-blurb-content{
	margin-left:92px;
}

.free-trial-blurb {
	margin-bottom:25px !important;
}

.specs-blurb{
	margin:0 0 30px 30px;
}
.specs-blurb h3{
	color:#000;
	border-bottom:1px solid #ccc;
	padding:0 0 6px 0;
}
.specs-blurb ul{
	padding:0;
	margin:12px 0;
}
.specs-blurb ul li{
	margin-bottom:10px;
	background:transparent url('/ui/supersite/themes/ClassicBlue/images/tech_specs_bullet.gif') no-repeat -3px center;
	padding-left:15px;
}
.specs-blurb .show-less, .specs-blurb .show-more{
	background: none;
}
.show-selected .hidden, .show-selected .show-less, .show-all .show-more{
	display:none;
}
.show-all .hidden, .show-all .show-less{
	display:block;
}

.hosting-modal-body{
	text-align:left;
	padding:24px 16px;
}

.hosting-modal-body-upgrade{
	padding:24px 16px;
}
.compact-modal-body{
	padding:10px 16px;
}
.form-field-wrapper{
	margin-left:15px;
	display:inline-block;
}
.hosting-modal-body label{
	display:block;
	font-size:16px;
	margin-bottom:10px;
}
.hosting-modal-body .textbox, .hosting-modal-body .selectlist{
	border:1px solid #d5d5d5;
	padding:4px;
	width:235px;
	font-size:16px;
	margin-right:5px;
}
.hosting-modal-body .wide-textbox{
	width:339px;
	margin-top:10px;
}
.hosting-modal-body .selectlist{
	width:auto;
}
.error-list{
	padding:0 0 0 15px;
	margin:12px 0;
	color: #db0606;
}
.error-list li{
	list-style-type:disc;
}
.hosting-modal-body .sub-title{
	font-size:16px;
	padding:0;
}
.conflict-resolver, .conflict-chooser{
	margin-top:15px;
	text-align:left;
}
.conflict-blurb{
	width:268px;
	float:left
}
.conflict-blurb h4{
    background: none repeat scroll 0 0 #5A5A5A;
    color: #FFFFFF;
    font: 15px Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 5px 0;
    text-align: center;
    text-transform: uppercase;
	}
.conflict-blurb .blurb_body{
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	background:#e6e6e6 url("/getImage.php?src=conflict_modal_icons.gif") repeat-x left -350px;	
	padding-top:10px;
	color:#939393;
	border:1px solid #c5c5c5;
	border-top:0;
	font:normal 13px/20px Arial, Helvetica, sans-serif;
}
.conflict-blurb .blurb_body h5{
	color: #696969;
    font: bold 13px Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 5px 0 3px;
	}
.conflict-blurb .blurb_body del{
	text-decoration:line-through;
}
.current_plan{
	padding-left:54px;
	background:transparent url("/getImage.php?src=conflict_modal_icons.gif") no-repeat 6px 0;
	height:80px;
}
.selected_plan{
	padding-left:54px;
	height:80px;
	background:transparent url("/getImage.php?src=conflict_modal_icons.gif") no-repeat 6px -190px;
}
.selected_plan .new-price, .diy_plan .new-price{
	color:#70A750;
	font-weight:bold;
}
.diy_plan{
	padding-left:54px;
	height:80px;
	background:transparent url("/getImage.php?src=conflict_modal_icons.gif") no-repeat 6px -812px;
}
.arrow-separator{
	float:left;
	width:95px;
	height:110px;
	background:transparent url("/getImage.php?src=conflict_modal_icons.gif") no-repeat center -510px;
}
.modal-footer{
    border-top: 1px solid #E8E8E8;
    color: #636363;
    margin: 25px auto 15px;
    padding-top: 10px;
    text-align: center;
    width: 350px;
}
.modal-footer a, .modal-footer a:hover{
    color: #2265AC !important;
    font: 17px Arial,Helvetica,sans-serif;
    text-decoration: none;
}
.modal-footer a:hover{
	text-decoration:none;
}
.conflict-chooser .conflict-blurb{
	width:300px;
}
.conflict-chooser .current_plan,.conflict-chooser .selected_plan, .conflict-chooser .diy_plan{
	min-height:140px;
	_height:140px;
	position:relative;
}
.conflict-chooser .ui-button{
	margin-top:10px;
	position:absolute;
	left:54px;
	bottom:10px;
}
.vertical-or-seperator{
	float:left;
	width:38px;
	height:140px;
	font-weight:bold;
	line-height:140px;
	text-align:center;
	color:#aeaeae;
}
/*************/
/* DIY Plans*/
/***********/
.diy_plans_intro{
	font-weight:normal;
	font-size:28px;
	color:#5b5b5b;
	margin:40px auto 5px;
	text-align:center;
	background:none;
	padding:0 0 10px;
}
p.diy_plans_byline{
	color:#969696;
	font-size:18px;			
	margin:0px auto 20px;
	text-align:center;
}

.diy-plans-wrapper{
	height: 373px;
	background:transparent url("/getImage.php?src=diy-plans.jpg") no-repeat center 0;
	margin-bottom:20px;
}
.diy-plans-wrapper .plan-details{
	font-size:14px;
	margin-top:120px;
}
.modal_content .actionRow{
	margin-bottom:15px;
}
.modal_content .actionRow .left-action{
	float:left;
	line-height:53px;
}
/*****************/
/* Hosting Plans*/
/***************/
.hosting-plans-wrapper{
	height: 439px;
	background:transparent url("/getImage.php?src=hosting-plans.gif") no-repeat center 0;
	margin-bottom:20px;
}
.hosting-plans-wrapper .plan-details {
	margin-top:145px;
	font-size:12px;
}
.plan-col-2 .ui-button span, .plan-col-2 .ui-button span span{
	background-image:url("/getImage.php?src=sprite-input-orange.gif");
}
.plan-details {
    width:224px;
    float: left;
	display:inline;
	margin-left:11px;
}
.plan-details.plan-col-1{
	margin-left:17px;
}
.plan-details.plan-col-2 p.b-border{
	border-bottom:1px solid #f4d377;
}
.plan-details p{
    text-align: center;
	padding:0 0 4px 0;
	margin:0 0 8px 0;
	font-size:14px;	
}
.plan-details p.b-border{
	border-bottom:1px solid #f0f0f0;
	margin:0 7px 8px;
}
.plan-details .plan-pricing{
	position:relative;
	margin-top:26px;
}
.plan-details .plan-pricing .start-at{
	position:absolute;
	top:-11px;
	left:0px;
	font-size:11px;
	line-height:11px;
	text-align:left;
	width:60px;
}
.plan-details .plan-pricing .currency{
	font-weight:bold;
	font-size:25px;
	display:inline-block;
	line-height:28px;
	position:relative;
}
.plan-details .plan-pricing .plan-cost{
	font-size:25px;
	font-weight:bold;
}
.plan-details .plan-pricing .price-duration{
	font-weight:normal;
	font-size:20px;
}
.plan-details .plan-duration{
	text-align:left;
	margin-top:13px;
	padding-left:15px;
	font-size:12px;
}
.plan-details .plan-duration label{	
	font-weight:bold;
	line-height:23px;
}
.plan-details .plan-duration select, .plan-details .add-plan .ui-button{
	width:192px;
}
.plan-details .add-plan .ui-button {
	width:88%;
	text-align:center;
}

.testimonial-stars{
	margin:0 0 -1px 8px;
	*margin:0 0 2px 8px;
	background:transparent url("/getImage.php?src=testimonial-star.gif") repeat-x left top;
	height:13px;
	width:90px;
	display:inline-block;
}
.stars-5{background-position:left -52px}
.stars-4{background-position:left -39px}
.stars-3{background-position:left -26px}
.stars-2{background-position:left -13px}

#domainname_opt_id{
	width:350px;
}

/******************/
/* Email Hosting */
/****************/
.emails-plan-wrapper{
	height: 311px;
	background:transparent url("/getImage.php?src=email_plans.jpg") no-repeat center 0;
	margin-bottom:20px;
}
.emails-plan-wrapper .plan-details{
	margin-top:82px;
}

/************************/
/* Interstitial Pricing */
/************************/

#sb-plans  .introPricing{
    margin: 0 auto 15px;
    position: relative;
	text-align:left;
	width: 140px;
	height:60px;
}


#sb-plans .bifm-detail .introPricing{
 	float:left;
	margin: 0 0 15px 20px;
}

#sb-plans  .introPricing span{
    position: absolute;
    font-weight:bold;
	width:60px;
}
#sb-plans  .introPricing .from{
    font-size:12px;
    line-height: 12px;
    left: 0;
    top: 0;
}
#sb-plans  .introPricing .rs{
    font-size:18px;
    line-height:28px;
    top:15px;
    left:-2px;
}
#sb-plans  .introPricing .price{
    font-size: 32px;
    left: 45px;
    line-height: 48px;
    text-align: left;
    width: 70px;
}
#sb-plans  .introPricing .sign{
    font-size:24px;
    font-weight:normal;
    left:97px;
    line-height:48px;
    top:8px;
}
#sb-plans  .introPricing .per-month{
    top:43px;
    left:45px;
    font-size:12px;
    line-height: 12xp;
    width: 70px;
}

#bifm-plan-content .price-currency {
	font-size:22px
}
#bifm-plan-content .price-rate {
	font-size:32px;
}

.bifm-pricing-note{
	margin:10px 0px 20px 0;
	text-align:center;
	float:right;
	position:relative;
}

html>body .bifm-pricing-note{margin:10px 12px 20px 0;}

.bifm-pricing-note p{
	margin:0 auto 0;
	text-align:center;
}

#sb-plans .bifm-pricing-note p.line1{
	font-size:12px;
	line-height:19px;
	position:relative;
	margin-left:15px;
	text-align:left;
}

.bifm-pricing-note .price{
	font-weight:bold;
}

.bifm-pricing-note strong{
	position:absolute;
	left:0;
	top:9px;
}


#bifm p.designfee{
	margin:0;
	line-height:26px;
}

#bifm p.designfee-hint, #bifm p.hostingfee-hint{
    margin: 0 0 0 48px;
    text-align: left;
   font-size: 13px;
    font-style: italic;
}

#bifm p.hostingfee{
    font-size: 14px;
    line-height: 18px;
    margin: 12px 0 0;
    padding-left: 48px;
    position: relative;
    text-align: left;	
}

#bifm p.hostingfee .price-currency {
    font-size: 16px;
}

#bifm p.hostingfee .price-plus {
    color: #777777;
    font-size: 26px;
    font-weight: bold;
    left: 20px;
	_left: -20px;
    position: absolute;
    top: 10px;
}

#bifm p.hostingfee .price-rate {
    font-size: 18px;
}

#bifm p.finalprice{
    border-top: 2px solid #CCC;
    line-height: 45px;
    margin: 20px 0 0;
    padding: 5px 0 0;
}

#bifm p.finalprice .price-rate {
    font-size: 40px;
	font-weight:bold;
}.right-side {
	float:left;
	margin-right:14px;
	display:inline;
}
.left-side {
	margin-left:140px;
	text-align: left;
}
#brochure h3, .block3 h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 18px 0;
    text-align: left;
}
.left-side h4 {
    font-weight: bold;
    margin: 0;
}
.left-side ul {
    color: #646464;
    font-size: 14px;
    margin: 5px 0;
    padding-left: 15px;
}
.left-side ul li {
    list-style-type: disc;
    padding: 2px 0;
}
.right-side .image{
    margin-bottom: 6px;
}

#bifm .customer-speaks h2 {
    background: url("/getImage.php?src=bg-customer-speaks-h2.gif") no-repeat scroll 0 0 transparent;
    color: #656565;
	text-align:left;
	margin:0 0 10px;
	font-weight:bold;
    padding: 7px 0 15px 8px;
}
#bifm .customer-speaks h5 { text-align:left; font-weight:bold; }