<#if:show_additional_details_form#>
    <div class="btn-wrp" style="display: block;">
        <a href="#" class="model-button" id="submit_extra_details_button" style="margin-left: 50px;">Gunakan informasi ini</a>
        <a href="#" class="ui-button list_contact_button" style="margin-left: 53px;">Ganti Kontak</a>
    </div>
<#else:show_additional_details_form#>
    <div class="btn-wrp" id="contact_selection_buttons" style="display: block;">
        <a href="#" class="model-button use_this_information" style="margin-left: 50px;">Gunakan informasi ini</a>
        <a href="#" class="ui-button list_contact_button" style="margin-left: 53px;">Ganti Kontak</a>
    </div>
<#/if:show_additional_details_form#>