    <div class="new_contact_details">
        <div class="new_contact_col">
            <label><strong>Id Kontak </strong></label>
            <span><#tag:contact_details.contactid /#></span>
            <#if:show_uk_contact_details#>
                  <label><strong>Kontak Penghubung  </strong></label>
                  <span><#tag:contact_details.name /#></span>
                  <label><strong>Pendaftar </strong></label>
                  <span><#tag:contact_details.company /#> </span>
            <#else:show_uk_contact_details#>
                        <label><strong>Nama </strong></label>
                        <span><#tag:contact_details.name /#></span>
                        <label><strong>Perusahaan </strong></label>
                        <span><#tag:contact_details.company /#> </span>
            <#/if:show_uk_contact_details#>
                        <label><strong>Email </strong></label>
                        <span><#tag:contact_details.emailaddr /#></span>
                        <label><strong>Alamat </strong></label>
                        <span><#tag:contact_details.address1 /#></span>
                        <div class="clear"></div>
        </div>
        <div class="new_contact_col bor">
            <label><strong>Kota </strong></label>
            <span><#tag:contact_details.city /#></span>
            <label><strong>Negara Bagian </strong></label>
            <span><#tag:contact_details.state /#></span>
            <label><strong>Negara </strong></label>
            <span><#tag:contact_details.country /#></span>
            <label><strong>Telepon </strong></label>
            <span><#tag:contact_details.telno /#></span>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>

    <div class="new_additional_details">
        <#loop:additional_details#>
        <label class="frm-label"><strong><#tag:additional_details[].key /#> : </strong></label>
            <span><#tag:additional_details[].value /#></span>
            <div class="ui-space"></div>
        <#/loop:additional_details#>
    </div>