<#if:show_contact_list#>

<table cellpadding="0" cellspacing="0" class="table-data">
  <thead>
    <tr>
      <!--<th>ID</th>-->
      <th>Nama</th>
      <th>Alamat Email </th>
      <!--<th>Perusahaan</th>-->
      <th>Lihat Rincian</th>
    </tr>
  </thead>
  <tbody>
  <#loop:list_contact#>
  <tr>
    <td style="display: none;"><a name='contact_<#tag:list_contact[].contactid /#>' href="#" title="Klik untuk menggunakan" onClick="post_value(<#tag:list_contact[].contactid /#>)"><#tag:list_contact[].contactid /#></a></td>
    <td><#tag:list_contact[].name /#></td>
    <td><#tag:list_contact[].emailaddr /#></td>
    <!--<td><#tag:list_contact[].company /#> </td>-->
    <td><a name='contact_<#tag:list_contact[].contactid /#>' class="show_contact_details" title="Klik di sini untuk melihat Informasi tambahan mengenai Kontak ini" href="#"><img src="/getImage.php?src=zoom-icon.gif" /></a></td>
  </tr>
  <#/loop:list_contact#>
    </tbody>
  
</table>
<div class="clear" style="padding-right:10px; width: 550px; text-align: right;">
 <#if:show_prevpage_link#>
<a href="#" onclick="switch_page(<#tag:prev /#>)"><img style="margin-bottom: -3px;" src="/getImage.php?src=left-green-arrow.gif" border="0"></a>
<#/if:show_prevpage_link#>
  <select id="toppage" name="pagenum" onChange="switch_page(this.value);" class="frm-select">
    <#loop:pages#> <option value="<#tag:pages[].page /#>" <#tag:pages[].selected /#>><#tag:pages[].pagefrom /#>
    </option>
    <#/loop:pages#>
  </select>
  <#if:show_nextpage_link#><a href="#" onclick="switch_page(<#tag:next /#>)"><img style="margin-bottom:-3px;" src="/getImage.php?src=right-green-arrow.gif" border="0"></a>
  <#/if:show_nextpage_link#>
   </div>
<script type="text/javascript" >
$(document).ready(function (){

	$('.table-data tr:odd').addClass('odd');
	$('.table-data tr:even').addClass('even');
});
</script>
<div class="ui-space"></div>
<#else:show_contact_list#>
<p>
  Anda tidak memiliki kontak sama sekali. Silahkan klik Tambahkan Kontak Baru untuk menambahkan kontak.
</p>
<#/if:show_contact_list#>