.dd-masthead{
    background: url("/getImage.php?src=dd-banner.jpg") no-repeat;
    height: 290px;
    margin: -20px auto 0;
    padding-top: 75px;
    position: relative;
    width: 1000px;	
	}
.dd-heading {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
	color: #FFFFFF;
	font: bold 86px 'Rokkitt', serif;
	margin: auto;
	padding-top: 35px;
	text-align: center;
	text-shadow: 2px 2px 2px #000000;
	width: 720px;
}
.center{ text-align:center;}
.dplan-list .plans.plan-featured .name{ height:56px;}
.dplan-list .plans.plan-featured .pname{ height:65px;}
.dplan-list .plans.plan-featured{
	background: url(/getImage.php?src=dd-plan-sel-bg.jpg) no-repeat;
	border:solid 1px #000;
	position:relative;
	top:3px;	
	}
.dplan-list .plans {
	background: url(/getImage.php?src=dd-plan-bg.jpg) no-repeat;
	display: inline-block;
	width: 224px;
	margin: 0 -3px 0 0;
	text-align: center;
	box-shadow:0 1px 1px #ccc;
	border-radius:5px;
}
.dplan-list .plans .name {
	border-bottom: 1px dotted #fff;
	color: #fff;
	font: bold 23px/21px 'Rokkitt', serif;
	height: 43px;
	padding: 7px 0;
}
.pname {
	display: table-cell;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	width: 215px;
}
.dplan-list .plans li {
	font: normal 13px Arial, Helvetica, sans-serif;
	padding: 13px 0;
	margin:0 10px;
	border-bottom: solid 1px #f1f1f1;
	color:#555;
}
.plans .currency {
	display: inline-block;
	font: bold 18px 'Rokkitt', serif;
	position: relative;
	top: -10px;
}
.dplan-list .plans .pricing {
	font: bold 37px 'Rokkitt', serif;
	height: 45px;
	padding: 5px 0 12px;
	position: relative;
	color: #fff;
}
.plain-select{
	border:solid 1px #ccc;
	padding:3px 5px;
	width:210px;
	color:#444;
	}
.dplan-list .dropdown  select{
	border:solid 1px #ccc;
	padding:3px;
	width:190px;
	color:#555;
}
.dplan-list .plans .p-button{ padding:15px 0 25px 0;}
.dplan-list .plans .duration {
	font: bold 15px 'Rokkitt', serif;
}
.dplan-list .plans .no-border{ border:none;}
.txt-em{ border-bottom: solid 1px #ccc; height:5px; margin:45px 0; 	font: bold 26px 'Rokkitt', serif; text-align:center;}
.txt-em em{ position:relative; top:-12px; background:#fff; padding:5px 10px; color:#5b5b5b;}
.dd-server .heading{
	font: bold 26px 'Rokkitt', serif;
	color:#5b5b5b;
	margin:	45px 0 20px 0;
	padding:0;
	border:none;
	}
.dd-server .cont td{
	font:normal 15px Arial, Helvetica, sans-serif;
	padding:20px 0;
	border-bottom:solid 1px #dedcdc;
	text-align:left;	
	}
.dd-opt{
	overflow:hidden;
	position:relative;
	height:700px;
	width:1000px;
	}
.dd-server{
	position:absolute;
	left:0;
	top:0;
	width:4000px;
	}	
.dd-server .dplan-list{
	float:left;
	width:1000px;
	}		
.dplan-list	.plan-featured .p-button .txt-button{
    font-size: 16px;
    padding: 10px 30px;
	margin-bottom:10px;
	}
.footer-button{
	overflow:hidden;
	margin:45px 0;
	}
.dd-server .txt-dd-info{
	font:normal 15px Arial, Helvetica, sans-serif;
	color:#777;
	}
.dd-server-cart{
	float:right;
	width:252px;
	background:#f9f8f8;
	border:solid 1px #eaeaea;
	padding:0 20px;
	margin-top:54px;
	}
.dd-server-cart h3{
    background: url("/getImage.php?src=dd-cart-bg.gif") no-repeat scroll 0 0 #CFCFCF;
    font: normal 20px Arial, Helvetica, sans-serif;
    left: -21px;
    padding: 13px;
    position: relative;
    text-align: center;
    text-shadow: 1px 1px 1px #FFFFFF;
    width: 267px;	
	}
.dd-cart-item{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #E9E8E8;
    margin: 20px 0;
    padding: 10px;	
	}
.dd-cart-item p{
	font:normal 13px/22px Arial, Helvetica, sans-serif;
	color:#5b5b5b;
	min-height:27px;
	}	
.dd-cart-total {
    color: #5B5B5B;
    font: bold 18px arial;
    overflow: hidden;
    padding-bottom: 10px;
}	
.cart-button .ui-button{ width:100%; text-align:center; margin-bottom:15px;}
.dd-prog-bar{
	background: url(/getImage.php?src=dd-step-bg.jpg) no-repeat center 0;
	position:relative;
	overflow:hidden;
	z-index:10;
	}
.dd-prog-bar-over{
    background: url("/getImage.php?src=dd-step-over.jpg") no-repeat;
    height: 39px;
    left: 0;
    margin-left: 28px;
    position: absolute;
    width: 135px;
    z-index: 100;	
	}
.dd-sele-name li{
	font:normal 18px/20px Arial, Helvetica, sans-serif;
	color:#434343;
	float:left;
	margin-top:45px;
	}
.dd-sele-name{
	overflow:hidden;
	}
.dplan-list	.vps-domain-name .vps-domain-block{ width:535px;}
.dd-sele-name .active{
	color:#93B921;
	font-weight:bold;
	}
.dd-sele-name .step1{
	width:100px;
	padding-right:25px;
	text-align:center;
	} 
.dd-sele-name .step2{
	margin-left: 75px;
    text-align: center;
    width: 150px; 	
	} 
.dd-sele-name .step3{
	margin-left: 75px;
    text-align: center;
    width: 150px;} 
.dd-sele-name .step4{
	margin-left: 78px;
    text-align: center;
    width: 150px;	
	} 
.dd-sele-name .step5{
    margin-left: 93px;
    text-align: center;
    width: 100px;	
	} 
.link-back{
	font:normal 16px Arial, Helvetica, sans-serif;
	}
.ic-dd-plan{
	background: url("/getImage.php?src=ic-dd-plan.png") no-repeat;
	padding-left:35px;	
	}
.ic-dd-addons{
	background: url("/getImage.php?src=ic-dd-addons.png") no-repeat;
	padding-left:35px;	
	}
.ic-dd-settings{
	background: url("/getImage.php?src=ic-dd-settings.png") no-repeat;
	padding-left:35px;	
	}
.ic-dd-domain{
	background: url("/getImage.php?src=ic-dd-domain.png") no-repeat;
	padding-left:35px;	
	}
.dd-opt #hardware_addons, .dd-opt #software_addons, .dd-opt #domain_options{ padding:0 20px;}

.features-rows h3{
	font:normal 18px Arial, Helvetica, sans-serif;
	padding:0 0 10px 0;
	}
.features-rows p{
	font:normal 14px/19px Arial, Helvetica, sans-serif;
	}	
.features-rows .fea-cont{ 
	margin-bottom:30px;
	background:url("/getImage.php?src=feature-bg.jpg") no-repeat scroll center bottom;
	 }
.ic-thumb-server{background:url("/getImage.php?src=dd-thumb-server.png") no-repeat scroll 0 0;}
.ic-thumb-pf{background:url("/getImage.php?src=dd-thumb-pf.png") no-repeat scroll right 0;}	
.ic-thumb-cpanel{background:url("/getImage.php?src=dd-thumb-cpanel.png") no-repeat scroll 0 0;}
.ic-thumb-cloud{background:url("/getImage.php?src=dd-thumb-cloud.png") no-repeat scroll right 0;}
.features-rows .even{ padding-left:180px; height:165px;}	
.features-rows .odd{ padding-right:235px; height:165px;}	
.ui-list li{
	margin-left:15px;
	list-style:disc inside;
	padding-bottom:5px;
	}
	
/* Managed Servers */

.link-to-ms	 { font:normal 18px/22px Arial, Helvetica, sans-serif; width:940px; margin:0 auto 50px auto; text-align: center; }

.link-to-ms a { text-decoration: underline;  }