/* Managed Server Page CSS - Begins Here */

/* Apply font-family */

#managed-server-wrapper h1,
#managed-server-wrapper h2,
#managed-server-wrapper h3,
#managed-server-wrapper ul li,
#managed-server-wrapper p,
#managed-server-wrapper a,
#managed-server-wrapper span,
#managed-server-wrapper button,
#managed-server-wrapper .dplan-list button span,
#managed-server-wrapper label,
#managed-server-wrapper td
{ font-family:'proxima_nova', Arial; }

#managed-server-wrapper .dplan-list button,
#managed-server-wrapper .dplan-list td,
#managed-server-wrapper label,
#managed-server-wrapper .dplan-list button span
{ font-weight:100; }

#managed-server-wrapper .dplan-list	.plain-select
{  font-family: Arial !important; font-weight:light !important; outline:none; }


/* Common CSS */
#managed-server-wrapper .inline-block, .gray-parent, #dedicated-managed-server .inline-block { display:inline-block; *display:inline; *position:relative; zoom:1; }

#managed-server-wrapper .clear { clear:both; height:1px; }

.lfloat { float: left; }

.rfloat { float: right; }

/* Containers */

#managed-server-wrapper { margin:-19px auto 0 auto; width:1000px; }

.ms-banner 
{ background: url('/getImage.php?src=/images/managed-server-banner.png') no-repeat 356px -107px #363636; height:290px; 
  position:relative; padding:75px 0 0 40px; margin:0; }

.ms-plans { margin:0 30px 0 30px;  text-align:center;}

.ms-server-mgmt { width:940px; margin:55px auto 0 auto; }

.ms-benefits { width:940px; margin:0 30px 100px 30px; }

/* Banner */

.ms-banner h1{ font-size:52px; font-weight:400; width:435px; color:#fff; margin:0; padding:0; }

.ms-banner h2 { font-size:20px; font-weight:100; color:#fff; margin:0; padding:0; }

.ms-banner p { font-size:20px; font-weight:100; line-height:27px; color:#fff; width:380px; margin:20px 0 0 0; }

/* Services */

.ms-server-mgmt h2
{ background:url('/getImage.php?src=/images/all-images-managed-servers.png') no-repeat -27px -243px; font-size:30px; font-weight:400; 
  margin:0 0 27px 0; padding:0; color:#222; text-align:center; }

.ms-server-mgmt h3 { font-size:20px; font-weight:600; margin:0 0 10px 0; padding:0; color:#222 }

.ms-server-mgmt h3  span{ background:url('/getImage.php?src=/images/all-images-managed-servers.png') no-repeat 0 -73px; height:14px; width:18px; margin:0 5px 0 0; }

.ms-server-mgmt p, .ms-server-mgmt p a { font-size:18px; font-weight:100; color:#222; text-align:center; padding:0; margin:15px 0 60px 0; } 

.ms-server-mgmt .services p { font-size:15px; font-weight:100; line-height:24px; margin:0; padding:0 3px; color:#222 }

.ms-server-mgmt p a { color:#377cec; text-decoration:underline; }

.ms-server-mgmt .services { width:290px; float:left; margin-right:35px; text-align:center; } 

.ms-server-mgmt .services.last { margin-right:0; }


/* Plans */

.ms-plans h2, #managed-server-wrapper p.heading 
{ background:url('/getImage.php?src=/images/all-images-managed-servers.png') no-repeat 3px -289px; margin:0 0 70px 0; padding:0; text-align:center; color:#222; 
  font-size:30px; font-weight:400; width:940px; }

#managed-server-wrapper p.heading  { background:none; text-align:left; }

.ms-plan-details { /*float:left;*/ width:235px; margin:0 0 0 -3px !important; vertical-align:top;  }

.ms-plan-details span { width:235px; text-align:center; }

.ms-plan-details span.ms-plan-name
{ background:#025c90; color:#fff; font-size:20px; line-height:20px; font-weight:600; padding:9px 0 7px 0; border:1px solid #024e7a; 
  -moz-border-radius:6px 6px 0 0; -webkit-border-radius:6px 6px 0 0; border-radius:6px 6px 0 0;
}

.ms-plan-details span.ms-plan-price { background:#282828; color:#fff; padding:28px 0; border:1px solid #141414; font-size:24px; font-weight:bold;  }

.ms-plan-details span.ms-plan-price sup { font-size:15px; font-weight:100; margin:0; display:inline-block; vertical-align:top; margin-top:3px; }

.ms-plan-details span.ms-plan-price span { font-size:20px; font-weight:600; }

.ms-plan-details ul
{ border:1px solid #ccc; -moz-border-radius:0 0 6px 6px; -webkit-border-radius:0 0 6px 6px; border-radius:0 0 6px 6px;  
  margin:0 -1px; padding:0; background:#fff; width:100%;
}

.ms-plan-details.first { width:233px; }

#managed-server-wrapper .ms-plan-details ul li 
{ font-size:15px; font-weight:100; background:#fff; border-bottom:1px solid #f1f1f1;
 list-style:none; margin:0 auto; padding:17px 0 16px 0; text-align:center; width:205px;  }

#managed-server-wrapper .ms-plan-details ul li button.txt-button 
{ 
	background:#2fbe15; border:1px solid #18900b; padding:10px 20px;
	-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
	font-size:16px; font-weight:100; color:#fff; 
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.4); 
	outline: none; text-shadow:none;
}

#managed-server-wrapper .ms-plan-details ul li button.txt-button:hover { background:#34c918; }

#managed-server-wrapper 
.ms-plan-details ul li button.txt-button:active { background:#2db315; }

.ms-plans .gray-parent 
{ /*background:#eee; border:1px solid #ccc; border-top:0; border-bottom:0;  -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; width:940px;*/ }

.ms-plans .footnote  
{ /*background:#eee; border-bottom:1px solid #ccc; -moz-border-radius:0 0 6px 6px; -webkit-border-radius:0 0 6px 6px; border-radius:0 0 6px 6px; width:940px;*/
  padding:15px 0;  }

.ms-plans .footnote p { font-size:18px; font-weight:400; color:#222; margin:0; padding:0; text-align:center; }

.ms-plans .footnote p span.footnote-icon 
{ background:url('/getImage.php?src=/images/all-images-managed-servers.png') no-repeat -218px 0; height:21px; margin:0 11px 0 0; vertical-align:middle; width:48px; }


/* Benefits */

.ms-benefits .lfloat, .ms-benefits .rfloat { width:445px; }

.ms-benefits h2, .ms-benefits .benefits-tagline {  font-size:30px; font-weight:400; color:#222; text-align:center; margin:-20px 0 5px 0; padding:0; }

.ms-benefits .benefits-tagline { font-size:22px; margin:13px 0 43px 0;  }
 
.ms-benefits .benefit-details { margin-bottom:33px; }

.ms-benefits h3 { font-size:20px; font-weight:600; color:#222; margin:0; padding:0 0 15px 0; }

.ms-benefits ul {  margin:0; padding:0; }

.ms-benefits ul li { font-size:15px; font-weight:100; color:#222; margin:0 0 18px 0; padding:0; list-style:none; }

.ms-benefits ul li span.inline-block 
{ background:url('/getImage.php?src=/images/all-images-managed-servers.png') no-repeat -280px 0; height:13px; margin:0 5px 0 0; vertical-align:middle; width:16px; }

.ms-benefits .benefits-icon { background:url('/getImage.php?src=/images/all-images-managed-servers.png') no-repeat; vertical-align:top; margin:0 25px 0 0; }

#instant-setup{ background-position: -2px -388px; height:79px; width:79px; }

#total-security{ background-position: -172px -388px; height:79px; width:79px; }

#app-install{ background-position: -345px -390px; height:77px; width:79px; }

#monitoring-check{ background-position: -510px -399px; height:68px; width:79px; }

#repair-maintain{ background-position: -667px -394px; height:74px; width:73px; }

#lot-more { background-position: -830px -394px; height:74px; width:80px; }


/* Modal*/

#dedicated-managed-server .modal_content h1.ms-modal-title 
{ background:url('/getImage.php?src=/images/all-images-managed-servers.png') no-repeat -61px -505px; font-family:'proxima_nova', Arial; 
  font-size:30px; font-weight:400; color:#222; margin:0 0 20px 0; border-bottom:0; text-shadow:none; }

#dedicated-managed-server .wide_modal { background:#656565; padding:6px; border:1px solid #828282; width:874px; } 

#dedicated-managed-server .wide_modal .hosting-modal 
{ background:#fff; padding:30px; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; }

#dedicated-managed-server a.modal_close 
{ background: url("/getImage.php?src=/images/close.png") no-repeat 0 0; right:10px; top:10px; height:15px; position: absolute; width:15px; opacity:0.6;  }

#dedicated-managed-server a.modal_close:hover { opacity:0.8 }

#dedicated-managed-server a.modal_close:active { opacity: 1; }

#dedicated-managed-server  table { border:0; width: 785px; }

#dedicated-managed-server .compare-thead 
{ display:block; clear:both; width:802px; margin:0 auto; background:#024e7a; 
 border:1px solid #ccc; border-right:0; border-bottom:0; 
 -moz-border-radius: 6px 6px 0 0; -webkit-border-radius: 6px 6px 0 0; border-radius: 6px 6px 0 0;
}

#dedicated-managed-server .compare-thead table td 
{ font-family:'proxima_nova', Arial; font-size:18px; font-weight:600; width:207px; line-height:22px; text-align:center; padding:18px 0; }

#dedicated-managed-server .compare-thead table td.first 
{ background:#fff; text-align:left; width:350px; padding-left:20px;
  -moz-border-radius: 5px 0 0 0; -webkit-border-radius: 5px 0 0 0; border-radius: 5px 0 0 0;}

#dedicated-managed-server .compare-thead table td.mid
{ background:#e3e3e3; border-right:1px solid #ccc; border-right:1px solid #e3e3e3; }

#dedicated-managed-server .compare-thead table td.last 
{ background:#024e7a; color:#fff; margin-right:19px; border-right:1px solid #024e7a  }


/* BODY */

#dedicated-managed-server div.parent-border 
{ border:1px solid #ccc; -moz-border-radius:3px 0 6px 6px; -webkit-border-radius:3px 0 6px 6px; border-radius:3px 0 6px 6px; overflow:auto; height:500px; position: relative; top:-1px; width:802px; margin:0 auto; }

#dedicated-managed-server .parent-border table tr.bgcolor td { background:#f8f8f8; } 

#dedicated-managed-server .parent-border table tr td.blue-bg { background:#e5f1f8; }

#dedicated-managed-server .parent-border table tr.bgcolor td.blue-bg { background:#dce9f0; }

#dedicated-managed-server .parent-border table tr td
{ border-left:1px solid #ccc; font-family:'proxima_nova', Arial; font-size:15px; font-weight:100; color:#222; padding:18px 0; text-align:center; width:207.5px; }

#dedicated-managed-server .parent-border table tr td span.no-cross { font-family:'proxima_nova', Arial; font-size:13px; line-height:18px; font-weight:600;  }

#dedicated-managed-server .parent-border table tr td span.yes-tick
{ background:url('/getImage.php?src=/images/all-images-managed-servers.png') no-repeat -313px 0; height:12px; width:15px; }

#dedicated-managed-server .parent-border table tr td.blue-bg span.yes-tick 
{ background:url('/getImage.php?src=/images/all-images-managed-servers.png') no-repeat -1px -76px; }

#dedicated-managed-server .parent-border table tr td:first-child  { width:350px; padding-left:20px; border-left:0; text-align:left; }

#dedicated-managed-server .parent-border table tr td.heading
{ font-family:'proxima_nova', Arial; font-size:16px; font-weight:600; color:#024e7a; }

.border-top { border-top:1px solid #ccc; }

.border-bottom { border-bottom:1px solid #ccc; }



/* Some fixes to adjust as per new plans table layout */

#managed-server-wrapper .dd-opt { height:795px; margin:60px 0 0 0; }

#managed-server-wrapper .plan-featured 
{ background:none; border:0; -moz-box-shadow:none; -webkit-box-shadow:none; box-shadow:none; position:static; margin-bottom:-43px !important; padding:0; }

#managed-server-wrapper .plan-featured .ms-plan-name,
#managed-server-wrapper .plan-featured .ms-plan-price,
#managed-server-wrapper .plan-featured .plan-details
{ position: relative; top:-45px; }

#managed-server-wrapper .plan-featured .ms-plan-price { padding:52px 0 49px 0; }

#managed-server-wrapper .dd-server .dplan-list { width:940px; margin:0 30px; }

#managed-server-wrapper .dplan-list .plans { width: 235px; -moz-box-shadow:none; -webkit-box-shadow:none; box-shadow:none; margin:0;}

#managed-server-wrapper .dplan-list	.plan-featured .p-button .txt-button { margin-bottom:0; }

#operating_system { display:none; }


/* Final Step Server Details Customization */

#managed-server-wrapper .dd-server-cart
{ background:#fff; border:1px solid #ccc; -moz-border-radius: 0 0 6px 6px; -webkit-border-radius: 0 0 6px 6px; border-radius: 0 0 6px 6px; }

#managed-server-wrapper .dd-server-cart .dd-cart-item
{ border:0; border-bottom:1px solid #ccc; padding:10px 0; margin:0; }

#managed-server-wrapper .dd-server-cart .dd-cart-item p
{ font-size:14px; font-weight:100; color:#222; }

#managed-server-wrapper .dd-server-cart h3
{ background:#024e7a; font-size:20px; font-weight:400; color:#fff; text-shadow:none; text-align:left; padding:13px 21px; width:252px; }

#managed-server-wrapper .ic-dd-plan, #managed-server-wrapper .ic-dd-addons, #managed-server-wrapper .ic-dd-settings, #managed-server-wrapper .ic-dd-domain
{  vertical-align:top; padding:0 5px 0 0; margin-top:3px; }

#managed-server-wrapper .ic-dd-plan 
{ background:url('/getImage.php?src=/images/all-images-managed-servers.png') no-repeat 0 -606px; height:25px; width:23px; }

#managed-server-wrapper .ic-dd-settings
{ background:url('/getImage.php?src=/images/all-images-managed-servers.png') no-repeat -30px -610px; height:22px; width:24px; }

#managed-server-wrapper .ic-dd-addons
{ background:url('/getImage.php?src=/images/all-images-managed-servers.png') no-repeat -60px -610px; height:23px; width:22px; }

#managed-server-wrapper .ic-dd-domain
{ background:url('/getImage.php?src=/images/all-images-managed-servers.png') no-repeat -88px -610px; height:21px; width:22px; margin-top:1px; }

#managed-server-wrapper .dd-cart-total p
{ text-transform:uppercase; font-size:15px; font-weight:400; color:#222; }

#managed-server-wrapper .dd-cart-total { padding:10px 0; }

#managed-server-wrapper .dd-cart-total .total-container
{ margin-top:12px; }

#managed-server-wrapper .dd-cart-total span#total, #managed-server-wrapper .dd-cart-total span#curr_sym
{ font-size:26px; font-weight:600; color:#28af0f; }

#managed-server-wrapper button#dedicated_server_submit
{ 
	background:#2fbe15; border:1px solid #18900b; padding:10px 20px;
	-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
	font-size:16px; font-weight:100; color:#fff; 
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.4); 
	outline: none; text-shadow:none;
}

#managed-server-wrapper button#dedicated_server_submit:hover { background:#34c918; }

#managed-server-wrapper button#dedicated_server_submit:active { background:#2db315; }