<div class="row-white newcheckoutform">

<!-- Show CA cpr Block -->
<div id="ca_cpr">

    <h3 class="ui-heading2">Rincian Tambahan untuk Domain .CA </h3>
    <div class="error" id="contact_show_error" style="display:none">Galat:
        <div id="contact_error_lists"></div>
    </div>
    <div class="ui-space"></div>

        <div class="frmContainer">
            <form name="cacontactdetails" id="cacontactdetails">
                <input type="hidden" name="contact_id">
                <input type="hidden" name="domain_name">
                <input type="hidden" name="contacttype" value="<#tag:contacttype /#>">
                <input type="hidden" name="contactof" value="<#tag:contactof /#>">
                <input type="hidden" name="AgreementVersion" value="<#tag:agreement_version /#>">
                <input type="hidden" name="AgreementValue" value="Y">
                <div class="fieldwrp">
                    <label class="extra_info_label">
                        Kategori Canadian Presence Requirement (CPR)  <span class="required">*</span>
                    </label>
                    <select name="cpr" class="frm-select extra_info_select valid">
                        <#loop:ca_presence#>
                            <option value="<#tag:ca_presence[].key /#>"><#tag:ca_presence[].value /#> </option>
                            <#/loop:ca_presence#>
                    </select>
                    <br>
                                <span class="font-large inline-note p-block">
                                        *diperlukan sesuai dengan Pedoman Registri .CA 
                                </span>
                </div>

                <div class="fieldwrp">
                    <label class="extra_info_label">
                        Perjanjian Pendaftar<span class="required">*</span><br><br><br><br>
                    </label>
                    <input type="checkbox" name="agree" value="C11" checked="checked">
                    <span class="extra_info_checkbox_label">Anda harus menyetujui <a href='/content.php?action=ca_agreement' target="_blank">Perjanjian Pendaftaran Nama Domain .CA</a> untuk melanjutkan Pendaftaran Domain .CA. Jika Anda tidak setuju, Anda tidak akan dapat mendaftarkan nama domain .CA tersebut.</span>
                </div>

                <div class="ui-space"></div>

                <!--<div style="padding-left:160px;" >-->
                    <!--<button class="uiButton" id="save_details" type="submit" onclick="save_cpr_details();return false;"><span><span>Simpan Rincian</span></span></button>-->
                <!--</div>-->

            </form>
        </div>

</div>

</div>

<script type="text/javascript">
    $('#submit_extra_details_button').click(function (){
        $(this).html('Memroses...');
        $.ajax({
            type: "POST",
            url: "contacts.php",
            dataType: 'json',
            data: "action=associate_additional_details"+"&"+$("#cacontactdetails").serialize(),
            success: function(response){
                if(response.status == 'success'){
                    additional_details_saved();
                } else {
                    show_newcheckout_form_errors(response);
                }
            }
        });
    });
</script>