<div class="row-white newcheckoutform">

    <div id="cn_details">
        <h3 class="ui-heading2">Rincian tambahan untuk Domain .CN </h3>
        <div class="ui-space"></div>
        <div class="frmContainer">
            <form name="cn_additional_details" id="cn_additional_details">
                <div class="error" id="contact_show_error" style="display:none">Galat:
                    <div id="contact_error_lists"></div>
                </div>
                <input type="hidden" name="domain_name">
                <input type="hidden" name="contact_id">
                <input type="hidden" name="contacttype" value="<#tag:contacttype /#>">
                <input type="hidden" name="contactof" value="<#tag:contactof /#>">

                <div class="fieldwrp">
                    <label class="frm-label extra_info_label">Apakah domain-nya di-host di Cina?<span class="required">*</span></label>
                    <div class="lfloat" style="margin-top:5px;">
                        <input class="frm-radio" type="radio" name="cnhosting" value="yes" id="hosting-china-yes"> <label style="font-size: 13px; color: #555; display:inline; float:none;" for="hosting-china-yes">Ya</label></span>&nbsp;&nbsp;
                        <input class="frm-radio" type="radio" name="cnhosting" value="no" id="hosting-china-no" checked> <label style="font-size: 13px; color: #555;  display:inline; float:none;" for="hosting-china-no">Tidak</label>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="note-wrp" id="cnhosting_yes_note" style="display: none;">
                    <input type="checkbox" name="cnhostingclause" value="yes"/>&nbsp;&nbsp;<span class="extra_info_checkbox_label">Saya menyatakan bahwa saya akan menyerahkan no. ICP MIIT untuk nama domain .CN, jika mereka di-host pada server di Cina Daratan. Saya menerima tanggung jawab penuh atas segala akibat yang disebabkan oleh pelanggaran komitmen ini.</span>
                </div>

                <div class="note-wrp" id="cnhosting_no_note">
                    <input type="checkbox" name="cnhostingclause" value="yes"/>&nbsp;&nbsp;<span class="extra_info_checkbox_label">Saya menyatakan bahwa saya tidak akan meng-hosting nama domain saya pada server di Cina Daratan. Saya menerima tanggung jawab penuh atas segala akibat yang disebabkan oleh pelanggaran komitmen ini.</span>
                </div>

                <div class="note-wrp">
                    <b><span class="ic-note"></span>Catatan:</b>
                    Informasi ini akan diterapkan ke semua domain .CN sedang dalam keranjang Anda.
                </div>

                <div class="ui-space"></div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function(){
        $('#submit_extra_details_button').click(function(){
            cninfo = $("#cn_additional_details").serialize();
            $(this).html('Memroses...');
            $.ajax({
                type:"POST",
                url:"contacts.php",
                data:"action=associate_additional_details&" + cninfo,
                dataType:'json',
                success:function (response) {
                    if (response.status === 'success') {
                        additional_details_saved();
                    }
                    else {
                        show_newcheckout_form_errors(response);
                    }
                }
            });
        });

        $('input[name="cnhosting"]').on('change',function(){
            if($(this).val() == 'yes'){
                $('#cnhosting_yes_note').show();
                $('#cnhosting_no_note').hide();
            } else {
                $('#cnhosting_yes_note').hide();
                $('#cnhosting_no_note').show();
            }
        });
    });
</script>