<#if:show_coop_contacts#>
<div class="div-spacer"></div>
<h4>Kontak .COOP </h4>

<table cellpadding="0" cellspacing="0" class="data-form" width="96%">
	<tr>
		<td width="37%" align="right">
			<label class="frm-label" for="name On Card"><strong>Pemilik</strong><br>(Kontak Pendaftar)</label>
		</td>
		<td width="2%" class="required">*</td>
		<td width="62%" > 
			<input type="hidden" name="coopregcontact" value="<#tag:coopregcontact /#>">
			<input class="<#tag:coop_css /#>" readonly size="27%" type="text" name="coopregcontact_text" value="<#tag:coopregcontact_text /#>"> <a href="javascript:void(0);"onClick=window.open("http://<#tag:hosturl /#>/domain.php?action=show_contact&type=CoopContact&contactof=registrant","Ratting","width=700,height=370,left=150,top=100,toolbar=0,status=0,scrollbars=yes,resizable=yes");> Edit <img src="/getImage.php?src=popup-icon.gif" border="0" alt="Opens a New Window"></a>
		</td>
	</tr>
	<tr>
		<td colspan="3">
		<div class="note-wrp" id="use_same_coop">
			<strong><span class="ic-note"></span>Note:</strong> <p> Kami akan menggunakan informasi Pemilik (Pendaftar) Anda sebagai kontak Teknis, Penagihan, dan Admin Anda. Atau,  <a href="javascript:show_other_coopcontact('collapse_coop_contact');"><u> Klik di sini untuk mengedit ini sekarang</u></a>.</p>
		</div>
		<div class="note-wrp" id="use_diff_coop" style="display: none;">
			<strong><span class="ic-note"></span>Note:</strong> <p> Anda dapat memodifikasi kontak Teknis, Penagihan, dan Admin Anda di bawah ini ATAU
			<a href="javascript:show_other_coopcontact('collapse_coop_contact');"><u>gunakan yang sama seperti Pemilik (Di atas)</u></a>.</p>
		</div>
		</td>
	</tr>
</table>

<div id="collapse_coop_contact" style="display: none;">
	<table cellpadding="0" cellspacing="0" class="dataTable" width="96%">
		<tr> 
			<td width="19%" class="frmLabel"><label class="frm-label" for="Card Number">Kontak Admin </label></td>
			<td width="1%" class="required">*</td>
			<td width="80%">
			<input type="hidden" name="coopadmincontact" value="<#tag:coopadmincontact /#>">
			<input class="<#tag:coop_css /#> frm-dis" readonly size="27%" type="text" name="coopadmincontact_text" value="<#tag:coopadmincontact_text /#>"> <a href="javascript:void(0);"onClick=window.open("http://<#tag:hosturl /#>/domain.php?action=show_contact&type=CoopContact&contactof=admin","Ratting","width=700,height=370,left=150,top=100,toolbar=0,status=0,scrollbars=yes,resizable=yes");> Mengedit <img src="/getImage.php?src=popup-icon.gif" border="0" alt="Membuka Jendela Baru"></a>
			</td>
		</tr>
		<tr> 
			<td width="19%" class="frmLabel">
			<label class="frm-label" for="Card Tyle">Kontak Teknis</label>
			</td>
			<td width="1%" class="required">*</td>
			<td width="80%">
			<input type="hidden" name="cooptechcontact" value="<#tag:cooptechcontact /#>">
			<input  class="<#tag:coop_css /#> frm-dis" readonly size="27%" type="text" name="cooptechcontact_text" value="<#tag:cooptechcontact_text /#>"> <a href="javascript:void(0);"onClick=window.open("http://<#tag:hosturl /#>/domain.php?action=show_contact&type=CoopContact&contactof=technical","Ratting","width=700,height=370,left=150,top=100,toolbar=0,status=0,scrollbars=yes,resizable=yes");> Mengedit <img src="/getImage.php?src=popup-icon.gif" border="0" alt="Membuka Jendela Baru"></a>
			</td>
		</tr>
		<tr> 
			<td width="19%" class="frmLabel"><label for="exp date">Kontak Penagihan</label></td>
			<td width="1%" class="required">*</td>
			<td width="80%">
			<input type="hidden" name="coopbillcontact" value="<#tag:coopbillcontact /#>">
			<input class="<#tag:coop_css /#> frm-dis" readonly size="27%" type="text" name="coopbillcontact_text" value="<#tag:coopbillcontact_text /#>"> <a href="javascript:void(0);"onClick=window.open("http://<#tag:hosturl /#>/domain.php?action=show_contact&type=CoopContact&contactof=bill","Ratting","width=700,height=370,left=150,top=100,toolbar=0,status=0,scrollbars=yes,resizable=yes");> Mengedit <img src="/getImage.php?src=popup-icon.gif" border="0" alt="Membuka Jendela Baru"></a>
			</td>
		</tr>
	</table>
</div>
<#/if:show_coop_contacts#>