<script src="/ui/supersite/en/js/dotasia.js" type="text/javascript"></script>

<div class="newcheckoutform frmContainer">
<form name="dotasia_contact_detail_frm"  method="post">

    <input type="hidden" name="associate_ced_contacts" value="true" id="associate_ced_contacts">

    <h3 class="ui-heading2">Formulir Aplikasi .ASIA </h3>
        <span class="tooltip" style="position: relative; top: -22px; left: 202px;">
            <img  src="/getImage.php?src=ico-help.gif" style="vertical-align:bottom;">
            <span class="classic" style="width:420px; left:-120px; top:-110px;">
            <ul>
                <li>Agar memenuhi syarat untuk mengajukan permohonan nama domain .ASIA, Anda harus menyertakan Kontak Domain yang merupakan badan resmi di Komunitas DotAsia.</li>
                <li>Kontak CED yang ditunjuk harus memberikan informasi tambahan untuk membuat deklarasi yang menyatakan bahwa itu adalah badan hukum dalam Komunitas DotAsia</li>
                <li>Rincian yang Anda masukkan di sini harus terhubung dengan kontak pendaftar</li>
                <li><Untuk keterangan lebih rinci silakan baca  <b><a href='/content.php?action=faq&requestfor=asia'>PU .ASIA</a></b></li>
            </ul>
         <div class="tooltip_img" style="left:150px"></div>
         </span>
        </span>

    <div class="error" id="contact_show_error" style="display:none">Galat:
        <div id="contact_error_lists"></div>
    </div>

                    <input type="hidden" id="domain_name" name="domain_name"/>
                    <div class="frmSectionContent">

                        <#if:show_CED_option#>
                        <div class="fieldwrp">
                                    <label class="extra_info_label">Kelayakan CED <span class="required">*</span><br><br></label>
                                    <input type="radio" name="ced_type" value="default" onClick="choose_ced_type(this.value);" id="default_CED">&nbsp;&nbsp;<span class="extra_info_checkbox_label">Saya tidak memenuhi persyaratan CED. Berikan saya Kontak CED.</span>
                                    <div id="default_ced_type_div" style="display: none;" class="note-wrp">
                                            Kontak Pendaftar yang Anda sebutkan akan digantikan oleh kontak ini.
                                            Untuk rincian lebih lanjut silakan baca <b><a href="/content.php?action=faq&requestfor=asia" target="_blank">PU .ASIA</a></b>.
                                    </div>
                                    <br>
                                    <input type="radio" name="ced_type" value="customers"  onClick="choose_ced_type(this.value);" id="customer_CED" checked>&nbsp;&nbsp;<span class="extra_info_checkbox_label">Saya memenuhi persyaratan CED.</span>
                        </div>
                        <#/if:show_CED_option#>

                        <select name="asia_ced_contact_type" class="frm-select extra_info_select" style="display: none;"><option value="registrantcontactid" selected="selected"></option></select>
                        <!--<div id="ced_type_div" class="fieldwrp">-->
                            <!--<label class="frm-label">Pilih Kontak CED-->
                            <!--<span class="required">*</span>-->
                            <!--</label>-->
                            <!--<select class="frm-select" name="asia_ced_contact_type" size="1" onChange="check_ced_contact_association(this.value);" id="asia_ced_contact_type" >-->
                                <!--<option value="registrantcontactid">Pendaftar</option>-->
                                <!--<option value="technicalcontactid">Teknikal</option>-->
                                <!--<option value="admincontactid">Administratif</option>-->
                                <!--<option value="billingcontactid">Penagihan</option>-->
                            <!--</select>-->
                        <!--</div>-->
                    <div id="further_asia_details">
                        <div id="ced_contact" class="fieldwrp">
                            <label class="extra_info_label">Bentuk Lokalitas
                            <span class="required">*</span></label>
                            <select class="frm-select extra_info_select" name="asia_ced_locality" id="asia_ced_locality">
                                <option value="">Pilih negara</option>
                                <option value="AF">Afghanistan</option>
                                <option value="AQ">Antarctica</option>
                                <option value="AM">Armenia</option>
                                <option value="AU">Australia</option>
                                <option value="AZ">Azerbaijan</option>
                                <option value="BH">Bahrain</option>
                                <option value="BD">Bangladesh</option>
                                <option value="BT">Bhutan</option>
                                <option value="BN">Brunei Darussalam</option>
                                <option value="KH">Cambodia</option>
                                <option value="CN">China</option>
                                <option value="CX">Christmas Island</option>
                                <option value="CC">Cocos (Keeling) Islands</option>
                                <option value="CK">Cook Islands</option>
                                <option value="CY">Cyprus</option>
                                <option value="FJ">Fiji</option>
                                <option value="GE">Georgia</option>
                                <option value="HM">Heard Island and McDonald Islands</option>
                                <option value="HK">Hong Kong</option>
                                <option selected="true" value="IN">India</option>
                                <option value="ID">Indonesia</option>
                                <option value="IR">Iran, Islamic Republic of</option>
                                <option value="IQ">Iraq</option>
                                <option value="IL">Israel</option>
                                <option value="JP">Japan</option>
                                <option value="JO">Jordan</option>
                                <option value="KZ">Kazakhstan</option>
                                <option value="KI">Kiribati</option>
                                <option value="KP">Korea, Democratic People's Republic of</option>
                                <option value="KR">Korea, Republic of</option>
                                <option value="KW">Kuwait</option>
                                <option value="KG">Kyrgyzstan</option>
                                <option value="LA">Lao People's Democratic Republic</option>
                                <option value="LB">Lebanon</option>
                                <option value="MO">Macao</option>
                                <option value="MY">Malaysia</option>
                                <option value="MV">Maldives</option>
                                <option value="MH">Marshall Islands</option>
                                <option value="FM">Micronesia, Federated States of</option>
                                <option value="MN">Mongolia</option>
                                <option value="MM">Myanmar</option>
                                <option value="NR">Nauru</option>
                                <option value="NP">Nepal</option>
                                <option value="NZ">New Zealand</option>
                                <option value="NU">Niue</option>
                                <option value="NF">Norfolk Island</option>
                                <option value="OM">Oman</option>
                                <option value="PK">Pakistan</option>
                                <option value="PW">Palau</option>
                                <option value="PS">Palestinian Territories</option>
                                <option value="PG">Papua New Guinea</option>
                                <option value="PH">Philippines</option>
                                <option value="QA">Qatar</option>
                                <option value="WS">Samoa</option>
                                <option value="SA">Saudi Arabia</option>
                                <option value="SG">Singapore</option>
                                <option value="SB">Solomon Islands</option>
                                <option value="LK">Sri Lanka</option>
                                <option value="SY">Syrian Arab Republic</option>
                                <option value="TW">Taiwan</option>
                                <option value="TJ">Tajikistan</option>
                                <option value="TH">Thailand</option>
                                <option value="TL">Timor-Leste</option>
                                <option value="TK">Tokelau</option>
                                <option value="TO">Tonga</option>
                                <option value="TR">Turkey</option>
                                <option value="TM">Turkmenistan</option>
                                <option value="TV">Tuvalu</option>
                                <option value="AE">United Arab Emirates</option>
                                <option value="UZ">Uzbekistan</option>
                                <option value="VU">Vanuatu</option>
                                <option value="VN">Viet Nam</option>
                                <option value="YE">Yemen</option>
                            </select>
                        </div>

                         <div class="fieldwrp">
                            <label class="extra_info_label">Bentuk Badan Usaha
                            <span class="required">*</span></label>
                            <select class="frm-select extra_info_select" name="asia_ced_legal_entity" size="1" onchange="show_ced_entity();" id="asia_ced_legal_entity">
                                <option value="naturalPerson">Perorangan</option>
                                <option value="corporation">Korporasi</option>
                                <option value="cooperative">Kooperatif</option>
                                <option value="partnership">Rekanan</option>
                                <option value="government">Pemerintah</option>
                                <option value="politicalParty">Partai Politik</option>
                                <option value="society">Perhimpunan </option>
                                <option value="institution">Institusi</option>
                                <option value="other">Lainnya</option>
                            </select>
                        </div>

                        <div id="row_ced_entity" style="display:none" class="fieldwrp">
                            <label class="extra_info_label">Bentuk Badan Usaha lainnya
                            <span class="required">*</span></label>
                            <input type="text" name="asia_ced_legal_entity_other" id="asia_ced_legal_entity_other" class="frm-field extra_info_input">
                        </div>

                        <div class="fieldwrp">
                            <label class="extra_info_label">Bentuk Identifikasi
                            <span class="required">*</span></label>
                            <select class="frm-select extra_info_select" name="asia_ced_identification" id="asia_ced_identification" size="1" onchange="show_ced_id();">
                                <option value="passport">Passport atau Identitas Kewarganegaraan</option>
                                <option value="certificate">Akte pendirian perusahaan atau yang setara dengannya</option>
                                <option value="legislation">UU pembentukan badan, dekrit atau peraturan perundang-undangan</option>
                                <option value="societyRegistry">Pendaftaran Perhimpunan atau yang setara dengannya</option>
                                <option value="politicalPartyRegistry">Pendaftaran Partai Politik</option>
                                <option value="other">Lainnya</option>
                            </select>
                        </div>

                        <div id="row_ced_identification" style="display:none" class="fieldwrp">
                            <label class="extra_info_label">Bentuk Identifikasi lainnya
                            <span class="required">*</span></label>
                            <input type="text" name="asia_ced_identification_other" id="asia_ced_identification_other" class="frm-field extra_info_input">
                        </div>

                        <div class="fieldwrp">
                            <label class="extra_info_label"> Nomor Identifikasi
                            <span class="required">*</span></label>
                            <input type="text" name="asia_ced_identification_number" id="asia_ced_identification_number" class="frm-field extra_info_input"/>
                        </div>
                    </div>
                    </form>

                    <div class="note-wrp">
                        <b><span class="ic-note"></span>Note:</b>
                        Informasi ini akan diterapkan untuk semua domain .ASIA yang saat ini berada dalam keranjang Anda.
                    </div>
                        <div class="ui-space"></div>
</div>
<script>
    $('#submit_extra_details_button').click(function(){
        if( ($('input[name=ced_type]:checked').val() != 'default') && ($('input[name="asia_ced_identification_number"]').val() == "") ){
            $('#contact_show_error').show();
            $('#contact_error_lists').append('<li>Nomor Identifikasi tidak boleh kosong</li>');
            return false;
        }
        else {
            var data_hash = $('form[name="dotasia_contact_detail_frm"]').serialize();
            data_hash += "&redirect=false&action=associate_additional_details";
            $(this).html('Memroses...');
            $.ajax({
                url:'contacts.php',
                data: data_hash,
                type:'POST',
                dataType: 'json',
                success: function(response){
                    if (response.status === 'success') {
                        additional_details_saved();
                    }
                    else {
                        show_newcheckout_form_errors(response);
                    }
                }
            });
        }
    });
</script>
<!--<script type="text/javascript">-->
    <!--check_ced_contact_association(document.dotasia_contact_detail_frm.asia_ced_contact_type.value);-->
<!--</script>-->