<div id="dotau_contact_detail_frm">
    <input type="hidden" name="domain_name">
    <input type="hidden" name="contact_id">
    <input type="hidden" name="from_au_page" value="dotau">
    <div class="newcheckoutform frmContainer">

        <!-- Main Content ------------------------------------------------------>
        <h3 class="ui-heading2">Rincian tambahan untuk domain .AU </h3>

        <span class="tooltip" style="position: relative; top: -22px; left: 294px;"><img  src="/getImage.php?src=ico-help.gif" style="vertical-align:bottom;"/>
            <span class="classic" style="width:420px; left:-200px; top:-110px;">
                <ul>
                    <li>
                        Jika Anda memiliki Nomor Bisnis atau Merek Dagang VIC, NSW, SA, NT, WA, TAS, ACT, QLD, Anda harus memasukkan nama Pemiliknya di kolom Nama Pendaftar. Pemilik harus berupa individu.
                    </li>
                    <li>
                        Agar memenuhi syarat untuk nama .AU, Anda harus memasukkan rincian sebagai berikut sesuai dengan aturan Registri .AU.
                    </li>
                    <li>
                        Untuk rincian lebih lanjut silakan baca <b>
                        <a target="_new" href="http://<#tag:brandedurl /#>/kb/answer/1249#contact">.AU FAQ</a></b>.
                    </li>
                </ul>
                <div class="tooltip_img" style="left:250px"></div>
            </span>
        </span>

        <div class="error" id="contact_show_error" style="display:none">Error(s):
            <div id="contact_error_lists"></div>
        </div>

        <div class="myForm"></div>

        <div id="eligibility" style="display: block">

            <div class="fieldwrp">
                <label class="extra_info_label">Tipe ID Kelayakan <span class="required">*</span></label>
                <select name="eligibility_type" id="eligibility_type" class="frm-select extra_info_select">
                    <option value="ACN">Australian Company Number (ACN)</option>
                    <option value="ABN">Australian Business Number (ABN)</option>
                    <option value="VIC BN">Victoria Business Number (VIC BN)</option>
                    <option value="NSW BN">New South Wales Business Number (NSW BN)</option>
                    <option value="SA BN">South Australia Business Number (SA BN)</option>
                    <option value="NT BN">Northern Territory Business Number (NT BN)</option>
                    <option value="WA BN">Western Australia Business Number (WA BN)</option>
                    <option value="TAS BN">Tasmania Business Number (TAS BN)</option>
                    <option value="ACT BN">Australian Capital Territory Business Number (ACT BN)</option>
                    <option value="QLD BN">Queensland Business Number (QLD BN)</option>
                    <option value="TM">Trademark</option>
                    <option value="ARBN">Australian Registered Body Number (ARBN)</option>
                    <option value="OTHER">Other</option>
                </select>
            </div>

            <div class="fieldwrp">
                <label class="extra_info_label">ID Kelayakan<span class="required">*</span><br><br></label>
                <input class="frm-field extra_info_input" type="text" name="eligibility_id" id="eligibility_id">
                <div id="eligibility_btn_id" style="display: inline-block; "><input style="font:normal 13px Arial, Helvetica, sans-serif; padding:5px 7px; margin-top: 10px;" class="uiButton" type="button" id="fetch_eligibility_btn" value="Confirm Eligibility"></div>
                <img id="eloader" src="getImage.php?src=waiting.gif" style="display: none">
            </div>

            <div class="fieldwrp">
                <label class="extra_info_label">Tipe Badan Usaha</label>
                <input class="frm-dis" type="text" name="eligibility_criteria_other" id="eligibility_criteria" readonly="">
                <div id="eligibility_criteria_id" style="display:none;">
                    <select name="eligibility_criteria" class="frm-select extra_info_select">
                        <option value="Pending TM Owner">Pemilik TM Tertunda</option>
                        <option value="Trademark Owner">Pemilik Merek Dagang</option>
                    </select>
                </div>
            </div>

            <div class="fieldwrp">
                <label class="extra_info_label">Nama Kelayakan<span class="required">*</span></label>
                <input class="frm-field extra_info_input" type="text" name="eligibility_name" id="eligibility_name_id">
            </div>

            <div class="fieldwrp">
                <label class="extra_info_label">Nama Pendaftar<span class="required">*</span></label>
                <input class="frm-dis" type="text" name="registrant_name" id="registrant_name_id" readonly="">
            </div>

            <div class="fieldwrp">
                <label class="extra_info_label">Alasan Kelayakan<span class="required">*</span><br><br><br><br><br></label>
                <input type="radio" name="policy_reason" value="1">
                <span style="font-size: 12px; color: #555; line-height:1.6;">Nama domain adalah Sama Persis ATAU Kependekan ATAU Akronim dari Badan atau Nama Dagang Anda.</span><br>
                <input type="radio" name="policy_reason" id="policy_reason_2" value="2" checked="">
                <span style="font-size: 12px; color: #555;line-height:1.6;">Hubungan yang dekat dan substansial antara nama domain dan operasi dari Badan Usaha Anda.</span>
            </div>

            <div class="fieldwrp">
                <input type="checkbox" checked="true" id="is_au_warranty" name="isAUWarranty">
                <span class="extra_info_checkbox_label">Dengan mengirimkan aplikasi ini, saya menegaskan bahwa semua informasi yang diberikan dalam aplikasi ini adalah benar.</span>
            </div>

            <div class="note-wrp">
                <b><span class="ic-note"></span>Note:</b>
                Informasi ini akan diterapkan untuk semua domain .AU yang saat ini berada dalam keranjang Anda.
            </div>

            <div class="ui-space"></div>
        </div>

        <div class="myFormEnds"></div>

</div>
<script src="/ui/supersite/en/js/dotau_extra_info.js" type="text/javascript"></script>