<div class="newcheckoutform frmContainer">
    <form name="dotlawyer_contact_detail_frm"  method="post">
        <input type="hidden" id="domain_name" name="domain_name"/>
        <h3 class="ui-heading2">.<#tag:tld_name /#> persyaratan</h3>
        <div class="error" id="contact_show_error" style="display:none">Kesalahan:
            <div id="contact_error_lists"></div>
        </div>
        <br>
        <span>
            Masukkan badan pengawas yang Anda berhubungan dengan bawah. (Perhatikan bahwa informasi ini akan berlaku untuk semua domain .LAWYER saat ini dalam keranjang Anda.)
        </span>
        <br><br>
        <div class="frmSectionContent">
            <div class="fieldwrp">
                <input type="text" name="regulatory_body" id="regulatory_body" class="frm-field extra_info_input"/>
            </div>
            <span>contoh."New York State Bar Association", "Legal Ombudsman UK", dll. jika tidak ada, isikan "N/A"</span>
        </div>
    </form>
    <div class="ui-space"></div>
</div>
<script>
    $('#submit_extra_details_button').click(function(){
        if( $('input[name="regulatory_body"]').val() == "" ){
            $('#contact_show_error').show();
            $('#contact_error_lists').append('<li>Badan Regulasi tidak boleh kosong</li>');
            return false;
        }
        else {
            var data_hash = $('form[name="dotlawyer_contact_detail_frm"]').serialize();
            data_hash += "&action=associate_additional_details";
            $(this).html('Sedang memproses...');
            $.ajax({
                url:'contacts.php',
                data: data_hash,
                type:'POST',
                dataType: 'json',
                success: function(response){
                    if (response.status === 'success') {
                        additional_details_saved();
                    }
                    else {
                        show_newcheckout_form_errors(response);
                    }
                }
            });
        }
    });
</script>