<div class="row-white newcheckoutform">
  <div class="frmContainer">
      <input type="hidden" name="domain_name">
      <input type="hidden" name="contact_id">

      <h3 class="ui-heading2">Rincian tambahan untuk domain .PRO </h3>
      <span class="tooltip" style="position: relative; top: -22px; left: 305px;"><img  src="/getImage.php?src=ico-help.gif" style="vertical-align:bottom;">
        <span class="classic" style="width:420px; left:-200px; top:-69px;">
            <ul>
                <li>Sebagai bagian dari proses audit mereka,.Registry PRO dapat meminta untuk rincian tentang lisensi terotentikasi profesional Anda. Silakan baca <a href="http://registry.pro/legal/user-terms" target="_blank">http://registry.pro/legal/user-terms</a> untuk rinciannya.</li>
            </ul>
            <div class="tooltip_img" style="left:250px"></div>
        </span>
      </span>

      <div class="error" id="contact_show_error" style="display:none;">
          <div id="contact_error_lists"></div>
      </div>

      <div class="fieldwrp">
          <label class="extra_info_label">
              Profesi <span class="required">*</span>
          </label>

        <select class="frm-select extra_info_select" name="profession" id="profession">
            <option value="Acupuncturists">Akupunkturis</option>
            <option value="Allied Health Professionals">Profesional Kesehatan Beraliansi</option>
            <option value="Ambulance Services">Layanan Ambulans</option>
            <option value="Architects">Arsitek</option>
            <option value="Asbestos Removal Professionals">Profesional Pembongkar Asbes</option>
            <option value="Barbers and Barber Shops">Tukang Cukur dan Salon Cukur</option>
            <option value="Certified Financial Analysts">Analis Keuangan Bersertifikat</option>
            <option value="Certified Financial Planners">Perencana Keuangan Bersertifikat</option>
            <option value="Certified Public Accountants">Akuntan Publik Bersertifikat</option>
            <option value="Check Cashers">Penukar Cek</option>
            <option value="Chiropractors">Chiropractor</option>
            <option value="Contractors, Home Improvement">Kontraktor, Pengembangan Rumah</option>
            <option value="Cosmetologists and Aestheticians">Kosmetologis dan Ahli Estetika</option>
            <option value="Debt Collectors">Penagih Hutang</option>
            <option value="Dentists and Dental Hygienists">Dokter Gigi dan Ahli Kebersihan Gigi</option>
            <option value="Dieticians and Nutritionists">Ahli Diet dan Ahli Nutrisi</option>
            <option value="Doctors">Dokter</option>
            <option value="Educators">Pengajar</option>
            <option value="Electricians">Ahli Listrik</option>
            <option value="Electrologists">Ahli Elektro</option>
            <option value="Emergency Medical Technician">Teknisi Medis Darurat</option>
            <option value="Engineers and Land Surveyors">Insinyur dan Penguji Tanah</option>
            <option value="Finance Companies">Perusahaan Keuangan</option>
            <option value="Financial Professional">Profesional Keuangan</option>
            <option value="Funeral Services">Layanan Pemakaman</option>
            <option value="Health Care">Layanan Kesehatan</option>
            <option value="Hearing Instrument Specialists">Spesialis Alat Bantu Pendengaran</option>
            <option value="Home Inspectors">Pengawas Rumah </option>
            <option value="HVAC Technicians">Teknisi HVAC</option>
            <option value="Insurance">Asuransi</option>
            <option value="Investment Advisors">Konsultan Investasi</option>
            <option value="Landscape Architects">Arsitek Lanskap</option>
            <option value="Lawyers">Pengacara</option>
            <option value="Lead Paint Inspectors">Pengawas Cat Timbal </option>
            <option value="Manufactured Building Producers">Produsen Bangunan Pabrik</option>
            <option value="Massage Therapy">Terapis Pijat</option>
            <option value="Money Transmitters">Pengirim Uang</option>
            <option value="Mortgage Lenders and Brokers">Pemberi Pinjaman dan Broker Penggadaian</option>
            <option value="Municipal Building Inspectors">Pengawas Bangunan Pemerintahan</option>
            <option value="Nurses and Nurse Aides">Perawat dan Pembantu Perawat</option>
            <option value="Nursing Home Administrators">Petugas Administrasi Rumah Perawatan</option>
            <option value="Nutritionists">Ahli Nutrisi</option>
            <option value="Opticians">Ahli Optik</option>
            <option value="Optometrists">Optometris</option>
            <option value="Perfusionist">Perfusionis</option>
            <option value="Pharmacists">Ahli Farmasi</option>
            <option value="Physical Therapists">Terapis Fisik</option>
            <option value="Physician Assistants">Asisten Dokter</option>
            <option value="Physicians">Dokter</option>
            <option value="Plumbers and Gas Fitters">Tukang Ledeng dan Gas</option>
            <option value="Podiatrists">Podiatris</option>
            <option value="Psychologists">Psikolog</option>
            <option value="Public Relations">Humas</option>
            <option value="Radio and TV Technicians">Teknisi Radio dan TV</option>
            <option value="Real Estate">Perumahan</option>
            <option value="Real Estate Appraisers">Penaksir Perumahan</option>
            <option value="Respiratory Therapists">Terapis Pernafasan</option>
            <option value="Sanitarians">Ahli Sanitari</option>
            <option value="Social Workers">Pekerja Sosial</option>
            <option value="Speech Pathologists and Audiologists">Ahli Patologi and Audiologi Bicara</option>
            <option value="Veterinarians">Dokter Hewan</option>
            <option value="Water plant operator">Operator Pembangkit Tenaga Air</option>
            <option value="X-Ray Technicians">Teknisi Sinar-X</option>
            <option value="Internet professional">Profesional Internet</option>
            <option value="Medical professional">Profesional Medis</option>
            <option value="Legal professional">Profesional Hukum</option>
            <option value="Other">Lainnya</option>
        </select>
      </div>

      <div class="fieldwrp" id="other_profession" style="display: none;">
          <label class="extra_info_label">
            Profesi Lainnya<span class="required">*</span>
          </label>
          <input type="text" name="other_profession" id="other_profession_txt" class="frm-field extra_info_input">
      </div>

    <div class="ui-space"></div>
  </div>
</div>
</div>

<script type="text/javascript">
    $('#submit_extra_details_button').click(function(){

        var profession = $('#profession').val(),
            other_profession = $('#other_profession_txt').val(),
            contact_id = $('input[name=contact_id]').val(),
            domain_name = $('input[name=domain_name]').val();
      if(profession == 'Other')
      {
        if(other_profession == ''){
            $("#contact_list_error").html('Masukkan profesi lainnya');
            return;
        } else {
            profession = other_profession;
        }
      }
      $(this).html('Memroses...');
        $.ajax({
        'url': 'contacts.php',
        'type': 'POST',
        'dataType':'json',
        'data': {'action':'associate_additional_details', 'contact_id': contact_id, 'profession' : profession, 'domain_name' : domain_name},
        success: function(response) {
            if (response.status === 'success') {
                additional_details_saved();
            }
            else {
                show_newcheckout_form_errors(response);
            }
        }
        });
    });

$("#profession").change(function(){
        if($(this).val() == 'Other')
        {
            $("#other_profession").show();
        }
        else
        {
            $("#other_profession").hide();
        }
});
</script>