<div class="row-white newcheckoutform">

<!-- Show ES IDENTIFICATION DETAILS Block -->
<div id="es_details">
        <h3 class="ui-heading2">Rincian tambahan untuk Domain .ES </h3>
        <div class="error" id="contact_show_error" style="display:none">Galat:
            <div id="contact_error_lists"></div>
        </div>

    <div class="ui-space"></div>
    <div class="frmContainer">
        <form name="es_identification_details" id="es_identification_details">
            <input type="hidden" name="domain_name">
            <input type="hidden" name="contact_id">
            <input type="hidden" name="contacttype" value="<#tag:contacttype /#>">
            <input type="hidden" name="contactof" value="<#tag:contactof /#>">
            <div class="fieldwrp">
                <label class="extra_info_label">
                    Tipe identifikasi <span class="required">*</span>
                </label>
                <select name="es_tipo_identificacion"  class="frm-select extra_info_select">
                    <option value="0">ID lainnya</option>
                    <option value="1">DNI dan NIF</option>
                    <option value="3">NIE</option>
                </select>
            </div>

            <div class="fieldwrp">
                <label class="extra_info_label">
                    Nomor Identifikasi<span class="required">*</span>
                </label>
                <input class="frm-field extra_info_input" type="text" name="es_identificacion"/>
            </div>

            <div class="fieldwrp">
                <label class="extra_info_label">
                    Jenis Badan Usaha <span class="required">*</span>
                </label>
                <select name="es_form_juridica" class="frm-select extra_info_select">
                    <#loop:es_entities#>
                        <option value="<#tag:es_entities[].key /#>"><#tag:es_entities[].value /#></option>
                        <#/loop:es_entities#>
                </select>
            </div>

            <div class="ui-space"></div>
        </form>
    </div>
</div>

</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('#submit_extra_details_button').click(function(){
            if($('#es_identificacion').val() == ""){
                $('#contact_show_error').show();
                $('#contact_error_lists').append('<li>Nomor Identifikasi tidak boleh kosong</li>');
                return false;
            }
            $(this).text('Sedang Memproses...');
            $.ajax({
                type:"POST",
                url:"contacts.php",
                data:"action=associate_additional_details&" + $("#es_identification_details").serialize(),
                dataType:'json',
                success:function (response) {
                    if (response.status === 'success') {
                        additional_details_saved();
                    }
                    else {
                        show_newcheckout_form_errors(response);
                    }
                }
            });
            return false;
        });
    });

</script>