<div class="row-white newcheckoutform">
  <div class="frmContainer">
     <form>

      <input type="hidden" name="domain_name">
      <input type="hidden" name="action" value="associate_nexus">
      <input type="hidden" name="contact_id" value="<#tag:contact_id /#>">
      <h3 class="ui-heading2">Rincian tambahan untuk Domain .AS </h3>

     <div class="error" id="contact_show_error" style="display:none">Error(s):
         <div id="contact_error_lists"></div>
     </div>

      <div id="eligibility" style="display: block">
      <div class="ui-space"></div>
      <div class="fieldwrp">
        <label class="extra_info_label">Tujuan Aplikasi <span class="required">*</span></label>
        <select class="frm-select extra_info_select" name="purpose">
          <option value="P1">
              Tujuan bisnis untuk profit
          </option>
          <option value="P2">
            Bisnis non-profit, klub, asosiasi, organisasi keagamaan, dll
          </option>
          <option value="P3">
            Penggunaan pribadi
          </option>
          <option value="P4">
            Tujuan pendidikan 
          </option>
          <option value="P5">
            Tujuan pemerintahan
          </option>
        </select>
      </div>

       <div class="fieldwrp">
          <label class="extra_info_label">Anda adalah<span class="required">*</span></label>
          <select class="frm-select extra_info_select" name="category">
              <option value="C11" selected="selected">
                  Seorang biasa yang merupakan warga negara Amerika Serikat
              </option>
              <option value="C12">
                  Seorang biasa yang merupakan penduduk permanen dari Amerika Serikat, atau daerah kepemilikannya atau wilayahnya yang manapun
              </option>
              <option value="C21">
                  Organisasi atau perusahaan yang berbasis di AS
              </option>
              <option value="C31">
                  Organisasi atau badan asing
              </option>
              <option value="C32">
                  Suatu badan yang memiliki kantor atau fasilitas lainnya di dalam wilayah Amerika Serikat
              </option>
          </select>
      </div>

          <div class="ui-space"></div>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
            $('#submit_extra_details_button').click(function(){
                $(this).html("Memroses...");
                var purpose = $('select[name=purpose]').val(),
                    category = $('select[name=category]').val(),
                    contact_id = $('input[name=contact_id]').val(),
                    domain_name = $('input[name=domain_name]').val();
                if( (typeof domain_name === 'undefined') || domain_name == ''){
                    domain_name = active_domain;
                }
                $.ajax({
                url: 'contacts.php',
                type: "POST",
                dataType: "json",
                data: {'action':'associate_additional_details', 'contact_id': contact_id, 'purpose':purpose, 'category':category, 'domain_name': domain_name },
                success: function(response) {
                    if(response.status == 'success'){
                        additional_details_saved();
                    } else {
                        show_newcheckout_form_errors(response);
                    }
                }
                });
            });
    });
</script>