<div class="row-white newcheckoutform frmContent">

    <!-- Show NL Extra Details Block -->
    <div id="nl_details">
        <h3 class="ui-heading2">Rincian tambahan untuk Domain .NL</h3>
        <div class="error" id="contact_show_error" style="display:none">Galat:
            <div id="contact_error_lists"></div>
        </div>

        <div class="ui-space"></div>
        <div class="frmContainer">
            <form name="nl_additional_details" id="nl_additional_details">
                <input type="hidden" name="domain_name">
                <input type="hidden" name="contact_id">
                <input type="hidden" name="contacttype" value="<#tag:contacttype /#>">
                <input type="hidden" name="contactof" value="<#tag:contactof /#>">

                    <div class="fieldwrp">
                        <label class="extra_info_label"> Bentuk Hukum<span class="required">*</span></label>
                        <input name="legalForm" type="radio" value="PERSOON" checked="checked" /><span class="extra_info_checkbox_label">PERSOON</span>
                        <input name="legalForm" type="radio" value="ANDERS"/><span class="extra_info_checkbox_label">ANDERS</span>
                    </div>

                    <div class="ui-space"></div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function(){
        $('#submit_extra_details_button').click(function(){
            nlinfo = $("#nl_additional_details").serialize();
            $(this).html("Memroses...");
            $.ajax({
                type:"POST",
                url:"contacts.php",
                data:"action=associate_additional_details&" + nlinfo,
                dataType:'json',
                success:function (response) {
                    if (response.status === 'success') {
                        additional_details_saved();
                    }
                    else {
                        show_newcheckout_form_errors(response);
                    }
                }
            });
        });
    });
</script>