<div class="row-white newcheckoutform">
    <div id="ru_extra_info" class="frmContainer">
        <form name="ru_extra_info_details" id="ru_extra_info_details">
          <input type="hidden" name="domain_name">
          <input type="hidden" name="contact_id" value="<#tag:contactid /#>">
          <input type="hidden" name="contactcountry" value="<#tag:country /#>">
            <h3 class="ui-heading2">Rincian tambahan untuk Domain .RU</h3>

        <span class="tooltip"><img  src="/getImage.php?src=ico-help.gif" style="vertical-align:bottom;"/>
            <span class="classic" style="width:500px; left:-120px; top:-90px;">
                Agar memenuhi syarat untuk nama .RU, Anda harus memasukkan rincian sebagai berikut sesuai dengan pedomanregistri .RU.
                <br>
                Untuk rincian lebih lanjut silakan <b><a href="http://<#tag:brandedurl /#>/kb/answer/1336#contact">PU .RU</a></b>
            <div class="tooltip_img" style="left:250px"></div>
                </span>
        </span>

        <div class="error" id="contact_show_error" style="display:none;">
            <div id="contact_error_lists"></div>
        </div>

            <div class="fieldwrp">
                <label class="extra_info_label">Tipe Kontrak<span class="required">*</span></label>
                <select name="contract_type" class="frm-select extra_info_select" id="contract_type" size="1" onchange="change_dotru_info(this.value)">
                    <option value="ORG">
                        Organisasi
                    </option>
                    <option value="PRS">
                        Individual
                    </option>
                </select>
            </div>

            <div id="org" class="fieldwrp company_contract">
                <label class="extra_info_label">Alamat Resmi<span class="required">*</span></label>
                <input type="text" name="org_address_r" class="frm-field extra_info_input"/>
                <br>
                <span style="font-size: 13px; color: #555;">Tempat didirikan, termasuk Negara tempat Pendirian misalnya New York, U.S.A, dll.</span>
            </div>

            <div id="kpp" class="fieldwrp company_contract">
                <label class="extra_info_label">Nomor Pokok Wajib Pajak (kode)<span class="required">*</span></label>
                <input type="text" name="org_code" maxlength="10" class="frm-field extra_info_input"/>
                <span style="font-size: 13px; color: #555;">10 Digit</span>
            </div>

            <div class="fieldwrp company_contract">
                <label class="extra_info_label">Nomor Pokok Wajib Pajak Wilayah (kpp)<span class="required">*</span></label>
                <input type="text" name="org_kpp" maxlength="9" class="frm-field extra_info_input"/>
                <span style="font-size: 13px; color: #555;">9 digit</span>
            </div>

            <div class="fieldwrp company_contract">
                <label class="extra_info_label">Kendali Perusahaan Nama (org-r)<span class="required">*</span></label>
                <input type="text" name="org_r" class="frm-field extra_info_input"/>
                <span style="font-size: 13px; color: #555;">Nama Perusahaan yang terdaftar secara hukum seperti yang tercantum dalam dokumen pembentukan perusahaan - singkatan tidak diperbolehkan</span>
            </div>

            <div id="prs" class="fieldwrp individual_contract" style="display: none;">
                <label class="extra_info_label">Nama<span class="required">*</span></label>
                <input type="text" name="prs_person_r" class="frm-field extra_info_input"/>
                <span style="font-size: 13px; color: #555;">dalam Bahasa Russia, jika memungkinkan</span>
            </div>

            <div class="fieldwrp individual_contract" style="display: none;">
                <label class="extra_info_label">Informasi paspor <span class="required">*</span></label>
                <input type="text" name="prs_passport" class="frm-field extra_info_input"/>
                <span style="font-size: 13px; color: #555;">Nomor dokumen, Dikeluarkan oleh, Dikeluarkan Tanggal</span>
            </div>

            <div class="fieldwrp individual_contract" style="display: none;">
                <label class="extra_info_label">Tanggal lahir :<span class="required">*</span></label>
                <input type="text" name="prs_bod_r" class="frm-field extra_info_input"/>
                <span>DD.MM.YYYY</span>
            </div>

            <div class="note-wrp">
                <b><span class="ic-note"></span>Note:</b>
                Informasi ini akan diterapkan untuk semua domain .RU yang saat ini berada dalam keranjang Anda.
            </div>

            <div class="ui-space"></div>

        </form>
    </div>
</div>
<script type="text/javascript">
    function change_dotru_info(contract_type) {
        if (contract_type == 'ORG') {
            $('.individual_contract').hide();
            $('.company_contract').show();
        }
        else {
            $('.individual_contract').show();
            $('.company_contract').hide();
        }
    }

    $('#submit_extra_details_button').click(function () {
        $(this).html("Memroses...");
        $.ajax({
            type:"POST",
            url:"contacts.php",
            data:"action=associate_additional_details" + "&" + $("#ru_extra_info_details").serialize(),
            dataType:'json',
            success:function (response) {
                if (response.status === 'success') {
                    additional_details_saved();
                }
                else {
                    show_newcheckout_form_errors(response);
                }
            }
        });
    });
</script>