<div class="row-white newcheckoutform">
    <form name="sponsorsdetails" id="sponsorsdetails">
        <input type="hidden" name="domain_name">
        <input type="hidden" name="contact_id" value="">
        <input type="hidden" name="contacttype" value="">
        <input type="hidden" name="contactof" value="">
        <input type="hidden" name="contactname" value="">
        <input type="hidden" name="contactcompany" value="">
		<strong class="txt-m">Rincian tambahan untuk Domain .COOP</strong>

        <div class="error" id="contact_show_error" style="display:none">Galat:
            <div id="contact_error_lists"></div>
        </div>

        <span class="tooltip">
            <img  src="/getImage.php?src=ico-help.gif" style="vertical-align:bottom;">
            <span class="classic" style="width:500px; left:-120px; top:-90px;">
                 <ul> <li>Ketika mendaftar domain .coop untuk pertama kalinya, semua pendaftar harus memberikan nama dan informasi kontak dari Referensi Koperasi. Referensi Koperasi akan digunakan oleh badan Registri .Coop untuk memverifikasi bahwa Anda adalah koperasi yang memenuhi syarat.</li>
                        <li>Silahkan pilih Referensi Koperasi Anda dari daftar drop-down di bawah ini ATAU jika Referensi Koperasi yang ingin Anda gunakan tidak muncul dalam daftar drop-down, Anda boleh <strong>'Tambah Referensi Co-op baru’</strong> dan kemudian pilih kontak baru dari daftar.</li>
                    </ul>
                
                <div class="tooltip_img" style="left:250px"></div>
            </span>
    </span>

    <div class="fieldwrp">
        <label class="frm-label">
            Referensi Co-op :
        </label>
        <span class="required">*</span>
		<select class="frm-select" name="sponsor1" >
			<option value="">------------------------- Referensi Co-op -----------------------</option>
			<#loop:coopsponsor#>
				<option value="<#tag:coopsponsor[].contactid /#>"><#tag:coopsponsor[].company /#></option>
			<#/loop:coopsponsor#>
			<option value="">------------------------- Referensi Co-op Bawaan -----------------------</option>
			<#loop:coopdefault#>
				<option value="<#tag:coopdefault[].contactid /#>"><#tag:coopdefault[].company /#></option>
			<#/loop:coopdefault#>
		</select>
        <a id="sponsorhref" href="#" title="Add New Sponsor">
            <img src="/getImage.php?src=ico-add.gif" border="0" alt="Add New Sponsor" />Tambah Referensi Co-op Baru
        </a>
	</div>

</form>
</div>