<div class="row-white newcheckoutform frmContent">

    <div id="pw_details">
        <h3 class="ui-heading2">Rincian tambahan untuk Domain .PW </h3>

        <span class="tooltip" style="position: relative; top: -22px; left: 302px;">
            <img  src="/getImage.php?src=ico-help.gif" style="vertical-align:bottom;">
            <span class="classic" style="width:200px; left:-80px;">
            <ul>
                <li>Untuk rincian lebih lanjut silakan baca <b><a target="_new" href="/content.php?action=faq&requestfor=pw">PU .PW</a></b></li>
            </ul>
             <div class="tooltip_img" style="left:83px"></div>
            </span>
        </span>

        <div class="error" id="contact_show_error" style="display:none">Galat:
            <div id="contact_error_lists"></div>
        </div>

        <div class="frmContainer">
            <form name="pw_additional_details" id="pw_additional_details">
                <input type="hidden" name="domain_name">
                <input type="hidden" name="contact_id">
                <input type="hidden" name="contacttype" value="<#tag:contacttype /#>">
                <input type="hidden" name="contactof" value="<#tag:contactof /#>">
                <input type="hidden" name="add_sunrisedotpw_details" value="true">

                <div class="fieldwrp">
                    <label class="extra_info_label">Teks Kata-kata Merk Dagang<span class="required">*</span></label>
                    <input class="frm-field extra_info_input" type="text" name="tm_word_text">
                </div>

                <div class="fieldwrp">
                    <label class="extra_info_label">Nomor Registrasi Merk Dagang<span class="required">*</span></label>
                    <input class="frm-field extra_info_input" type="text" name="tm_registration_number">
                </div>

                <div class="fieldwrp">
                    <label class="extra_info_label">Tanggal Registrasi Merk Dagang (YYYY-MM-DD)<span class="required">*</span></label>
                    <input class="frm-field extra_info_input" type="text" name="tm_registration_date">
                </div>

                <div class="fieldwrp">
                    <label class="extra_info_label">Lokalitas Merk Dagang<span class="required">*</span></label>
                    <select name="tm_locality" class="frm-select extra_info_select">
                        <option value="" selected>Pilih Negara</option>
                        <#loop:country_list#>
                            <option value="<#tag:country_list[].key /#>"><#tag:country_list[].value /#></option>
                       <#/loop:country_list#>
                    </select>
                </div>

                <div class="fieldwrp">
                    <label class="extra_info_label">Hak Kepemilikan Merk Dagang<span class="required">*</span></label>
                    <select name="tm_entitlement" class="frm-select extra_info_select">
                        <option value="OWNER">PEMILIK</option>
                        <option value="ASSIGNEE">PEMBERI</option>
                        <option value="LICENSEE">PENERIMA LISENSI</option>
                    </select>
                </div>

                <div class="fieldwrp">
                    <label class="extra_info_label">Nama Pemilik Merk Dagang<span class="required">*</span></label>
                    <input class="frm-field extra_info_input" type="text" name="tm_owner_name">
                </div>

                <div class="fieldwrp">
                    <label class="extra_info_label">Nama Jalan Pemilik Merk Dagang<span class="required">*</span></label>
                    <input class="frm-field extra_info_input" type="text" name="tm_owner_street">
                </div>

                <div class="fieldwrp">
                    <label class="extra_info_label">Kota Pemilik Merk Dagang<span class="required">*</span></label>
                    <input class="frm-field extra_info_input" type="text" name="tm_owner_city">
                </div>

                <div class="fieldwrp">
                    <label class="extra_info_label">Negara Bagian Pemilik Merk Dagang<span class="required">*</span></label>
                    <input class="frm-field extra_info_input" type="text" name="tm_owner_state">
                </div>

                <div class="fieldwrp">
                    <label class="extra_info_label">Kode Pos Pemilik Merk Dagang<span class="required">*</span></label>
                    <input class="frm-field extra_info_input" type="text" name="tm_owner_postal_code">
                </div>

                <div class="fieldwrp">
                    <label class="extra_info_label">Negara Pemilik Merk Dagang<span class="required">*</span></label>
                    <select name="tm_owner_country" class="frm-select extra_info_select">
                        <option value="" selected>Pilih Negara</option>
                        <#loop:country_list_copy#>
                            <option value="<#tag:country_list_copy[].key /#>"><#tag:country_list_copy[].value /#></option>
                        <#/loop:country_list_copy#>
                    </select>
                </div>

                <div class="fieldwrp">
                    <label class="extra_info_label">Kontak Penghubung Merk Dagang<span class="required">*</span></label>
                    <input class="frm-field extra_info_input" type="text" name="tm_contact_person">
                </div>

                <div class="fieldwrp">
                    <label class="extra_info_label">Nomor Telepon Kontak Penghubung Merk Dagang<span class="required">*</span></label>
                    <input class="frm-field extra_info_input" type="text" name="tm_contact_telephone_number">
                </div>

                <div class="fieldwrp">
                    <label class="extra_info_label">Email Kontak Penghubung Merk Dagang<span class="required">*</span></label>
                    <input class="frm-field extra_info_input" type="text" name="tm_contact_email">
                </div>

                <div class="note-wrp">
                    <b><span class="ic-note"></span>Note:</b>
                    This information will be applied to all .PW domains currently in your cart.
                </div>

                <div class="ui-space"></div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function(){
        $('#submit_extra_details_button').click(function(){
            pwinfo = $("#pw_additional_details").serialize();
            $(this).html('Memroses...');
            $.ajax({
                type:"POST",
                url:"contacts.php",
                data:"action=associate_additional_details&" + pwinfo,
                dataType:'json',
                success:function (response) {
                    if (response.status === 'success') {
                        additional_details_saved();
                    }
                    else {
                        show_newcheckout_form_errors(response);
                    }
                }
            });
        });
    });
</script>