/* Fonts */

@font-face {
	font-family: 'proxima_nova';
	src: url('/getImage.php?src=fonts/proximanova-light-webfont.eot');
	src: url('/getImage.php?src=fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/getImage.php?src=fonts/proximanova-light-webfont.woff') format('woff'),
		 url('/getImage.php?src=fonts/proximanova-light-webfont.ttf') format('truetype'),
		 url('/getImage.php?src=fonts/proximanova-light-webfont.svg#proxima_nova') format('svg');
	font-weight:200;
	font-style: normal;

}
@font-face {
	font-family: 'proxima_nova';
	src: url('/getImage.php?src=fonts/proximanova-regular-webfont.eot');
	src: url('/getImage.php?src=fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/getImage.php?src=fonts/proximanova-regular-webfont.woff') format('woff'),
		 url('/getImage.php?src=fonts/proximanova-regular-webfont.ttf') format('truetype'),
		 url('/getImage.php?src=fonts/proximanova-regular-webfont.svg#proxima_nova') format('svg');
	font-weight: 100;
	font-style: normal;

}
@font-face {
	font-family: 'proxima_nova';
	src: url('/getImage.php?src=fonts/proximanova-semibold-webfont.eot');
	src: url('/getImage.php?src=fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/getImage.php?src=fonts/proximanova-semibold-webfont.woff') format('woff'),
		 url('/getImage.php?src=fonts/proximanova-semibold-webfont.ttf') format('truetype'),
		 url('/getImage.php?src=fonts/proximanova-semibold-webfont.svg#proxima_nova') format('svg');
	font-weight: 400;
	font-style: normal;

}
@font-face {
	font-family: 'proxima_nova';
	src: url('/getImage.php?src=fonts/proximanova-bold-webfont.eot');
	src: url('/getImage.php?src=fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/getImage.php?src=fonts/proximanova-bold-webfont.woff') format('woff'),
		 url('/getImage.php?src=fonts/proximanova-bold-webfont.ttf') format('truetype'),
		 url('/getImage.php?src=fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: 600;
	font-style: normal;

}
@font-face {
	font-family: 'proxima_nova';
	src: url('/getImage.php?src=fonts/proximanova-extrabold-webfont.eot');
	src: url('/getImage.php?src=fonts/proximanova-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/getImage.php?src=fonts/proximanova-extrabold-webfont.woff') format('woff'),
		 url('/getImage.php?src=fonts/proximanova-extrabold-webfont.ttf') format('truetype'),
		 url('/getImage.php?src=fonts/proximanova-extrabold-webfont.svg#proxima_nova') format('svg');
	font-weight: 800;
	font-style: normal;

}

/* Common */

* { margin: 0; padding: 0; }
.sl-page-wrapper .lfloat { float: left; }
.sl-page-wrapper .rfloat { float: right; }
.sl-page-wrapper .clear  { clear: both; height:1px; }
.sl-page-wrapper .inline-block, .sl-plans-pricing thead th span { display:inline-block; *display:inline; zoom:1; *position: relative; }
.sl-page-wrapper .last { margin:0 !important; }
.sl-page-wrapper .aligncenter { text-align: center !important; }
.sl-page-wrapper h1, .sl-page-wrapper h2 { padding:0 !important; }
.sl-page-wrapper  h1, 
.sl-page-wrapper  h2,
.sl-page-wrapper h3,
.sl-page-wrapper h4,
.sl-page-wrapper p,
.sl-page-wrapper em,
.sl-page-wrapper span,
.sl-page-wrapper td,
.sl-page-wrapper ul li { font-family : "proxima_nova", Arial !important;  }
.sl-page-wrapper .WebRupee {font-family: 'WebRupee' !important;}

/* Sitelock Page Containers */
.sl-page-wrapper { width:1000px; margin:-20px auto 0 auto; font-family : "proxima_nova", Arial !important;   }
.sl-head-banner { background:#c01e29; color:#fff; width:100%; padding:60px 0 0 0; }
.sl-head-meta { background:url("/getImage.php?src=images/sitelock-banner-meta.png") repeat-y; width:100%; padding:35px 0; }
.sl-features { width:100%; text-align:center; padding:66px 0 109px 0; }
.sl-howitworks 
{ width:938px; margin:0 30px 62px 30px; position:relative; border:1px solid #ccc; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
.sl-testimonials { width:940px; padding:0 30px; }

/* Banner */

.sl-head-banner h1 
{ background:url("/getImage.php?src=images/all-images_sitelock.png") no-repeat -176px 0; 
font-size:52px; font-weight:200; height:49px; margin:0 0 15px 176px; padding: 0 0 0 253px !important; color:#fff !important; }
.sl-head-banner p
{ font-size:22px; font-weight:100; line-height:18px; text-align:center; margin:0 0 76px 0; }
.sl-head-banner p em { font-style: italic; }
.sl-head-banner h3
{ background:url("/getImage.php?src=images/all-images_sitelock.png") no-repeat  10px -53px; 
font-size: 20px; font-weight: 100; line-height:24px; margin:0 0 20px 0; text-align:center; color:#fff !important; }
.sl-head-banner ul { background:url("/getImage.php?src=images/all-images_sitelock.png") no-repeat  0 -80px; height:196px; position: relative; }
.sl-head-banner ul li
{ list-style: none; font-size:18px; line-height:18px; font-weight:400; position:absolute; width:130px;  }
#virus { left:121px; top:105px; }
#bad-bot-attack { left:240px; top:70px; }
#hackers{ left: 417px; top:78px; }
#identity-threat { left:547px; top:48px; }
#se-blacklist { left:728px; top:74px; text-align:center; }

/*  Banner Meta Section */

.sl-head-meta a 
{ font-size:18px; font-weight:100; text-decoration: none; }
.sl-view-plans
{ color:#fff; background:#cb2330; border:1px solid #a71219; outline : none; padding:0 22px; height:48px; line-height:48px; margin:0 18px 0 0; 
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0px rgba(0, 0, 0, 0.2);
-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 01px rgba(0, 0, 0, 0.2);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0px rgba(0, 0, 0, 0.2);
-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; 
}
.sl-view-plans:hover { background:#d92533; color:#fff !important; }
.sl-view-plans:active { background:#bb212d }
.sl-learn-more span { background:url("/getImage.php?src=images/all-images_sitelock.png") no-repeat -799px -463px; width:21px; height:13px; margin:0 9px 0 0; }
.sl-learn-more 
{ color:#bababa; border:1px solid #bbb; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; height:48px; line-height:48px; padding:0 22px;    }
.sl-learn-more:hover { color:#bababa !important; }
.sl-head-meta .lfloat{ font-size:34px; font-weight:100; color:#fff; padding: 0 0 0 30px; height:50px; }
.sl-head-meta .rfloat{ padding:0 30px 0 0; height:50px; }
.sl-head-meta .lfloat span { display:inline-block; *display:inline; *position:relative; zoom:1; }
.sl-head-meta .sl-start-currency { font-size:16px; font-weight:600; color:#f5c63b; margin:0 7px; vertical-align:top; top:8px; position:relative; }
.sl-head-meta .sl-start-price { font-size:44px; font-weight:600; color:#f5c63b;vertical-align: middle;  }
.sl-head-meta .sl-start-time { font-size:20px; font-weight:600; color:#f5c63b; vertical-align:bottom; bottom:5px; position:relative;  }

/* Features */

.sl-feature-details { padding:0 30px; }
.sl-features .lfloat { width:283px; margin:0 45px 0 0; }
.sl-features h2 { background:url("/getImage.php?src=images/all-images_sitelock.png") no-repeat 3px -349px; font-size:30px; font-weight:400; color:#222; margin:0 0 21px 0;  }
.sl-features .sl-feature-icon 
{ background:url("/getImage.php?src=images/all-images_sitelock.png") no-repeat; display:inline-block; margin:0 0 5px 0; 
  *display: inline; *position: relative; zoom:1;}
#sl-prevent-attack { background-position: -138px -387px; height:65px; width:52px; }
#sl-boost-trust { background-position: -465px -384px; height:65px; width:58px; }
#sl-easy-setup { background-position: -788px -373px; height:65px; width:94px; }
.sl-features h3 { font-size:20px; font-weight:600; color:#1b1b1b; padding:0 0 16px 0; white-space:nowrap; }
.sl-features p  { font-size:15px; font-weight:100; color:#1b1b1b; line-height:23px; }

/* How it works */

.sl-howitworks-details { padding:30px 30px 30px 25px; }
.sl-howitworks h2 { font-size:30px; font-weight:400; color:#222; position:absolute; top:-46px; text-align:center; width:100%; }
.sl-howitworks-step { width:237px; float:left; text-align:center; position:relative; margin:0 80px 0 0; } 
.sl-howitworks-step span 
{ font-size:22px; font-weight:600; color:#fff; background: url("/getImage.php?src=images/all-images_sitelock.png") no-repeat -500px -463px;
  line-height:30px; height:30px; width:30px; text-align:center; margin:0 0 7px 0; }
.sl-howitworks-step-seperator
{ background:url("/getImage.php?src=images/all-images_sitelock.png") no-repeat -429px -509px !important; height:113px !important; width:27px !important; 
  position:absolute; right:-60px; top:43px;}
.sl-howitworks-step h3 
{ font-size:20px; font-weight:600; color:#1b1b1b; white-space:nowrap; margin:0 0 12px 0; }
.sl-howitworks-step p, .sl-howitworks-step a { font-size:15px; font-weight:100; color:#222; line-height:21px; padding:0 0 10px 0; }
.sl-howitworks-step a { color:#377cec; text-decoration:underline; }
.sl-howitworks-step a:focus, .sl-howitworks-step a:active { background: transparent; }

/* Testimonials */

.sl-testimonials h2 { font-size:30px; font-weight:400; color:#c01e29; width:100%; text-align:center; padding:0 0 24px 0 !important; margin:80px 0 0 0;  }
.sl-testimonials ul { overflow: hidden; }
.sl-testimonials ul li  { list-style: none;  }
.sl-testimonials ul li .sl-avatar { padding:0 0 16px 0; display: none; }
.sl-testimonials ul li p { font-size:15px; font-weight:100; line-height:18px; padding:0 0 12px 0; }
.sl-testimonials ul li p span.testimonial-txt { line-height: 23px; margin:0 5px; }
.sl-testimonials ul li p em { font-weight:600; font-style: italic; }
.sl-testimonials ol.bjqs-markers.h-centered { position: relative; top: -55px; left: 0 !important; width: 940px; text-align: center; }
.sl-testimonials ol.bjqs-markers.h-centered li
{ background:url("/getImage.php?src=images/all-images_sitelock.png") no-repeat; background-position: -894px -463px; list-style: none; display: inline-block; height:11px; width:11px; font-size:10px !important;  *display:inline; *position:relative; zoom:1; margin:0 12px 0 0;  }
.sl-testimonials ol.bjqs-markers.h-centered li a
{ color:#d6d6d6; text-decoration: none; }
.sl-testimonials ol.bjqs-markers.h-centered li.active-marker
{  background-position: -871px -463px; }
.sl-testimonials ol.bjqs-markers.h-centered li.active-marker a
{ color:#9c9c9c !important; text-decoration:none; }
.sl-lquote, .sl-rquote
{ background:url("/getImage.php?src=images/sl-testimonial-quotes.png") no-repeat; height:19px; width:22px; font-weight:100; color:#ccc; position: relative; }
.sl-lquote { top:0; left:0; background-position:0 0; }
.sl-rquote { bottom:-5px; right:0; background-position: -30px 0; }
.testimonial-author { margin:40px 0 0 -50px; font-style:italic; font-weight:400; font-size:18px }
.sl-clients { background: url("/getImage.php?src=images/all-images_sitelock.png") no-repeat 6px -656px; height: 50px; width:963px; margin:60px 0 110px 0; }

/* How it works - Tabs */

.tabs { display: none; }
.tabs.active { display:block; background:#f2f2f2; padding:40px 30px 50px 30px; position: relative; }
.tabs .lfloat, .tabs .rfloat { width:46%; }
.tabs ul li { list-style: none; padding:0 0 40px 0; }
.tabs h3 { font-size:18px; font-weight:600; color:#1b1b1b; padding:0 0 5px 0; }
.tabs p, .tabs ul li { font-size:14px; font-weight:100; line-height:21px; color:#1b1b1b; }
.activetab-pointer 
{ background:url("/getImage.php?src=images/all-images_sitelock.png") no-repeat -965px -750px; width:36px; height:15px; position:absolute; top:-14px; }
.close-tab-content
{position: absolute; height: 14px; width: 14px; background: url(/getImage.php?src=close.png) no-repeat; top: 15px; right: 10px; cursor: pointer; opacity: 0.6;}
.close-tab-content:hover { opacity:0.8; }
.close-tab-content:active { opacity: 1; }

/* Tab-1 */
#sl-dailyscan .activetab-pointer { left:130px; }
#sl-dailyscan ul li { }
.website-files{ background:url("/getImage.php?src=images/all-images_sitelock.png") no-repeat -179px -507px; width:55px; height:51px; }
.applications{ background:url("/getImage.php?src=images/all-images_sitelock.png") no-repeat -239px -507px; width:55px; height:59px; }
.visitor-traffic{ background:url("/getImage.php?src=images/all-images_sitelock.png") no-repeat -308px -507px; width:61px; height:48px; margin-right:9px !important; }
.se-blacklist{ background:url("/getImage.php?src=images/all-images_sitelock.png") no-repeat -670px -507px; width:59px; height:43px; margin-right:12px !important; }
.spam-filters{ background:url("/getImage.php?src=images/all-images_sitelock.png") no-repeat -590px -507px; width:60px; height:38px; margin-right:11px !important; }
.file-changes{ background:url("/getImage.php?src=images/all-images_sitelock.png") no-repeat -749px -507px; width:51px; height:50px; }

/* Tab-2 */
#sl-threats, #sl-dailyscan { padding-bottom:0 !important; }
#sl-threats ul li span, #sl-dailyscan ul li span { vertical-align:top; margin:0 15px 0 0; }
#sl-threats ul.lfloat, #sl-threats ul.rfloat { width:46%; }
.sl-tab-container{ width:320px; display:inline-block; *display:inline; *position:relative; zoom:1;  }
.sqli{ background:url("/getImage.php?src=images/all-images_sitelock.png") no-repeat -361px -750px; width:53px; height:53px; }
.xss{ background:url("/getImage.php?src=images/all-images_sitelock.png") no-repeat -432px -750px; width:60px; height:50px; margin-right:8px !important }
.csrf{ background:url("/getImage.php?src=images/all-images_sitelock.png") no-repeat -530px -750px; width:54px; height:46px; margin-right:14px !important; }
.rfi{ background:url("/getImage.php?src=images/all-images_sitelock.png") no-repeat -858px -750px; width:50px; height:57px; margin-right:18px !important; }
.broken-auth{ background:url("/getImage.php?src=images/all-images_sitelock.png") no-repeat -733px -750px; width:41px; height:58px; margin-right:27px !important; }
.unvalidated{ background:url("/getImage.php?src=images/all-images_sitelock.png") no-repeat -625px -750px; width:58px; height:50px; margin-right:10px !important; }
#sl-threats .activetab-pointer { left:47%; }

/* Tab-3 */
.sl-smart-tools { margin:20px 0 0 10px; position: relative; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
.sl-smart-tools .smarttools-icon 
{ background: url("/getImage.php?src=images/all-images_sitelock.png") no-repeat -205px -750px; width:47px; height:50px; position: absolute; left:0; top:0 }
.tabs .sl-smart-tools ul { margin:0 0 0 63px; }
.tabs .sl-smart-tools ul li{  padding:0 0 6px 0; }
.tabs ul li span.tick-bullet{ background: url("/getImage.php?src=images/all-images_sitelock.png") no-repeat -328px -750px; width:14px; height:12px; margin:2px 5px 0 0; }
.tabs h4 { font-size:16px; font-weight:600; padding:0 0 10px 63px; }
.sl-email-notify { background: url("/getImage.php?src=images/all-images_sitelock.png") no-repeat 0 -750px; width:52px; margin:25px 71px 0 116px; }
.sl-sms-notify { background: url("/getImage.php?src=images/all-images_sitelock.png") no-repeat -114px -750px; width:54px; margin:25px 0 0 0; }
.sl-email-notify, .sl-sms-notify
{ font-size:16px; font-weight:600; padding:60px 0 0 0;  height:51px; } 
.learnhow-seperator 
{ background: url("/getImage.php?src=images/sl-learnhow-seperator.png") no-repeat; position: absolute; left:450px; top:30px; 
  width:40px; height:258px; color:#9f9f9f; font-size:14px; font-weight:600; padding:121px 0 0 0; text-align:center; }
#sl-notification .activetab-pointer { right:140px }
.sl-sms-footnote {  font-size:12px !important; font-style:italic; position:relative; left:-10px; bottom:-35px; }

/* Fixed Header Scrolling Table  */
