.pricing-table{
	table-layout:fixed;
	margin-bottom:60px;
}
.pricing-table thead{
	background:#FFF;
	font-size:19px;
	font-weight:bold;
	color:#393939;
}
.pricing-table thead td{
	padding:8px 0;
	font-size: 15px;
	border:1px solid #FFF;
	border-bottom: 1px solid #DDDDDD;
	background:#FFF;
}
.pricing-table thead td small{
	color: #4C4C4C;
    display: block;
    font-size: 12px;
    font-weight: normal;
}
.pricing-table thead .tld-col{
	color: #393939;
    font-size: 18px;
}
.pricing-table tbody td{
	font-size:14px;
	color:#4c4c4c;
	height: 50px;
    padding: 4px 0 10px;
	border-color: #FFFFFF #FFFFFF #D0D0D0;
	border-style: solid;
	border-width: 1px;
}

.pricing-table tbody td.tld-other-price{
	font-size:14px;
	color:#4c4c4c;
	padding: 4px 0 10px;
	border-color: #FFFFFF #FFFFFF #D0D0D0;
	border-style: solid;
	border-width: 1px;
}
.pricing-table tbody tr{
	background:#f3f3f3;
}
.pricing-table tbody tr.alternate, .pricing-table tbody tr.alternatepromo{
	background:#e6e6e6;
}
.pricing-table tbody td.tld-col{
	font-size: 24px;
	font-weight: bold;
	text-align: center;
    width: 200px;
	position:relative;
}
.pricing-table tbody td.tld-col small{
	display: block;
    font-size: 12px;
    font-weight: normal;
}

.pricing-table tbody td.tld-col-other-ext{
	font-size: 18px;
	font-weight: bold;
}
.pricing-table tbody td.tld-col-other-ext small{
	display: block;
    font-size: 12px;
    font-weight: normal;
}
.pricing-table tbody .low-price{
	color: #004C72;
    font-weight: bold;
}
.pricing-table td{
	text-align:center;
}
.pricing-table .yearly-pricing{
	border:1px solid #bdbcbd;
	padding:4px;
	width:230px;
	font-size: 12px;
}
.pricing-table tbody tr.promo td.tld-col{
	background-image: url("/getImage.php?src=bg_pricing_promo.png");
	background-position: top left;
	background-repeat:no-repeat;
}
.pricing-table tbody tr.alternatepromo td.tld-col{
	background-image: url("/getImage.php?src=bg_pricing_promo.png");
	background-position: top left;
	background-repeat:no-repeat;
}			
.pricing-table .savings{font-weight:bold;color:green;}
.other-ext thead td{ font-size: 14px;}
.other-ext .tld-col-other-ext{ font-size:18px;}
.other-ext tbody td{ font-size:12px;}
.other-ext .yearly-pricing{font-size:11px;}
.pricing-table .yearly-pricing .highlight{ border:solid 1px #FA7109; margin:0 0 2px 0; padding: 0 0 2px 0;font-weight:bold;}

.yearSelect {
	border: 1px solid #BDBCBD;
	color: #000000;
	padding: 3px 22px 3px 4px;
	cursor: pointer;
	font-size: 12px;
	font-family: arial;
	background: url("/getImage.php?src=dropdown.png") no-repeat right 1px #FFFFFF;
	*background: url("/getImage.php?src=dropdown.png") no-repeat 208px 1px #FFFFFF;
	z-index:100;
	height: 16px;
	z-index: 01;
	text-align:left;
	margin: 0 auto;
	width: 210px;
	padding-right : 30px\9; /* IE8 and below */  
 	*padding-right : 30px; /* IE7 and below */  
	_padding-right : 30px; /* IE6 */  

}

.yearSelectFocus {
	background: url("/getImage.php?src=dropdown.png") no-repeat right -19px #F7FBFC;
}

.yearSelectOptionsWrapper {
	border: 2px solid #CCCCCC;
	background: #FFFFFF;
	position: absolute;
	display: none; 	
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 999;
	background: #EEEEEE;
}

.yearSelectOptionsWrapper .yearSelectOption {
	color: #444444;
	padding: 3px 5px;
	cursor: pointer;
	font-size: 12px;
	height: 15px;
	font-family: arial;
	white-space: nowrap;
	text-align: left;
}

.yearSelectOptionsWrapper .yearSelectOption .cut {
	text-decoration: line-through;
}

.yearSelectOptionsWrapper .yearSelectOption .green {
	color: #22BB22;
}

.yearSelectOptionsWrapper th {
	background: #888888;
	color: #FFFFFF;
	padding: 5px;
	font-size: 12px;
	white-space: nowrap;
	text-align: center;
}

.yearSelectOptionsWrapper th.total {
	font-weight:bold;
}			

.yearSelectOptionsWrapper .yearSelectOption {
	background: #FFFFFF;
}

.yearSelectOptionsWrapper .yearSelectOption td {
    font-size: 12px;
    height: 35px;
    padding: 0 10px;
    text-align: center;
}

.yearSelectOptionsWrapper .yearSelectOption td.duration {
    padding: 0 0;
}

.yearSelectOptionsWrapper .yearSelectOption td.total {
	font-weight:bold;
	text-align:left;
}			

.yearSelectOptionsWrapper .yearSelectOptionSelected {

}

.yearSelectOptionsWrapper .yearSelectOptionHover {

}

.replacementWrapper{
    margin: 0 auto;
    position: relative;
    width: 230px;
	z-index:1;
}