html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
[hidden] {
	display: none;
}
abbr[title] {
	border-bottom: 1px dotted;
}
mark {
	background: #ff0;
	color: #000;
}
code, kbd, pre, samp {
	font-family: monospace, serif;
	_font-family: 'courier new', monospace;
	font-size: 1em;
}
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
q {
	quotes: none;
}
q:before, q:after {
	content: '';
	content: none;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
nav ul, nav ol, ul, ol {
	list-style: none;
	list-style-image: none;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}
button, input, select, textarea {
	font-size: 100%;
	vertical-align: baseline;
*vertical-align: middle;
}
button, input {
	line-height: normal;
}
button, select {
	text-transform: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
	*overflow: visible;
}
button[disabled], html input[disabled] {
	cursor: default;
}
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
	*height: 13px;
	*width: 13px;
}
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
-webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
border: 0;
padding: 0;
}
textarea {
	overflow: auto;
	vertical-align: top;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
audio, canvas, img, video {
	vertical-align: middle;
}
::-moz-selection {
background: #b3d4fc;
text-shadow: none;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
}
::-webkit-input-placeholder {
color:#9c9c9c;
}
:-moz-placeholder {
color:#9c9c9c;
}
::-moz-placeholder {
color:#9c9c9c;
}
:-ms-input-placeholder {
color:#9c9c9c;
}
textarea {
	resize: vertical;
}
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: #5b5b5b;
	line-height: 1;
}
/* 
Common Style
Media Query
IE Fix
*/

/* Common Style */
.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}
a {
	color: #0088ca;
	text-decoration: none;
}
a:hover {
	color: #06e;
}
a:active, a:hover {
	outline: 0;
}
h1, .heading1 {
	font: bold 2em 'Rokkitt', serif;
}
h2, .heading2 {
	font: bold 0.9375em Arial, Helvetica, sans-serif;
	color: #5b5b5b;
	padding-bottom: 10px;
}
h3, .heading3 {
	font-size: 0.875em;
}
small {
	font: normal 12px Arial, Helvetica, sans-serif;
}
p, pre {
	font: normal 13px/20px Arial, Helvetica, sans-serif;
	margin: 0 0 10px 0;
}
b, strong {
	font-weight: bold;
}
hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
.block {
	display: block;
}
.inline {
	display: inline;
}
.lfloat {
	float: left;
}
.rfloat {
	float: right;
}
.txt-left {
	text-align: left;
}
.txt-center {
	text-align: center;
}
.txt-right {
	text-align: right;
}
.hidden {
	display: none;
}
.invisible {
	visibility: hidden;
}
.thin {
	font-weight: normal;
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
*zoom: 1;
}
.clear {
	clear: both;
}
.muted {
	color: #999999;
}
.txt-warning {
	color: #C09853;
}
.txt-error {
	color: #B94A48;
}
.txt-info {
	color: #3A87AD;
}
.txt-success {
	color: #468847;
}
.green {
	color: #509721;
}
.txt-muted {
	color: #888;
	display: block;
}
.ui-feature li {
	background: url("../images/ic-tick.png") no-repeat scroll 0 4px;
	font: normal 16px "Open Sans", sans-serif;
	padding: 0 0 10px 30px;
}
.ui-list li {
	list-style: decimal inside;
	font: normal 16px "Open Sans", sans-serif;
	padding: 0 0 10px 0;
}
.wrapper {
	margin: 0 auto;
	max-width: 980px;
}
.content {
	width: 71%; /*715px/1000*/
}
.spacer {
	height: 25px;
}
.sidebar {
	width: 26.8%;/*265px/1000*/
}
.primary {
	background: #066fb3;
	padding: 10px 0;
	border-bottom: solid 1px #00547a;
}
.primary h1 a {
	color: #fff;
}
.primary h1 {
	color: #fff;
	text-shadow: 0 -1px 0 #05578d;
	padding: 0;
}
.nav li {
	display: inline;
	margin-right: -5px;
}
.nav li:last-child a {
	background: none;
}
.nav li.active a {
	background: #fff;
	border-width: 3px 1px 1px 1px;
	border-style: solid;
	border-color: #066fb3 #c3c3c3 transparent #c3c3c3;
	height: 33px;
}
.nav li a {
	background: url(/getImage.php?src=qb-menu-sep.png) right center no-repeat;
	display: inline-block;
	font: bold 1em/1.06em Arial, Helvetica, sans-serif;
	color: #5b5b5b;
	padding: 8px 1px;
	text-shadow: 0 -1px 0 #fff;
	width: 96px;
	border-top: solid 3px transparent;
	text-align: center;
	vertical-align: middle;
	margin: 8px 0 -1px 0;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	-ms-border-radius: 3px 3px 0 0;
	-o-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}
.secondary {
	border-top: solid 1px #fff;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f2f2f2), color-stop(1, #e1e1e1) );
	background: -moz-linear-gradient( center top, #f2f2f2 5%, #e1e1e1 100% );
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#e1e1e1');
	background-color: #f2f2f2;
	border-bottom: solid 1px #c3c3c3;
}
.page-content {
	background: #fff;
	padding: 50px 0;
}
.dmn-search-blurb {
	border: solid 1px #bcbcbc;
	padding: 2.71%;
	background: #e0e0e0;
	background: -moz-linear-gradient(left, #e0e0e0 0%, #f1f1f1 4%, #f1f1f1 50%, #f1f1f1 95%, #e0e0e0 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #e0e0e0), color-stop(4%, #f1f1f1), color-stop(50%, #f1f1f1), color-stop(95%, #f1f1f1), color-stop(100%, #e0e0e0));
	background: -webkit-linear-gradient(left, #e0e0e0 0%, #f1f1f1 4%, #f1f1f1 50%, #f1f1f1 95%, #e0e0e0 100%);
	background: -o-linear-gradient(left, #e0e0e0 0%, #f1f1f1 4%, #f1f1f1 50%, #f1f1f1 95%, #e0e0e0 100%);
	background: -ms-linear-gradient(left, #e0e0e0 0%, #f1f1f1 4%, #f1f1f1 50%, #f1f1f1 95%, #e0e0e0 100%);
	background: linear-gradient(to right, #e0e0e0 0%, #f1f1f1 4%, #f1f1f1 50%, #f1f1f1 95%, #e0e0e0 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#e0e0e0', GradientType=1 )
}
.dmn-search-blurb a {
	font: normal 0.8125em Arial, Helvetica, sans-serif;
}
.search-box {
	padding-bottom: 10px;
}
.search-box .txt-dmn-field {
	font: bold 18px Arial, Helvetica, sans-serif;
	background: #fff;
	color: #5b5b5b;
	padding: 10px;
	outline: none;
	background-color: #fff;
	border: solid 1px #919191;
	width: 56.920%;
	-webkit-box-shadow: 0 3px 3px 1px #E6E6E6 inset;
	-moz-box-shadow: 0 3px 3px 1px #E6E6E6 inset;
	-ms-box-shadow: 0 3px 3px 1px #E6E6E6 inset;
	box-shadow: 0 3px 3px 1px #E6E6E6 inset;
	-moz-border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
	-ms-border-radius: 3px 0 0 3px;
	-o-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}
.dmn-search span {
	padding-right: 5px;
}
.dmn-search {
	-moz-box-shadow: inset 0px 1px 0px 0px #4aa1da;
	-webkit-box-shadow: inset 0px 1px 0px 0px #4aa1da;
	box-shadow: inset 0px 1px 0px 0px #4aa1da;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1785ce), color-stop(1, #0671b4) );
	background: -moz-linear-gradient( center top, #1785ce 5%, #0671b4 100% );
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1785ce', endColorstr='#0671b4');
	background-color: #1785ce;
	padding: 10px 15px;
	margin: 0 0 0 10px;
	border: 1px solid #003558;
	display: inline-block;
	color: #ffffff;
	font: bold 16px Arial, Helvetica, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0px -1px 0px #0f67a2;
}
    .radius, .dmn-search, .txt-dmn-field, .dmn-search-blurb, .shp-cart, .txt-field, .btn-add-cust, .ui-button-disable, .ui-gray-button, .tld-box, .ui-button, .custome-radio {
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
    }
    .shp-cart {
        border: solid 1px #c3c3c3;
    }
    .cart-header {
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3a3939), color-stop(1, #262525) );
        background: -moz-linear-gradient( center top, #3a3939 5%, #262525 100% );
        background: linear-gradient( center top, #3a3939 5%, #262525 100% );
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a3939', endColorstr='#262525');
        background-color: #3a3939;
        padding: 15px 5px 10px 10px;
        position: relative;
        -webkit-border-radius: 2px 2px 0 0;
        -moz-border-radius: 2px 2px 0 0;
        -ms-border-radius: 2px 2px 0 0;
        border-radius: 2px 2px 0 0;
    }
    .cart-footer {
        background: #fff;
        padding: 10px;
        font: bold 15px Arial, Helvetica, sans-serif;
    }
    .final-ammount {
        padding: 0 0 10px 0;
    }
    .cart-button button {
        width: 100%;
    }
    .cart-button .ui-button-disable span {
        display: none;
    }
    .cart-button .ui-button span {
        font: normal 11px Arial, Helvetica, sans-serif;
        display: block;
        text-transform: capitalize;
    }
    .cart-header h2 {
        color: #fff;
    }
    .cart-header .txt-field {
        width: 186px;
    }
    .txt-field {
        background: #fff;
        font: normal 13px Arial, Helvetica, sans-serif;
        border: solid 1px #000;
        padding: 7px;
    }
    .btn-add-cust {
        background: #e8e8e8;
        border: solid 1px #000;
        padding: 6px 6px 4px 4px;
    }
    .cart-body .dlist_sel .empty_cart, .empty_cart {
	font: bold 15px Arial, Helvetica, sans-serif;
        text-align: center;
        padding: 25px 0;
    }
    .ui-button-disable {
        -moz-box-shadow: inset 0px 1px 0px 0px #a1a1a1;
        -webkit-box-shadow: inset 0px 1px 0px 0px #a1a1a1;
        box-shadow: inset 0px 1px 0px 0px #a1a1a1;
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #868686), color-stop(1, #5a5a5a) );
        background: -moz-linear-gradient( center top, #868686 5%, #5a5a5a 100% );
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#868686', endColorstr='#5a5a5a');
        background-color: #868686;
        border: 1px solid #4f4f4f;
        display: inline-block;
        color: #ababab;
	font: bold 18px Arial, Helvetica, sans-serif;
        text-decoration: none;
        text-transform: uppercase;
        text-shadow: 0px -1px 0px #626262;
        padding: 10px 20px;
    }
    .ui-gray-button {
        -moz-box-shadow: inset 0px 1px 0px 0px #a1a1a1;
        -webkit-box-shadow: inset 0px 1px 0px 0px #a1a1a1;
        box-shadow: inset 0px 1px 0px 0px #a1a1a1;
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #868686), color-stop(1, #5a5a5a) );
        background: -moz-linear-gradient( center top, #868686 5%, #5a5a5a 100% );
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#868686', endColorstr='#5a5a5a');
        background-color: #868686;
        border: 1px solid #4f4f4f;
        display: inline-block;
        color: #fff;
        font: bold 11px Arial, Helvetica, sans-serif;
        text-decoration: none;
        text-transform: uppercase;
        text-shadow: 0px -1px 0px #626262;
        padding: 3px 7px;
        margin-left: 5px;
    }
    .ui-button-disable span {
        display: none;
    }
    .ic-cart {
        background: url(/getImage.php?src=qb-ic-cart.png) right center no-repeat;
        width: 43px;
        height: 34px;
        position: absolute;
        top: 0;
        right: 0;
    }
    .domian-dd select {
        font: normal 15px arial;
        height: 36px;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 7px;
        width: 110px;
    }
    .domian-dd {
        -moz-box-shadow: inset 0px 2px 0px 0px #ffffff;
        -webkit-box-shadow: inset 0px 2px 0px 0px #ffffff;
        box-shadow: inset 0px 2px 0px 0px #ffffff;
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #d7d7d7) );
        background: -moz-linear-gradient( center top, #e9e9e9 5%, #d7d7d7 100% );
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#d7d7d7');
        background-color: #e9e9e9;
        position: relative;
        border: 1px solid #919191;
        border-radius: 0 3px 3px 0;
        color: #5B5B5B;
        margin-left: -5px;
        padding: 11px 0 10px 10px;
        display: inline-block;
        width: 13.9%;
    }
    .domian-dd .ic-dmn-dd {
        padding-left: 2px;
    }
    .domian-dd .tld-name {
	font: bold 17px Arial, Helvetica, sans-serif;
    }
    .domain-result-wrp {
        padding: 25px 0;
    }
    .domain-result .dmn-status {
        font: bold 25px Arial, Helvetica, sans-serif;
        padding-bottom: 10px;
    }
    .domain-result .green {
        display: none;
    }
    .domain-result .red {
        color: #ea340a;
    }
    .cart-body {
        background: #f3f3f3;
        border-bottom: solid 1px #c3c3c3;
    }
    .cart-body .dlist_sel li {
        font: normal 12px Arial, Helvetica, sans-serif;
        padding: 10px;
        position: relative;
    }
    .cart-body .dlist_sel li:nth-child(even) {
        background: #e8e8e8;
    }
    .cart-bal {
        color: a0a0a0;
        font: normal 11px Arial, Helvetica, sans-serif;
    }
    .cart-bal-amount {
        color: #0a75ba;
        font: normal 11px Arial, Helvetica, sans-serif;
    }
    .ammout-wrp .cart-txt {
        text-transform: uppercase;
    }
    .ammout-wrp .slaced {
        color: #111;
        text-decoration: line-through;
        font: bold 17px Arial, Helvetica, sans-serif;
    }
    .ammout-wrp {
        font: bold 18px Arial, Helvetica, sans-serif;
        color: #066fb3;
        padding: 10px;
    }
    .discount-wrp {
        background: #e8e8e8;
        margin: 0 10px 10px 10px;
        padding: 7px 5px;
        font: bold 13px Arial, Helvetica, sans-serif;
        border: solid 1px #c3c3c3;
        position: relative;
    }
    .discount-wrp .cap {
        background: url(/getImage.php?src=qb-ic-tipcap.png) right center no-repeat;
        width: 16px;
        height: 7px;
        position: absolute;
        top: -7px;
        right: 30px;
    }
    .discount-wrp .item {
        display: inline-block;
    }
    .plain-field {
        font: normal 13px Arial, Helvetica, sans-serif;
        border: solid 1px #c3c3c3;
        background: #fff;
        padding: 2px 1px
    }
    .ds-box input {
        margin-right: -5px;
        padding: 3px 1px;
        width: 30px;
    }
    .discount-wrp .ds-text {
        width: 80px;
    }
    .dlist_sel li span {
        display: inline-block;
    }
    .dlist_sel .dmn-name {
        font: bold 13px Arial, Helvetica, sans-serif;
        width: 130px;
		overflow:hidden;
		word-wrap:break-word;
		vertical-align:top;		
    }
    .dlist_sel .dmn-dure {
        width: 45px;
    }
    .dlist_sel .dmn-price {
        border-left: solid 1px #c3c3c3;
        padding-left: 8px;
        margin-left: 8px;
		width:42px;
    }
    .dlist_sel .dmn-cancel {
        position: absolute;
        right: -22px;
        top: 10px;
    }
    .other-ext {
        background: url(/getImage.php?src=qb-bg-pattern.gif) #fff;
        border: solid 1px #c3c3c3;
        padding: 15px;
        position: relative;
    }
    .other-ext .top-cap {
        background: url(/getImage.php?src=qb-box-cap.gif);
        width: 19px;
        height: 9px;
        position: absolute;
        top: -9px;
        left: 25;
    }	
	#quickbuy_main_tld_container .tld-added{
		background:#fc9334;		
		}
.tld_availability_box .not-available{ opacity:0.65; cursor:not-allowed;}	
.img-sale{ margin-left:10px;}
    .tld_availability_box .tld-box {
        border: solid 1px #bcbcbc;
        padding: 8px 8px 4px;
        background: #e0e0e0;
        background: -moz-linear-gradient(left, #e0e0e0 0%, #f1f1f1 4%, #f1f1f1 50%, #f1f1f1 95%, #e0e0e0 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, #e0e0e0), color-stop(4%, #f1f1f1), color-stop(50%, #f1f1f1), color-stop(95%, #f1f1f1), color-stop(100%, #e0e0e0));
        background: -webkit-linear-gradient(left, #e0e0e0 0%, #f1f1f1 4%, #f1f1f1 50%, #f1f1f1 95%, #e0e0e0 100%);
        background: -o-linear-gradient(left, #e0e0e0 0%, #f1f1f1 4%, #f1f1f1 50%, #f1f1f1 95%, #e0e0e0 100%);
        background: -ms-linear-gradient(left, #e0e0e0 0%, #f1f1f1 4%, #f1f1f1 50%, #f1f1f1 95%, #e0e0e0 100%);
        background: linear-gradient(to right, #e0e0e0 0%, #f1f1f1 4%, #f1f1f1 50%, #f1f1f1 95%, #e0e0e0 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#e0e0e0', GradientType=1 );
        -moz-box-shadow: 0 1px 3px #fff inset;
        -webkit-box-shadow: 0 1px 3px #fff inset;
        box-shadow: 0 1px 3px #fff inset;
        float: left;
        margin: 0 15px 15px 0;
        min-height: 60px;
        width: 98px;
		position:relative;
    }
	.tld-box .sale-tag{
    background: url("/getImage.php?src=qb-ic-stag.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 22px;
    position: absolute;
    right: -7px;
    top: 10px;
    width: 41px;
		}
.tld_availability_box .tld-box .tld {
	font: bold 17px Arial, Helvetica, sans-serif;
	color: #5b5b5b;
	text-transform: uppercase;
}
.tld-box .tld-price {
	font: bold 14px Arial, Helvetica, sans-serif;
	color: #0872b6;
	display: block;
	margin-left: 24px;
}
.tld-box .tld-promo-price{
	font: bold 14px Arial, Helvetica, sans-serif;
	color: #0872b6;
	display: block;
	margin-left: 24px;	
	padding-top:2px;
	}
.tld-box .tld-price s{
	font: bold 14px Arial, Helvetica, sans-serif;
	color: #666;
	display: block;
	}
.error {
	background: #F2DEDE;
	border: solid 1px #EED3D7;
	color: #B94A48;
	border-radius: 4px;
	padding: 8px;
	margin-bottom: 10px;
	font: normal 14px/19px Arial, Helvetica, sans-serif;
}
.platform_tabs li {
	border: solid 1px #d6d6d6;
	background: #f1f1f1;
	font: bold 0.9375em Arial, Helvetica, sans-serif;
	padding: 11px 0;
	margin: 0 5px 0 0;
	width: 23.021%;
	text-align: center;
	box-shadow: 0 0 1px #fff inset;
	-webkit-box-shadow: 0 0 1px #fff inset;
	-moz-box-shadow: 0 0 1px #fff inset;
	display: inline-block;
	border-bottom: none;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-ms-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	cursor: pointer;
}
.platform_tabs li.active {
	background: #fbfbfb;
	padding: 11px 0 0 0;
	height: 35px;
	margin-bottom: -1px;
}
.country_tabs {
	margin: 20px 15px;
}
.country_tabs li.active {
	background: #0c77bd;
	color: #fff;
}
.country_tabs li.active span {
	background: url("/getImage.php?src=qb-tab-dd.png") no-repeat;
	bottom: -5px;
	height: 5px;
	left: 45%;
	position: absolute;
	width: 13px;
}
.country_tabs li {
	background: #eee;
	padding: 10px 0;
	font: bold 0.875em Arial, Helvetica, sans-serif;
	display: inline-block;
	margin-right: 10px;
	width: 14.3884%;
	text-align: center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	position: relative;
}
.plan-wrapper {
	border: solid 1px #d6d6d6;
	background: #fbfbfb;
	-webkit-border-radius: 0 4px 4px 4px;
	-moz-border-radius: 0 4px 4px 4px;
	-ms-border-radius: 0 4px 4px 4px;
	border-radius: 0 4px 4px 4px;
}
.sh-plan-table {
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ebeced), color-stop(1, #e8eaeb) );
	background: -moz-linear-gradient( center top, #ebeced 5%, #e8eaeb 100% );
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebeced', endColorstr='#e8eaeb');
	background-color: #ebeced;
	border-bottom: solid 1px #d2d5d7;
	border-top: solid 1px #d2d5d7;
}
.sh-plan-table .col, .sh-plan-details .col {
	display: inline-block;
	text-align: center;
	padding: 12px 5px;
	display: table-cell;
	vertical-align: middle;
	font: normal 0.8125em Arial, Helvetica, sans-serif;
}
.sh-plan-table .col {
	border-right: solid 1px #c3c3c3;
	font: bold 0.875em Arial, Helvetica, sans-serif;
}
.sh-plan-details .col {
	border-right: solid 1px #c3c3c3;
	border-bottom: solid 1px #c3c3c3;
}
.sh-plan-table .col1, .sh-plan-details .col1 {
	width: 130px;
	text-align: left;
	padding-left: 10px;
} /* 713*/
.sh-plan-table .col2, .sh-plan-details .col2 {
	width: 77px;
}
.sh-plan-table .col3, .sh-plan-details .col3 {
	width: 70px;
}
.sh-plan-table .col4, .sh-plan-details .col4 {
	width: 65px;
}
.sh-plan-table .col5, .sh-plan-details .col5 {
	width: 80px;
}
.sh-plan-table .col6, .sh-plan-details .col6 {
	width: 200px;
	border-right: none;
}
.sh-plan-table .col7, .sh-plan-details .col7 {
	width: 28px;
}
.eh-plan-table .span1, .eh-plan-details .span1 {
	width: 210px;
	text-align: left;
	padding-left: 10px;
}
.eh-plan-table .span2, .eh-plan-details .span2 {
	width: 170px;
}
.eh-plan-table .span3, .eh-plan-details .span3 {
	width: 296px;
	border-right: none;
}
.ssl-plan-table .span1 {
	width: 300px;
	text-align: left;
	padding-left: 10px;
}
.ssl-plan-table .span2 {
	width: 387px;
	border-right: none;
}
.ee-plan-table .span1 {
	width: 250px;
	text-align: left;
	padding-left: 10px;
}
.ee-plan-table .span2 {
	width: 250px;
}
.ee-plan-table .span3 {
	width: 175px;
	border-right: none;
}
.wb-plan-table .span1 {
	width: 143px;
	text-align: left;
	padding-left: 10px;
}
.wb-plan-table .span2 {
	width: 80px;
}
.wb-plan-table .span3 {
	width: 85px;
}
.wb-plan-table .span4 {
	width: 85px;
}
.wb-plan-table .span5 {
	width: 260px;
	border-right: none;
}
#ee-select-options .frm-select, .ssl-plan-table .frm-select {
	width: 180px;
}
.proceed-blurb {
	margin: 25px 0;
	background: #eeeeee;
	border: solid 1px #c3c3c3;
	padding: 1.8705%;
}
.proceed-blurb h3 {
	display: inline-block;
	width: 15.5395%;
	margin-right: 10px;
	color: #5b5b5b;
	vertical-align: middle;
}
.frm-select {
	background: #fff;
	border: solid 1px #919191;
	font: normal 1em Arial, Helvetica, sans-serif;
	padding: 5px;
	-moz-box-shadow: 0 3px 3px 1px #e6e6e6 inset;
	-webkit-box-shadow: 0 3px 3px 1px #e6e6e6 inset;
	-ms-box-shadow: 0 3px 3px 1px #e6e6e6 inset;
	box-shadow: 0 3px 3px 1px #e6e6e6 inset;
	width: 147px;
}

#quickbuy_suggestions_container .frm-select {
    width: 195px;
}

.frm-field {
	background: #fff;
	border: solid 1px #919191;
	font: normal 13px Arial, Helvetica, sans-serif;
	padding: 5px;
	-moz-box-shadow: 0 3px 3px 1px #e6e6e6 inset;
	-webkit-box-shadow: 0 3px 3px 1px #e6e6e6 inset;
	-ms-box-shadow: 0 3px 3px 1px #e6e6e6 inset;
	box-shadow: 0 3px 3px 1px #e6e6e6 inset;
}
.dmn-txt-field {
	background: #fff;
	border: solid 1px #919191;
	font: normal 15px Arial, Helvetica, sans-serif;
	padding: 9px;
	width: 48%;
	margin-right: 15px;
	-moz-box-shadow: 0 3px 3px 1px #e6e6e6 inset;
	-webkit-box-shadow: 0 3px 3px 1px #e6e6e6 inset;
	-ms-box-shadow: 0 3px 3px 1px #e6e6e6 inset;
	box-shadow: 0 3px 3px 1px #e6e6e6 inset;
}
.ui-button {
	-moz-box-shadow: inset 0px 1px 0px 0px #8bc068;
	-webkit-box-shadow: inset 0px 1px 0px 0px #8bc068;
	box-shadow: inset 0px 1px 0px 0px #8bc068;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #6aad3d), color-stop(1, #3f880e) );
	background: -moz-linear-gradient( center top, #6aad3d 5%, #3f880e 100% );
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6aad3d', endColorstr='#3f880e');
	background-color: #6aad3d;
	border: 1px solid #296302;
	display: inline-block;
	font: bold 0.9375em Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #ffffff;
	text-decoration: none;
	padding: 9px 15px;
	text-shadow: 1px -1px 0px #4b8427;
}
.custome-radio input, .custome-radio1 input, .qb-custom-checkbox input {
	display: none;
}
.custome-radio, .custome-radio1, .qb-custom-checkbox {
	-moz-box-shadow: inset 0px 1px 0px 0px #727272;
	-webkit-box-shadow: inset 0px 1px 0px 0px #727272;
	box-shadow: inset 0px 1px 0px 0px #727272;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #494848), color-stop(1, #2c2c2c) );
	background: -moz-linear-gradient( center top, #494848 5%, #2c2c2c 100% );
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#494848', endColorstr='#2c2c2c');
	background-color: #494848;
	border: 1px solid #000000;
	display: inline-block;
	height: 26px;
	width: 34px;
	text-decoration: none;
	margin-left: 5px;
	cursor: pointer;
	transition: all 0.3s ease 0.1s;
}
.custome-radio.selected, .custome-radio1.selected, .qb-custom-checkbox.selected {
	-moz-box-shadow: inset 0px 1px 0px 0px #8bc068;
	-webkit-box-shadow: inset 0px 1px 0px 0px #8bc068;
	box-shadow: inset 0px 1px 0px 0px #8bc068;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #69ac3c), color-stop(1, #40890f) );
	background: -moz-linear-gradient( center top, #69ac3c 5%, #40890f 100% );
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#69ac3c', endColorstr='#40890f');
	background-color: #69ac3c;
	border: 1px solid #296302;
	transition: all 0.3s ease 0.1s;
}
.custome-radio .radio, .custome-radio1 .radio, .qb-custom-checkbox .checkbox {
	display: block;
	text-indent: -999em;
	background: url(/getImage.php?src=qb-ic-add.png) no-repeat 1px 0;
	width: 20px;
	height: 16px;
	margin: 5px 0 0 8px;
}
.custome-radio.selected .radio, .custome-radio1.selected .radio, .qb-custom-checkbox.selected .checkbox {
	background: url(/getImage.php?src=qb-ic-tic.png) no-repeat;
}
.ic-small {
	margin-right: 5px;
}
.footer {
	background: #101010;
	font: bold 11px Arial, Helvetica, sans-serif;
	padding: 15px 0;
	clear: both;
	/*position:absolute;*/
	bottom: 0;
	width: 100%;
}
html {
	height: 100%;
}
.ee-amount {
	font: bold 14px Arial, Helvetica, sans-serif;
	color: #408a10;
}
.vps-addons-blurb {
	background: #eeeeee;
	border: solid 1px #d8d8d8;
	padding: 15px;
}
.vps-addons-blurb table td {
	padding: 10px 0;
}
.vps-addons-blurb .col1 {
	width: 140px;
	font: bold 13px Arial, Helvetica, sans-serif;
}
.vps-addons-blurb .col2 {
	width: 235px;
	font: normal 13px/20px Arial, Helvetica, sans-serif;
}
.vps-addons-blurb .col3 {
	width: 300px;
	font: normal 13px/20px Arial, Helvetica, sans-serif;
}
.vps-addons-blurb .link-back, .vps-addons-blurb .p-button {
	display: none;
}
.success {
	font: normal 15px/20px Arial, Helvetica, sans-serif;
	color: #347d05;
	background: url(/getImage.php?src=qb-ic-success.png) no-repeat 15px 20px #d1f3ba;
	border: solid 1px #c0e4a9;
	padding: 15px 15px 15px 45px;
}
.success p {
	font: normal 15px/20px Arial, Helvetica, sans-serif;
}
.plain-blurb {
	border: solid 1px #dbdbdb;
	margin: 15px 0;
	padding: 15px;
	font: normal 14xp/18px Arial, Helvetica, sans-serif;
}
.plain-blurb p {
	font: normal 14px/18px Arial, Helvetica, sans-serif;
}
.delete_from_quickbuy_cart {
	background: url(/getImage.php?src=qb-ic-cancel.png) 0 0 no-repeat;
	text-indent: -999em;
	width: 21px;
	height: 18px;
	display: block;
}
.info-wrp p {
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #c22028;
}
.info-wrp {
	background: #e8e8e8;
	border: solid 1px #c3c3c3;
	position: relative;
	font: normal 11px Arial, Helvetica, sans-serif;
	margin: 10px 0;
	padding: 7px 5px;
}
.info-wrp .ui-button {
	font: bold 11px Arial, Helvetica, sans-serif;
	padding: 5px 10px;
}
.info-wrp .cap {
	background: url("/getImage.php?src=qb-ic-tipcap.png") no-repeat scroll 0 0;
	height: 7px;
	position: absolute;
	right: 30px;
	top: -7px;
	width: 16px;
}
.info-wrp small {
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #111;
	padding-left: 10px;
	border-left: solid 1px #c3c3c3;
	margin-left: 10px;
}
.dmn-available-wrp {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fefefe), color-stop(1, #eeeeee) );
	background: -moz-linear-gradient( center top, #fefefe 5%, #eeeeee 100% );
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#eeeeee');
	background-color: #fefefe;
	border: 1px solid #d6d6d6;
	padding: 15px;
}
.dmn-available-wrp .domain-name {
	font: bold 20px Arial, Helvetica, sans-serif;
	color: #509721;
}
#more_extensions_link {
	background: url("/getImage.php?src=qb-bg-pattern.gif") repeat scroll 0 0 #FFFFFF;
	border: solid 1px #c3c3c3;
	border-top: none;
	border-radius: 0 0 3px 3px;
	-ms-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	bottom: -37px;
	color: #0088CA;
	cursor: pointer;
	display: block;
	padding: 10px;
	position: absolute;
	right: -1px;
	width: 140px;
}
.border-wrapper {
	border: solid 1px #c3c3c3;
	border-top: none;
}
.border-wrapper .sh-plan-table {
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-ms-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}
#suggested_domain_search_results h3{
	display:block;
	text-align:left;
	padding:25px 15px;
	border:1px solid #C3C3C3;
	border-left:none;
	border-right:none;
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ebeced), color-stop(1, #e8eaeb) );
	background: -moz-linear-gradient( center top, #ebeced 5%, #e8eaeb 100% );
	 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebeced', endColorstr='#e8eaeb');
	background-color: #ebeced;	
	}	
.alt-sug-list{
	background:#fafafa;
	}
.alt-sug-item{
	padding:15px;
	border-bottom:solid 1px #e0e0e0;
	}
.alt-sug-item span{ display:inline-block;}
.alt-sug-item .alt-dmn{ width:400px;}
.alt-sug-item .alt-sug-dd{ width:205px;}
/* Media */

/* Large desktop */
@media (min-width: 1200px) {
}

/* Portrait tablet to landscape and desktop 800 and fluid */
@media (min-width: 768px) and (max-width: 979px) {
.wrapper {
	width: 90%;
}
.content, .sidebar {
	float: none;
	width: 100%;
}
.rnav {
	width: 30px;
	display: inline-block;
	margin: 8px 0;
	padding: 5px;
	float: right
}
.rnav span {
	background: #555;
	border-radius:3px;
	height: 3px;
	width: 100%;
	display: block;
	margin-bottom: 4px;
}
.rnav span.last {
	margin: 0;
}
.nav {
	width: 195px;
	display: block;
	position: absolute;
	top: 36px;
	right: 0px;
	z-index: 1000;
	background: #e6e6e6;
	border: solid 1px #c3c3c3;
	display: none;
}
.nav li {
	display: block;
}
.nav li a {
	display: block;
	background: none;
	text-align: left;
	padding: 10px;
	font: bold 15px/16px Arial, Helvetica, sans-serif;
	width: 175px;
	margin: 0;
}
.secondary .wrapper {
	position: relative;
}
.nav li.active a {
	background: #fff;
	height: inherit;
	border: none;
}
}
	
/* Landscape phone to portrait tablet 520 and fuid */
@media (max-width: 767px) {
.wrapper {
	width: 95%;
}
.content, .sidebar {
	float: none;
	width: 100%;
}
.rnav {
	width: 30px;
	display: inline-block;
	margin: 8px 0;
	padding: 5px;
	float: right
}
.rnav span {
	background: #555;
	border-radius:3px;
	height: 3px;
	width: 100%;
	display: block;
	margin-bottom: 4px;
}
.rnav span.last {
	margin: 0;
}
.nav {
	width: 195px;
	display: block;
	position: absolute;
	top: 36px;
	right: 0px;
	z-index: 1000;
	background: #e6e6e6;
	border: solid 1px #c3c3c3;
	display: none;
}
.nav li {
	display: block;
}
.nav li a {
	display: block;
	background: none;
	text-align: left;
	padding: 10px;
	font: bold 15px/16px Arial, Helvetica, sans-serif;
	width: 175px;
	margin: 0;
}
.secondary .wrapper {
	position: relative;
}
.nav li.active a {
	background: #fff;
	height: inherit;
	border: none;
}
.search-box .txt-dmn-field {
	width: 56.9%;
}
.dmn-search {
	padding: 10px 13px;
}
img {
	max-width: 100%;
	height: auto;
}
}
	
/* Landscape phones and down 300 fluid */
@media (max-width: 480px) {
.wrapper {
	width: 90%;
}
.content, .sidebar {
	float: none;
	width: 100%;
}
.domian-dd, .domian-dd select {
	width: 90px;
	padding: 12px 0 10px 10px;
}
.search-box .txt-dmn-field, .domian-dd .tld-name {
	font: bold 1em Arial, Helvetica, sans-serif;
}
.dmn-search {
	padding: 10px;
	margin-left: 2px;
}
.dmn-search-blurb a {
	display: block;
}
.platform_tabs li {
	width: 28.021%;
}
.country_tabs li {
	width: 20.388%;
}
.sh-plan-table {
	width: 100%;
}
.sh-plan-table .col, .sh-plan-details .col {
	display: block;
	width: 96.9%;
}
.sh-plan-details .col {
	border-right: none;
	text-align:left;
}
.sh-plan-table .col {
	display:none;
}
.proceed-blurb h3, .dmn-txt-field, .proceed-blurb .ui-button {
	width: 90%;
	margin-bottom: 10px;
	float: none;
}
.proceed-blurb h3 {
	margin-top: 10px;
}
.proceed-blurb h3, .dmn-txt-field {
	width: 93%;
}
.proceed-blurb .ui-button {
	width: 100%;
	margin-bottom: 10px;
	float: none;
}
.ee-plan-table .span1 {
	text-align: center;
}
.ic-small {
	display: none;
}
.search-box .txt-dmn-field {
	width: 90%;
	margin-bottom: 10px;
}
.search-box .txt-dmn-field, .domian-dd {
	border-radius: 3px;
}
.domian-dd{}
.shared-hosting .col1, .reseller-hosting .col1, .email-hosting .span1, .vps-hosting .col1, .ssl-hosting .span1, .wb-hosting .span1 { color:#000;}
.shared-hosting .col:before, .reseller-hosting .col:before, .email-hosting .col:before, .ee-hosting .col:before, .vps-hosting .col:before, .ssl-hosting .col:before, .wb-hosting .col:before{ font-weight:bold;}
.shared-hosting .col6, .reseller-hosting .col6, .email-hosting .span3, .vps-hosting .col6, .ssl-hosting .span2, .wb-hosting .span5{ border-bottom:solid 1px #333;}
.ee-hosting .col{ text-align:left;}

.shared-hosting .col2:before{ content:"Domains - "}
.shared-hosting .col3:before{ content:"Email Accounts - "}
.shared-hosting .col4:before{ content:"Disk Space - "}
.shared-hosting .col5:before{ content:"Bandwidth - "}
.shared-hosting .col6:before{ content:"Price - "}

.reseller-hosting .col2:before{ content:"Domains - "}
.reseller-hosting .col3:before{ content:"Email Accounts - "}
.reseller-hosting .col4:before{ content:"Disk Space - "}
.reseller-hosting .col5:before{ content:"Bandwidth - "}
.reseller-hosting .col6:before{ content:"Price - "}

.email-hosting .span2:before{ content:"Email Accounts - "}
.email-hosting .span3:before{ content:"Price - "}

.ee-hosting .span1:before{ content:"No. of Email Accounts: "}
.ee-hosting .span2:before{ content:"Duration - "}
.ee-hosting .span3:before{ content:"Subtotal - "}

.vps-hosting .col1:before{ content:"Plan - "}
.vps-hosting .col2:before{ content:"CPU - "}
.vps-hosting .col3:before{ content:"RAM - "}
.vps-hosting .col4:before{ content:"Disk Space - "}
.vps-hosting .col5:before{ content:"Bandwidth - "}
.vps-hosting .col6:before{ content:"Price - "}

.ssl-hosting .span2:before{ content:"Price - "}

.wb-hosting .span2:before{ content:"Pages - "}
.wb-hosting .span3:before{ content:"Web Space - "}
.wb-hosting .span4:before{ content:"Email Accounts - "}
.wb-hosting .span5:before{ content:"Price - "}

}