<div class="newcheckoutform">
<table border="0" align="center" cellpadding="0" cellspacing="0" id="maincontent" width="100%" class="lightform">
    <tr>
        <td valign="top" id="content" class="w615">
            <!-- Main Content ------------------------------------------------------>
            <br >
            <h3 class="ui-heading2">Buat Kontak CA Baru</h3>

            <div class="note-wrp">
                <strong><span class="ic-note"></span>Note:</strong>
                Catatan:. Sesuai dengan Pedoman Pendaftaran CA, Anda tidak dapat mengubah nama Kontak Pendaftar untuk 60 hari pertama.
            </div>

            <form name="add_contact_frm" id="add_contact_frm">
                <div class="frmContainer">

                    <div class="myForm"></div>
                    <input type="hidden" name="domain_name" />
                    <input type="hidden" name="contacttype" value="CaContact" />
                    <div class="error" id="show_error" style="display:none">Galat:
                        <div id="error_lists"></div>
                    </div>
                    <div class="frmSectionContent">
                        <div class="fieldwrp"  id="ca_checkbox">
                            <label class="frm-label">Tipe Pendaftar<span class="required">*</span></label>
                            <input type="radio" checked name="radio_company" value="individual" onclick="toggleCompanywithName(this);"> <span style="font-size: 14px; color: #555;">Individual</span>
                            <input type="radio" name="radio_company" value="nonindividual" onclick="toggleCompanywithName(this);"> <span style="font-size: 14px; color: #555;">Non-Individual</span>
                            <br />
                        </div>

                        <div class="fieldwrp"  id="ca_individual">
                            <label class="frm-label">Nama<span class="required">*</span></label>
                            <input class="frm-field" name="txtName" type="text" id="txtName" />
                            <br />
                        </div>

                        <div class="fieldwrp" id="ca_company1" style="display: none;">
                            <label class="frm-label">Nama perusahaan<span class="required">*</span></label>
                            <input class="frm-field" name="txtCompany" type="text" id="txtCompany" />
                            <br />
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Alamat Email<span class="required">*</span></label>
                            <input class="frm-field" name="txtEmailAddr" type="text" id="txtEmailAddr" />
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Baris Alamat 1<span class="required">*</span></label>
                            <input class="frm-field" name="txtAddress1" type="text" id="txtAddress1" />
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Baris Alamat 2</label>
                            <input class="frm-field" name="txtAddress2" type="text" id="txtAddress2" />
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Baris Alamat 3</label>
                            <input class="frm-field" name="txtAddress3" type="text" id="txtAddress3" />
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Kota<span class="required">*</span></label>
                            <input class="frm-field" name="txtCity" type="text" id="txtCity" />
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Negara<span class="required">*</span></label>
                            <select id="countryid" name="txtCountry" onChange = "change_country(this.value);"  class="frm-select">
                                <option value="" selected>Pilih Negara</option>
                                <#loop:country_list#>
                                <option value="<#tag:country_list[].key /#>"><#tag:country_list[].value /#></option>
                                <#/loop:country_list#>
                            </select>
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Wilayah Bagian<span class="required">*</span></label>
                            <select class="frm-select" name="txtState" onChange="showHideOtherState(this);" id="stateSelect">	</select>
                            <input class="frm-field" type="hidden" name="not_applicable" value="true">
                            <b id="loadMess" style="position:relative; visibility:hidden;">Memuat... </b>
                            <span id="other_state_text" style="display: none;"></span>
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Kode Pos<span class="required">*</span></label>
                            <input class="frm-field" maxlength="10" name="txtZip" type="text" id="txtZip" style="width: 193px;"/>
                            <div id="caregcontact" style="display:none;background:#ebf5ec;">
                                <p>Formatnya harus salah satu dari <em>A9 9AA</em>, <em>A99 9AA</em>, <em>AA9 9AA</em>, <em>AA99 9AA</em>, <em>A9A 9AA</em> atau <em>AA9A 9AA</em>, di mana A adalah sebuah karakter alfabet dan 9 adalah karakter numerik.</p>
                            </div>

                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Nomor Tel.<span class="required">*</span></label>
                            <input class="frm-field"  size="3" maxlength="3" name="txtTelcc" type="text" id="txtTelcc" /> <input class="frm-field" name="txtTelNo" maxlength="12" type="text" id="txtTelNo" />
                            <div class="input-help">(Kode Negara - Nomor Telepon)</div>
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Nomor Fax </label>
                            <input class="frm-field" name="txtFaxCc" size="3" maxlength="3" type="text" id="txtFaxCc" /> <input class="frm-field" name="txtFaxNo" maxlength="12" type="text" id="txtFaxNo" />
                            <div class="input-help">(Kode Negara - Nomor Telepon)</div>
                        </div>

                        <input type="hidden" name="contacttype" value="<#tag:contacttype /#>">
                        <input type="hidden" name="contactof" value="<#tag:contactof /#>">
                        <input type="hidden" name="AgreementVersion" value="<#tag:agreement_version /#>">
                        <input type="hidden" name="AgreementValue" value="Y">

                        <div class="fieldwrp">
                            <label class="frm-label">
                                Kategori Kebutuhan Kehadiran Kanada atau Canadian Presence Requirement(CPR)<span class="required">*</span>
                            </label>
                            <select name="cpr" class="frm-select valid">
                                <#loop:ca_presence#>
                                    <option value="<#tag:ca_presence[].key /#>"><#tag:ca_presence[].value /#> </option>
                                    <#/loop:ca_presence#>
                            </select>
                            <span class="font-large inline-note p-block">
                                    *diperlukan sesuai dengan Pedoman Registri .CA
                            </span>
                            <div class="input-help">Kategori Kebutuhan Kehadiran Kanada atau Canadian Presence Requirement(CPR)</div>
                        </div>

                        <div class="ui-space"></div>

                        <div class="fieldwrp">
                            <label class="frm-label">
                                Perjanjian Pendaftar <span class="required">*</span><br><br><br>
                            </label>
                            <input type="checkbox" name="agree" value="C11" checked="checked" onclick="change_button_status(this);">
                            <span style="font-size: 14px; color: #555;">Anda harus menyetujui <a href="#agreement" onClick="window.open('/content.php?action=ca_agreement','.CA Agreement','width=700,height=370,left=250,top=100,toolbar=0,status=0,scrollbars=yes,resizable=yes')">Perjanjian Pendaftaran untuk Nama-nama Domain .CA</a> untuk melanjutkan Pendaftaran Domain .CA. Jika Anda tidak menyetujuinya, Anda tidak dapat mendaftarkan nama domain .CA.</span>
                            <div class="input-help">Perjanjian Pendaftar</div>
                        </div>

                        <div class="ui-space"></div>

                        <div style="padding-left:160px;" >
                            <button type="submit" id="add_contact_btn" name="addcontact" class="uiButton" ><span><span>Tambahkan & Gunakan Kontak ini</span></span></button>
                            <a href="#" class="back_to_contact_list">Kembali</a> &nbsp;&nbsp;
                        </div>

                    </div>
                </div>
                <div class="myFormEnds"></div>
                <!-- form ends -->
                </div>
            </form>
            </div><br>
        </td>
    </tr>
</table>
</div>
<script type="text/javascript" src="/ui/supersite/en/js/add_contact_state_list.js"></script>
<script type="text/javascript">
    Array.prototype.find = function (s) {
        for(var i=0;i<this.length;i++) {
            if(this[i] == s)
                return true;
        }
        return false;
    };

    var country = $("#ip_country_id").val();
    $("#countryid").attr("value", country);
    change_country(country);

    function toggleCompanywithName(obj) {
        if (obj.value == 'individual')
            document.getElementById('ca_company1').style.display = "none";
        else
            document.getElementById('ca_company1').style.display = "block";
    }

    function change_button_status(checkbox) {
        var save_button = document.getElementById('add_contact_btn');
        if(checkbox.checked == true) {
            save_button.disabled = false;
            save_button.className = 'ui-button';
        }
        else {
            save_button.disabled = true;
            save_button.className = 'ui-button-disabled';
        }
    }
</script>
<script type="text/javascript" src="/ui/supersite/en/js/add_contact.js"></script>