<div class="newcheckoutform">
    <table border="0" align="center" cellpadding="0" cellspacing="0" id="maincontent" width="100%" class="lightform">
        <tr>
            <td valign="top" id="content" class="w615">
                <!-- Main Content ------------------------------------------------------>
              <h3 class="ui-heading2">Buat Kontak CN Baru</h3>

                <div class="note-wrp">
                    <strong><span class="ic-note"></span>Note:</strong>
                    Informasi kontak pendaftar tidak dapat diubah nantinya.
                </div>

                <form name="add_contact_frm" id="add_contact_frm">
                    <div class="frmContainer">

                        <div class="myForm"></div>
                        <input type="hidden" name="domain_name" />
                        <input type="hidden" name="contacttype" value="CnContact" />
                        <div class="error" id="show_error" style="display:none">Galat:
                            <div id="error_lists"></div>
                        </div>

                        <div class="frmSectionContent">

                            <div class="fieldwrp">
                                <label class="frm-label">Tipe Pendaftar<span class="required">*</span></label>
                                <input type="radio" name="radio_company" value="individual" checked="checked" /> <span style="font-size: 14px; color: #555;">Individual</span>
                                <input type="radio" name="radio_company" value="company" /> <span style="font-size: 14px; color: #555;">Organisasi</span>
                            </div>

                            <div class="fieldwrp"  id="cn_individual">
                                <label class="frm-label">Nama<span class="required">*</span></label>
                                <input class="frm-field" name="txtName" type="text" id="txtName" />
                                <br />
                            </div>

                            <div class="fieldwrp" id="cn_company" style="display: none;" >
                                <label class="frm-label">Nama Perusahaan<span class="required">*</span></label>
                                <input class="frm-field" name="txtCompany" type="text" id="txtCompany" />
                                <br />
                            </div>

                            <div class="fieldwrp">
                                <label class="frm-label">Alamat Email<span class="required">*</span></label>
                                <input class="frm-field" name="txtEmailAddr" type="text" id="txtEmailAddr" />
                            </div>

                            <div class="fieldwrp">
                                <label class="frm-label">Baris Alamat 1<span class="required">*</span></label>
                                <input class="frm-field" name="txtAddress1" type="text" id="txtAddress1" />
                            </div>

                            <div class="fieldwrp">
                                <label class="frm-label">Baris Alamat 2</label>
                                <input class="frm-field" name="txtAddress2" type="text" id="txtAddress2" />
                            </div>

                            <div class="fieldwrp">
                                <label class="frm-label">Baris Alamat 3</label>
                                <input class="frm-field" name="txtAddress3" type="text" id="txtAddress3" />
                            </div>

                            <div class="fieldwrp">
                                <label class="frm-label">Kota<span class="required">*</span></label>
                                <input class="frm-field" name="txtCity" type="text" id="txtCity" />
                            </div>

                            <div class="fieldwrp">
                                <label class="frm-label">Negara<span class="required">*</span></label>
                                <select id="countryid" name="txtCountry" onChange = "change_country(this.value);"  class="frm-select">
                                    <option value="" selected>Pilih Negara</option>
                                    <#loop:country_list#>
                                        <option value="<#tag:country_list[].key /#>"><#tag:country_list[].value /#></option>
                                        <#/loop:country_list#>
                                </select>
                            </div>

                            <div class="fieldwrp">
                                <label class="frm-label">Negara Bagian<span class="required">*</span></label>
                                <select class="frm-select" name="txtState" onChange="showHideOtherState(this);" id="stateSelect">	</select>
                                <input class="frm-field" type="hidden" name="not_applicable" value="true">
                                <b id="loadMess" style="position:relative; visibility:hidden;">Memuat...</b>
                            <span id="other_state_text" style="display: none;"></span>
                            </div>

                            <div class="fieldwrp">
                                <label class="frm-label">Kode Pos<span class="required">*</span></label>
                                <input class="frm-field" maxlength="10" name="txtZip" type="text" id="txtZip" />
                                <div id="caregcontact" style="display:none;background:#ebf5ec;">
                                    <p>Format yang digunakan harus salah satu antara <em>A9 9AA</em>, <em>A99 9AA</em>, <em>AA9 9AA</em>, <em>AA99 9AA</em>, <em>A9A 9AA</em> atau <em>AA9A 9AA</em>, di mana A adalah karakter alfabet 9 adalah karakter numerik.</p>
                                </div>

                            </div>

                            <div class="fieldwrp">
                                <label class="frm-label">No. Tel<span class="required">*</span></label>
                                <input class="frm-field"  size="3" maxlength="3" name="txtTelcc" type="text" id="txtTelcc" /> <input class="frm-field" name="txtTelNo" maxlength="12" type="text" id="txtTelNo" />
                                <div class="input-help">(Kode Negara – Nomor Telepon)</div>
                            </div>

                            <div class="fieldwrp">
                                <label class="frm-label">No. Fax</label>
                                <input class="frm-field" name="txtFaxCc" size="3" maxlength="3" type="text" value="<#if:show_txtFaxCc#><#tag:txtFaxCc /#><#/if:show_txtFaxCc#>" id="txtFaxCc" /> <input name="txtFaxNo" maxlength="12" type="text" value="<#if:show_txtFaxNo#><#tag:txtFaxNo /#><#/if:show_txtFaxNo#>" id="txtFaxNo" class="frm-field" />
                                <div class="input-help">(Kode Negara – Nomor Telepon)</div>
                            </div>

                            <div class="fieldwrp">
                                 <label class="frm-label">Apakah domainnya di-host di Cina<span class="required">*</span></label>
                                <div class="lfloat" style="margin-top:5px;">
                                 <input class="frm-radio" type="radio" name="cnhosting" value="yes" id="hosting-china-yes"> <label style="font-size: 14px; color: #555; display:inline; float:none;" for="hosting-china-yes">Ya</label></span>&nbsp;&nbsp;
                                 <input class="frm-radio" type="radio" name="cnhosting" value="no" id="hosting-china-no" checked> <label style="font-size: 14px; color: #555;  display:inline; float:none;" for="hosting-china-no">Tidak</label>
                                 </div>
                                 <div class="clear"></div>
                            </div>

                            <div class="note-wrp" id="cnhosting_yes_note" style="display: none;">
                                <input type="checkbox" name="cnhostingclause" value="yes" checked="checked"/>&nbsp;&nbsp;Saya menyatakan bahwa saya akan menyerahkan no. ICP MIIT untuk nama domain .CN, jika mereka di-host pada server di Cina Daratan. Saya menerima tanggung jawab penuh atas segala akibat yang disebabkan oleh pelanggaran komitmen ini.
                            </div>

                            <div class="note-wrp" id="cnhosting_no_note">
                                <input type="checkbox" name="cnhostingclause" value="yes" checked="checked"/>&nbsp;&nbsp;Saya menyatakan bahwa saya tidak akan meng-hosting nama domain saya pada server di Cina Daratan. Saya menerima tanggung jawab penuh atas segala akibat yang disebabkan oleh pelanggaran komitmen ini.
                            </div>

                            <div class="ui-space"></div>

                            <div style="padding-left:160px;" >
                                <button type="submit" id="add_contact_btn" name="addcontact" class="uiButton" ><span><span>Tambahkan & Gunakan Kontak ini</span></span></button>&nbsp;&nbsp;
                                <a href="#" class="back_to_contact_list">Kembali</a> &nbsp;&nbsp;
                            </div>

                        </div>
                    </div>
                    <div class="myFormEnds"></div>
                    <!-- form ends -->
</div>
</form>
</div>
</td>
</tr>
</table>
</div>
<style>
.frm-label{font-size:13px;}
</style>
<script type="text/javascript" src="/ui/supersite/en/js/add_contact_state_list.js"></script>
<script type="text/javascript">
    Array.prototype.find = function (s) {
        for(var i=0;i<this.length;i++) {
            if(this[i] == s)
                return true;
        }
        return false;
    };

    var country = $("#ip_country_id").val();
    $("#countryid").attr("value", country);
    change_country(country);

    $(document).ready(function(){
        $('input[name="cnhosting"]').on('change',function(){
            if($(this).val() == 'yes'){
                $('#cnhosting_yes_note').show();
                $('#cnhosting_no_note').hide();
            } else {
                $('#cnhosting_yes_note').hide();
                $('#cnhosting_no_note').show();
            }
        });

        $('input[name="radio_company"]').on('change', function(){
            if($(this).val() == 'individual'){
                $('#cn_company').hide();
            } else {
                $('#cn_company').show();
            }
        })
    });
</script>
<script type="text/javascript" src="/ui/supersite/en/js/add_contact.js"></script>