<div class="newcheckoutform">
<table border="0" align="center" cellpadding="0" cellspacing="0" id="maincontent" width="100%" class="lightform">
    <tr>
        <td valign="top" id="content" class="w615">
            <!-- Main Content ------------------------------------------------------>
            <h3 class="ui-heading2">Buat Kontak DE Baru</h3>

            <form name="add_contact_frm" id="add_contact_frm">
                <div class="frmContainer">

                    <div class="myForm"></div>
                    <input type="hidden" name="domain_name" />
                    <input type="hidden" name="contacttype" value="DeContact" />
                    <div class="error" id="show_error" style="display:none">Galat:
                        <div id="error_lists"></div>
                    </div>
                    <div class="frmSectionContent">

                        <div class="fieldwrp"  id="de_individual">
                            <label class="frm-label">Nama<span class="required">*</span></label>
                            <input class="frm-field" name="txtName" type="text" id="txtName" />
                            <br />
                        </div>

                        <div class="fieldwrp" id="de_company1" >
                            <label class="frm-label">Nama Perusahaan</label>
                            <input class="frm-field" name="txtCompany" type="text" id="txtCompany" />
                            <br />
                        </div>

                        <div class="fieldwrp" id="de_company2" style="display:none;">
                            <label class="frm-label">Kontak Penghubung<span class="required">*</span></label>
                            <input class="frm-field" name="comp_txtName" type="text" id="txtName" />
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Alamat Email<span class="required">*</span></label>
                            <input class="frm-field" name="txtEmailAddr" type="text" id="txtEmailAddr" />
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Baris Alamat 1<span class="required">*</span></label>
                            <input class="frm-field" name="txtAddress1" type="text" id="txtAddress1" />
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Baris Alamat 2</label>
                            <input class="frm-field" name="txtAddress2" type="text" id="txtAddress2" />
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Baris Alamat 3</label>
                            <input class="frm-field" name="txtAddress3" type="text" id="txtAddress3" />
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Kota<span class="required">*</span></label>
                            <input class="frm-field" name="txtCity" type="text" id="txtCity" />
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Negara<span class="required">*</span></label>
                            <select class="frm-select" id="countryid" name="txtCountry" >
                                <option value="DE" selected="selected">Germany</option>
                            </select>
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Wilayah Bagian<span class="required">*</span></label>
                            <select class="frm-select valid" name="txtState" onchange="showHideOtherState(this);" id="stateSelect">
                                <option value="Select State">Select State</option>
                                <option value="Baden-Wurttemberg">Baden-Wurttemberg</option>
                                <option value="Bayern">Bayern</option>
                                <option value="Berlin">Berlin</option>
                                <option value="Brandenburg">Brandenburg</option>
                                <option value="Bremen">Bremen</option>
                                <option value="Hamburg">Hamburg</option>
                                <option value="Hessen">Hessen</option>
                                <option value="Mecklenburg-Vorpommern">Mecklenburg-Vorpommern</option>
                                <option value="Niedersachsen">Niedersachsen</option>
                                <option value="Nordrhein-Westfalen">Nordrhein-Westfalen</option>
                                <option value="Rheinland-Pfalz">Rheinland-Pfalz</option>
                                <option value="Saarland">Saarland</option>
                                <option value="Sachsen">Sachsen</option>
                                <option value="Sachsen-Anhalt">Sachsen-Anhalt</option>
                                <option value="Schleswig-Holstein">Schleswig-Holstein</option>
                                <option value="Thüringen">Thüringen</option>
                                <option value="Other">Other</option>
                            </select>
                            <input class="frm-field" type="hidden" name="not_applicable" value="true">
                            <b id="loadMess" style="position:relative; visibility:hidden;">Memuat... </b>
                            <span id="other_state_text" style="display: none;"></span>
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Kode Pos<span class="required">*</span></label>
                            <input class="frm-field" maxlength="10" name="txtZip" type="text" id="txtZip" />
                            <div id="deregcontact" style="display:none;background:#ebf5ec;">
                                <p>Formatnya harus salah satu dari <em>A9 9AA</em>, <em>A99 9AA</em>, <em>AA9 9AA</em>, <em>AA99 9AA</em>, <em>A9A 9AA</em> atau <em>AA9A 9AA</em>, di mana A adalah sebuah karakter alfabet dan 9 adalah karakter numerik.</p>
                            </div>

                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Nomor Tel.<span class="required">*</span></label>
                            <input class="frm-field"  size="3" maxlength="3" name="txtTelcc" type="text" id="txtTelcc" value="49"/> <input name="txtTelNo" maxlength="12" type="text" id="txtTelNo" class="frm-field"/>
                            <div class="input-help">(Kode Negara - Nomor Telepon)</div>
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Nomor Fax </label>
                            <input class="frm-field" name="txtFaxCc" size="3" maxlength="3" type="text" id="txtFaxCc" value="49"/> <input name="txtFaxNo" maxlength="12" type="text" id="txtFaxNo" class="frm-field"/>
                            <div class="input-help">(Kode Negara - Nomor Telepon)</div>
                        </div>
                        <div class="ui-space"></div>
                        <div style="padding-left:160px;">
                            <button type="submit" id="add_contact_btn" name="addcontact" class="uiButton" ><span><span>Tambahkan & Gunakan Kontak ini</span></span></button>
                        </div>
                    </div>
                </div>
                <div class="myFormEnds"></div>
                <!-- form ends -->
                </div>
            </form>
            </div><br>
        </td>
    </tr>
</table>
</div>
<script type="text/javascript" src="/ui/supersite/en/js/add_contact_state_list.js"></script>
<script type="text/javascript">

    Array.prototype.find = function (s) {
        for(var i=0;i<this.length;i++) {
            if(this[i] == s)
                return true;
        }
        return false;
    };

    $(document).ready(function(){
        $('#txtTelcc').val('49');
        $('#txtFaxCc').val('49');
    });
</script>
<script type="text/javascript" src="/ui/supersite/en/js/add_contact.js"></script>
