<div class="newcheckoutform">
<table border="0" align="center" cellpadding="0" cellspacing="0" id="maincontent" width="100%" class="lightform">
    <tr>
        <td valign="top" id="content" class="w615">
            <!-- Main Content ------------------------------------------------------>
            <h3 class="ui-heading2">Buat Kontak ES Baru</h3>
            <form name="add_contact_frm" id="add_contact_frm">
                <div class="frmContainer">

                    <div class="myForm"></div>
                    <input type="hidden" name="domain_name" />
                    <input type="hidden" name="contacttype" value="EsContact" />
                    <div class="error" id="show_error" style="display:none">Galat:
                        <div id="error_lists"></div>
                    </div>
                    <div class="frmSectionContent">

                        <div class="fieldwrp"  id="es_individual">
                            <label class="frm-label">Nama<span class="required">*</span></label>
                            <input class="frm-field" name="txtName" type="text" id="txtName"/>
                            <br />
                        </div>

                        <div class="fieldwrp" id="es_company1" >
                            <label class="frm-label">Nama Perusahaan</label>
                            <input class="frm-field" name="txtCompany" type="text" id="txtCompany" />
                            <br />
                        </div>

                        <div class="fieldwrp" id="es_company2" style="display:none;">
                            <label class="frm-label">Kontak Penghubung<span class="required">*</span></label>
                            <input class="frm-field" name="comp_txtName" type="text" id="txtName" />
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Alamat Email<span class="required">*</span></label>
                            <input class="frm-field" name="txtEmailAddr" type="text" id="txtEmailAddr" />
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Alamat Baris 1<span class="required">*</span></label>
                            <input class="frm-field" name="txtAddress1" type="text" id="txtAddress1" />
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Alamat Baris 2</label>
                            <input class="frm-field" name="txtAddress2" type="text" id="txtAddress2" />
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Alamat Baris 3</label>
                            <input class="frm-field" name="txtAddress3" type="text" id="txtAddress3" />
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Kota<span class="required">*</span></label>
                            <input class="frm-field" name="txtCity" type="text" id="txtCity" />
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Negara<span class="required">*</span></label>
                            <select id="countryid" name="txtCountry" onChange = "change_country(this.value);"  class="frm-select">
                                <option value="" selected>Pilih Negara</option>
                                <#loop:country_list#>
                                    <option value="<#tag:country_list[].key /#>"><#tag:country_list[].value /#></option>
                                    <#/loop:country_list#>
                            </select>
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Wilayah Bagian<span class="required">*</span></label>
                            <select class="frm-select" name="txtState" onChange="showHideOtherState(this);" id="stateSelect">	</select>
                            <input class="frm-field" type="hidden" name="not_applicable" value="true">
                            <b id="loadMess" style="position:relative; visibility:hidden;">Memuat... </b>
                            <span id="other_state_text" style="display: none;"></span>
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Kode Pos<span class="required">*</span></label>
                            <input class="frm-field" maxlength="10" name="txtZip" type="text" id="txtZip" />
                            <div id="esregcontact" style="display:none;background:#ebf5ec;">
                                <p>Formatnya harus salah satu dari <em>A9 9AA</em>, <em>A99 9AA</em>, <em>AA9 9AA</em>, <em>AA99 9AA</em>, <em>A9A 9AA</em> atau <em>AA9A 9AA</em>, di mana A adalah sebuah karakter alfabet dan 9 adalah karakter numerik.</p>
                            </div>

                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Nomor Tel<span class="required">*</span></label>
                            <input class="frm-field"  size="3" maxlength="3" name="txtTelcc" type="text" id="txtTelcc" /> <input class="frm-field" name="txtTelNo" maxlength="12" type="text" id="txtTelNo" />
                            <div class="input-help">(Kode Negara - Nomor Telepon)</div>
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Nomor Fax </label>
                            <input class="frm-field" name="txtFaxCc" size="3" maxlength="3" type="text" id="txtFaxCc" /> <input class="frm-field" name="txtFaxNo" maxlength="12" type="text" id="txtFaxNo" />
                            <div class="input-help">(Kode Negara - Nomor Telepon)</div>
                        </div>


                        <div class="fieldwrp">
                            <label class="frm-label">Tipe Identifikasi<span class="required">*</span></label>
                            <select name="es_tipo_identificacion"  class="frm-select">
                                <option value="0">ID lainnya</option>
                                <option value="1">DNI dan NIF</option>
                                <option value="3">NIE</option>
                            </select>
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">No. Identifikasi<span class="required">*</span></label>
                            <input class="frm-field" type="text" name="es_identificacion" onKeyUp="check_for_values();"/>
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Tipe Entitas<span class="required">*</span></label>
                            <select name="es_form_juridica" class="frm-select">
                                <#loop:es_entities#>
                                    <option value="<#tag:es_entities[].key /#>"><#tag:es_entities[].value /#></option>
                                <#/loop:es_entities#>
                            </select>
                        </div>

                        <div class="ui-space"></div>
                        <div style="padding-left:160px;">
                            <button type="submit" id="add_contact_btn" name="addcontact" class="uiButton" ><span><span>Tambahkan & Gunakan Kontak ini</span></span></button>&nbsp;&nbsp;
                            <a href="#" class="back_to_contact_list">Kembali</a> &nbsp;&nbsp;
                        </div>

                    </div>
                </div>
                <div class="myFormEnds"></div>
                <!-- form ends -->
                </div>
            </form>
            </div><br>
        </td>
    </tr>
</table>
</div>
<script type="text/javascript" src="/ui/supersite/en/js/add_contact_state_list.js"></script>
<script type="text/javascript">

    Array.prototype.find = function (s) {
        for(var i=0;i<this.length;i++) {
            if(this[i] == s)
                return true;
        }
        return false;
    };

    function check_for_values() {
        var save_button = document.getElementById('add_contact_btn');

        if(document.add_contact_frm.es_identificacion.value != '') {
            save_button.disabled = false;
            save_button.className = 'uiButton';
        }
        else {
            save_button.disabled = true;
            save_button.className = 'ui-button-disabled';
        }
    }

</script>
<script type="text/javascript" src="/ui/supersite/en/js/add_contact.js"></script>