<div class="newcheckoutform">
    <table border="0" align="center" cellpadding="0" cellspacing="0" id="maincontent" width="100%" class="lightform">
        <tr>
            <td valign="top" id="content" class="w615">
                <!-- Main Content ------------------------------------------------------>

                <h3 class="ui-heading2">Buat Kontak Baru</h3>
                <form name="add_contact_frm" id="add_contact_frm">
                    <div class="frmContainer">

                        <div class="myForm"></div>
                        <input type="hidden" name="domain_name" />
                        <input type="hidden" name="contacttype" value="Contact" />
                            <div class="error" id="show_error" style="display:none">Galat:
                                <div id="error_lists"></div>
                            </div>
                            <div class="frmSectionContent">
                                <div class="fieldwrp"  id="ca_individual">
                                    <label class="frm-label">Nama<span class="required">*</span></label>
                                    <input class="frm-field" name="txtName" type="text" id="txtName" value=""/>
                                    <br />
                                </div>

                                <div class="fieldwrp" id="ca_company1" >
                                    <label class="frm-label">Nama Perusahaan</label>
                                    <input class="frm-field" name="txtCompany" type="text" value="" />
                                    <br />
                                </div>

                                <#if:show_pro_details#>
                                    <div class="fieldwrp">
                                        <label class="frm-label">Profesi<span class="required">*</span></label>
                                        <select class="frm-select" name="profession" id="profession">
                                            <option value="Acupuncturists">Akupunkturis</option>
                                            <option value="Allied Health Professionals">Profesional Kesehatan Beraliansi</option>
                                            <option value="Ambulance Services">Layanan Ambulans</option>
                                            <option value="Architects">Arsitek</option>
                                            <option value="Asbestos Removal Professionals">Profesional Pembongkar Asbes</option>
                                            <option value="Barbers and Barber Shops">Tukang Cukur dan Salon Cukur</option>
                                            <option value="Certified Financial Analysts">Analis Keuangan Bersertifikat</option>
                                            <option value="Certified Financial Planners">Perencana Keuangan Bersertifikat</option>
                                            <option value="Certified Public Accountants">Akuntan Publik Bersertifikat</option>
                                            <option value="Check Cashers">Penukar Cek</option>
                                            <option value="Chiropractors">Chiropractor</option>
                                            <option value="Contractors, Home Improvement">Kontraktor, Pengembangan Rumah</option>
                                            <option value="Cosmetologists and Aestheticians">Kosmetologis dan Ahli Estetika</option>
                                            <option value="Debt Collectors">Penagih Hutang</option>
                                            <option value="Dentists and Dental Hygienists">Dokter Gigi dan Ahli Kebersihan Gigi</option>
                                            <option value="Dieticians and Nutritionists">Ahli Diet dan Ahli Nutrisi</option>
                                            <option value="Doctors">Dokter</option>
                                            <option value="Educators">Pengajar</option>
                                            <option value="Electricians">Ahli Listrik</option>
                                            <option value="Electrologists">Ahli Elektro</option>
                                            <option value="Emergency Medical Technician">Teknisi Medis Darurat</option>
                                            <option value="Engineers and Land Surveyors">Insinyur dan Penguji Tanah</option>
                                            <option value="Finance Companies">Perusahaan Keuangan</option>
                                            <option value="Financial Professional">Profesional Keuangan</option>
                                            <option value="Funeral Services">Layanan Pemakaman</option>
                                            <option value="Health Care">Layanan Kesehatan</option>
                                            <option value="Hearing Instrument Specialists">Spesialis Alat Bantu Pendengaran</option>
                                            <option value="Home Inspectors">Pengawas Rumah </option>
                                            <option value="HVAC Technicians">Teknisi HVAC</option>
                                            <option value="Insurance">Asuransi</option>
                                            <option value="Investment Advisors">Konsultan Investasi</option>
                                            <option value="Landscape Architects">Arsitek Lanskap</option>
                                            <option value="Lawyers">Pengacara</option>
                                            <option value="Lead Paint Inspectors">Pengawas Cat Timbal </option>
                                            <option value="Manufactured Building Producers">Produsen Bangunan Pabrik</option>
                                            <option value="Massage Therapy">Terapis Pijat</option>
                                            <option value="Money Transmitters">Pengirim Uang</option>
                                            <option value="Mortgage Lenders and Brokers">Pemberi Pinjaman dan Broker Penggadaian</option>
                                            <option value="Municipal Building Inspectors">Pengawas Bangunan Pemerintahan</option>
                                            <option value="Nurses and Nurse Aides">Perawat dan Pembantu Perawat</option>
                                            <option value="Nursing Home Administrators">Petugas Administrasi Rumah Perawatan</option>
                                            <option value="Nutritionists">Ahli Nutrisi</option>
                                            <option value="Opticians">Ahli Optik</option>
                                            <option value="Optometrists">Optometris</option>
                                            <option value="Perfusionist">Perfusionis</option>
                                            <option value="Pharmacists">Ahli Farmasi</option>
                                            <option value="Physical Therapists">Terapis Fisik</option>
                                            <option value="Physician Assistants">Asisten Dokter</option>
                                            <option value="Physicians">Dokter</option>
                                            <option value="Plumbers and Gas Fitters">Tukang Ledeng dan Gas</option>
                                            <option value="Podiatrists">Podiatris</option>
                                            <option value="Psychologists">Psikolog</option>
                                            <option value="Public Relations">Humas</option>
                                            <option value="Radio and TV Technicians">Teknisi Radio dan TV</option>
                                            <option value="Real Estate">Perumahan</option>
                                            <option value="Real Estate Appraisers">Penaksir Perumahan</option>
                                            <option value="Respiratory Therapists">Terapis Pernafasan</option>
                                            <option value="Sanitarians">Ahli Sanitari</option>
                                            <option value="Social Workers">Pekerja Sosial</option>
                                            <option value="Speech Pathologists and Audiologists">Ahli Patologi and Audiologi Bicara</option>
                                            <option value="Veterinarians">Dokter Hewan</option>
                                            <option value="Water plant operator">Operator Pembangkit Tenaga Air</option>
                                            <option value="X-Ray Technicians">Teknisi Sinar-X</option>
                                            <option value="Internet professional">Profesional Internet</option>
                                            <option value="Medical professional">Profesional Medis</option>
                                            <option value="Legal professional">Profesional Hukum</option>
                                            <option value="Other">Lainnya</option>
                                        </select>
                                        <br/><br/>
                                        <div id="other_profession" style="display: none;">
                                            <label class="frm-label">Profesi Lainnya :<span class="required">*</span></label>
                                            <input class="frm-field" type="text" name="other_profession" id="other_profession_txt">
                                            <br/>
                                        </div>
                                    </div>
                                <#/if:show_pro_details#>

                                <div class="fieldwrp">
                                    <label class="frm-label">Alamat Email<span class="required">*</span></label>
                                    <input class="frm-field" name="txtEmailAddr" type="text" value="" id="txtEmailAddr" />
                                </div>

                                <div class="fieldwrp">
                                    <label class="frm-label">Baris Alamat 1<span class="required">*</span></label>
                                    <input class="frm-field" name="txtAddress1" type="text" value="" id="txtAddress1" />
                                </div>

                                <div class="fieldwrp">
                                    <label class="frm-label">Baris Alamat 2</label>
                                    <input class="frm-field" name="txtAddress2" type="text" value="" id="txtAddress2" />
                                </div>

                                <div class="fieldwrp">
                                    <label class="frm-label">Baris Alamat 3</label>
                                    <input class="frm-field" name="txtAddress3" type="text" value="" id="txtAddress3" />
                                </div>

                                <div class="fieldwrp">
                                    <label class="frm-label">Kota<span class="required">*</span></label>
                                    <input class="frm-field" name="txtCity" type="text" value="" id="txtCity" />
                                </div>

                                <div class="fieldwrp">
                                    <label class="frm-label">Negara<span class="required">*</span></label>
                                    <select id="countryid" name="txtCountry" onChange = "change_country(this.value);"  class="frm-select">
                                        <option value="" selected>Pilih Negara</option>
<#loop:country_list#>
<option value="<#tag:country_list[].key /#>"><#tag:country_list[].value /#></option>
<#/loop:country_list#>
                                    </select>
                                    <div id="country_error" style="display:none;background:#ebf5ec;">
                                        <p>Silahkan pilih negara dan negara bagian.</p>
                                    </div>
                                </div>

                                <div class="fieldwrp">
                                    <label class="frm-label">Negara Bagian<span class="required">*</span></label>
                                    <select class="frm-select" name="txtState" onChange="showHideOtherState(this);" id="stateSelect">	</select>
                                    <input class="frm-field" type="hidden" name="not_applicable" value="true">
                                    <b id="loadMess" style="position:relative; visibility:hidden;">Memuat...</b>
                                    <span id="other_state_text" style="display: none;"></span>
                                </div>

                                <div class="fieldwrp">
                                    <label class="frm-label">Kode Pos<span class="required">*</span></label>
                                    <input class="frm-field" maxlength="10" name="txtZip" type="text" value="" id="txtZip" />
                                    <div id="caregcontact" style="display:none;background:#ebf5ec;">
                                        <p>Format yang digunakan harus salah satu antara <em>A9 9AA</em>, <em>A99 9AA</em>, <em>AA9 9AA</em>, <em>AA99 9AA</em>, <em>A9A 9AA</em> atau <em>AA9A 9AA</em>, di mana A adalah karakter alfabet 9 adalah karakter numerik.</p>
                                    </div>

                                </div>

                                <div class="fieldwrp">
                                    <label class="frm-label">No. Tel<span class="required">*</span></label>
                                    <input class="frm-field"  size="3" maxlength="3" name="txtTelcc" type="text" value="" id="txtTelcc" /> <input class="frm-field" name="txtTelNo" maxlength="12" type="text" value="" id="txtTelNo" />
                                    <div class="input-help">(Kode Negara – Nomor Telepon)</div>
                                </div>

                                <div class="fieldwrp">
                                    <label class="frm-label">No. Fax</label>
                                    <input class="frm-field" name="txtFaxCc" size="3" maxlength="3" type="text" value="" id="txtFaxCc" /> <input class='frm-field' name="txtFaxNo" maxlength="12" type="text" value="" id="txtFaxNo" />
                                    <div class="input-help">(Kode Negara – Nomor Telepon)</div>
                                </div>

                                <#if:show_us_details#>
                                <div id="nexus">
                                    <div class="fieldwrp">
                                        <label class="frm-label">Tujuan Aplikasi<span class="required">*</span></label>
                                        <select class="frm-select" name="purpose">
                                            <option value="P1">
                                                Penggunaan Bisnis untuk profit
                                            </option>
                                            <option value="P2">
                                                Bisnis non-profit, club, asosiasi, organisasi religius, dll
                                            </option>
                                            <option value="P3">
                                                Penggunaan pribadi
                                            </option>
                                            <option value="P4">
                                                Tujuan edukasi
                                            </option>
                                            <option value="P5">
                                                Tujuan pemerintahan
                                            </option>
                                        </select>
                                        <div class="input-help">Silakan pilih tujuan dari nama domain .AS terpilih yang Anda daftarkan:</div>
                                    </div>

                                    <div class="fieldwrp">
                                        <label class="frm-label">Anda adalah<span class="required">*</span></label>
                                        <select class="frm-select" name="category">
                                            <option value="C11" selected="selected">
                                                Seorang biasa yang merupakan warga negara Amerika Serikat
                                            </option>
                                            <option value="C12">
                                                Seorang biasa yang merupakan penduduk permanen dari Amerika Serikat, atau daerah kepemilikannya atau wilayahnya yang manapun
                                            </option>
                                            <option value="C21">
                                                Organisasi atau perusahaan yang berbasis di AS
                                            </option>
                                            <option value="C31">
                                                Organisasi atau badan asing
                                            </option>
                                            <option value="C32">
                                                Suatu badan yang memiliki kantor atau fasilitas lainnya di dalam wilayah Amerika Serikat
                                            </option>
                                        </select>
                                    </div>
                                    </div>
                                <#/if:show_us_details#>

                                <#if:show_au_details#>
                                    <div id="au_extra_info_details">
                                        <div class="fieldwrp">
                                            <label class="frm-label">Tipe ID Kelayakan <span class="required">*</span></label>
                                            <select name="eligibility_type" id="eligibility_type" class="frm-select">
                                                <option value="ACN">Nomor Perusahaan Australia (ACN)</option>
                                                <option value="ABN">Nomor Bisnis Australia (ABN)</option>
                                                <option value="VIC BN">Nomor Bisnis Victoria (VIC BN)</option>
                                                <option value="NSW BN">Nomor Bisnis New South Wales (NSW BN)</option>
                                                <option value="SA BN">Nomor Bisnis Australia Selatan (SA BN)</option>
                                                <option value="NT BN">Nomor Bisnis Northern Territory (NT BN)</option>
                                                <option value="WA BN">Nomor Bisnis Australia Barat (WA BN)</option>
                                                <option value="TAS BN">Nomor Bisnis Tasmania (TAS BN)</option>
                                                <option value="ACT BN">Nomor Bisnis Australian Capital Territory (ACT BN)</option>
                                                <option value="QLD BN">Nomor Bisnis Queensland (QLD BN)</option>
                                                <option value="TM">Merek dagang</option>
                                                <option value="ARBN">ARBN</option>
                                                <option value="OTHER">Lainnya</option>
                                            </select>
                                        </div>

                                        <div class="fieldwrp">
                                            <label class="frm-label">ID Kelayakan<span class="required">*</span><br><br></label>
                                            <input  class="frm-field" type="text" name="eligibility_id" id="eligibility_id" />
                                            <div id="eligibility_btn_id" style="display: inline-block; "><input style="font:normal 13px Arial, Helvetica, sans-serif; padding:5px 7px; margin-top: 10px;" class="uiButton" type="button" id="fetch_eligibility_btn" value="Konfirmasi Kelayakan" /></div>
                                            <img id="eloader" src="getImage.php?src=waiting.gif" style="display: none" />
                                        </div>

                                        <div class="fieldwrp">
                                            <label class="frm-label">Tipe Entitas<span class="required">*</span></label>
                                            <input class="frm-dis" type="text" name="eligibility_criteria_other" id="eligibility_criteria" readonly/>
                                            <div id="eligibility_criteria_id" style="display:none;">
                                                <select name="eligibility_criteria" class="frm-select">
                                                    <option value="Pending TM Owner">Pemilik Merk Dagang Tertunda</option>
                                                    <option value="Trademark Owner">Pemilik merek dagang</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="fieldwrp">
                                            <label class="frm-label">Nama Kelayakan <span class="required">*</span></label>
                                            <input class="frm-field" type="text" name="eligibility_name" id="eligibility_name_id" />
                                        </div>

                                        <div class="fieldwrp">
                                            <label class="frm-label">Nama Pendaftar <span class="required">*</span></label>
                                            <input class="frm-dis" type="text" name="registrant_name" id="registrant_name_id" readonly/>
                                        </div>

                                        <div class="fieldwrp">
                                            <label class="frm-label">Alasan Kelayakan <span class="required">*</span><br><br><br><br><br></label>
                                            <input type="radio" name="policy_reason" value="1" />
                                            <span style="font-size: 14px; color: #555;">Nama domain merupakan Kecocokan Penuh ATAU Singkatan ATAU Kependekan dari Badan atau Nama Dagang Anda.</span><br/>
                                            <input type="radio" name="policy_reason" id="policy_reason_2" value="2" checked />
                                            <span style="font-size: 14px; color: #555;">Hubungan tertutup dan substansial antara nama domain dan operasi dari Badan Usaha Anda.</span>
                                        </div>

                                        <div class="fieldwrp">
                                            <input type="checkbox" checked="true" id="is_au_warranty" name="isAUWarranty" />
                                            <span style="font-size: 14px; color: #555;">Dengan mengirimkan aplikasi ini, saya menyatakan bahwa saya memenuhi syarat untuk memegang nama domain yang ditetapkan dalam aplikasi ini, dan semua informasi yang diberikan dalam aplikasi ini adalah benar, lengkap dan tepat dan tidak menyesatkan dengan cara apapun. Jika ada informasi yang kemudian ditemukan tidak benar, atau tidak lengkap, tidak tepat, atau menyesatkan dengan cara apapun atau jika aplikasi ini diajukan dengan itikad buruk, lisensi nama domain dapat dibatalkan dan dapat menyebabkan kehilangan permanen dari penggunaan nama domain tersebut.</span>
                                        </div>

                                        <div class="note-wrp">
                                            <strong><span class="ic-note"></span>Catatan:</strong>
                                            Informasi ini akan diterapkan untuk semua domain .ASIA yang saat ini berada dalam keranjang belanja Anda.
                                        </div>

                                    <script src="/ui/supersite/en/js/dotau_extra_info.js" type="text/javascript"></script>
                                <#/if:show_au_details#>

                                <#if:show_asia_details#>
                                    <script src="/ui/supersite/en/js/dotasia.js" type="text/javascript"></script>
                                    <input type="hidden" name="associate_ced_contacts" value="true" id="associate_ced_contacts">
                                                                <div class="ui-space"></div>
                                                                <div class="frmSectionContent">

                                                                        <div class="fieldwrp">
                                                                            <label class="frm-label">Kelayakan CED <span class="required">*</span><br><br><br><br></label>
                                                                            <input type="radio" name="ced_type" value="default" onClick="choose_ced_type(this.value);" id="default_CED">&nbsp;&nbsp;<span style="font-size: 14px; color: #555;">Saya tidak memenuhi persyaratan CED. Berikan saya Kontak CED.</span>
                                                                            <div id="default_ced_type_div" style="display: none;" class="note-wrp">
                                                                                Kontak Pendaftar yang Anda sebutkan akan digantikan oleh kontak ini.
                                                                                Untuk rincian lebih lanjut silakan baca <b><a href="/content.php?action=faq&requestfor=asia" target="_blank">PU .ASIA</a></b>.
                                                                            </div>
                                                                            <br>
                                                                            <input type="radio" name="ced_type" value="customers"  onClick="choose_ced_type(this.value);" id="customer_CED" checked>&nbsp;&nbsp;<span style="font-size: 14px; color: #555;">Saya memenuhi persyaratan CED.</span>
                                                                        </div>

                                                                            <select name="asia_ced_contact_type" style="display: none;"><option value="registrantcontactid" selected="selected"></option></select>
                                                                            <div id="further_asia_details">
                                                                                <div id="ced_contact" class="fieldwrp">
                                                                                    <label class="frm-label">Bentuk Lokalitas
                                                                                        <span class="required">*</span></label>
                                                                                    <select class="frm-select" name="asia_ced_locality" id="asia_ced_locality">
                                                                                        <option value="">Choose a country</option>
                                                                                        <option value="AF">Afghanistan</option>
                                                                                        <option value="AQ">Antarctica</option>
                                                                                        <option value="AM">Armenia</option>
                                                                                        <option value="AU">Australia</option>
                                                                                        <option value="AZ">Azerbaijan</option>
                                                                                        <option value="BH">Bahrain</option>
                                                                                        <option value="BD">Bangladesh</option>
                                                                                        <option value="BT">Bhutan</option>
                                                                                        <option value="BN">Brunei Darussalam</option>
                                                                                        <option value="KH">Cambodia</option>
                                                                                        <option value="CN">China</option>
                                                                                        <option value="CX">Christmas Island</option>
                                                                                        <option value="CC">Cocos (Keeling) Islands</option>
                                                                                        <option value="CK">Cook Islands</option>
                                                                                        <option value="CY">Cyprus</option>
                                                                                        <option value="FJ">Fiji</option>
                                                                                        <option value="GE">Georgia</option>
                                                                                        <option value="HM">Heard Island and McDonald Islands</option>
                                                                                        <option value="HK">Hong Kong</option>
                                                                                        <option selected="true" value="IN">India</option>
                                                                                        <option value="ID">Indonesia</option>
                                                                                        <option value="IR">Iran, Islamic Republic of</option>
                                                                                        <option value="IQ">Iraq</option>
                                                                                        <option value="IL">Israel</option>
                                                                                        <option value="JP">Japan</option>
                                                                                        <option value="JO">Jordan</option>
                                                                                        <option value="KZ">Kazakhstan</option>
                                                                                        <option value="KI">Kiribati</option>
                                                                                        <option value="KP">Korea, Democratic People's Republic of</option>
                                                                                        <option value="KR">Korea, Republic of</option>
                                                                                        <option value="KW">Kuwait</option>
                                                                                        <option value="KG">Kyrgyzstan</option>
                                                                                        <option value="LA">Lao People's Democratic Republic</option>
                                                                                        <option value="LB">Lebanon</option>
                                                                                        <option value="MO">Macao</option>
                                                                                        <option value="MY">Malaysia</option>
                                                                                        <option value="MV">Maldives</option>
                                                                                        <option value="MH">Marshall Islands</option>
                                                                                        <option value="FM">Micronesia, Federated States of</option>
                                                                                        <option value="MN">Mongolia</option>
                                                                                        <option value="MM">Myanmar</option>
                                                                                        <option value="NR">Nauru</option>
                                                                                        <option value="NP">Nepal</option>
                                                                                        <option value="NZ">New Zealand</option>
                                                                                        <option value="NU">Niue</option>
                                                                                        <option value="NF">Norfolk Island</option>
                                                                                        <option value="OM">Oman</option>
                                                                                        <option value="PK">Pakistan</option>
                                                                                        <option value="PW">Palau</option>
                                                                                        <option value="PS">Palestinian Territories</option>
                                                                                        <option value="PG">Papua New Guinea</option>
                                                                                        <option value="PH">Philippines</option>
                                                                                        <option value="QA">Qatar</option>
                                                                                        <option value="WS">Samoa</option>
                                                                                        <option value="SA">Saudi Arabia</option>
                                                                                        <option value="SG">Singapore</option>
                                                                                        <option value="SB">Solomon Islands</option>
                                                                                        <option value="LK">Sri Lanka</option>
                                                                                        <option value="SY">Syrian Arab Republic</option>
                                                                                        <option value="TW">Taiwan</option>
                                                                                        <option value="TJ">Tajikistan</option>
                                                                                        <option value="TH">Thailand</option>
                                                                                        <option value="TL">Timor-Leste</option>
                                                                                        <option value="TK">Tokelau</option>
                                                                                        <option value="TO">Tonga</option>
                                                                                        <option value="TR">Turkey</option>
                                                                                        <option value="TM">Turkmenistan</option>
                                                                                        <option value="TV">Tuvalu</option>
                                                                                        <option value="AE">United Arab Emirates</option>
                                                                                        <option value="UZ">Uzbekistan</option>
                                                                                        <option value="VU">Vanuatu</option>
                                                                                        <option value="VN">Viet Nam</option>
                                                                                        <option value="YE">Yemen</option>
                                                                                    </select>
                                                                                </div>

                                                                                <div class="fieldwrp">
                                                                                    <label class="frm-label">Bentuk Badan Usaha
                                                                                        <span class="required">*</span></label>
                                                                                    <select class="frm-select" name="asia_ced_legal_entity" size="1" onchange="show_ced_entity();" id="asia_ced_legal_entity">
                                                                                        <option value="naturalPerson">Orang biasa</option>
                                                                                        <option value="corporation">Korporasi</option>
                                                                                        <option value="cooperative">Koperasi</option>
                                                                                        <option value="partnership">Persekutuan</option>
                                                                                        <option value="government">Pemerintahan</option>
                                                                                        <option value="politicalParty">Partai Politik</option>
                                                                                        <option value="society">Perkumpulan</option>
                                                                                        <option value="institution">Lembaga</option>
                                                                                        <option value="other">Lainnya</option>
                                                                                    </select>
                                                                                </div>

                                                                                <div id="row_ced_entity" style="display:none" class="fieldwrp">
                                                                                    <label class="frm-label">Bentuk Badan Lainnya
                                                                                        <span class="required">*</span></label>
                                                                                    <input type="text" name="asia_ced_legal_entity_other" id="asia_ced_legal_entity_other" class="frm-field">
                                                                                </div>

                                                                                <div class="fieldwrp">
                                                                                    <label class="frm-label">Bentuk Identifikasi
                                                                                        <span class="required">*</span></label>
                                                                                    <select class="frm-select" name="asia_ced_identification" id="asia_ced_identification" size="1" onchange="show_ced_id();">
                                                                                        <option value="passport">Paspor atau ID Kewarganegaraan</option>
                                                                                        <option value="certificate">Akte Pendirian atau yang setara</option>
                                                                                        <option value="legislation">Hukum, keputusan atau peraturan perundang-undangan pembentukan badan usaha</option>
                                                                                        <option value="societyRegistry">Registri Masyarakat atau yang setara</option>
                                                                                        <option value="politicalPartyRegistry">Registri Politik Partai </option>
                                                                                        <option value="other">Lainnya</option>
                                                                                    </select>
                                                                                </div>

                                                                                <div id="row_ced_identification" style="display:none" class="fieldwrp">
                                                                                    <label class="frm-label">Bentuk Identifikasi lainnya 
                                                                                        <span class="required">*</span></label>
                                                                                    <input type="text" name="asia_ced_identification_other" id="asia_ced_identification_other" class="frm-field">
                                                                                </div>

                                                                                <div class="fieldwrp">
                                                                                    <label class="frm-label"> Nomor Identifikasi
                                                                                        <span class="required">*</span></label>
                                                                                    <input type="text" name="asia_ced_identification_number" id="asia_ced_identification_number" class="frm-field"/>
                                                                                </div>

                                                                                <div class="note-wrp">
                                                                                    <strong><span class="ic-note"></span>Catatan:</strong>
                                                                                    Informasi ini akan diterapkan untuk semua domain .ASIA yang saat ini berada dalam keranjang belanja Anda.
                                                                                </div>

                                                                            </div>
                                                            <#/if:show_asia_details#>

                                    <#if:show_pw_details#>
                                        <div class="ui-space"></div>

                                        <input name="add_sunrisedotpw_details" value="true" type="hidden">

                                        <div class="fieldwrp">
                                            <label class="frm-label">Teks Kata-kata Merek Dagang <span class="required">*</span></label>
                                            <input class="frm-field" type="text" name="tm_word_text">
                                        </div>

                                        <div class="ui-space"></div>

                                        <div class="fieldwrp">
                                            <label class="frm-label">Nomor Registrasi Merek Dagang<span class="required">*</span></label>
                                            <input class="frm-field" type="text" name="tm_registration_number">
                                        </div>

                                        <div class="ui-space"></div>

                                        <div class="fieldwrp">
                                            <label class="frm-label">Tanggal Pendaftaran Merek Dagang (YYYY-MM-DD)<span class="required">*</span></label>
                                            <input class="frm-field" type="text" name="tm_registration_date">
                                        </div>

                                        <div class="ui-space"></div>

                                        <div class="fieldwrp">
                                            <label class="frm-label">Lokalitas Merek dagang <span class="required">*</span></label>
                                            <select name="tm_locality" class="frm-select">
                                                <option value="" selected>Pilih Negara</option>
<#loop:country_list#>
<option value="<#tag:country_list[].key /#>"><#tag:country_list[].value /#></option>
<#/loop:country_list#>
                                            </select>
                                        </div>

                                        <div class="ui-space"></div>

                                        <div class="fieldwrp">
                                            <label class="frm-label">Hak Merek Dagang<span class="required">*</span></label>
                                            <select name="tm_entitlement" class="frm-select">
                                                <option value="OWNER">OWNER</option>
                                                <option value="ASSIGNEE">ASSIGNEE</option>
                                                <option value="LICENSEE">LICENSEE</option>
                                            </select>
                                        </div>

                                        <div class="ui-space"></div>

                                        <div class="fieldwrp">
                                            <label class="frm-label">Nama Pemilik Merek Dagang<span class="required">*</span></label>
                                            <input class="frm-field" type="text" name="tm_owner_name">
                                        </div>

                                        <div class="ui-space"></div>

                                        <div class="fieldwrp">
                                            <label class="frm-label">Alamat jalan Pemilik merek dagang <span class="required">*</span></label>
                                            <input class="frm-field" type="text" name="tm_owner_street">
                                        </div>

                                        <div class="ui-space"></div>

                                        <div class="fieldwrp">
                                            <label class="frm-label">Kota Pemilik Merek Dagang<span class="required">*</span></label>
                                            <input class="frm-field" type="text" name="tm_owner_city">
                                        </div>

                                        <div class="ui-space"></div>

                                        <div class="fieldwrp">
                                            <label class="frm-label">Negara Bagian Pemilik Merek Dagang<span class="required">*</span></label>
                                            <input class="frm-field" type="text" name="tm_owner_state">
                                        </div>

                                        <div class="ui-space"></div>

                                        <div class="fieldwrp">
                                            <label class="frm-label">Kode Pos Pemilik Merek Dagang<span class="required">*</span></label>
                                            <input class="frm-field" type="text" name="tm_owner_postal_code">
                                        </div>

                                        <div class="ui-space"></div>

                                        <div class="fieldwrp">
                                            <label class="frm-label">Negara Pemilik Merek Dagang<span class="required">*</span></label>
                                            <select name="tm_owner_country" class="frm-select">
                                                <option value="" selected>Pilih Negara</option>
<#loop:country_list#>
<option value="<#tag:country_list[].key /#>"><#tag:country_list[].value /#></option>
<#/loop:country_list#>
                                            </select>
                                        </div>

                                        <div class="ui-space"></div>

                                        <div class="fieldwrp">
                                            <label class="frm-label">Kontak Peghubung Merek dagang <span class="required">*</span></label>
                                            <input class="frm-field" type="text" name="tm_contact_person">
                                        </div>

                                        <div class="ui-space"></div>

                                        <div class="fieldwrp">
                                            <label class="frm-label">Nomor Telepon Kontak Merek Dagang<span class="required">*</span></label>
                                            <input class="frm-field" type="text" name="tm_contact_telephone_number">
                                        </div>

                                        <div class="ui-space"></div>

                                        <div class="fieldwrp">
                                            <label class="frm-label">Kontak Email Merek Dagang<span class="required">*</span></label>
                                            <input class="frm-field" type="text" name="tm_contact_email">
                                        </div>

                                        <div class="ui-space"></div>

                                        <div class="note-wrp">
                                            <strong><span class="ic-note"></span>Catatan:</strong>
                                            Informasi ini akan diterapkan untuk semua domain .PW yang saat ini berada dalam keranjang belanja Anda.
                                        </div>
                                    <#/if:show_pw_details#>

                                    <div class="ui-space"></div>
                                    <div style="padding-left:160px;" >
                                        <button id="add_contact_btn" name="addcontact" class="uiButton" ><span><span>Tambahkan & Gunakan kontak ini</span></span></button>
                                        <a href="#" class="back_to_contact_list">Kembali</a> &nbsp;&nbsp;
                                    </div>

                                    </div>
                                    </div>

                                                <div class="myFormEnds"></div>
                    <!-- form ends -->
</div>
</form>
</div><br>
</td>
</tr>
</table>
</div>
<script type="text/javascript" src="/ui/supersite/en/js/add_contact_state_list.js"></script>
<script type="text/javascript" src="/ui/supersite/en/js/jquery.validate.js"></script>
<script type="text/javascript">
    Array.prototype.find = function (s) {
        for(var i=0;i<this.length;i++) {
            if(this[i] == s)
                return true;
        }
        return false;
    };

    var country = $("#ip_country_id").val();
    $("#countryid").attr("value", country);
    change_country(country);

    function toggleCompanywithName(obj) {
        if (obj.value != 'individual')
            document.getElementById('ca_company1').style.display = "none";
        else
            document.getElementById('ca_company1').style.display = "block";
    }
</script>
<script type="text/javascript" src="/ui/supersite/en/js/add_contact.js"></script>