<div class="newcheckoutform">
<table border="0" align="center" cellpadding="0" cellspacing="0" id="maincontent" width="100%" class="lightform">
<tr>
<td valign="top" id="content" class="w615">
<!-- Main Content ------------------------------------------------------>

<h3 class="ui-heading2">Buat Kontak NL Baru</h3>
<form name="add_contact_frm" id="add_contact_frm">
<div class="frmContainer">

<div class="myForm"></div>
<input type="hidden" name="domain_name" />
<input type="hidden" name="contacttype" value="NlContact" />
<div class="error" id="show_error" style="display:none">Galat:
    <div id="error_lists"></div>
</div>
<div class="frmSectionContent">

<div class="fieldwrp">
    <label class="frm-label">Bentuk Hukum <span class="required">*</span></label>
    <input name="legalForm" type="radio" value="PERSOON" checked="checked"/><span style="font-size: 14px; color: #555;">Perorangan</span>
    <input name="legalForm" type="radio" value="ANDERS"/><span style="font-size: 14px; color: #555;">ANDERS</span>
    <br />
    <br />
</div>

<div class="fieldwrp"  id="ca_individual">
    <label class="frm-label">Nama<span class="required">*</span></label>
    <input class="frm-field" name="txtName" type="text" id="txtName" value=""/>
    <br />
</div>

<div class="fieldwrp" id="ca_company1" >
    <label class="frm-label">Nama Perusahaan</label>
    <input class="frm-field" name="txtCompany" type="text" value="" />
    <br />
</div>

    <div class="fieldwrp">
        <label class="frm-label">Alamat Email<span class="required">*</span></label>
        <input class="frm-field" name="txtEmailAddr" type="text" value="" id="txtEmailAddr" />
    </div>

    <div class="fieldwrp">
        <label class="frm-label">Baris Alamat 1<span class="required">*</span></label>
        <input class="frm-field" name="txtAddress1" type="text" value="" id="txtAddress1" />
    </div>

    <div class="fieldwrp">
        <label class="frm-label">Baris Alamat 2</label>
        <input class="frm-field" name="txtAddress2" type="text" value="" id="txtAddress2" />
    </div>

    <div class="fieldwrp">
        <label class="frm-label">Baris Alamat 3</label>
        <input class="frm-field" name="txtAddress3" type="text" value="" id="txtAddress3" />
    </div>

    <div class="fieldwrp">
        <label class="frm-label">Kota<span class="required">*</span></label>
        <input class="frm-field" name="txtCity" type="text" value="" id="txtCity" />
    </div>

    <div class="fieldwrp">
        <label class="frm-label">Negara<span class="required">*</span></label>
        <select id="countryid" name="txtCountry" onChange = "change_country(this.value);"  class="frm-select">
            <option value="" selected>Pilih Negara</option>
            <#loop:country_list#>
                <option value="<#tag:country_list[].key /#>"><#tag:country_list[].value /#></option>
                <#/loop:country_list#>
        </select>
        <div id="country_error" style="display:none;background:#ebf5ec;">
            <p>Silakan pilih negara dan negara bagian.</p>
        </div>
    </div>

    <div class="fieldwrp">
        <label class="frm-label">Negara Bagian<span class="required">*</span></label>
        <select class="frm-select" name="txtState" onChange="showHideOtherState(this);" id="stateSelect">	</select>
        <input class="frm-field" type="hidden" name="not_applicable" value="true">
        <b id="loadMess" style="position:relative; visibility:hidden;">Memuat...</b>
        <span id="other_state_text" style="display: none;"></span>
    </div>

    <div class="fieldwrp">
        <label class="frm-label">Kode Pos<span class="required">*</span></label>
        <input class="frm-field" maxlength="10" name="txtZip" type="text" value="" id="txtZip" />
        <div id="caregcontact" style="display:none;background:#ebf5ec;">
            <p>Formatnya harus merupakan salah satu antara <em>A9 9AA</em>, <em>A99 9AA</em>, <em>AA9 9AA</em>, <em>AA99 9AA</em>, <em>A9A 9AA</em> atau <em>AA9A 9AA</em>, di mana A adalah karacter alfabet dan 9 adalah karakter numerik.</p>
        </div>

    </div>

    <div class="fieldwrp">
        <label class="frm-label">No. Telepon<span class="required">*</span></label>
        <input class="frm-field"  size="3" maxlength="3" name="txtTelcc" type="text" value="" id="txtTelcc" /> <input class="frm-field" name="txtTelNo" maxlength="12" type="text" value="" id="txtTelNo" />
        <div class="input-help">(Kode Negara - Nomor Telepon)</div>
    </div>

    <div class="fieldwrp">
        <label class="frm-label">No. Fax</label>
        <input class="frm-field" name="txtFaxCc" size="3" maxlength="3" type="text" value="" id="txtFaxCc" /> <input class='frm-field' name="txtFaxNo" maxlength="12" type="text" value="" id="txtFaxNo" />
        <div class="input-help">(Kode Negara - Nomor Telepon)</div>
    </div>

                    <div class="ui-space"></div>
                    <div style="padding-left:170px;" >
                        <button id="add_contact_btn" name="addcontact" class="uiButton" ><span><span>Tambahkan & Gunakan kontak ini</span></span></button>
                        <a href="#" class="back_to_contact_list">Kembali</a> &nbsp;&nbsp;
                    </div>

</div>
</div>
<div class="myFormEnds"></div>
<!-- form ends -->
</div>
</form>
</div><br>
</td>
</tr>
</table>
</div>
<script type="text/javascript" src="/ui/supersite/en/js/add_contact_state_list.js"></script>
<script type="text/javascript" src="/ui/supersite/en/js/jquery.validate.js"></script>
<script type="text/javascript">
    Array.prototype.find = function (s) {
        for(var i=0;i<this.length;i++) {
            if(this[i] == s)
                return true;
        }
        return false;
    };

    var country = $("#ip_country_id").val();
    $("#countryid").attr("value", country);
    change_country(country);

    function toggleCompanywithName(obj) {
        if (obj.value != 'individual')
            document.getElementById('ca_company1').style.display = "none";
        else
            document.getElementById('ca_company1').style.display = "block";
    }
</script>
<script type="text/javascript" src="/ui/supersite/en/js/add_contact.js"></script>