<div class="newcheckoutform">
<table border="0" align="center" cellpadding="0" cellspacing="0" id="maincontent" width="100%" class="lightform">
    <tr>
        <td valign="top" id="content" class="w615">
            <!-- Main Content ------------------------------------------------------>
            <h3 class="ui-heading2">Buat Kontak RU Baru</h3>

            <div class="note-wrp">
                <strong><span class="ic-note"></span>Note:</strong>
                <ul>
                    <li>Agar memenuhi syarat untuk nama .RU, Anda harus memasukkan rincian sebagai berikut sesuai dengan pedoman Registri .RU </li>
                    <li>Untuk rincian lebih lanjut silakan baca <b><a href="http://<#tag:brandedurl /#>/kb/answer/1336#contact" target="_blank">PU .RU</a></b></li>
                </ul>
            </div>

            <form name="add_contact_frm" id="add_contact_frm">
                <div class="frmContainer">

                    <div class="myForm"></div>

                    <div class="error" id="show_error" style="display:none">Galat:
                        <div id="error_lists"></div>
                    </div>
                    <input type="hidden" name="domain_name" />
                    <input type="hidden" name="contacttype" value="RuContact" />
                    <div class="frmSectionContent">

                    <div class="fieldwrp"  id="individual">
                        <label class="frm-label">Nama<span class="required">*</span></label>
                        <input class="frm-field" name="txtName" type="text" id="txtName" />
                        <br />
                    </div>

                        <div class="fieldwrp" id="company" >
                            <label class="frm-label">Nama perusahaan<span class="required">*</span></label>
                            <input class="frm-field" name="txtCompany" type="text" id="txtCompany" />
                            <br />
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Alamat Email<span class="required">*</span></label>
                            <input class="frm-field" name="txtEmailAddr" type="text" id="txtEmailAddr" />
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Baris Alamat 1<span class="required">*</span></label>
                            <input class="frm-field" name="txtAddress1" type="text" id="txtAddress1" />
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Baris Alamat 2</label>
                            <input class="frm-field" name="txtAddress2" type="text" id="txtAddress2" />
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Baris Alamat 3</label>
                            <input class="frm-field" name="txtAddress3" type="text" id="txtAddress3" />
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Kota<span class="required">*</span></label>
                            <input class="frm-field" name="txtCity" type="text" id="txtCity" />
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Negara<span class="required">*</span></label>
                            <select class="frm-select" id="countryid" name="txtCountry" onChange = "change_country(this.value);" >
                                <option value="" selected>Pilih Negara</option>
                                <#loop:country_list#>
                                <option value="<#tag:country_list[].key /#>"><#tag:country_list[].value /#></option>
                                <#/loop:country_list#>
                            </select>
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Wilayah Bagian<span class="required">*</span></label>
                            <select class="frm-select" name="txtState" onChange="showHideOtherState(this);" id="stateSelect">	</select>
                            <input class="frm-field" type="hidden" name="not_applicable" value="true">
                            <b id="loadMess" style="position:relative; visibility:hidden;">Memuat... </b>
                            <span id="other_state_text" style="display: none;"></span>
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Kode Pos<span class="required">*</span></label>
                            <input class="frm-field" maxlength="10" name="txtZip" type="text" id="txtZip" />
                            <div id="esregcontact" style="display:none;background:#ebf5ec;">
                                <p>Formatnya harus salah satu dari <em>A9 9AA</em>, <em>A99 9AA</em>, <em>AA9 9AA</em>, <em>AA99 9AA</em>, <em>A9A 9AA</em> atau <em>AA9A 9AA</em>, di mana A adalah sebuah karakter alfabet dan 9 adalah karakter numerik.</p>
                            </div>

                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Nomor Tel<span class="required">*</span></label>
                            <input class="frm-field"  size="3" maxlength="3" name="txtTelcc" type="text" id="txtTelcc" /> <input class="frm-field" name="txtTelNo" maxlength="12" type="text" id="txtTelNo" />
                            <div class="input-help">(Kode Negara - Nomor Telepon)</div>
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Nomor Fax </label>
                            <input class="frm-field" name="txtFaxCc" size="3" maxlength="3" type="text" id="txtFaxCc" /> <input class="frm-field" name="txtFaxNo" maxlength="12" type="text" id="txtFaxNo" />
                            <div class="input-help">(Kode Negara - Nomor Telepon)</div>
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Tipe Kontrak<span class="required">*</span></label>
                            <select name="contract_type" class="frm-select" id="contract_type" size="1" onchange="change_dotru_info(this.value)">
                                <option value="ORG">
                                    Organisasi
                                </option>
                                <option value="PRS">
                                    Individual
                                </option>
                            </select>
                        </div>

                        <div class="ui-space"></div>

                        <div id="org" class="fieldwrp company_contract">
                            <label class="frm-label">Alamat sah<span class="required">*</span>
                                <span class="tooltip" style="position: relative; top:-4px;">
                                <img  src="/getImage.php?src=ico-help.gif" style="vertical-align:bottom;">
                                <span class="classic" style="width:420px; left:-120px; top:-50px;">
                                    <ul>
                                        <li style="font-size: 13px;">Tempat pendirian, termasuk negara tempat pendirian mis. New York, U.S.A, dll.</li>
                                    </ul>
                                    <div class="tooltip_img" style="left:150px"></div>
                                </span>
                            </span>
                            </label>
                            <input type="text" name="org_address_r" class="frm-field"/>
                        </div>

                        <div class="ui-space"></div>

                        <div id="kpp" style="display: none;" class="fieldwrp company_contract">
                            <label class="frm-label">Pokok Wajib Pajak Nomor (kode)<span class="required">*</span>
                                <span class="tooltip" style="position: relative; top:-4px;">
                                <img  src="/getImage.php?src=ico-help.gif" style="vertical-align:bottom;">
                                <span class="classic" style="width:420px; left:-120px; top:-50px;">
                                    <ul>
                                        <li style="font-size: 13px;">10 Digit</li>
                                    </ul>
                                    <div class="tooltip_img" style="left:150px"></div>
                                </span>
                            </span>
                            </label>
                            <input type="text" name="org_code" maxlength="10" class="frm-field"/>
                        </div>

                        <div class="fieldwrp company_contract">
                            <label class="frm-label">Nomor Pokok Wajib Pajak (KPP) menurut wilayah<span class="required">*</span>
                                <span class="tooltip" style="position: relative; top:-4px;">
                                <img  src="/getImage.php?src=ico-help.gif" style="vertical-align:bottom;">
                                <span class="classic" style="width:220px; left:-120px; top:-50px;">
                                    <ul>
                                        <li style="font-size: 13px;">9 Digit</li>
                                    </ul>
                                    <div class="tooltip_img" style="left:150px"></div>
                                </span>
                            </span>
                            </label>
                            <input type="text" name="org_kpp" maxlength="9" class="frm-field"/>
                        </div>

                        <div class="ui-space"></div>

                        <div class="fieldwrp company_contract">
                            <label class="frm-label">Nama Lengkap Perusahaan (org-r)<span class="required">*</span>
                            <span class="tooltip" style="position: relative; top:-4px;">
                                <img  src="/getImage.php?src=ico-help.gif" style="vertical-align:bottom;">
                                <span class="classic" style="width:420px; left:-120px; top:-50px;">
                                    <ul>
                                        <li style="font-size: 13px;">Nama Perusahaan yang terdaftar secara hukum seperti yang tercantum dalam dokumen pembentukan perusahaan - singkatan tidak diperbolehkan</li>
                                    </ul>
                                    <div class="tooltip_img" style="left:150px"></div>
                                </span>
                            </span>
                            </label>
                            <input type="text" name="org_r" class="frm-field"/>
                        </div>

                        <div class="ui-space"></div>

                        <div id="prs" style="display: none" class="fieldwrp individual_contract">
                            <label class="frm-label">Nama<span class="required">*</span>
                            <span class="tooltip" style="position: relative; top:-4px;">
                                <img  src="/getImage.php?src=ico-help.gif" style="vertical-align:bottom;">
                                <span class="classic" style="width:420px; left:-120px; top:-50px;">
                                    <ul>
                                        <li style="font-size: 13px;">dalam bahasa Rusia, jika memungkinkan</li>
                                    </ul>
                                    <div class="tooltip_img" style="left:150px"></div>
                                </span>
                            </span>
                            </label>
                            <input type="text" name="prs_person_r" class="frm-field"/>
                        </div>

                        <div class="ui-space"></div>

                        <div class="fieldwrp individual_contract" style="display: none;">
                            <label class="frm-label">Informasi Paspor<span class="required">*</span>
                            <span class="tooltip" style="position: relative; top:-4px;">
                                <img  src="/getImage.php?src=ico-help.gif" style="vertical-align:bottom;">
                                <span class="classic" style="width:420px; left:-120px; top:-50px;">
                                    <ul>
                                        <li style="font-size: 13px;">Nomor dokumen, Diterbitkan oleh, Tanggal Diterbitkan</li>
                                    </ul>
                                    <div class="tooltip_img" style="left:150px"></div>
                                </span>
                            </span>
                            </label>
                            <input type="text" name="prs_passport" class="frm-field"/>
                        </div>

                        <div class="ui-space"></div>

                        <div class="fieldwrp individual_contract" style="display: none;">
                            <label class="frm-label">Tanggal Lahir (DD.MM.YYYY)</span><span class="required">*</span></label>
                            <input type="text" name="prs_bod_r" class="frm-field"/>
                        </div>

                        <div class="ui-space"></div>
                        <div style="padding-left:160px;">
                            <button type="submit" id="add_contact_btn" name="addcontact" class="uiButton" ><span><span>Tambahkan & Gunakan kontak ini</span></span></button>
                            <a href="#" class="back_to_contact_list">Kembali</a> &nbsp;&nbsp;
                        </div>

                    </div>
                </div>
                <div class="myFormEnds"></div>
                <!-- form ends -->
                </div>
            </form>
            </div><br>
        </td>
    </tr>
</table>
</div>
<script type="text/javascript" src="/ui/supersite/en/js/add_contact_state_list.js"></script>
<script type="text/javascript">
    $('#countryid').change(function(){
        if($(this).val() == 'RU'){
            $('#kpp').show();
        }
        else{
            $('#kpp').hide();
        }
    });

    function change_dotru_info(contract_type) {
        if (contract_type == 'ORG') {
            $('.individual_contract').hide();
            $('.company_contract').show();
        }
        else {
            $('.individual_contract').show();
            $('.company_contract').hide();
        }
    }

    Array.prototype.find = function (s) {
        for(var i=0;i<this.length;i++) {
            if(this[i] == s)
                return true;
        }
        return false;
    };

    var country = $("#ip_country_id").val();
    $("#countryid").attr("value", country);
    change_country(country);

</script>
<script type="text/javascript" src="/ui/supersite/en/js/add_contact.js"></script>