<div class="newcheckoutform">
<table border="0" align="center" cellpadding="0" cellspacing="0" id="maincontent" width="100%" class="lightform">
    <tr>
        <td valign="top" id="content" class="w615">
            <!-- Main Content ------------------------------------------------------>
            <h3 class="ui-heading2">Buat Kontak UK Baru</h3>

            <form name="add_contact_frm" id="add_contact_frm">
                <div class="frmContainer">

                    <div class="myForm"></div>
                    <input type="hidden" name="domain_name" />
                    <input type="hidden" name="contacttype" value="UkContact" />
                    <div class="error" id="show_error" style="display:none">Galat:
                        <div id="error_lists"></div>
                    </div>
                    <div class="frmSectionContent">
                        <div class="fieldwrp">
                            <label class="frm-label">Tipe Pendaftar<span class="required">*</span></label>
                            <input  type="radio" name="radio_company" value="individual" onclick="companyButton(this);" checked="checked" /><span style="font-size: 14px; color: #555;">&nbsp;&nbsp;Individual
                            <input type="radio" name="radio_company" value="company" onclick="companyButton(this);" /><span style="font-size: 14px; color: #555;">&nbsp;&nbsp;Perusahaan
                        </div>    

                        <div class="fieldwrp"  id="uk_individual">
                            <label class="frm-label">Nama<span class="required">*</span></label>
                            <input class="frm-field" name="ind_txtName" type="text" id="txtName" />
                            <br />
                            <div class="input-help">(Nama individual tidak dapat diubah nantinya<#if:show_eu_for_free#> for free<#/if:show_eu_for_free#>)</div>
                        </div>

                        <div class="fieldwrp" id="uk_company1" style="display:none;">
                            <label class="frm-label">Nama perusahaan<span class="required">*</span></label>
                            <input class="frm-field" name="txtCompany" type="text" id="txtCompany" />
                            <br />
                            <div class="input-help">(Nama perusahaan tidak dapat diubah nantinya<#if:show_eu_for_free#> secara gratis<#/if:show_eu_for_free#>)</div>
                        </div>

                        <div class="fieldwrp" id="uk_company2" style="display:none;">
                            <label class="frm-label">Kontak Penghubung<span class="required">*</span></label>
                            <input class="frm-field" name="comp_txtName" type="text" id="txtName" />
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Alamat Email<span class="required">*</span></label>
                            <input class="frm-field" name="txtEmailAddr" type="text" id="txtEmailAddr" />
                        </div>    

                        <div class="fieldwrp">
                            <label class="frm-label">Baris Alamat 1<span class="required">*</span></label>
                            <input class="frm-field" name="txtAddress1" type="text" id="txtAddress1" />
                        </div>    

                        <div class="fieldwrp">
                            <label class="frm-label">Baris Alamat 2</label>
                            <input class="frm-field" name="txtAddress2" type="text" id="txtAddress2" />
                        </div>    

                        <div class="fieldwrp">
                            <label class="frm-label">Baris Alamat 3</label>
                            <input class="frm-field" name="txtAddress3" type="text" id="txtAddress3" />
                        </div>    

                        <div class="fieldwrp">
                            <label class="frm-label">Kota<span class="required">*</span></label>
                            <input class="frm-field" name="txtCity" type="text" id="txtCity" />
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Negara<span class="required">*</span></label>
                            <select id="countryid" name="txtCountry" onChange = "change_country(this.value);"  class="frm-select">
                                <option value="" selected>Pilih Negara</option>
                                <#loop:country_list#>
                                    <option value="<#tag:country_list[].key /#>"><#tag:country_list[].value /#></option>
                                    <#/loop:country_list#>
                            </select>
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Wilayah Bagian<span class="required">*</span></label>
                            <select class="frm-select" name="txtState" onChange="showHideOtherState(this);" id="stateSelect">	</select>
                            <input class="frm-field" type="hidden" name="not_applicable" value="true">
                            <b id="loadMess" style="position:relative; visibility:hidden;">Memuat... </b>
                            <span id="other_state_text" style="display: none;"></span>
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Kode Pos<span class="required">*</span></label>
                            <input class="frm-field" maxlength="10" name="txtZip" type="text" id="txtZip" style="width: 193px;"/>
                            <div id="caregcontact" style="display:none;background:#ebf5ec;">
                                <p>Formatnya harus salah satu dari <em>A9 9AA</em>, <em>A99 9AA</em>, <em>AA9 9AA</em>, <em>AA99 9AA</em>, <em>A9A 9AA</em> atau <em>AA9A 9AA</em>, di mana A adalah sebuah karakter alfabet dan 9 adalah karakter numerik.</p>
                            </div>

                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Nomor Tel<span class="required">*</span></label>
                            <input class="frm-field"  size="3" maxlength="3" name="txtTelcc" type="text" id="txtTelcc" /> <input class="frm-field" name="txtTelNo" maxlength="12" type="text" id="txtTelNo" />
                            <div class="input-help">(Kode Negara - Nomor Telepon)</div>
                        </div>

                        <div class="fieldwrp">
                            <label class="frm-label">Nomor Fax </label>
                            <input class="frm-field" name="txtFaxCc" size="3" maxlength="3" type="text" id="txtFaxCc" /> <input class="frm-field" name="txtFaxNo" maxlength="12" type="text" id="txtFaxNo" />
                            <div class="input-help">(Kode Negara - Nomor Telepon)</div>
                        </div>

                        <div class="ui-space"></div>
                        <div style="padding-left:160px;">
                            <button type="submit" id="add_contact_btn" name="addcontact" class="uiButton" ><span><span>Tambahkan & Gunakan kontak ini</span></span></button>
                            <a href="#" class="back_to_contact_list">Kembali</a> &nbsp;&nbsp;
                        </div>

                    </div>
                </div>
                <div class="myFormEnds"></div>
                <!-- form ends -->
                </div>
            </form>
            </div><br>
        </td>
    </tr>
</table>
</div>
<script type="text/javascript" src="/ui/supersite/en/js/add_contact_state_list.js"></script>
<script type="text/javascript">
    var reg_uk_country;
    reg_uk_country = new Array('GB','JE','GG','IM');
    Array.prototype.find = function (s) {
        for(var i=0;i<this.length;i++) {
            if(this[i] == s)
                return true;
        }
        return false;
    };
    function check_country(cntry) {
        if(reg_uk_country.find(cntry))
            document.getElementById('ukregcontact').style.display = 'block';
        else
            document.getElementById('ukregcontact').style.display = 'none';
    }
    function companyButton(obj) {
        if (obj.value == 'company') {
            $("#uk_company1").show();
            $("#uk_company2").show();
            $("#uk_individual").hide();
        } else {
            $("#uk_company1").hide();
            $("#uk_company2").hide();
            $("#uk_individual").show();
        }
    }
</script>
<script type="text/javascript" src="/ui/supersite/en/js/add_contact.js"></script>