<script type="text/javascript">
    var countryCodeList = new Array();
    <#loop:country_code#>
	    countryCodeList['<#tag:country_code[].key /#>'] = '<#tag:country_code[].value /#>';
    <#/loop:country_code#>
</script>

<div id="body-wrapper">
  <div id="content-wrapper">
    <h3 class="ui-heading2">
      Pilih <#tag:tld_name /#> Kontak
    </h2>
    <div class="error" id="contact_add_error" style="display:none;"></div>
    <input type='hidden' id="contact_type" value="<#tag:contact_type /#>" />
    <input type="hidden" id="ip_country_id" value="<#tag:ip_country /#>" />
    <div class="contact-search-wrp" style="width: 550px;">
      <div class="lfloat flt-add-button" style="padding-right:10px">
      <a href="#" title="Add New Contact" class="font-xlarge class_new_contact model-button" id="new_contact_button">
      <!--<img src="/getImage.php?src=plus-add-icon.gif" />-->
       + Tambahkan Baru
      </a>
      </div>
     <!-- <div class="frm-label"><strong>
        Pencarian Nama
        </strong></div>-->
      <div class="name-search-box rfloat">
      <span class="frm-labell">
        Pencarian Nama
       </span>
       <input type="text" id="search_contact_txt" name="contactname" class="input-text input-text2 frm-field">
       <button id="search_contact_btn" class="search-uibutton"></button>
      <!--<button id="search_contact_btn" class="uiButton"> <span><span>Cari</span></span></button>-->
     </div>
     <div class="clear"></div>
    </div>
  
    <div id="contact_search_result"> <#tag:contact_list /#> </div>
  </div>
  <div class="ui-space"></div>
</div>
<script type="text/javascript" src="/ui/supersite/en/js/contact.js"></script>