<div class="footer-cols">
	<div class="col one">
    	<h4>Domain</h4>
		<ul class="secondary-links">
			<li><a href="/domain-registration/index.php">Registrasi Domain</a></li>
			<li><a href="/domain-registration/domain-registration-price.php">Daftar Harga Domain</a></li>
			<li><a href="/domain-registration/bulk-domain-registration.php">Registrasi Banyak Domain</a></li>
			<li><a href="/domain-registration/transfer/bulk-domain-transfer.php">Transfer Banyak Domain</a></li>
			<li><a href="/domain-registration/domain-whois-lookup.php">Cek Whois</a></li>
			<li><a href="/domain-registration/domain-name-suggestion-tool.php">Tool Nama Usulan</a></li>
			<li><a href="/domain-registration/free-with-domain-registration.php">Gratis untuk Setiap Domain</a></li>
			<li><a href="/domain-registration/promos.php" class="greytext">Lihat Promo</a></li>
        </ul>
	</div>
    <#if:show_products_column#>
	<div class="col two">
    	<h4><#if:show_hosting_header#>Hosting & <#/if:show_hosting_header#>Produk</h4>
		<ul class="secondary-links">
            <#if_show:lhbus-mdh#><li><a href="/web-hosting/linux-php-hosting.php">Hosting Linux</a></li><#/if_show:lhbus-mdh#>
            <#if_show:w2kus-mdwh#><li><a href="/web-hosting/windows-hosting.php">Hosting Windows</a></li><#/if_show:w2kus-mdwh#>
            <#if_show:resellerhosting#><li><a href="/reseller-hosting.php">Reseller Hosting Linux</a></li><#/if_show:resellerhosting#>
            <#if_show:resellerwindowshosting#><li><a href="/windows-reseller-hosting.php">Reseller Hosting Windows</a></li><#/if_show:resellerwindowshosting#>
            <#if_show:vpslinux#><li><a href="/vps-hosting.php">Virtual Private Servers</a></li><#/if_show:vpslinux#>
            <#if_show:dedicatedserver#><li><a href="/dedicated-servers.php">Dedicated Servers</a></li><#/if_show:dedicatedserver#>
            <#if_show:managedserver#><li><a href="/managed-servers.php">Managed Servers</a></li><#/if_show:managedserver#>
            <#if_show:sitebuilder#><li><a href="/website-design/do-it-yourself-website-builder.php">Pembuat Website </a></li><#/if_show:sitebuilder#>
            <#if_show:mailboxus#><li><a href="/web-hosting/email-hosting.php">Business Email</a></li><#/if_show:mailboxus#>
            <#if_show:enterpriseemail#><li><a href="/web-hosting/enterprise-email-hosting.php">Enterprise Email</a></li><#/if_show:enterpriseemail#>
            <#if_show:digicert#><li><a href="/digital-ssl-certificate/index.php">SSL</a></li><#/if_show:digicert#>
            <#if_show:sitelock#><li><a href="/sitelock.php">Sitelock</a></li><#/if_show:sitelock#>
        </ul>
	</div>
    <#/if:show_products_column#>
    <#if:show_hosting_items#>
	<div class="col three">
    	<h4>Infrastruktur</h4>
		<ul class="secondary-links">
            <li><a href="/web-hosting/datacenter-network.php">Info Datacenter</a></li>
            <li><a href="/web-hosting/hosting-security.php">Keamanan Hosting</a></li>
            <li><a href="/web-hosting/server-monitoring.php">24 x 7 Monitoring Server</a></li>
            <li><a href="/web-hosting/data-protection-recovery.php">Backup dan Recovery</a></li>
       </ul>
	</div>
    <#/if:show_hosting_items#>
	<div class="col four">
    	<h4>Dukungan</h4>
		<ul class="secondary-links">
			<li><a target="_blank" href="http://<#tag:brandedurl /#>/kb">Lihat Knowledge Base</a></li>
			<li><a href="/support/contact-us.php">Hubungi Dukungan</a></li>
			<li><a href="/support/contact-us.php">Laporkan Penyalahgunaan</a></li>
		</ul>
    </div>
	<div class="col misc">
        <h4>Reseller</h4>
        <ul class="secondary-links">
			<li><a target="_blank" href="/reseller.php?action=partnersite">Gabung ke Program Reseller</a></li>
        </ul>
    </div>

</div>

<p id="fineprint">Copyright © <#tag:brandname /#>. Semua hak dilindungi.</p>
<span><a href="/support/privacy.php" target="_blank">Kebijakan Privasi</a></span> | <span><a href="/support/legal.php" target="_blank">Kesepakatan Legal</a></span> 

<script type="text/javascript" src="/ui/supersite/en/js/loading_animation.js"></script>
<script type="text/javascript" src="/ui/supersite/en/js/footerScripts.js"></script>
<script async type="text/javascript" src="/ui/supersite/en/js/ga_event_tracking.js"></script>