<br><br><br><br><br><br>
<table width="740" border="0" cellspacing="0" cellpadding="0" align="center">
	<tr>
		<td class="rounded-box-container">
		<div class="rounded-box-topcap">
		</div>
		</td>
	</tr>
	<tr>
		<td class="rounded-box-content" style="background: url(ui/supersite/themes/MinimalGreen/images/server-error.png) no-repeat 20px 22px;">
			<h1 style="margin-left: 50px; font-family: trebuchet ms; font-size:30px;">   Area ini sedang dalam pemeliharaan.
			<br><small style="color: #888;">    Silakan cek lagi nanti.</small>
			</h1>
		</td>
	</tr>
	<tr>
		<td>
		<div class="rounded-box-botcap"></div>
		</td>
	</tr>
</table>
<br><br><br><br><br><br>