<#if:show_language_box#>
    <form id="language-option" name="change_lang" method="POST" action="/index.php?action=change_lang">
        <label>Bahasa</label>
        <select name="language"	onchange="javascript:document.change_lang.submit();">
            <#loop:live_languages#>
                <option value="<#tag:live_languages[].key /#>" <#tag:live_languages[].selected /#>><#tag:live_languages[].value /#></option>
            <#/loop:live_languages#>
        </select>
    </form>
<#/if:show_language_box#>