<div class="top-reseller-menu">
    <div class="reseller-opt">
        Masuk sebagai Reseller<span class="ic-top-set ic-top-dd"></span>
        <ul class="user-dd">
            <li><span class="ic-top-set ic-top-email"></span><#tag:reseller_username /#></li>
            <li><span class="ic-top-set ic-top-id"></span>Reseller ID - <#tag:reseller_id /#></li>
            <li><a href="/login.php?action=signout" onclick="return log_out(0);"><span class="ic-top-set ic-top-logout"></span>Keluar</a></li>
        </ul>
    </div>
</div>