<script type="text/javascript" src="/ui/supersite/en/js/jquery.innerfade.js"></script>
<script type="text/javascript" src="/ui/supersite/en/js/jquery.scrollTo.js"></script>


<h1 id="branding">
    <span class="logo-cont">
        <span></span>
        <a href="/index.php"><img src="/getImage.php?src=logo.gif" alt=""></a>
    </span>
</h1>
<#tag:header_dashboard /#>

<div class="clear"></div>
<div id="primary-nav">
	<div class="nav">
    	<ul class="navigation">		
    
    		<li class="first <#tag:homesection /#>"><a href="/">Beranda</a></li>
            
            <li class="levelone <#tag:domainsection /#>">
            <a href="/domain-registration/index.php">Domain</a>
                <ul class="submenu-parent" id="domainssubmenu">
                    <li>
                        <h3>Pendaftaran</h3>
                        <ul>
                            <li>
                                <span class="menu-icon"></span>
                                <div class="menu-content">
                                    <a href="/domain-registration/index.php">Daftarkan Domain</a>
                                    <p>Pesan Nama Domain Anda Disini</p>
                                </div>
                            </li>
        
                            <li>
                                <span class="menu-icon"></span>
                                <div class="menu-content">
                                    <a href="/domain-registration/bulk-domain-registration.php">Pendaftaran nama domain massal</a>
                                    <p>Pendaftaran massal dengan harga terendah</p>
                                </div>
                            </li>
        
                            <li>
                                <span class="menu-icon"></span>
                                <div class="menu-content">
                                    <a href="/new-domain-extensions">Ekstensi Nama Domain Baru<span class="mnew-tag">Baru</span></a>
                                    <p>Pra-pendaftaran untuk mendapatkan nama pilihan Anda</p>
                                </div>
                            </li>
        
                            <li>
                                <span class="menu-icon"></span>
                                <div class="menu-content">
                                    <a href="/new-domain-extensions/sunrise">Domain Sunrise</a>
                                    <p>Daftarkan nama domain menggunakan nama merek dagang Anda</p>
                                </div>
                            </li>
                            <#if_show:premium-domain#>
                            <li>
                                <span class="menu-icon"></span>
                                <div class="menu-content">
                                    <a href="/domain-registration/premium-domain.php">Domain Premium</a>
                                    <p>Daftarkan nama domain unik, dan populer</p>
                                </div>
                            </li>
                            <#/if_show:premium-domain#>
                            <li>
                                <span class="menu-icon"></span>
                                <div class="menu-content">
                                    <a href="/domain-registration/idn">Pendaftaran Domain IDN</a>
                                    <p>Pesan nama domain internasional Anda disini</p>
                                </div>
                            </li>
        
                            <li class="hide">
                                <span class="menu-icon"></span>
                                <div class="menu-content">
                                    <a href="/domain-registration/domain-registration-price.php">Tampilkan Harga Domain</a>
                                    <p>Bandingkan harga untuk 50+ ekstensi</p>
                                </div>
                            </li>
                        </ul>
                    </li>
                    
                    <li>
                        <h3>Transfer</h3>
                        <ul>
                            <li>
                                <span class="menu-icon"></span>
                                <div class="menu-content">
                                    <a href="/domain-registration/transfer/index.php">Transfer Domain Anda</a>
                                    <p>Pindahkan nama domain yang ada</p>
                                </div>
                            </li>                    
                            <li>
                                <span class="menu-icon"></span>
                                <div class="menu-content">
                                    <a href="/domain-registration/transfer/bulk-domain-transfer.php">Transfer Domain Massal</a>
                                    <p>Menghemat dengan memindahkan banyak domain</p>
                                </div>
                            </li>                    
                        </ul>
                    </li>
                    
                    <li>
                        <h3>Tambahan</h3>
                        <ul>
                            <li>
                                <span class="menu-icon"></span>
                                <div class="menu-content">
                                    <a href="/domain-registration/free-with-domain-registration.php">Gratis dengan setiap domain</a>
                                    <p>Gratis <#if_show:free_email#>email,<#/if_show:free_email#> DNS, Perlinudngan dari pencurian dan banyak lagi</p>
                                </div>
                            </li>
                            <li>
                                <span class="menu-icon"></span>
                                <div class="menu-content">
                                    <a href="/domain-registration/domain-name-suggestion-tool.php">Alat Sugesti Nama</a>
                                    <p>Gunakan nama spinner kami untuk ide-ide tentang nama domain ideal Anda</p>
                                </div>
                            </li>
                            <li>
                                <span class="menu-icon"></span>
                                <div class="menu-content">
                                    <a href="/domain-registration/domain-whois-lookup.php">Pencarian Whois</a>
                                    <p>Lakukan Pencarian Whois</p>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            
            <#if_show:sitebuilder#>
            <li class="levelone <#tag:sitebuildersection /#>">
            <a href="/website-design/do-it-yourself-website-builder.php">Website</a>
                <ul class="submenu-parent" id="websitessubmenu">
                    <li>
                        <h3>Buat Website Anda</h3>
                        <ul>
                            <li>
                                <span class="menu-icon websitebuilder-micon"></span>
                                <div class="menu-content">
                                    <a href="/website-design/do-it-yourself-website-builder.php">Website Builder</a>
                                    <p>Buat langsung website Anda sendiri, tidak membutuhkan keterampilan coding / desain. Pilih dari lebih dari 100 tema atau hanya drag-and-drop untuk menyesuaikan desain Anda</p>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <#if:show_sitebuilder_tool_menu#>
                    <li>
                        <h3>Lindungi Website Anda</h3>
                        <ul>
                            <#if_show:sitelock#>
                            <li>
                                <span class="menu-icon sitelock-micon"></span>
                                <div class="menu-content">
                                    <a href="/sitelock.php">Pendeteksi Malware SiteLock</a>
                                    <p>Lebih dari 5000 situs bisa diserang setiap harinya. Dapatkan SiteLock dan amankan website anda dari hacker, virus dan malware.</p>
                                </div>
                            </li>
                            <#/if_show:sitelock#>
                            <#if_show:codeguard#>
                            <li>
                                <span class="menu-icon codeguard-micon"></span>
                                <div class="menu-content">
                                    <a href="/codeguard.php">Backup Website Codeguard</a>
                                    <p>Lindungi diri Anda dari crash situs tak terduga . Tambahkan CodeGuard dan dapatkan backup cloud otomatis untuk website dan database Anda .</p>
                                </div>
                            </li>
                            <#/if_show:codeguard#>
                        </ul>	
                    </li>
                    <#/if:show_sitebuilder_tool_menu#>
                </ul>
            </li>
            <#/if_show:sitebuilder#>
            <#if:show_hosting_menu#>
    		<li class="levelone <#tag:hostingsection /#>">
            <a href="/web-hosting/index.php">Hosting</a>
                <ul class="submenu-parent <#tag:reduce_hosting_menu_indentation /#>" id="hostingsubmenu">
                    <#if:show_shared_hosting_menu#>
                    <li>
                        <h3>Hosting Shared</h3>
                        <ul>
                            <#if_show:lhbus-mdh#>
                            <li>
                                <span class="menu-icon linuxhosting-micon"></span>
                                <div class="menu-content">
                                    <a href="/web-hosting/linux-php-hosting.php">Hosting Linux</a>
                                    <p>Sempurna untuk situs yang lebih kecil dan blog. Dilengkapi dengan cPanel, PHP, Apache dan lainnya</p>
                                </div>
                            </li>
                            <#/if_show:lhbus-mdh#>
                            <#if_show:w2kus-mdwh#>
                            <li>
                            	<span class="menu-icon windowshosting-micon"></span>
                                <div class="menu-content">
                                    <a href="/web-hosting/windows-hosting.php">Hosting Windows</a>
                                    <p>Sempurna untuk situs yang lebih kecil, blog, dll Dilengkapi dengan Plesk, ASP, IIS dan lainnya</p>
                                </div>
                            </li>
                            <#/if_show:w2kus-mdwh#>
                        </ul>	
                    </li>
                    <#/if:show_shared_hosting_menu#>
                    <#if:show_servers_menu#>
					<li>
                    	<h3>Server</h3>
                        <ul>
                        	<#if_show:vpslinux#>
                            <li>
                            	<span class="menu-icon vps-micon"></span>
                                <div class="menu-content">
                                    <a href="/vps-hosting.php">VPS</a>
                                    <p>Untuk situs yang lebih besar dan aplikasi yang membutuhkan hardware khusus, dengan harga lebih murah</p>
                                </div>
                            </li>
                            <#/if_show:vpslinux#>
                            
                            <#if_show:dedicatedserver#>
                            <li>
                            	<span class="menu-icon dedicated-micon"></span>
                                <div class="menu-content">
                                    <a href="/dedicated-servers.php">Dedicated Server</a>
                                    <p>Hardware khusus dan kinerja rock-solid; sempurna untuk situs dan aplikasi yang lebih besar</p>
                                </div>
                            </li>
                            <#/if_show:dedicatedserver#>
                            
                            <#if_show:managedserver#>
                            <li>
                            	<span class="menu-icon managed-micon"></span>
								<div class="menu-content">                                
                                    <a href="/managed-servers.php">Managed Server<span class="mnew-tag">Baru</span></a>
                                    <p>Dapatkan kekuatan dedicated server bersama dengan para ahli di-rumah kami untuk membantu mengelola server Anda</p>
                                </div>
                            </li>   
                            <#/if_show:managedserver#> 
                        </ul>
                    </li>				
					<#/if:show_servers_menu#>
                    <#if:show_reseller_hosting_menu#>
                    <li>
                        <h3>Reseller Hosting</h3>
                        <ul>
                            <#if_show:resellerhosting#>
                            <li>
                                <span class="menu-icon rhlinuxhosting-micon"></span>
                                <div class="menu-content">
                                    <a href="/reseller-hosting.php">Hosting Linux</a>
                                    <p>Mulai Bisnis hosting Anda hari ini. Dilengkapi dengan Gratis WHM, cPanel dan WHMCS</p>
                                </div>
                            </li>
                            <#/if_show:resellerhosting#>
                            <#if_show:resellerwindowshosting#>
                            <li>
                            	<span class="menu-icon rhwindowshosting-micon"></span>
                                <div class="menu-content">
                                    <a href="/windows-reseller-hosting.php">Hosting Windows</a>
                                    <p>Mulai Bisnis hosting Anda hari ini. Dilengkapi dengan Plesk dan WHMCS gratis</p>
                                </div>
                            </li>
                            <#/if_show:resellerwindowshosting#>
                        </ul>	
                    </li>
                    <#/if:show_reseller_hosting_menu#>
                    <#if:show_hosting_tool_menu#>
                    <li>
                        <h3>Alat alat</h3>
                        <ul>
                            <#if_show:codeguard#>
                            <li>
                                <span class="menu-icon codeguard-micon"></span>
                                <div class="menu-content">
                                    <a href="/codeguard.php">Backup Website Codeguard</a>
                                    <p>Data Anda sangat berharga. Amankan website Anda hanya dalam beberapa menit</p>
                                </div>
                            </li>
                            <#/if_show:codeguard#>
                            <#if_show:sitelock#>
                            <li>
                                <span class="menu-icon sitelock-micon"></span>
                                <div class="menu-content">
                                    <a href="/sitelock.php">Pendeteksi Malware SiteLock</a>
                                    <p>Lebih dari 5000 situs bisa diserang setiap harinya. Dapatkan SiteLock dan amankan website anda dari hacker, virus dan malware.</p>
                                </div>
                            </li>
                            <#/if_show:sitelock#>
                        </ul>	
                    </li>
                    <#/if:show_hosting_tool_menu#>
                </ul>
            </li>
            <#/if:show_hosting_menu#>
            <#if_show:mailbox#>
            <li class="levelone <#tag:emailsection /#>">
            <a href="/web-hosting/email-hosting.php">Email</a>
				<ul class="submenu-parent" id="emailsubmenu">
                    <li>
                        <ul>
                            <#if_show:mailboxus#>
                            <li>
                                <span class="menu-icon business-micon"></span>
                                <div class="menu-content">
                                    <a href="/web-hosting/email-hosting.php">Email Business</a>
                                    <p>Webmail yang mudah dan kuat.</p>
                                </div>
                            </li>
                            <#/if_show:mailboxus#>
                            <#if_show:enterpriseemail#>
                            <li>
                                <span class="menu-icon enterprise-micon"></span>
                                <div class="menu-content">
                                    <a href="/web-hosting/enterprise-email-hosting.php">Email Enterprise</a>
                                    <p>Email tingkat lebih lanjut dan kelas korporet</p>
                                </div>
                            </li>
                            <#/if_show:enterpriseemail#>
                        </ul>
                    </li>
                </ul>            
            </li>
            <#/if_show:mailbox#>
            
            <#if:show_security_menu#>
            <li class="last levelone <#tag:digicertsection /#>">
            <a href="/digital-ssl-certificate/index.php">Keamanan</a>
				<ul class="submenu-parent" id="securitysubmenu">
                    <li>
                        <ul>
                        	<#if_show:digicert#>
                            <li>
                                <span class="menu-icon ssl-micon"></span>
                                <div class="menu-content">
                                    <a href="/digital-ssl-certificate/index.php">SSL</a>
                                    <p>Enkripsi yang kuat untuk data Anda.</p>
                                </div>
                            </li>
                            <#/if_show:digicert#>
                            <#if_show:sitelock#>
                            <li>
                                <span class="menu-icon sitelock-micon"></span>
                                <div class="menu-content">
                                    <a href="/sitelock.php">SiteLock</a>
                                    <p>Lebih dari 5000 situs bisa diserang setiap harinya. Dapatkan SiteLock dan amankan website anda dari hacker, virus dan malware.</p>
                                </div>
                            </li>
                            <#/if_show:sitelock#>
                            <#if_show:codeguard#>
                            <li>
                                <span class="menu-icon codeguard-micon"></span>
                                <div class="menu-content">
                                    <a href="/codeguard.php">Backup Website Codeguard</a>
                                    <p>Data Anda sangat berharga. Amankan website Anda hanya dalam beberapa menit</p>
                                </div>
                            </li>
                            <#/if_show:codeguard#>
                        </ul>
                    </li>
                </ul>                        
            </li>
            <#/if:show_security_menu#>
    	</ul>
	</div>
	<span class="l-corner"></span>
	<span class="r-corner"></span>	
</div>


<script type="text/javascript">

$(".navigation li").hover(
  function () {
    $(this).addClass("nav-hover");	
  },
  function () {
    $(this).removeClass("nav-hover");
  }
);

</script>


