/* Generic */

p {
	text-align: right;
}

.error {
	background: #ffe1e1 url(/getImage.php?src=ico-warning.gif) no-repeat 98% 10px;
	padding: 10px 28px 8px 0px;
	text-align:right;
}

.error ul {
	margin:0px;
	padding: 5px;
}

.error li {
	background:  url(/getImage.php?src=bul-black-aro.gif) no-repeat 98% 5px;
	padding-left:0px;
	padding-right:20px;
	text-align: right;
}

.error p{
	font: 11px Verdana, Arial, sans-serif;
}

#my-nav a {
	background: url(/getImage.php?src=ico-my-nav.gif) no-repeat right center;
	}


/*
from: supersite-common.css
*/
.box-container h3 {
	padding-left: 0px;
	padding-right: 35px;
	background: url(/getImage.php?src=iw-frmSection-ico.gif) transparent no-repeat 98% center;
	text-align: right;
}
.box-container h3 img {
	display: none;
}

.box-container-blue {
	text-align:right;
}

.box-container-blue h3 {
	text-align:right;
	padding-left: 0px;
	padding-right: 33px;
	background: url(/getImage.php?src=iw-frmSection-ico.gif) transparent no-repeat 98% center;
}

.box-container-blue h3 img {
	display: none;
}


.box-subcontainer {
	background-image: url(/getImage.php?src=iw-frmSection-bgWhite.gif);
	background-position: left top;
	text-align:right;
}

.box-subcontainer h3 {
	padding-left: 0px;
	padding-right: 31px;
	text-align:right;
	background: url(/getImage.php?src=iw-blu-ico.gif) transparent no-repeat 98% center;
}

.box-subcontainer h3 img {
	display: none;
}

.dataTable2 td {
	text-align: right;
	}

.dataTable td {
	text-align: right;
	}

.YellowNote {
	background:  url(/getImage.php?src=ico-casbox.gif) #FFFFD3 no-repeat 98%;
	padding: 6px 28px 4px 0px;
	text-align: right;
}

#dashboard-area {
	
	}
.botlink {
	text-align: right;
	}
.dashboard-on .signout {
	padding-left:3px;
	text-align:left;
	}

.dashboard-off .signout {
	padding-left:2px;
	text-align:left;
	}

.dashboard-on .user {
	padding:2px 20px 2px 2px;
	text-align:right;
	background: url(/getImage.php?src=login-user-activ.gif) #CAD8E8 no-repeat 99% bottom;
}

.dashboard-off .user {
	padding:2px 20px 2px 2px;
	text-align:right;
	background: url(/getImage.php?src=login-user-nonactiv.gif) #EEEEEE no-repeat 99% bottom;
	}

.dashboard-on ul {	
	text-align: right;
	}

.dashboard-on li {
	padding:0px 14px 0px 0px;
	background: url(/getImage.php?src=arrow-orange.gif) no-repeat 99% 4px;
}

#sidebar {
	text-align: right !important;
}

#sidebar .sidebar-header {
	padding:4px 12px 4px 0px;
	}

#sidebar .list {
	margin:3px 0px;
	padding: 0;
	padding-top:1px;
	margin-left:0px;
	padding-left:0px;
	}

#sidebar .list li a {
	padding-left: 4px;
	padding-right: 14px;
	background: url(/getImage.php?src=arrow-sidebar-list.gif) #F5F5F5 no-repeat 149px 6px;
	}

#sidebar .list li a:hover {
	background: url(/getImage.php?src=arrow-sidebar-list.gif) #f5f5f5 no-repeat 149px 6px;
	}

/*
from: supersite-availabilitycheck.css
*/
.box-search-container {
	background-image: url(/getImage.php?src=iw-frmSection-bg.gif);
	background-position: left top;
	text-align:right;
}

.box-search-container h3 {
	text-align:right;
	padding-right: 35px;
	padding-left: 0px;
	background: url(/getImage.php?src=iw-search-dn.gif) transparent no-repeat 98% center;
}

.box-search-container h3 img {
	display: none;
	}

/*
from: supersite-features.css
*/
.note {
	padding: 3px 22px 2px 10px;
	text-align:right;
	background: url(/getImage.php?src=ico-info.gif) #F1F8FF no-repeat 99% 2px;
}

.note p {
	text-align: right;
}

.frmSection {
	text-align:right;
	background-image: url(/getImage.php?src=ico-frm-os.gif);
	background-position: 99% center;
}

.frmSection h3 {
	padding-right: 28px;
	text-align:right;
}

/*
from: supersite-compareplans.css
*/
.hilite {
	text-align: right;
}

/*
from: supersite-engage-forms.css
*/
.frmSectionContent {
	padding:8px 20px 5px 0px;
	text-align:right;
}

.frmSectionContent div {
	text-align: right !important;
}

/*
from: supersite-finalcheckout.css
*/
.box-checkout-container h3 {
	padding-left: 0px;
	padding-right: 70px;
	text-align:right;
	background: url(/getImage.php?src=iw-ico-checkout.gif) transparent no-repeat 95% center;
}

.box-checkout-container h3 img {
	margin-right: -60px;
	}

/*
from: supersite-promos.css
*/
#my-nav .promo-my-nav {
	display: block;
	padding-right: 15px;
	background: url(/getImage.php?src=sitebuilder-li.gif) no-repeat right 2px !important;
	}

#my-nav .promo-my-nav a {
	background: none;
	color: #EB5300;
	padding: 0;
	font-weight: bold;
	}

/*
from: supersite-instantwebsite.css
*/
#login-block-header {
	background: url(/getImage.php?src=feature-block-header-bg.gif) #fff no-repeat right top;
	}

#login-block-header h3 {
	padding-left: 0px;
	padding-right: 28px;
	text-align: right;
	background: url(/getImage.php?src=login-user-activ.gif) no-repeat 93% 19px;
	}

#login-block-footer {
	background: url(/getImage.php?src=feature-block-footer-bg.gif) #fff no-repeat right -10px;
	}

/*
from: supersite-pricing.css
*/
#pricing-block-header {
	background: url(/getImage.php?src=feature-block-header-bg.gif) #fff no-repeat right top;
	}

#pricing-block-header h3 {
	text-align: right;
	padding-right: 35px;
	padding-left: 0px;
	background: url(/getImage.php?src=feature-block-header-ico.gif) no-repeat 96% 25px;
	}

#pricing-block-footer {
	background: url(/getImage.php?src=feature-block-footer-bg.gif) #fff no-repeat right top;
	padding: 7px 10px 0 0;
	}

/* SideBar - Promo Blurb */

.promo-sidebar-blurb thead td {
	background: url(/getImage.php?src=promo-sidebar-blurb-header.gif) no-repeat left top;
	padding-right: 5px;
	}

.promo-sidebar-blurb td {
	padding-right: 10px;
	background: url(/getImage.php?src=arrow-sidebar-list.gif) no-repeat 149px 17px;
	}

/*
from: supersite-features.css
*/

#feature-block-header {
	background: url(/getImage.php?src=feature-block-header-bg.gif) #fff no-repeat right top;
	}

#feature-block-footer {
	background: url(/getImage.php?src=feature-block-footer-bg.gif) #fff no-repeat right top;
	}

.feature-block-list a {
	background: url(/getImage.php?src=feature-block-list-ico.gif) no-repeat 98% 5px;
	padding-left: 0px;
	padding-right: 15px;
	}

.feature-block-list a:hover {
	background: url(/getImage.php?src=feature-block-list-ico.gif) no-repeat 98% 5px;
	}

/*
from: supersite-homepage.css
from: supersite-instantwebsite.css
*/

.radio {
	text-align: right;
	}

.domain .headerone{
	background: url(/getImage.php?src=availability-number-1bg.gif) #fff no-repeat 94% center;
	text-align: right;
	padding-left:30px;
	padding-right:30px;
	}
	
.domain .headertwo {
	background: url(/getImage.php?src=availability-number-1bg.gif) #fff no-repeat 94% center;
	text-align: right;
	padding-left:30px;
	padding-right:30px;
	}
	
.domain .headerthree {
	background: url(/getImage.php?src=availability-number-1bg.gif) #fff no-repeat 94% center;
	text-align: right;
	padding-left:30px;
	padding-right:30px;
	}

.domain #form ul {
	text-align: right;
	}

#hp_pricing_table table {
	text-align: right;
	}

#hp_pricing_table table .tld-list {
	background:url(/getImage.php?src=arrow-sidebar-list.gif) no-repeat left center;
	padding-right: 13px;
	}

#hp_pricing_table .promo-chck-avail {
	width: 47px;
	display: block;
	}

.primary-feature-blurb {
	background: url(/getImage.php?src=hp-main-blurb.jpg) #f5f5f5 no-repeat left top;	
	}

.primary-feature-blurb ul {
	margin: 0 21px 0 0;
	text-align: right;
	}

.primary-feature-blurb-border1 {
	border-right: 1px solid #ccc;	
	}

.primary-feature-blurb-border2 {
	border-left: 1px solid #ccc;	
	}

.secondary-feature-blurb-header td {
	text-align: right;
	}

.secondary-feature-blurb ul {
	margin: 0 21px 0 5px;
	text-align: right;
	}

.hp-pricing-control {
	text-align: right;
	}

.hp-pricing-control strong {
	margin-right: 15px;
	}

/*
from: supersite-common.css
from: supersite-hosting.css
*/

.PageHeading {
	margin: 4px 4px 0 0;
	padding: 3px 5px;
	text-align:right;
	}

.PageSubHeading {
	padding: 2px 9px 2px 0px;
	text-align:right;
	}

.PageIntro {
	text-align: right;
	padding: 2px 2px 3px 3px;
	}

.PageIntro p {
	text-align: right;
	}

.PageIntro ul {
	margin: 0px;
	padding: 8px 0px 2px 0px;
	text-align: right;
	}

.PageIntro li {
	margin:0px;
	padding:1px 20px 3px 0px;
	background: url(/getImage.php?src=sitebuilder-li.gif) no-repeat right 4px;
	}

.head {
	text-align: right;
	padding-left:0px;
	padding-right:23px;
	}

/*
from: supersite-sitebuilder.css
from: supersite-engage.css
*/
.planlist {
	text-align:right;
	}

.planlist p {
	text-align:right;
	}

.planlist ul {
	margin: 9px 22px 0 8px;
	padding-right: 0px;
	}

.planlist li {
	margin-right: 22px;
	padding: 0 !important;
	margin: 0 !important;
	}

td.button {
	width: 99%;
	text-align: right;
	padding-right: 30px;
	}

.buy-button {
	text-align: right;
	padding-right: 5px;
	}

.eg-plan .buy-button {
	text-align: center;
	}

.bs {
	text-align: right;
	}

.sb-plan .compare
	{
	padding: 4px 8px 4px 0px;
	background: #D1E7FD url(/getImage.php?src=dot-arrow.gif) no-repeat 98% 6px;
	}

.sb-plan .compare a
	{
	text-align: right;
	}

.sb-plan .detail li
	{
	padding: 5px 12px 2px 2px;
	background: url(/getImage.php?src=dot.gif) no-repeat 98% 10px;
	text-align: right;
	}

.eg-plan .compare
	{
	padding: 4px 14px 4px 0px;
	background: #E7E7E7 url(/getImage.php?src=dot-arrow.gif) no-repeat 98% 6px; /* ::: Compare Plans :: AND :: View Details ::: */
	}

.eg-plan .compare a
	{
	text-align: right;	
	}	

.eg-plan .detail li
	{
	padding: 5px 15px 2px 0px;
	background: url(/getImage.php?src=dot.gif) no-repeat 98% 12px;
	text-align: right;
	}

.plan1, .plan2, .plan3, .plan4 {
	text-align: right;
	}

/*
from: supersite-compareplans.css
*/
.comparePlans .MainHeading {
	background: #0161BD url('/getImage.php?src=subheading.gif') no-repeat 98% center;
	padding-right: 31px;
	padding-left: 0px;
	text-align: right;
	}

.comparePlans .HeadingCaption {
	background: url('/getImage.php?src=heading.gif') no-repeat 98% center;
	padding-left: 0px;
	padding-right: 25px;
	text-align: right;
	}

.comparePlans .SubHeading {
	background: #5A98D4 url('/getImage.php?src=subheading.gif') no-repeat 98% center;
	padding-left: 0px;
	padding-right: 31px;
	text-align: right;
	}

.comparePlans .alt1 {
	background: #DEEDFB url('/getImage.php?src=pointer.gif') no-repeat 97% center;
	padding-left: 0px;
	padding-right: 25px;
	text-align: right;
	}

.comparePlans .alt2 {
	background: #fff url('/getImage.php?src=pointer.gif') no-repeat 97% center;
	padding-left: 0px;
	padding-right: 25px;
	text-align: right;
	}

.alt3, .alt4 {
	text-align: center;
	}

/* Feature Styles */

.box-features-content {
	text-align: right;
	margin-right: 10px;
	}

.box-features-content h2 {
	background: url(/getImage.php?src=feature-block-header-ico.gif) #B8C8D9 no-repeat 5px center;
	padding-left: 25px;
	}

.box-features-content h3 {
	background: url(/getImage.php?src=featureheading-ico.gif) #ECF7FF no-repeat 99% center;
	padding-right: 25px;
	text-align: right;
	}

.box-features-content p {
	text-align: right;
	}

.box-features-content ul {
	margin-right: 5px;
	}

.box-features-content li {
	margin-right: 5px;
	background: url(/getImage.php?src=feature-list-ico.gif) no-repeat right 4px;
	padding-right: 10px;
	}

.box-features-content blockquote li {
	background: url(/getImage.php?src=dot.gif) no-repeat right 4px;	
	padding-right: 10px;
	}

.feature-listheading {
	padding-right: 22px;
	background: url(/getImage.php?src=feature-list-head-ico.gif) no-repeat 99% 4px;
	}

/* Login Page */

.rounded-box-content ul {
	text-align: right;
	}

/* Email Plans */

.plans .list li {
	background:  url(/getImage.php?src=pointer.gif) no-repeat 98% 6px;
	padding-left:0px;
	padding-right:13px;
	text-align: right;
	}

.inner-plan {
	padding: 0px 12px 0px 0px;
	text-align: right;
	background: url(/getImage.php?src=pointer.gif) no-repeat 98% 4px;
	display: block;
	}

.inner-plan-li {
	background: url(/getImage.php?src=inner-plan-li.gif) no-repeat 99% 5px;
	padding-left: 0px;
	padding-right: 10px;
	}

/* Additional Services */

.q-blurb {
	background: url(/getImage.php?src=ico-info.gif) no-repeat 98% 2px;
	padding-right: 10px;
	}

.q-blurb p {
	text-align: right;
	}

.q-blurb a {
	background: url(/getImage.php?src=gray-pointer.gif) no-repeat 99% center;
	margin: 7px 25px 0 25px;
	padding-left: 0px;
	padding-right: 15px;
	text-align: right;
	}

.rounded-box-content h2 {
	text-align: right;
	}

/*
from: supersite-digital-certificate.css
*/

.digicert-heading {
	margin-left: 10px;
	_margin-left: 0px;
	.margin-left: 0px;
	margin-right: 0px;	
	_margin-right: 10px;	
	.margin-right: 10px;	
	}

.digicert-heading p {
	text-align: right;
	padding-right: 10px;
	}

.digicert-plan-details h4 {
	text-align: right;
	}
.digicert-plan-details ul {
	text-align: right;
	margin-right: 25px;
	}

.digicert-plan-details p {
	text-align: right;
	}

.digicert-plan-table-selected {
	background: #fff;
	border-top: 1px solid #96d1ff;
	border-right: 1px solid #96d1ff;
	border-bottom: 1px solid #96d1ff;
	border-left: 1px solid #fff;
	}

.digicert-content-spacer {
	border-top: 1px solid #96d1ff;
	border-left: 1px solid #96d1ff;
	border-bottom: 1px solid #96d1ff;
	background: #fff repeat-y right top;
	border-right: 0 none;
	}

.digicert-plan-name {
	text-align: right;
	margin: 5px 10px 5px 0px;
	}

.digicert-viewdetails {
	text-align: left;
	padding-left: 3px;
	}

.digicert-content-spacer {
	height: 526px;
	}

.rounded-box-content .digicert-plan-name {
	margin: 0px 10px 0px 0px;
	}

.rounded-box-content .digicert-content-spacer {
	height: 434px !important;
	}

.digicert-pricing-text {
	padding-right: 20px;
	text-align: right;
	background: url(/getImage.php?src=arrow-orange.gif) no-repeat 92% 4px;
    }

/* HOSTING PLANS TOOLTIPS */

div#tipDiv {
	visibility:visible;
	position:nothing !important;
	display: none;
	width:230px;
	/*left:20px;*/
	}

div.tip
{
	background: url(/getImage.php?src=tooltip.gif) no-repeat left bottom;
	position:absolute;
	display: none;
    width:230px;
	top: 1000px;
	left: 1000px;
	z-index:10000;
	padding-left:5px;
	padding-right:0;
	padding-top:15px;
	padding-bottom:25px;
 }

div.tipFlip
{
	background: url(/getImage.php?src=tooltipflip.gif) no-repeat right bottom;
	position:absolute;
	display: none;
	height: 60px;
	width:230px;
	top: 1000px;
	left: 1000px;
	z-index:10000;
	text-align: center;
	padding-left:5px;
	padding-right:0px;
	padding-top:5px;
	padding-bottom:0px
}

div.tip
{
	background: url(/getImage.php?src=tooltip.gif) no-repeat right bottom;
	padding-left:15px;
	padding-right:10px;
 }

 /* DIGICERT FEATURE CONTENT  */

#digicert-content-wrapper #content_tab_1a img {
float: left;
}