.intro-text h2{ padding:0;}
.gray-box{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f0f0f0) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #f0f0f0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0f0f0');
	background-color:#ffffff;
	padding:20px;
	border:solid 1px #d6d6d6;
	height:100%;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;				
	}
.sub-txt{
	    font: 20px 'Rokkitt',serif;
		color:#666666;
	}
.intro-text .grid-table{ margin:20px 0 0 0;}
.grid-table th, .grid-table td{
	padding:10px 15px;
	}
.grid-table th{
	background:#818181;
	font:bold 18px Arial, Helvetica, sans-serif;
	color:#fff;
	border:solid 1px #fff;	
	}	
.grid-table td{
	font:normal 16px Arial, Helvetica, sans-serif;
	color:#818181;
	background:#fff;
	border:solid 1px #f8f8f8;
	}
.ic-set{
	display:inline-block;	
	}

.ic-info{background:url(/getImage.php?src=ico-info.gif) no-repeat; height:16px; width:16px; margin:3px 8px 3px 0; cursor:pointer; outline:none; vertical-align:top;}
.ic-user{background:url(/getImage.php?src=ic-user.png) no-repeat; height:16px; width:16px; margin:3px 8px 3px 0; cursor:pointer; outline:none; vertical-align:top;}
.ic-server{background:url(/getImage.php?src=ic-server.png) no-repeat 0px 0px; height:16px; width:16px; margin:3px 9px 3px 5px;  cursor:pointer; vertical-align:top;}
.ic-privacy{background:url(/getImage.php?src=ic-privacy.png) no-repeat 3px 0; height:16px; width:16px; margin:3px 5px 3px 3px; cursor:pointer; vertical-align:top;}
.ic-privacy-grey{background:url(/getImage.php?src=ic-privacy-grey.png) no-repeat 3px 0; height:16px; width:16px; margin:3px 5px 3px 3px; cursor:pointer; vertical-align:top;}

.cart-userinfo-bar .v-bar{ border-left:1px solid #ccc; display:inline-block; height:22px; width:1px;}
.cart-userinfo-bar{margin-left:10px;}
.custom_settings p{ font:normal 14px Arial, Helvetica, sans-serif; color:#555555; padding:6px 0; cursor:pointer;}
.model-twocols { overflow: hidden; text-align:left; position:relative;}
.model-twocols .modal_close{ top:10px; right:10px;}
.model-twocols .heading {
	font:bold 26px Arial, Helvetica, sans-serif;
	color:#424242;
	padding:28px 10px 28px 30px;
	text-align:left;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fcfcfc), color-stop(1, #e6e6e6) );
	background:-moz-linear-gradient( center top, #fcfcfc 5%, #e6e6e6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#e6e6e6');
	background-color:#fcfcfc;
}
.model-twocols .tabs-nav{ width:295px; position:relative; z-index:111; }
.tabs-nav ul .vertical-grd{ background:url(/getImage.php?src=ver-grd2.png) right bottom no-repeat #fff; height:87px;}
.tabs-nav ul li{
	font:normal 15px Arial, Helvetica, sans-serif;
	color:#393c3e;
	padding:21px 5px 21px 30px;
	background:url(/getImage.php?src=ver-grd.png) right bottom no-repeat #e0effc;
	/*background:#e0effc;*/
	border-right:solid 1px #727272;
	border-bottom:solid 1px #fff;
	cursor:pointer;
	}
.tabs-nav ul .first{ border-top:solid 1px #fff;}	
.tabs-nav ul .active-tab{
	color:#3f3f3f;
	background:#fff;
    border-bottom: 1px solid #727272;
    border-right: medium none;
    border-top: 1px solid #727272;
	font:normal 15px Arial, Helvetica, sans-serif;
	}	
.model-twocols .tab-content{
	background:#fff;
	width:560px;
	margin-left:-1px;
	border:solid 1px #727272;
	border-right:none;
	border-bottom:none;
	padding:20px 10px 15px 23px;
	min-height:300px;
	position:relative;
	}
.tab-content p{
	font:normal 16px Arial, Helvetica, sans-serif;
	color:#3f3f3f;
	padding:5px 0;
	}
.model-button{
	-moz-box-shadow:inset 0px 1px 0px 0px #a5dc7d;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a5dc7d;
	box-shadow:inset 0px 1px 0px 0px #a5dc7d;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #82cf4e), color-stop(1, #6eae40) );
	background:-moz-linear-gradient( center top, #82cf4e 5%, #6eae40 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#82cf4e', endColorstr='#6eae40');
	background-color:#82cf4e;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #719658;
	display:inline-block;
	color:#ffffff;
	font:bold 15px Arial, Helvetica, sans-serif;
	padding:7px 15px;
	text-decoration:none;
	text-shadow:1px 1px 0px #5c9236;
}
.model-button:hover{
	-moz-box-shadow:inset 0px 1px 0px 0px #a5dc7d;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a5dc7d;
	box-shadow:inset 0px 1px 0px 0px #a5dc7d;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #82cf4e), color-stop(1, #6eae40) );
	background:-moz-linear-gradient( center top, #82cf4e 5%, #6eae40 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#82cf4e', endColorstr='#6eae40');
	background-color:#82cf4e;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	color:#ffffff;
}
.model-twocols .ui-button{
	font:bold 15px Arial, Helvetica, sans-serif;
	padding:7px 12px;
	}
.view-form td{
	font:normal 16px Arial, Helvetica, sans-serif;
	padding:8px 5px;
	color:#979797;
	}
.or-opt{
	font: normal 14px Arial, Helvetica, sans-serif;
	color:#747474;
	margin:0 3px;
	}
/*.with-line td{
	border-top:solid 1px #e7e7e7;
	}*/
.green-txt{
	color:#7dcc34;
	}	
.gray-txt{
	color:#ccc;
	}	
.shop-cart-table .update_item_class{
	width:235px;
	}
.shop-cart-table div.includedFree{
	width:310px;
	}	
.shop-cart-table .setting_privacy_protect{
	display:none;
	}
.tab-filler .view-form h4{
	font:bold 14px Arial, Helvetica, sans-serifl;
	}	
.tab-filler .table-data{ width:550px; margin:25px 0;}
.tab-filler .table-data th{ font:bold 15px Arial, Helvetica, sans-serif; padding:7px;}
.tab-filler .table-data td{ font:normal 13px Arial, Helvetica, sans-serif; padding:7px;}
.tab-filler .ui-heading, .tab-filler h2{font: bold 28px 'Rokkitt',serif;}
.tab-filler h5{ font:normal 16px 'Rokkitt',serif;}
.tab-filler .lightform td{ border:none;}
.tab-filler .lightform .fieldwrp label{ text-align:left; padding-right:20px;}
.tab-filler #add_contact_frm .frm-field{
	width:260px;
	}
.tab-filler .lightform .frm-select{
	width:285px;
	}	
.tab-filler .contact-search-wrp .frm-label{
	font:normal 15px Arial, Helvetica, sans-serif;
}
.tab-filler .contact-search-wrp .frm-field{
	padding:5px 10px;
	/*width:200px !important;*/
	}
.tab-filler .contact-search-wrp .flt-add-button{ padding-top:13px;}
.tab-filler .frmContainer label.error{ width:85%}
.search-uibutton{background: url(/getImage.php?src=search-icon.png) 0 0 no-repeat; width:18px; height:18px; position:absolute; right:5px; top:23px; border:none; z-index:5; cursor:pointer;}
.name-search-box{width:212px; position:relative;}
.name-search-box .input-text{width:190px; padding-right:20px; margin-top:3px;}
.hastip {
    cursor: pointer;
    position: relative;
}
.hastip .tip-wrp {
    bottom: 38px;
    display: none;
    left: -275px;
    padding-left: 24px;
    position: absolute;
	}
.hastip .tip-wrp .cap {
    background: url(/getImage.php?src=ic-cap.png) no-repeat scroll 0 0 transparent;
    height: 20px;
    left: 0;
    position: absolute;
    top: 105px;
    width: 25px;
}
.hastip .tip-wrp .tip-content {
    background: none repeat scroll 0 0 #FFFBE7;
    border: 1px solid #CAAF27;
    border-radius: 5px;
    cursor: default;
    padding: 3px 6px;
    width: 250px;
}
.tip-content ul li {
    color: #747474;
    font: 11px Arial,Helvetica,sans-serif;
    padding: 6px 10px;
}
.hastip:hover .tip-wrp{
	display:block;
	}
.tab-filler .ajaxSpinner{
    position: absolute;
    top: 40%;
	left: 41%;
	}
	
/* iphone toggle button */
div#itoggle label.ilabel{
	display:block;
	font-size:12px;
	padding-bottom:10px;
	cursor:pointer;
	}
div#itoggle label.itoggle,
div#itoggle label.itoggle span{
	display: block;
	width: 72px;
	height: 26px;
	margin-bottom: 20px;
	background: url(/getImage.php?src=i-toggle.png) left bottom no-repeat;
	cursor:pointer;
	text-indent:-5000px;
	-webkit-transition: background-position 0.2s linear;
	-moz-transition: background-position 0.2s linear;
	-ms-transition: background-position 0.2s linear;
	-o-transition: background-position 0.2s linear;
	transition: background-position 0.2s linear;	
	}
div#itoggle label.itoggle.iToff{
	background-position:right bottom;
	-webkit-transition: background-position 0.2s linear;
	-moz-transition: background-position 0.2s linear;
	-ms-transition: background-position 0.2s linear;
	-o-transition: background-position 0.2s linear;
	transition: background-position 0.2s linear;	
	}
div#itoggle label.itoggle span{
	background-position: left top;
	margin: 0;
	}
div#itoggle input.iT_checkbox{
	position:absolute;
	top:-9999px;
	left:-9999em;
	}

#CartTable.shop-cart-table th{background:#e0effc;}
.CartItem .domain-name{font-size:16px; }
.CartDuration .price-dropdown-wrp{position:relative;  height:32px; line-height:18px; font-size:15px;}
.CartDuration .price_dropdown{border:1px solid #797979; padding: 10px 0; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;
    position: absolute;
    width: 235px;
    z-index: 5;
	 right:-10px;
	top:32px;
	background:#fff;
	box-shadow:0px 2px 2px #666;
	display:none;
	}
.CartDuration .price_dropdown li{padding:0 12px 0 20px; text-align:left; line-height:30px; cursor:pointer; border-top:1px solid #fff;}
.CartDuration .select_price, .price_dropdown li:hover{background:#dff6fc;}
.CartDuration .price_dropdown li.sel{background:#dff6fc url("/getImage.php?src=sel-tick.png") no-repeat 5px 12px;}
.CartDuration .dropdown-value{background:url("/getImage.php?src=down-arr.png") no-repeat right 8px; padding-right:15px; cursor:pointer; }
.CartDuration .price_dropdown .up-arr{width:15px; height:8px; background:url("/getImage.php?src=up-arr.png") no-repeat 0px 0; position:absolute; top:-9px; right:16px;}
#CartTable .CartDuration{padding-right:60px;text-align:right;}
#CartTable .CartDuration-th{text-align:right; padding-right:60px;}
#CartTable .CartDuration .SavingsShow{text-align:right;}

.show_contact_details img{width:20px; }
/*tooltip*/
.tooltip {	
	color: #000000;
	outline: none;
	cursor: help;
	text-decoration: none;
	position: relative;
}
.tooltip span {
	margin-left: -999em;
	position: absolute;
}
.tooltip:hover span {
	border-radius: 5px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
	position: absolute;
	left: -88px;
	top:-52px;
	z-index: 99;
	margin-left: 0;
	width: 175px;
	color:#666;
}
.tooltip:hover .tooltip_img {
	background: url(/getImage.php?src=tt_img.png) no-repeat 0 0;	
	width:12px;
	height:9px;
	position: absolute;
	bottom:-9px;
	left:90px;
}
.tooltip li{line-height:1.4;}
.classic {
	padding: 0.8em 1em;
}


.classic {
	background: #fdfdfd;
	border: 1px solid #ccc;
}

.newcheckoutform .fieldwrp {clear: both; margin-bottom: 10px}
.newcheckoutform .fieldwrp label { float: left; display: block; width:150px; padding-right: 12px; }
.newcheckoutform .fieldwrp .input-help { margin-left: 165px; color: #666; font-size: 11px;}
.newcheckoutform #txtTelcc, #txtFaxCc {width: 35px !important;}
.newcheckoutform #txtTelNo, #txtFaxNo { width: 130px !important;}
.newcheckoutform #add_contact_frm #other_state_text {  display: inline-block; margin-bottom: 10px; margin-left: 165px;}
.newcheckoutform p.note {background: url(/getImage.php?src=ico-info.gif) #F1F8FF no-repeat 5px 7px; padding-left: 30px; font-size: 14px;}
.newcheckoutform #txtZip {width: 193px !important;}
.newcheckoutform .viewform td {color: #555; !important;}
.newcheckoutform .frm-select {width: 285px;}

.back_to_contact_list {font-size: 17px; padding-left: 10px;}

.extra_info_heading {font-size: 17px;}

.new_contact_details{margin-top:20px; margin-bottom:20px;}
.new_contact_col{width:260px; float: left; font-size:13px; color:#979797}
.new_contact_col.bor{border-left:1px solid #f3f3f3;padding-left:10px; }
.new_contact_col label{display: block; width: 100px; float: left; margin-bottom:10px; overflow:hidden; color:#626262;}
.new_contact_col span{display: block; width: 160px; float: left; margin-bottom:10px; overflow:hidden;}
.new_contact_details .frm-label{font-size:13px;}
.new_contact_details input.frm-field{width:153px;}
#contact_description .ui-heading{padding-bottom:0px;}	
h3.ui-heading2{
	color: #5B5B5B;
font: bold 20px 'Rokkitt',serif;
    margin: 0;
    padding: 0 0 0px;
    text-shadow: 1px 1px 1px #ECECEC;}
	#toppage option{font-size:14px;}
#other_state_text{color:#626262;}
.new_additional_details label{ font-size: 13px;}
.extra_info_label{ font-size:13px !important ;}
.extra_info_checkbox_label {font-size: 12px; color: #555; display:inline; float:none;}
.extra_info_select {font-size: 13px !important ;}
.extra_info_input {font-size: 13px !important ;}
#plans-container.vps-upgrade-container {margin-bottom: 75px;overflow: visible;}
#plans-container.vps-upgrade-container table:hover td{background: #DFF6FC;}
#plans-container.vps-upgrade-container table:hover td.selected-plan { background: #fcdb7d;}
/* */
.CartDuration .disabled_duration { background: none; cursor: default; margin-right: -9px; }
