#CartTable { display:table }

.privacy_lock_wrapper .ic-privacy { background:url("/getImage.php?src=privacy-protect-checkout-icon.png") no-repeat 0 0 !important; height:16px; width:14px; }

.pp_name { display:inline-block; *display:inline; zoom:1; position:relative; margin-left:10px; }

.pp_in_cart {  position:absolute; bottom:0;  width:904px; }

.domain_purchased { position:relative; padding:0 0 30px 0; }

.pp_total, .pp_cancel { float:left; }

.pp_total {  font-size:16px; margin:0 94px 0 0; }

.new-gtld-rounded-button {
	background:#2fbe15;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: solid 1px #18900b;
	height:40px; color:#fff;
	font-family: "proxima_nova",sans-serif; font-size:18px; font-weight:100;
	margin:5px; padding:0; text-transform:capitalize; text-shadow:none; width:115px;
	outline:none;
	cursor : pointer;
}

/* SiteLock Plans */

#sl-plan-details { padding:0 30px; }
#sl-plan-details h2 
{ background:url("/getImage.php?src=images/all-images_sitelock.png") no-repeat -29px -620px !important; 
  font-size:26px; font-weight:600; color:#222; width:938px; text-align: center; margin:0 0 22px 0; }

#sl-plan-details table { margin:0; }
.sl-plans-pricing tr.even { background:#f8f8f8; }
.sl-plans-pricing tr.last-row  { border-bottom:1px solid #eee; }
.sl-plans-pricing thead th 
{ background: #000; color:#fff; border-top:2px solid #c01e29; border-bottom:1px solid #ebebeb; border-right:1px solid #2c2c2c; padding:10px 0 20px 0; }
.sl-plans-pricing thead th span{  width:100%; text-align:center; display:inline-block; *display:inline; zoom:1; *position: relative; }
.sl-plan-name { font-size:22px; font-weight:600; }
.sl-plan-usedfor { font-size:13px; font-weight:100; padding:0 0 24px 0; }
.sl-plan-price .symbol, .sl-plan-price .duration { font-size:15px; font-weight:600 !important; }
.sl-plan-price .value { font-weight:600; font-size:22px; }
.sl-plan-price .symbol, .sl-plan-price .duration, .sl-plan-price .value { font-style: normal !important; color:#f5c63b }
.sl-plan-price .symbol { position: relative; left:-4px; top:-4px;  }
.sl-featured-plan  td /* , .sub-points-trustshield  td, .sub-points-blacklist td */
{ background: #eee; border-bottom:1px solid #fff !important; font-weight: 400 !important; }
.sl-featured-plan  td:hover { cursor: pointer; }
.sub-points-trustshield, .sub-points-blacklist  { display:none; }
.sub-points-trustshield  td, .sub-points-blacklist td{ font-weight: 100 !important; white-space:normal !important; }
table.sl-plans-pricing > tbody > tr.sub-points-trustshield > td.first-child,
table.sl-plans-pricing > tbody > tr.sub-points-blacklist > td.first-child
{  padding-left:38px !important; padding-right:0 !important; width:100px; text-align:left !important; }
.sl-featured-plan  td.last-option { padding-left:38px; }
.sl-buy-buttons td { border: 0 !important; }
.sl-featured-plan  td  { text-transform: uppercase; }
.sl-featured-plan  td span.bullet-arrow-icon 
{ background:url("/getImage.php?src=images/all-images_sitelock.png") no-repeat -191px -463px !important; height:13px; width:18px; position: relative; top:1px; display:inline-block; *display:inline; zoom:1; *position: relative;  }
.sl-featured-plan  td.down-arrow span.bullet-arrow-icon 
{ background:url("/getImage.php?src=images/sl-down-plan-bullet.png") no-repeat !important; height:7px; width:18px; top:-1px; }

.sl-plans-pricing tbody td 
{ color:#222; font-size:15px; font-weight:100; text-align: center; border:1px solid #eee; border-bottom:0; border-top:0; padding:18px; } 
.sl-plans-pricing tbody td span.sl-no { font-weight:600; }
.sl-plans-pricing tbody td span.sl-yes 
{ background:url("/getImage.php?src=images/all-images_sitelock.png") no-repeat -724px -463px; height:12px; width:16px; display:inline-block; *display:inline; *position:relative; zoom:1; }
.sl-plans-pricing tbody td span.sl-info 
{ background:url("/getImage.php?src=images/all-images_sitelock.png") no-repeat 0 -463px; height:15px; width:15px; display:inline-block; *display:inline; *position:relative; zoom:1; margin:0 0 0 5px; position: relative; top:3px; display: none!important; }
table.sl-plans-pricing > tbody > tr > td.first-child { text-align: left !important; white-space:nowrap; }
.sl-plans-pricing tbody tr.sl-featured td { font-weight:400; }
.sl-plans-pricing tbody td.footnote { text-align:left !important; font-size:13px; font-weight:100; font-style:italic; border-bottom:1px solid #eee; padding:5px; }
.sl-plans-pricing tr.sl-buy-buttons td { padding-top:25px !important; }
.sl-plans-pricing tr.sl-buy-buttons td .green-button 
{ background:#2fbe15; border:1px solid #18900b; font-size:18px; font-weight:100; font-family:"proxima_nova", Arial; color:#fff; padding:0 35px; height:44px; line-height:18px;  -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; cursor:pointer; 
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0px rgba(0, 0, 0, 0.2);
-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 01px rgba(0, 0, 0, 0.2);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0px rgba(0, 0, 0, 0.2);
outline : none;
}
.sl-plans-pricing tr.sl-buy-buttons td { text-align: center !important; }
.sl-plans-pricing tr.sl-buy-buttons td .green-button:hover { background: #34c918 }
.sl-plans-pricing tr.sl-buy-buttons td .green-button:active { background:#2db315 }

/* CSS - Buy Domain Upsell Modal */

.sitelock_wide_modal, .r0_wide_modal  { width: auto !important; min-width:500px; min-height:250px; }
.r0_wide_modal .r0_plan { margin: 20px 15px 0 15px; }
.wide_modal .sl-plans-pricing .first-child { padding-right:0 !important; }
.wide_modal .sl-plans-pricing thead th span { white-space:nowrap; }
.wide_modal .sl-plans-pricing thead th span.sl-plan-price { white-space:normal; }
.wide_modal .sl-plans-pricing thead th{ padding:0 5px; }
.wide_modal .sl-plans-pricing thead th .sl-plan-usedfor { padding:0 0 10px 0 !important; }
.wide_modal .sl-plans-pricing thead th .sl-plan-name{ padding-top:10px;  }
.wide_modal #sitelock_form { margin:20px; width:830px; }
.wide_modal tr.sl-featured-plan td { font-weight: bold !important; }

.plan-list-ro
{
	width: 928px;
	background:#f9f9f9 url(/getImage.php?src=plan-list-ro.png) no-repeat left top ;;
	margin:0 auto;
	display:inline-block;
	border: 1px solid #dedcdc ;
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;

}
.plan-list-ro li ul { display:inline-block; vertical-align:middle; width:270px; *display: inline; zoom: 1; }
.plan-list-ro li ul li{ margin:0 20px 0 0; border-bottom:0; text-align:center; }
.plan-list-ro li ul.ro-details{ width:185px; }
.plan-list-ro li ul.ro-details li { background:url(/getImage.php?src=plan-list-bullet.png) no-repeat left ; padding:10px 15px; text-align:left; }
.plan-list-ro .p-button { margin-top:-2px; padding:0 0 12px 0; }
.plan-list-ro li.p-button .txt-button{  width:195px; }
.plan-list-ro .p-name { border-bottom:0; }
.plan-list-ro .p-pricing { padding: 0 0 15px 20px; text-align:left;	}

.ui-subheading.r0hosting-lead-text{
	font-size: 22px;
}

body {min-width: 1024px;}

@font-face {
    font-family: 'Rokkitt';
    src: url('/getImage.php?src=fonts/rokkitt-regular-webfont.eot');
    src: url('/getImage.php?src=fonts/rokkitt-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/getImage.php?src=fonts/rokkitt-regular-webfont.woff') format('woff'),
    url('/getImage.php?src=fonts/rokkitt-regular-webfont.ttf') format('truetype'),
    url('/getImage.php?src=fonts/rokkitt-regular-webfont.svg#rokkittregular') format('svg');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Rokkitt';
    src: url('/getImage.php?src=fonts/rokkitt-bold-webfont.eot');
    src: url('/getImage.php?src=fonts/rokkitt-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/getImage.php?src=fonts/rokkitt-bold-webfont.woff') format('woff'),
    url('/getImage.php?src=fonts/rokkitt-bold-webfont.ttf') format('truetype'),
    url('/getImage.php?src=fonts/rokkitt-bold-webfont.svg#rokkittbold') format('svg');
    font-style: normal;
    font-weight: 700;
}


/* Sitelock Upsell Modal */

#select_domain { width: auto !important; }
#select_domain h2
{ font-family : "proxima_nova", Arial !important; font-size:22px !important; font-weight:600 !important; margin:-5px 0 20px 0 !important; color:#1b1b1b; padding:0 !important;  }
.hosting-modal-body { padding:0; }
.hosting-modal-title
{ font-family : "proxima_nova", Arial !important; font-size:26px !important; font-weight:400 !important; text-align:left !important;
    padding:15px 0 15px 30px !important; text-shadow: 1px 1px 1px #b4b8ba; color:#1b1b1b; }
#select_domain label.frm-label
{ font-family : "proxima_nova", Arial !important; font-size:15px !important; font-weight:100 !important;line-height:25px !important; color:#1b1b1b; display:inline; cursor:pointer; }
#select_domain td{ padding:30px; vertical-align:top; width:420px;  }
#select_domain .buy-sitelock { background:#f2f2f2; width:690px; margin:40px 0 0 0; padding:20px; }
#select_domain .buy-sitelock p,
#select_domain .buy-sitelock h3,
#select_domain .buy-sitelock label
{ font-family : "proxima_nova", Arial !important; font-size:15px !important;  font-weight: 100 !important; line-height:23px; color:#1b1b1b;  }
#select_domain .buy-sitelock h3 { font-weight:600 !important; font-size:18px !important; margin:0 0 17px 0; color:#1b1b1b; }
#select_domain .buy-sitelock label { color:#c22227; display:inline-block !important; margin:15px 0 20px 5px; font-weight:600 !important; }
#select_domain .buy-sitelock p { color:#1b1b1b; }

#select_domain .buy-sitelock input[type="text"]
{ padding:12px 10px; border:1px solid #ccc; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
    font-family : "proxima_nova", Arial !important; font-size:12px !important;  font-weight: 100 !important; box-shadow: none !important;
}
.continue-button-container { padding:20px 0 0 0; }
.continue-button-container input { padding:0 25px; background:#0893d8; color:#fff; font-family : "proxima_nova", Arial !important; font-size:18px !important;  font-weight: 100 !important; border:1px solid #044bbc;-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; height:44px;   }
.sl-modal-orbg
{ background: url("/getImage.php?src=images/sl-modal-orbg.png") no-repeat 0 5px; width:287px; text-align:center; margin:30px 0; color:#1b1b1b;
    font-family:"proxima_nova", Arial !important; font-size:15px !important;  font-weight: 400 !important; }

.modalcontent { margin:20px; }
.modalcontent p label { margin:0 20px 0 0; }
.modalcontent p input[type="radio"] { vertical-align:middle; margin:0 5px 0 0; }
.modalcontent input[type="text"], .modalcontent select { width:300px; margin:20px 0 0 0; outline:none; }
.modalcontent a.modal_close {  top:5px; right:20px; }
#select_domain.small_modal input[type="text"]{ display: block; width:340px; outline:none; }
#select_domain #new-domain-name { margin-left:-15px; }
#select_domain input[type="text"]#new-domain-name { padding-bottom:6px; margin-bottom:10px; }
#select_domain.small_modal  input[type="text"]#new-domain-name { margin-bottom:0px; }


/* DCA - Revamp Phase 2 */

.phase_info
{ display: inline-block; width: 200px; vertical-align: top; margin: 15px 0 0 15px; }
.phase_info_select 
{ 
  padding:8px 5px; background:#fff; 
  border:1px solid #e5e5e5;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 4px 0px rgba(190, 190, 190, 0.75);
  -moz-box-shadow: 1px 1px 4px 0px rgba(190, 190, 190, 0.75);
  box-shadow: 1px 1px 4px 0px rgba(190, 190, 190, 0.75);
}
.domain_purchased { display:inline-block; *display:inline; position:relative; zoom:1; }
.prereg-learnmore-link
{ display:inline-block; *display:inline; position:relative; zoom:1; height:18px; width:18px;  
  background: url("/getImage.php?src=images/preregistration-cart-modal.png") no-repeat; margin:0 0 0 10px; vertical-align:middle; cursor:pointer;
}
/* Pre-register Learn more - Modal (DCA P2) */

#preregister-learn-more .wide_modal { background:#656565; padding:6px; border:1px solid #828282; width:638px;  } 

#preregister-learn-more .wide_modal .hosting-modal 
{ background:#fff; padding:30px; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; }

#preregister-learn-more a.modal_close 
{ background: url("/getImage.php?src=/images/close.png") no-repeat 0 0; right:10px; top:10px; height:15px; position: absolute; width:15px; opacity:0.6;  }

#preregister-learn-more a.modal_close:hover { opacity:0.8 }

#preregister-learn-more a.modal_close:active { opacity: 1; }

#preregister-learn-more .wide_modal .hosting-modal-body { padding:0; }

#preregister-learn-more .wide_modal h1 
{ font: 600 18px "proxima_nova", Arial !important; background:none; border:0; text-align:left; color:#222; padding:0 0 25px 0; }

#preregister-learn-more .wide_modal h4
{ font: 600 16px "proxima_nova", Arial !important; text-align:left; color:#222; padding-bottom:10px; }

#preregister-learn-more .wide_modal p
{ font: 100 15px/21px "proxima_nova", Arial !important; text-align:left; color:#222; padding-bottom:20px; }

#preregister-learn-more .wide_modal p.last { padding-bottom:0; }
/* Codeguard Plans Table Modal CSS */

#codeguard-upsell-modal { width:972px; padding:4px; background:#6c6c6c; border:1px solid #828282; }

#codeguard-upsell-modal.wide_modal { margin-left:-490px; }

#codeguard-upsell-content 
{ background:#fff; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; position:relative; }

#codeguard-upsell-content .inline-block { display:inline-block; *display:inline; *position:relative; zoom:1; }

#codeguard-upsell-content .inner-content
{ padding:25px 30px; position:relative; }

#codeguard-upsell-content .continue-button-container input#continue_action 
{ 
  background:#2fbe15; border:1px solid #18900b; cursor:pointer; font-size: 18px; font-weight:100; color:#fff;
  -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; 
  outline:none; text-decoration:none; text-align:center; padding:0 28px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.4); 
  cursor:pointer; margin-bottom:20px;
}

#codeguard-upsell-content .continue-button-container input#continue_action:hover
{
    -webkit-transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
	background:#34c918; 
} 

#codeguard-upsell-content .continue-button-container input#continue_action:active
{ background:#2db315; }

#codeguard-upsell-content .gray-bgcolor { background:#eee; -webkit-border-radius: 0 0 4px 4px; -moz-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px; }

#codeguard-upsell-content a.modal_close
{ background: url("/getImage.php?src=/images/close.png") no-repeat 0 0; right:10px; top:10px; height:15px; position: absolute; width:15px; opacity:0.6;  }

#codeguard-upsell-content a.modal_close:hover
{ opacity:0.8 }

#codeguard-upsell-content a.modal_close:active
{ opacity:1; }


#codeguard-upsell-content h1
{ font-family:"proxima_nova",Arial; font-size:30px; font-weight:400; background:none; border-bottom:0; color:#389733; margin:0; padding:42px 0 }

#codeguard-upsell-content h1 span.upsell-modal-heading-bg
{ background:url('/getImage.php?src=images/all-images-codeguard.png') no-repeat -262px 0; height:26px; width:26px; margin:0 10px 0 0; vertical-align:middle; }

#codeguard-upsell-content .inner-content h2 
{ font-family:"proxima_nova",Arial; font-size:20px; color:#222; font-weight:600; margin:0; padding:20px 0 12px 0;  }

/* Codeguard Plans Table */

table#cog-plans-pricing-table 
{ width:100%; margin:25px 0 0 0; border-top:3px solid #94c83d;  border-left:1px solid #eee; border-bottom:1px solid #eee; }


table#cog-plans-pricing-table tr th 
{ font-size:22px; font-weight:bold; background:#222; color:#fff; text-align:center; border-right:1px solid #5a5a5a; padding:9px 0 7px 0; }

table#cog-plans-pricing-table tr td { font-size:15px; font-weight:100; text-align:center; padding:15px 20px 12px 20px; border-right:1px solid #eee; }

table#cog-plans-pricing-table tr td:first-child { text-align:left }

table#cog-plans-pricing-table tr.bgcolor td
{ background:#f8f8f8 }

table#cog-plans-pricing-table tr.cog-pricing td
{ font-size:20px; font-weight:800;  border-bottom:1px solid #eee; padding:11px 15px 9px 15px; color:#94c83d; border-right:1px solid #5a5a5a; background:#222; }

table#cog-plans-pricing-table tr.cog-pricing td span.currency-symbol { font-size:16px; vertical-align:top; margin:1px 0 0 0; }


table#cog-plans-pricing-table tr td button.cog-buybutton, .proceed-to-checkout
{ 
	background:#2fbe15; border:1px solid #18900b; padding:10px 35px;
	-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
	font-size:18px; font-weight:100; color:#fff; 
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.4); 
	outline: none; cursor:pointer; margin:2px 0 5px 0;
}

table#cog-plans-pricing-table tr td span.no-cross { font-size:20px; font-weight:800; line-height:15px; }

table#cog-plans-pricing-table tr td span.yes-tick { background:url('/getImage.php?src=images/all-images-codeguard.png') no-repeat -116px 0; height:12px; width:15px; }

table#cog-plans-pricing-table tr td select { width:87px; padding:5px 0; font-weight:100; outline:none; }

table#cog-plans-pricing-table tr td select option { font-size:15px; font-weight:100; }

/* Black Tooltip on Databases Link */

table#cog-plans-pricing-table tr td a.tooltipanimated { position: relative; display: inline; }

table#cog-plans-pricing-table tr td a.tooltipanimated span
{  background: #000000; width:185px; height: 75px; visibility: hidden; opacity:0;
  -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
  text-shadow:none; color: #FFFFFF; line-height: 17px; text-align:left; font-size:13px; font-family:"proxima_nova", sans-serif; font-weight:100;
  margin-left:-46px; position: absolute; bottom:20px; 
}

table#cog-plans-pricing-table tr td a:hover.tooltipanimated span
{
  	visibility: visible; opacity: 1; bottom: 25px; left: 35%; margin-left: -46px; z-index: 9999;
	-webkit-transition: bottom 0.2s ease;  /* Chrome 1-25, Safari 3.2+ */
	-moz-transition: bottom 0.2s ease;  /* Firefox 4-15 */
	-o-transition: bottom  0.2s ease;  /* Opera 10.50â€“12.00 */
	transition: bottom  0.2s ease;  /* Chrome 26, Firefox 16+, IE 10+, Opera     12.50+ */  
}

table#cog-plans-pricing-table tr td a.tooltipanimated span:after
{
  content: '';
  position: absolute; top: 100%; left: 35%; bottom:0; margin-left: -8px; width: 0; height: 0;
  border-top: 8px solid #000000; border-right: 8px solid transparent; border-left: 8px solid transparent;

}

table#cog-plans-pricing-table tr td a.tooltipanimated
{ position:relative; top:0px; }

/* Codeguard Plan table (Modal specific additional CSS rules) */

#codeguard-upsell-content table#cog-plans-pricing-table
{ font-family:"proxima_nova",Arial; border-left:1px solid #d4d4d4; border-bottom:1px solid #d4d4d4; }

#codeguard-upsell-content table#cog-plans-pricing-table tr td { border-right:1px solid #d4d4d4; }

#codeguard-upsell-content table#cog-plans-pricing-table tr.cog-pricing td { border-bottom:1px solid #d4d4d4; }

table#cog-plans-pricing-table td.blue-highlight a:hover, table#cog-plans-pricing-table td.blue-highlight a { color:#222; text-decoration:underline; }

.proceed-to-checkout { font-family:"proxima_nova", Arial; margin:50px 0; }

table#cog-plans-pricing-table tr td a.tooltipanimated.cog-auto-backup span,
table#cog-plans-pricing-table tr td a.tooltipanimated.cog-zip-download span
{ height:55px; left:45px !important; }

table#cog-plans-pricing-table tr td a.tooltipanimated.cog-req-backup span,
table#cog-plans-pricing-table tr td a.tooltipanimated.cog-file-restore span
{ height:35px; left:45px !important; }

table#cog-plans-pricing-table tr td a.tooltipanimated.cog-website-restore span
{ height:50px; left:45px !important; }


/*Common upsell modal*/

#select-domain-modal { width:690px; padding:4px; background:#6c6c6c; border:1px solid #828282; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }

#select-domain-modal .inline-block { display:inline-block; *display:inline; *position:relative; zoom:1; }

#select-domain-modal .inner-content
{ padding:25px 30px; position:relative; background:#fff; -moz-border-radius:4px 4px 0 0; -webkit-border-radius:4px 4px 0 0; border-radius:4px 4px 0 0; }

#select-domain-modal .gray-bgcolor .inner-content { background:#eee; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }

#select-domain-modal h1.ms-modal-title
{ background:none; font-family:"proxima_nova", Arial; font-size:24px; font-weight:600; color:#222; margin:0; padding:0 0 32px 0; text-align:left; border:0; }

#select-domain-modal p.lfloat { padding-bottom:14px; }

#select-domain-modal p input[type="radio"] { vertical-align:middle; margin:-1px 5px 0 0; }

#select-domain-modal p label.frm-label
{ font-size:15px; font-weight:100; font-family:"proxima_nova", Arial; color:#222; margin:0 20px 0 0; vertical-align:middle; cursor:pointer; }

#select-domain-modal .form-field-wrapper { text-align:left; margin-left:0; }

#select-domain-modal .use-existing, #select-domain-modal .register-new form{ text-align:left; }

#select-domain-modal .register-new input[type="text"], #select-domain-modal .use-existing select, #select-domain-modal .use-existing input[type="text"]
{ padding:12px 10px; border:1px solid #ccc; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
    font-family : "proxima_nova", Arial !important; font-size:15px !important;  font-weight: 100 !important;
    box-shadow: none !important; width:465px; margin:0;
}

#select-domain-modal .register-new input[type="text"],
#select-domain-modal .use-existing input[type="text"]
{ height:19px; }

#select-domain-modal .use-existing select { width:487px; }

#select-domain-modal .continue-button-container {text-align:left; }

#select-domain-modal .continue-button-container input#continue_action
{
    background:#2fbe15; border:1px solid #18900b; cursor:pointer; font-size: 18px; font-weight:100; color:#fff;
    -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;
    outline:none; text-decoration:none; text-align:center; padding:0 28px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.4);
    cursor:pointer; margin-bottom:20px;
}

#select-domain-modal .continue-button-container input#continue_action:hover
{
    -webkit-transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
    background:#34c918;
}

#select-domain-modal .continue-button-container input#continue_action:active
{ background:#2db315; }

#select-domain-modal .gray-bgcolor { background:#eee; -webkit-border-radius: 0 0 4px 4px; -moz-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px; }

#select-domain-modal .gray-bgcolor .inner-content h2
{ font-family:"proxima_nova", Arial; font-size:16px; font-weight:600; color:#222; margin:0 0 15px 0; padding:0; text-align:left; width:90% }

#select-domain-modal .inner-content div.lfloat { float:left; }

#select-domain-modal .inner-content div.lfloat
{ width:300px; }

#select-domain-modal .inner-content p
{ font-family:"proxima_nova", Arial; font-size:15px; font-weight:100; color:#222; }

#select-domain-modal .inner-content .purchase-sitelock.lfloat { padding-right:30px; }

#select-domain-modal .inner-content span.sitelock-small-logo, #select-domain-modal .inner-content span.codeguard-small-logo
{ text-align:left; width:100%; padding-bottom:5px; }

#select-domain-modal .inner-content .purchase-codeguard span.codeguard-small-logo { padding-bottom:1px; }

#select-domain-modal .inner-content span.sitelock-small-logo span, #select-domain-modal .inner-content span.codeguard-small-logo span
{ background:url('/getImage.php?src=images/all-images-codeguard.png') no-repeat; }

#select-domain-modal .inner-content span.sitelock-small-logo span { background-position:-140px 0; height:20px; width:102px; }

#select-domain-modal .inner-content span.codeguard-small-logo span { background-position:0 -123px; height:26px; width:131px; }

#select-domain-modal .inner-content p.purchase-security { margin-top:10px; }

#select-domain-modal .inner-content p.purchase-security label
{ font-family:"proxima_nova", Arial; font-size:15px; font-weight:600; color:#222; vertical-align:top; width:90%; cursor:pointer;  }

#select-domain-modal .inner-content p.purchase-security input[type="checkbox"] { vertical-align:middle; margin:-1px 5px 0 0; }

#select-domain-modal .inner-content a.modal_close
{ background: url("/getImage.php?src=/images/close.png") no-repeat 0 0; right:10px; top:10px; height:15px; position: absolute; width:15px; opacity:0.6;  }

#select-domain-modal .inner-content a.modal_close:hover
{ opacity:0.8 }

#select-domain-modal .inner-content a.modal_close:active
{ opacity:1; }

table#cog-plans-pricing-table tr td button.cog-buybutton:hover 
{
    background:#34c918;
	-webkit-transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}

table#cog-plans-pricing-table tr td button.cog-buybutton:active
{ background:#2db315 }

/* Upgrade & downgrade page */

#upgradeform h1 { text-align:center; }

/* Upsell Modal - Codeguard Plans Table */


#upsell_modal.codeguard_wide_modal { width: auto; } 

#upsell_modal.codeguard_wide_modal form{ padding:20px; }

/* Full Width Banner */

#page-container.full-width-banner { width:100%; }



/* New Fat Menu */

#primary-nav 
{ background:#181f24; position:relative; box-shadow:1px 1px 2px rgba(0, 0, 0, 0.6); -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.6); -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.6);  }
.nav ul.navigation { padding:0 0 0 85px; height:47px; }
.nav li 
{ font-family:'proxima_nova', Arial; font-size:16px; font-weight:600; color:#fff; padding:13px 20px; }
.nav li.levelone, .nav li.first { background: url('/getImage.php?src=images/menu-seperator-bg.png') no-repeat right 8px !important; }
.nav li.first { padding-left:20px; }
.nav li.levelone, .nav li.first{ height:35px; padding:12px 20px 0 20px !important; margin:0 0 0 -4px; }
.nav li.last { padding-right:20px; background: none !important; }
.nav ul.navigation li:hover,
.nav ul.navigation li.levelone.active:hover, .nav ul.navigation li.first.active:hover 
{ color:#222; background:#fff !important; border:0; }
.nav ul.navigation li.levelone:hover, .nav ul.navigation li.first:hover 
{ -moz-border-radius:0; -webkit-border-radius:0; border-radius:0; 
  box-shadow: 0 -2px 3px rgba(165, 165, 165, 0.8); -moz-box-shadow: 0 -2px 3px rgba(165, 165, 165, 0.8); -webkit-box-shadow: 0 -2px 3px rgba(165, 165, 165, 0.8);
}
.nav ul.navigation li.levelone.active, .nav ul.navigation li.first.active
{ background:#5A6472 !important; }
.nav ul.navigation li a { margin-top:-8px; color:#fff; }
.nav ul.navigation li:hover a { color:#222; line-height:46px; margin-top:-12px; }
.nav ul.navigation li ul.submenu-parent 
{ position:absolute;  background:#fff; display:none; top:46px; left:0; padding:0 0 0 20px; margin:0; 
 -moz-border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px; border-radius:0 0 5px 5px; 
 box-shadow:0px 6px 10px -3px rgba(0,0,0,.4); -moz-box-shadow:0px 6px 10px -3px rgba(0,0,0,.4); -webkit-box-shadow:0px 6px 10px -3px rgba(0,0,0,.4);
}
.nav ul.navigation li:hover ul.submenu-parent { display:block; }
.nav ul.navigation li ul.submenu-parent > li { margin:0 22px 0 0; border:0; float:left; padding:50px 0 0 0;  }
.nav ul.navigation li ul.submenu-parent > li li { border:0; margin-bottom:25px !important; }
.nav ul.navigation li ul.submenu-parent > li h3 
{ font-family:'proxima_nova', Arial; font-size:16px; font-weight:600; color:#1f66bd; border-bottom:1px solid #e9e9e9; margin:0 0 25px 0; padding:0 0 5px 0; }
.nav ul.navigation li ul.submenu-parent > li li, 
.nav ul.navigation li ul.submenu-parent > li ul
{ background:#fff; margin:0; padding:0; }
.nav ul.navigation li ul.submenu-parent > li li span.menu-icon,
.nav ul.navigation li ul.submenu-parent > li li .menu-content 
{ display:inline-block; *display:inline; *position:relative; zoom:1; vertical-align:top; }
.nav ul.navigation li ul.submenu-parent > li li .menu-content{ width:150px; margin:0 0 0 2px; position:relative; }
.nav ul.navigation li ul.submenu-parent > li li .menu-content a 
{ font-family:'proxima_nova', Arial; padding:0 0 7px 0; margin:0; border-bottom:0; font-size:15px; font-weight:600; color:#222; width:98%; }
.nav ul.navigation li ul.submenu-parent > li li .menu-content:hover a { text-decoration:underline;  }
.nav ul.navigation li ul.submenu-parent > li li p
{ font-family:'proxima_nova', Arial; font-size:14px; font-weight:100; color:#7c7c7c; } 
.nav ul.navigation li ul.submenu-parent > li li .menu-content a .mnew-tag
{ font-family:'proxima_nova', Arial; font-size:12px; font-weight:100; color:#fff; position:absolute; top:-1px; right:-5px; background:#aa1414; 
  border-radius:16px; -moz-border-radius:16px; -webkit-border-radius:16px; padding:2px 5px; display:inline-block; *display:inline; *position:relative; zoom:1; 
}
.nav ul.navigation li.hide { display:none; }


/* Domains Submenu */
.nav ul.navigation li ul.submenu-parent#domainssubmenu { width:800px; }
.nav ul.navigation li ul.submenu-parent#domainssubmenu > li { width:240px; }
.nav ul.navigation li ul.submenu-parent#domainssubmenu > li li .menu-content{ margin:0; width:200px; }
.nav ul.navigation li ul.submenu-parent#domainssubmenu > li li span.menu-icon { display:none; }
.nav ul.navigation li ul.submenu-parent#domainssubmenu > li li .menu-content a .mnew-tag { right:-20px; }


/* Websites Submenu */
.nav ul.navigation li ul.submenu-parent#websitessubmenu > li { width:265px; }
.nav ul.navigation li ul.submenu-parent#websitessubmenu > li li .menu-content{ width:210px; }

/* Hosting Submenu */
.nav ul.navigation li ul.submenu-parent#hostingsubmenu 
{ left:-320px; -moz-border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px; border-radius:0 0 5px 5px;  }
.nav ul.navigation li ul.submenu-parent#hostingsubmenu > li { width:223px; }
.nav ul.navigation li ul.submenu-parent#hostingsubmenu > li li .menu-content{ width:160px; }

/* Email Submenu */
.nav ul.navigation li ul.submenu-parent#emailsubmenu{ width:280px; }
.nav ul.navigation li ul.submenu-parent#emailsubmenu > li{ width:255px; padding:25px 0 0 0; }
.nav ul.navigation li ul.submenu-parent#emailsubmenu > li li .menu-content{ width:200px; }

/* Secuirty Submenu */
.nav ul.navigation li ul.submenu-parent#securitysubmenu{ width:300px; }
.nav ul.navigation li ul.submenu-parent#securitysubmenu > li{ width:275px; padding:25px 0 0 0; }
.nav ul.navigation li ul.submenu-parent#securitysubmenu > li li .menu-content{ width:220px; }

.nav ul.navigation li ul.submenu-parent > li li span.menu-icon.linuxhosting-micon
{ background:url('/getImage.php?src=images/newmenu-icons-sprite.png') no-repeat 0 0; height:34px; width:39px; }
.nav ul.navigation li ul.submenu-parent > li li span.menu-icon.windowshosting-micon
{ background:url('/getImage.php?src=images/newmenu-icons-sprite.png') no-repeat 0 -40px; height:32px; width:39px; }
.nav ul.navigation li ul.submenu-parent > li li span.menu-icon.websitebuilder-micon
{ background:url('/getImage.php?src=images/newmenu-icons-sprite.png') no-repeat 0 -80px; height:30px; width:35px; }
.nav ul.navigation li ul.submenu-parent > li li span.menu-icon.vps-micon
{ background:url('/getImage.php?src=images/newmenu-icons-sprite.png') no-repeat -41px 0; height:29px; width:33px; }
.nav ul.navigation li ul.submenu-parent > li li span.menu-icon.dedicated-micon
{ background:url('/getImage.php?src=images/newmenu-icons-sprite.png') no-repeat -41px -40px; height:27px; width:33px; }
.nav ul.navigation li ul.submenu-parent > li li span.menu-icon.managed-micon
{ background:url('/getImage.php?src=images/newmenu-icons-sprite.png') no-repeat -41px -80px; height:32px; width:33px; }
.nav ul.navigation li ul.submenu-parent > li li span.menu-icon.codeguard-micon
{ background:url('/getImage.php?src=images/newmenu-icons-sprite.png') no-repeat -80px 0; height:30px; width:32px; }
.nav ul.navigation li ul.submenu-parent > li li span.menu-icon.ssl-micon
{ background:url('/getImage.php?src=images/newmenu-icons-sprite.png') no-repeat -80px -40px; height:35px; width:32px;  }
.nav ul.navigation li ul.submenu-parent > li li span.menu-icon.sitelock-micon
{ background:url('/getImage.php?src=images/newmenu-icons-sprite.png') no-repeat -82px -80px; height:28px; width:32px; }
.nav ul.navigation li ul.submenu-parent > li li span.menu-icon.business-micon
{ background:url('/getImage.php?src=images/newmenu-icons-sprite.png') no-repeat -118px 0; height:27px; width:35px; }
.nav ul.navigation li ul.submenu-parent > li li span.menu-icon.enterprise-micon
{ background:url('/getImage.php?src=images/newmenu-icons-sprite.png') no-repeat -118px -40px; height:26px; width:35px; }
.nav ul.navigation li ul.submenu-parent > li li span.menu-icon.rhwindowshosting-micon
{ background:url('/getImage.php?src=images/newmenu-icons-sprite.png') no-repeat -158px -40px; height:34px; width:38px; }
.nav ul.navigation li ul.submenu-parent > li li span.menu-icon.rhlinuxhosting-micon
{ background:url('/getImage.php?src=images/newmenu-icons-sprite.png') no-repeat -158px 0; height:32px; width:38px; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.nav ul.navigation li ul.submenu-parent { left:-0.5px }
}