.nav ul.navigation{ font:bold 19px 'Rokkitt',serif; margin:0 0 0 22px; }
.user-name{
	font:bold 14px Arial, Helvetica, sans-serif;
    color: #808080;
    display: inline-block;
	margin:11px 0 0 18px;
}
.shop-cart .link-account{
	font:normal 14px Arial, Helvetica, sans-serif;
}
.shop-cart #signout_link{
    color: #377CE4;
    font: 14px Arial,Helvetica,sans-serif;
    right: 20px;
    position: absolute;
    text-decoration: none;
    top: 11px;	
}
.shop-cart .cart-items{
    background: url("/getImage.php?src=small-cart.jpg") no-repeat scroll 9px 0 transparent !important;
	font:normal 14px Arial, Helvetica, sans-serif;
	color:#808080;
	padding-left:38px;
	background-position:-71px -194px;
	position:absolute;
	top:49px;
	left:10px;
	margin:0;
}
.shop-cart .button-checkout{
	display: inline-block;		
	padding: 6px 0px;
	height:15px;
	width:103px;
	position:absolute;
	right:19px;
	top:45px;
	font:bold 14px/14px Arial, Helvetica, sans-serif;
	color: #fff;
	text-shadow:1px 1px 0px #2662b6;
	text-align: center;
	background-color: #236fe2;
	background-position:0 0;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#61aaef), color-stop(25%, #61aaef), to(#236fe2));
	background-image: -webkit-linear-gradient(#61aaef, #61aaef 25%, #236fe2);
	background-image: -moz-linear-gradient(top, #61aaef, #61aaef 25%, #236fe2);
	background-image: -ms-linear-gradient(#61aaef, #61aaef 25%, #236fe2);
	background-image: -o-linear-gradient(#61aaef, #61aaef 25%, #236fe2);
	background-image: linear-gradient(#61aaef, #61aaef 25%, #236fe2);
	background-repeat: no-repeat;
	border: 1px solid #5a8ddf;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow:inset 0px 1px 0px 0px #9acdf9;
	-moz-box-shadow: inset 0px 1px 0px 0px #9acdf9;
	box-shadow: inset 0px 1px 0px 0px #9acdf9;
	cursor: pointer;
	text-decoration:none;
	-webkit-transition: background-position 0.2s linear;
	-moz-transition: background-position 0.2s linear;
	-ms-transition: background-position 0.2s linear;
	-o-transition: background-position 0.2s linear;
	transition: background-position 0.2s linear;
	overflow:visible;
}
.shop-cart .button-checkout:hover {
	color: #fff;
	text-decoration: none;
	background-color: #236fe2;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.2s linear;
	-moz-transition: background-position 0.2s linear;
	-ms-transition: background-position 0.2s linear;
	-o-transition: background-position 0.2s linear;
	transition: background-position 0.2s linear;
}
.shop-cart .button-checkout:active {
	background-image: none;
	-webkit-box-shadow: inset 0px 2px 0px 0px #9acdf9;
	-moz-box-shadow: inset 0px 2px 0px 0px #9acdf9;
	box-shadow: inset 0px 2px 0px 0px #9acdf9;
	background-color: #1b75fe;
	color:#fff;
	outline: 0;
}
#header-wrapper #shopping-cart{
	height:80px;
	margin:2px 0 18px;
}
.shop-cart .dash-login{
	font:normal 14px Arial, Helvetica, sans-serif;
	top:11px;
	right:20px;
	letter-spacing:0px;
	margin:0;
}
#header-wrapper .shop-cart hr{
	margin:9px 0 8px;
	position:absolute;
	margin:0;
	top:37px;
	left:0px;
	width:330px;
}
.shop-cart .cart-items a{color:#377CE4;}
.domain-submit, .domain-submit-disabled{ text-transform:uppercase;}
.plan-featured .pl-title, .plan-featured li.p-pricing, .plan-featured li.p-name{ color:#fff;}
.bu-email{
    background: url("/getImage.php?src=menu-sprite.png") no-repeat scroll 0 -265px transparent;
    float: left;
    height: 38px;
    width: 34px;	
	}
.ee-email{
    background: url("/getImage.php?src=menu-sprite.png") no-repeat scroll -49px -265px transparent;
    float: left;
    height: 38px;
    width: 34px;	
	}
.home-promo-msg{background:url(/getImage.php?src=home-promo-msg.png) 0 0 no-repeat; width:243px; height:53px; position:absolute; right:0; top:-10px; color:#ff8400; font-size:13px; font-weight:bold;}
.home-promo-msg.home-promo{background:url(/getImage.php?src=home-promo-msg-grey.png) 0 0 no-repeat;}
.home-promo-msg span{display:inline-block; *display:inline; zoom:1; text-align:center;  margin-left:50px; text-shadow: 1px 1px 2px #fff; margin-top: 10px;}
.home-promo {margin-left:0px; top:0px; right:80px}
.grey-background { width: 1000px; margin: 0 auto;}
.hosting-blurb-wrp .gray-bar .domianbox-wrp{
    margin-left: 80px;
}

.rel{position:relative;}
.navigation .tag-new{display:inline-block; *display:inline; zoom:1; background:#da3927; border-radius:9px; color:#fff; font-size:11px; padding:1px 7px;position: relative;
    top: -10px;
    margin-left: 5px;
}
.navigation .tag-new span{background:url(/getImage.php?src=tag-new-11.png) 0 0 no-repeat;display:inline-block; *display:inline; zoom:1; width:4px; height:8px; position:absolute; bottom: -5px; left: 4px;}
.nav li .sub li a.menu-item-upcoming-tld {color: #3E8AE8;}
.nav li .sub li a.menu-item-upcoming-tld:hover {color: #3E8AE8;}

.server_loc_tabs{border:4px solid #6ab5f7; position:absolute; background:#6ab5f7; border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;text-transform: uppercase; top:-22px;}
.server_loc_tabs li{background:#fff; font-size:18px; line-height:40px; padding:0 20px 0 50px; float:left; position:relative; cursor:pointer; border-right:1px solid #6ab5f7;}
.server_loc_tabs ul li.sel{background-color:#6ab5f7; color:#fff; cursor:default;}
.server_loc_tabs ul li .sel_tab{display:none;}
.server_loc_tabs ul li.sel .sel_tab{background: url("/getImage.php?src=sel-tab.gif") no-repeat 0px 0px; width:16px; height:8px; position:absolute; bottom:-11px; left:104px; display:block;}
.server_loc_tabs li.tab_IN{background: url("/getImage.php?src=ic-small-in.png") no-repeat 20px 11px #fff;}
.server_loc_tabs li.tab_US{background: url("/getImage.php?src=ic-small-us.png") no-repeat 20px 11px #fff;}
.server_loc_tabs li.tab_UK{background: url("/getImage.php?src=ic-small-uk.png") no-repeat 20px 11px #fff;}
.server_loc_tabs li.tab_TR{background: url("/getImage.php?src=ic-small-tr.png") no-repeat 20px 11px #fff;}
.server_loc_tabs li.tab_HK{background: url("/getImage.php?src=ic-small-hk.png") no-repeat 20px 11px #fff;}
.server_loc_tabs li.first{border-radius:6px 0 0 6px;-moz-border-radius:6px 0 0 6px;-webkit-border-radius:6px 0 0 6px;}
.server_loc_tabs li.last{border-radius:0 6px 6px 0px;-moz-border-radius:0 6px 6px 0px;-webkit-border-radius:0 6px 6px 0px;}

.modal_content .server_loc_tabs{border:none; position:static; background:none;margin: 25px 0;text-align: center;}
.modal_content .server_loc_tabs li{background:#fff; font-size:17px; line-height:40px; padding:0 11px 0 40px; float:left; position:relative; cursor:pointer; border-right:1px solid #6ab5f7;}
.modal_content .server_loc_tabs ul li.sel{background-color:#6ab5f7; color:#fff; cursor:default;}
.modal_content .server_loc_tabs ul li .sel_tab{display:none;}
.modal_content .server_loc_tabs ul li.sel .sel_tab{background: url("/getImage.php?src=sel-tab.gif") no-repeat 0px 0px; width:16px; height:8px; position:absolute; bottom:-11px; left:104px; display:block;}
.modal_content .server_loc_tabs li.tab_IN{background: url("/getImage.php?src=ic-small-in.png") no-repeat 11px 12px #fff;}
.modal_content .server_loc_tabs li.tab_US{background: url("/getImage.php?src=ic-small-us.png") no-repeat 11px 12px #fff;}
.modal_content .server_loc_tabs li.tab_UK{background: url("/getImage.php?src=ic-small-uk.png") no-repeat 11px 12px #fff;}
.modal_content .server_loc_tabs li.tab_TR{background: url("/getImage.php?src=ic-small-tr.png") no-repeat 11px 12px #fff;}
.modal_content .server_loc_tabs li.tab_HK{background: url("/getImage.php?src=ic-small-hk.png") no-repeat 11px 12px #fff;}
.modal_content .server_loc_tabs li.first{border-radius:6px 0 0 6px;-moz-border-radius:6px 0 0 6px;-webkit-border-radius:6px 0 0 6px;}
.modal_content .server_loc_tabs li.last{border-radius:0 6px 6px 0px;-moz-border-radius:0 6px 6px 0px;-webkit-border-radius:0 6px 6px 0px;}
.modal_content .server_loc_tabs ul { background: none repeat scroll 0 0 #6AB5F7; border: 4px solid #6AB5F7; border-radius: 6px; display: inline-block; text-align: center;}

.ssl-menu-icon { background: url("/getImage.php?src=security-sub-menu-icons.png") no-repeat 0 0  transparent; width:27px; height:35px; float:left; }
.sitelock-menu-icon { background: url("/getImage.php?src=security-sub-menu-icons.png") no-repeat -3px -75px transparent; width:23px; height:28px; float:left; }


.vps-menu-icon { background: url("/getImage.php?src=servers-dd-menu-icons.png") no-repeat 0 0  transparent; width:31px; height:31px; float:left; }
.dd-menu-icon { background: url("/getImage.php?src=servers-dd-menu-icons.png") no-repeat 0 -65px transparent; width:29px; height:29px; float:left; }
.ms-menu-icon { background: url("/getImage.php?src=servers-dd-menu-icons.png") no-repeat 0 -134px transparent; width:33px; height:33px; float:left; }
