/* DIGICERT TABBED PLANS */

.digicert-banner {
	background:url(/getImage.php?src=ssl_banner.jpg) no-repeat left top;
	width:710px;
	height:76px;
	}

.digicert-pricing-1-td {
	border-bottom: 1px solid #eee;
	padding-bottom: 3px;
        }
.digicert-pricing-table {
    margin-left: 10px;
        }
.digicert-pricing-text {
	padding-left: 20px;
	color: #406bac;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	font-family: arial;
	background: url(/getImage.php?src=arrow-orange.gif) no-repeat 10px 4px;
    }
.digicert-pricing-2-td {
	padding-bottom: 3px;
        }
.buynow-button {
	font-family: arial;
	font-weight: bold;
	text-transform: uppercase;
	background: #9ac823;
	margin-right: 5px;
	display: block;
	text-align: center;
	}
.buynow-button a {
	color: #fff;	
	}

.digicert-pricing-table {
margin: 3px 0;
}

.digicert-plan-table {
	background: url(/getImage.php?src=plan-tabs-bg-gradient.gif) #e3eff8 repeat-x left bottom;
	border-top: 1px solid #96d1ff;
	border-left: 1px solid #96d1ff;
	border-bottom: 1px solid #96d1ff;
	border-right: 1px solid #96d1ff;
	cursor: pointer;
	margin-left:1px;
	margin-top: 1px !important;
	margin-top: 0px ;
	}

.digicert-plan-table-selected {
	background: #fff;
	border-top: 1px solid #96d1ff;
	border-left: 1px solid #96d1ff;
	border-bottom: 1px solid #96d1ff;
	border-right: 1px solid #fff;
	margin-top: 1px !important;
	margin-top: 0px ;
	margin-left:1px;
	}

.digicert-plan-table-selected .digicert-plan-name {
	color: #fc7100;	
	}

.digicert-plan-name {
	font-size: 13px;
	font-family: arial;
	color: #e3120d;
	font-weight: bold;
	text-decoration: underline;
	text-align: left;
	margin: 5px 0 5px 10px;
	}

.digicert-pricing-1-td .digicert-pricing {
	border-bottom: 1px solid #eee;
	margin-top: 5px;
	padding-bottom: 3px;
	}

.digicert-pricing-2-td .digicert-pricing {
	margin-bottom: 5px;
	margin-top: 1px;
	}

.digicert-pricing {
	color: #406bac;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	margin-left: 10px;
	font-family: arial;
	background: url(/getImage.php?src=arrow-orange.gif) no-repeat left 4px;
	padding-left: 10px;
	}

.digicert-pricing .buynow {
	font-family: arial;
	font-weight: bold;
	text-transform: uppercase;
	background: #9ac823;
	padding: 1px 6px 1px 4px !important;
	padding: 1px 2px;
	display: block;
	float: right;
	width: 12%;
	margin-right: 10px !important;
	margin-right: 5px;
	}

.digicert-pricing .buynow a {
	color: #fff;	
	}

.digicert-pricing-1-td .digicert-pricing .buynow {
	margin-top: -15px !important;
	margin-top: -20px;	
	}

.digicert-pricing-2-td .digicert-pricing .buynow {
	margin-top: -15px;
	}

.digicert-viewdetails {
	padding-right: 5px;
	text-align: right;
}

.digicert-viewdetails a {
	color: #333;
	}

.digicert-content-spacer {
	height: 450px !important;
	*height: 460px;
	_height: 460px;
	overflow: auto;
	background: #fff;
	border-top: 1px solid #96d1ff;
	border-right: 1px solid #96d1ff;
	border-bottom: 1px solid #96d1ff;
	background: url(/getImage.php?src=content-spacer-bg.gif) #fff repeat-y right top;
	}

.rounded-box-content .digicert-content-spacer {
	height: 418px;
	}

.digicert-plan-details {
	padding: 10px;
	}

.digicert-plan-details h4 {
	font-size: 18px;
	font-family: arial;
	font-weight: normal;
	color: #2d7ec3;
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	border-bottom: 1px solid #e0ebf6;
	}
.digicert-plan-details ul {
	margin: 0;
	padding: 0;
	margin-left: 25px;
	margin-top: 7px;
	margin-bottom: 10px;
	list-style: square;
	color: #333;
	}

.digicert-plan-details li {
	margin-bottom: 5px;
	}

.digicert-plan-details p {
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
	margin-top: 5px;
	}

.text-highlight {
	color: #003660;
	}

.digicert-heading {
	background:url(/getImage.php?src=plan-heading-bg.gif) #0161bd no-repeat right top;
	border: 1px solid #ccc;
	height:37px;	
	}

.digicert-heading p {
	font-weight: bold;
	font-size: 14px;
	color: #fff;
	}

/* TABBED CONTENT */

#digicert-content-tabs .content-tabs-spacer {
	width: 10px;
	border-bottom: 1px solid #999;
	border-top: 1px solid #fff;
	}

#digicert-content-tabs .content-tabs, #digicert-content-tabs .content-tabs-selected {
	background: url(/getImage.php?src=plan-tabs-bg-gradient.gif) #e3eff8 repeat-x left -10px;
	text-align: center;
	border: 1px solid #999;
	font-size: 11px;
	font-family: tahoma;
	color: #333;
	padding: 5px 0;
	cursor: pointer;
	}

#digicert-content-tabs .content-tabs-selected {
	color: #fc7100;
	background: #fff;
	border-bottom: 0 none;
	cursor: default;
	}

#digicert-content-wrapper {
	border: 1px solid #999;
	border-top: 0 none;
	width: 700px;
	padding: 10px 0;
	}

#digicert-content-wrapper .digicert-content {
	margin: 10px 15px;
	}

/* Friday, July 06, 2007 */

.extra-planlink {
color: #ffff99;
}
.extra-planlink a {
color: #ffff99;
text-decoration: underline;
font-weight: bold;
font-family: verdana;
font-size: 12px;
}
.extra-planlink a:hover {
text-decoration: none;
color: #ffff99;
}


/* Supersite Compare Plans*/


/* COMPARE PLANS PAGE */

.comparePlans td {
	font-family: verdana, arial, sans-serif;
	}

.comparePlans .cplans {
	background: url('/getImage.php?src=blue-tab.jpg') #0060BE repeat-x left top;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	font-weight: bold;
	font-size: 11px;
	}

.comparePlans .SelectedPlan {
	background: url('/getImage.php?src=red-tab.jpg') #A43A2D repeat-x left top;
	border-left: 1px solid #fff;
	font-weight: bold;
	font-size: 11px;
	text-align: center;
	}

.cplans a {
	color: #fff;
	text-decoration: none;
	}

.cplans a:hover {
	color: #fff;
	text-decoration: underline;
	}

.SelectedPlan a {
	color: #fff;
	text-decoration: none;
	}

.SelectedPlan a:hover {
	color: #fff;
	text-decoration: underline;
	}
.comparePlans .HeadingCaption {
	font-size: 12px;
	font-family: verdana, arial, sans-serif;
	color: #0B6CCA;
	font-weight: bold;
	background: url('/getImage.php?src=heading.gif') no-repeat 8px center;
	padding-left: 31px;
	text-align: left;
	}

.comparePlans .MainHeading {
	background: #0161BD url('/getImage.php?src=subheading.gif') no-repeat 8px center;
	padding-left: 31px;
	color: #fff;
	font-weight: bold;
	font-size: 12px
	}

.comparePlans .hilite {
	background: #FFFFD3;
	color: #252525;
	font-size: 11px;
	font-family: verdana, arial, sans-serif;
	font-weight: bold;
	}

.comparePlans .hiliteplan {
	background: #FF8071;
	color: #252525;
	font-size: 11px;
	font-weight: bold;
	}

.comparePlans .hilitetd {
	background: #FED5D0;
	color: #252525;
	font-size: 11px;
	}

.comparePlans .hilitetdalt {
	background: #FFF2F1;
	color: #252525;
	font-size: 11px;
	}

.comparePlans .alt1, .alt2, .alt3, .alt4 {
	color: #252525;
	font-size: 11px;
	}

.comparePlans .alt2 {
	background: #fff url('/getImage.php?src=pointer.gif') no-repeat 13px center;
	padding-left: 31px;
	text-align: left;
	}

.comparePlans .alt1 {
	background: #DEEDFB url('/getImage.php?src=pointer.gif') no-repeat 13px center;
	padding-left: 31px;
	text-align: left;
	}

.comparePlans .alt3 {
	background: #DEEDFB;
	}

.comparePlans .textHilight {
	font-weight:bold;
	}

.comparePlans .comparePlans a {
	color: #0036A3;
	}

.comparePlans .SubHeading {
	background: #5A98D4 url('/getImage.php?src=subheading.gif') no-repeat 8px center;
	padding-left: 31px;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	text-align: left;
	}

/* COMPARE PLANS PAGE */


.alternateplan_heading {
	margin: 8px 0;
	padding-left:32px;
	padding-right:3px;
	padding-top:3px;
	padding-bottom:4px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#CC0000;
	font-weight:bold;
	background:url(/getImage.php?src=alternateplan_head.gif) #f4fff1 no-repeat 6px 2px;
	border-bottom:1px solid #c5f2b9;
}

