.premium_domain .result-wrapper {
	border-bottom: 1px solid #F0F0F0;
	margin: 0;
	overflow: hidden;
	padding: 27px 0;
	position: relative;
}
.premium_domain .item-dname {
	font: 14px Arial, Helvetica, sans-serif;
	color: #777;
	display: inline-block;
}
.premium_domain .new-ui-button {
	position: absolute;
	right: 30px;
	top: 20px;
}
.premium_domain .ui-button-grn {
	font: bold 13px/16px Arial, Helvetica, sans-serif;
	padding: 3px 1px;
	width: 65px;
}
.premium_domain .duration, .yearprice-wrap {
	left: 355px;
	position: absolute;
	top: 13px;
}
.ispremium {
	background: url("/getImage.php?src=premium_domains.png") no-repeat scroll 0 0 transparent;
	display: inline-block;
	height: 15px;
	padding: 0 5px 0 0;
	vertical-align: middle;
	width: 29px;
}
.yearprice-wrap .price {
	font: bold 18px Arial, Helvetica, sans-serif;
	color: #434343;
	display: inline-block;
}
.dsarch-re-wrp .yearprice-wrap {
	left: 385px;
	position: absolute;
	top: 18px;
}
.premium_domain .premiumMsg {
	font: normal 13px Arial, Helvetica, sans-serif;
	color: #777;
	margin-top: 3px;
	display: inline-block;
}
.premium-dsearch-box {
	border: solid 7px #4c4c4c;	
	border: solid 7px rgba(0,0,0,0.7);
	border-radius: 5px;
	width: 565px;
}
.dsearch-box-inner {
	border: solid 1px #bac4c5;
	padding: 5px;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fdfefe), color-stop(1, #e7eef2) );
	background: -moz-linear-gradient( center top, #fdfefe 5%, #e7eef2 100% );
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfefe', endColorstr='#e7eef2');
	background-color: #fdfefe;
}
.dsearch-box-inner .frm-text {
	background: url("/getImage.php?src=ic-pre-off.gif") no-repeat scroll 9px 13px #fff;
	border-style: solid;
	border-width: 1px;
	border-color: #e9e9e9 #e0e0e0 #cbccce #e9e9e9;
	font: 14px Arial, Helvetica, sans-serif;
	padding: 14px 5px 12px 50px;
	width: 398px;
	border-right:none;
	border-left:none;
}
.dsearch-box-inner .ison{
		background: url("/getImage.php?src=ic-pre-dbox.gif") no-repeat scroll 8px 13px #FFFFFF;
	}
.dsbox-inner-wrp {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f8f8f8) );
	background: -moz-linear-gradient( center top, #ffffff 5%, #f8f8f8 100% );
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f8f8f8');
	background-color: #ffffff;
	border: solid 1px #cbccce;
}
.dsbox-inner-wrp .currency {
	background: url("/getImage.php?src=ic-pre-dbox-dd.gif") no-repeat scroll right 17px transparent;
	color: #5B5B5B;
	display:inline;	
	display: inline-block;
	font: bold 15px Arial, Helvetica, sans-serif;
	padding: 10px 15px 11px 5px;
	cursor:pointer;
}
.pre-dname-sbox {
	width: 455px;
	padding-right: 10px;
}
.element-bg {
	background: url("/getImage.php?src=element-bg.jpg") no-repeat scroll 0 0 transparent;
}
.pre-domain-wrp p {
	font: normal 14px/20px Arial, Helvetica, sans-serif;
	color: #5b5b5b;
}
.pre-domain-wrp h3 {
	font: normal 18px Arial, Helvetica, sans-serif;
	color: #5b5b5b;
	padding-bottom: 11px;
}
.pre-domain-wrp .two-cols {
	overflow: hidden;
	margin: 20px 0;
}
.pre-domain-wrp .gray-bg {
	float:left;
	width:49%;
	background: url("/getImage.php?src=predmn-list-sept.png") no-repeat scroll right 3px transparent;
	margin-right:17px;
}
.pre-domain-wrp li.last{ margin:0; background:none;}
.pre-domain-wrp .feature-list{
	background: url("/getImage.php?src=predmn-list-bg.jpg") no-repeat scroll center  0 transparent;
	overflow:hidden;
	margin-bottom:25px;	
	}
.pre-domain-wrp .features {
	padding: 0 0 0 85px;
	height:128px;
}
.pre-domain-wrp .list1 {
	background: url("/getImage.php?src=predmn-list1.png") no-repeat scroll 0 4px transparent;
}
.pre-domain-wrp .list2 {
	background: url("/getImage.php?src=predmn-list2.png") no-repeat scroll 0 4px transparent;
}
.pre-domain-wrp .list3 {
	background: url("/getImage.php?src=predmn-list3.png") no-repeat scroll 0 4px transparent;
}
.pre-domain-wrp .list4 {
	background: url("/getImage.php?src=predmn-list4.png") no-repeat scroll 0 4px transparent;
}
.price-selector{ width:340px; padding:5px 5px 5px 1px;}
.tag-cloud-wrp {
	margin: 5px;
	border: solid 1px #efefef;
	padding: 75px 10px 65px 10px;
	box-shadow: 0 0 3px #efefef;
	position: relative;
}
.tag-cloud-wrp h4 {
	background: url("/getImage.php?src=tab-cl-badge.png") no-repeat scroll 0 0 transparent;
	color: #FFFFFF;
	font: normal 17px Arial, Helvetica, sans-serif;
	padding: 9px 0 0 15px;
	height: 51px;
	left: -9px;
	position: absolute;
	top: 0;
	width: 276px;
}
.clouds-list a {
	display: inline-block;
	margin: 1px 5px;
}
.more-cloud {
	font: italic 18px Arial, Helvetica, sans-serif;
	color: #333;
	background: url("/getImage.php?src=tabcloud-bg.gif") no-repeat scroll 0 0;
	padding: 10px 10px 10px 19px;
	position: absolute;
	left: 0;
	bottom: -3px;
	width: 89%;
}
.clouds-list .cloud1 {
	font: normal 16px Arial, Helvetica, sans-serif;
	color: #cccccc;
}
.clouds-list .cloud2 {
	font: normal 22px Arial, Helvetica, sans-serif;
	color: #5b5b5b;
}
.clouds-list .cloud3 {
	font: normal 31px Arial, Helvetica, sans-serif;
	color: #b0b0b0;
}
.clouds-list .cloud4 {
	font: normal 24px Arial, Helvetica, sans-serif;
	color: #9ec429;
}
.clouds-list .cloud5 {
	font: normal 16px Arial, Helvetica, sans-serif;
	color: #000;
}
.clouds-list .cloud6 {
	font: normal 22px Arial, Helvetica, sans-serif;
	color: #cccccc;
}
.clouds-list .cloud7 {
	font: normal 22px Arial, Helvetica, sans-serif;
	color: #999;
}
.clouds-list .cloud8 {
	font: normal 18px Arial, Helvetica, sans-serif;
	color: #5b5b5b;
}
.clouds-list .cloud9 {
	font: normal 14px Arial, Helvetica, sans-serif;
	color: #cccccc;
}
.clouds-list .cloud10 {
	font: normal 18px Arial, Helvetica, sans-serif;
	color: #9ec429;
}
.btn-blue {
	-moz-box-shadow: inset 0px 1px 0px 0px #5cb5f1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #5cb5f1;
	box-shadow: inset 0px 1px 0px 0px #5cb5f1;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4ca5ed), color-stop(1, #3881e7) );
	background: -moz-linear-gradient( center top, #4ca5ed 5%, #3881e7 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4ca5ed', endColorstr='#3881e7');
	background-color: #4ca5ed;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	text-indent: 0;
	border: 1px solid #2e81e7;
	display: inline-block;
	color: #ffffff;
	font: normal 14px Arial, Helvetica, sans-serif;
	padding: 14px 18px;
	text-decoration: none;
	cursor: pointer;
	overflow:visible;
}
.btn-blue:hover {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3881e7), color-stop(1, #4ca5ed) );
	background: -moz-linear-gradient( center top, #3881e7 5%, #4ca5ed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3881e7', endColorstr='#4ca5ed');
	background-color: #3881e7;
	color:#fff;
}
.btn-blue:active {
	position: relative;
	top: 1px;
}
.pre-dmn-page {
	min-height: 220px;
	padding-bottom:17px;
	border-bottom: solid 1px #e8e8e8;
}
.pre-domain-wrp .ui-heading {
	padding: 0 0 2px 0;
}
.pre-dmn-page .fea-heading {
	margin: -15px 0 19px 0;
}
.pre-dname-price{ padding:0 8px 5px 5px;}
.pre-dname-price p{ font:normal 11px Arial, Helvetica, sans-serif; padding:7px 0 3px; color:#5c5b5b; height:100%;}
.pre-dname-price .selected-price{ font:bold 15px Arial, Helvetica, sans-serif; color:#5b5b5b; background: url("/getImage.php?src=slace-devider.gif") no-repeat 0 center; padding:0 0 0 10px;}

/* Slider only */
.ui-slider {
	position: relative;
	text-align: left;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 30px;
	height: 21px;
	cursor: default;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}
.ui-widget-content {
	background: url(/getImage.php?src=slider-bg.png) 0 0 repeat-x;
	border-radius:10px;
	height:10px;
}
.ui-widget-header {
	background: url(/getImage.php?src=slider-selected.png) 0 0 repeat-x;
	border-radius:10px;
	height:10px;	
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: url(/getImage.php?src=slider-selector.png) no-repeat 0 0;
	outline:none;
}
/* For IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle, .ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -.39em;
	margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}
/* */

.predomain-result .premium_domain .item-dname{
	font:normal 16px Arial, Helvetica, sans-serif;
	color:#333;
	}
.predomain-result .d-res-col, .predomain-result{ min-height:300px;}	
.predomain-result .yearprice-wrap .price{
	font:normal 16px Arial, Helvetica, sans-serif;
	color:#777;	
	}
.predomain-result .premium_domain .ui-button-grn{
	padding:6px 3px;
	top:22px;
	}
.predomain-result .duration, .yearprice-wrap{ top:27px;}
.tab-one .tab1{
	background:url("/getImage.php?src=faqs-tab.gif") no-repeat scroll 0 0 transparent;
	width:218px;
	}
.has-label{
	position:relative;
	}	
.label-on-off{
    color: #999999;
    font: 14px arial;
    left: 50px;
    position: absolute;
    top: 13px;	
	}
.no-domain-msg{	
    background: url("/getImage.php?src=ic-no-dmn.gif") no-repeat scroll 13px 13px #F3F3F3;
    border: 1px solid #B6B6B6;
    color: #5B5B5B;
    font: 14px arial;
    margin: 0 30px;
    padding: 15px 15px 15px 45px;
}