/* COMMON CSS */
.inline-block { display: inline-block; *display: inline; *position: relative; zoom:1; }
.dca-search button {
    background:#2fbe15; border:1px solid #18900b; height:63px;  width:143px; cursor:pointer;
    font-family : "proxima_nova", Arial; font-size: 18px; font-weight:100; color:#fff; margin:0 0 0 -4px;
}
.dca-search button, .dca-domain-avail span button, #checkout,
.dca-footer-banner a, a.dca-comingsoon-button, .filter-button
{
    -webkit-border-radius: 0 4px 4px 0; -moz-border-radius: 0 4px 4px 0; border-radius: 0 4px 4px 0;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(216, 216, 216, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(216, 216, 216, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(216, 216, 216, 0.2); outline: none;
}
.dca-search button:hover, .dca-domain-avail span button:hover, #checkout:hover,
.dca-footer-banner a:hover, a.dca-comingsoon-button:hover, .filter-button:hover
{ 	background:#34c918;
    -webkit-transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}
.dca-search button:active, .dca-domain-avail span button:active, #checkout:active,
.dca-footer-banner a:active, a.dca-comingsoon-button:active, .filter-button:active,
a.tooltipanimated.dca-comingsoon-button.clicked
{ background:#2db315 }
.dca-red-text { color: #d61400; }
.dca-green-text { color:#2aa713 }
.dca-gray-text { color: #999 !important; }
.hide {display: none}

/* SEARCH BAR */
.dca-page-wrapper { /*border: 1px solid black;*/ width: 1000px; margin: 75px auto 70px auto; position:relative; }
.dca-search { background:#f2f2f2; width: 730px; padding: 5px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.dca-search input
{   color:#222; font-family:"proxima_nova", Arial; font-size:18px; font-weight:100;
    padding:20px 0 20px 20px; width: 562px; border:1px solid #d8d8d8;
    -webkit-border-radius: 4px 0 4px 0; -moz-border-radius: 4px 0 4px 0; border-radius: 4px 0 0 4px;
    -webkit-box-shadow: 0 0 1px 1px #e5e5e5; -moz-box-shadow: 0 0 1px 1px #e5e5e5; box-shadow: 0 0 1px 1px #e5e5e5; outline: none;
}

/* PRIMARY & SECONDARY SEARCH RESULTS */
.secondary-section  { width: 735px; margin:40px 0 0 0; }
.primary-result-section.dca-unavailable { border:2px solid #d82310; }
.primary-result-section.dca-available { border:2px solid #2fbe16; }
.primary-result-section, .secondary-result-section
{   border:2px solid #ccc; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;  margin:40px 0;  width:735px; }
.secondary-result-section { border:2px solid #ccc; width: 735px; margin :7px auto 20px auto; min-height:320px !important;  }
.secondary-section-heading { font-family:"proxima_nova", Arial; font-size:20px; font-weight:600; color:#222; }

/* Individual Result */
.primary-result, .secondary-result
{ width:100%;  position:relative; clear:both; color: #222; }
.primary-result { padding:20px 0; }
.secondary-result  { margin-bottom:-2px; border-bottom: 2px solid #ccc; padding:30px 0 26px 0;  }

/* Domain name in result */
.secondary-result .dca-domain-name { height:35px;  }
.dca-domain-name   { margin:0 0 0 20px; font-family:"proxima_nova", Arial; font-size:20px; color:#222; width:40%; }
.primary-result .dca-domain-name{ font-weight:600; }
.secondary-result .dca-domain-name   { padding:0; font-weight:400; }

/* Domain duration, pricing button container */
.dca-domain-avail { text-align:right; padding:0 20px 0 0; position:absolute; right:0; width:60%; }
.primary-result .dca-domain-avail { top:25px; }
.primary-result .dca-domain-avail span.inline-block { margin:0 0 0 36px; vertical-align:top; width: 25%; }
.secondary-result .dca-domain-avail { height:35px; }
.secondary-result .dca-domain-avail span.inline-block { margin:0 0 0 25px; vertical-align: middle; width:30%; }
.primary-result .dca-domain-avail span.inline-block { vertical-align: middle !important; }
.dca-domain-avail span button, a.dca-comingsoon-button, .filter-button
{ background:#2fbe15; border:0; color:#fff; font-family:"proxima_nova", Arial; font-size:14px; font-weight:100; height:auto; width:auto; padding:8px 20px;
    -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; cursor:pointer; border: 1px solid #18900b; outline: none; }
.dca-pricing { font-family:"proxima_nova", Arial; font-size:18px; font-weight:600; position:relative; }
.secondary-result .dca-pricing { font-weight:100; font-size:15px; color:#222; }
.secondary-result .dca-domain-avail span.inline-block em.dca-red-text
{ font-style:normal !important; font-family:"proxima_nova", Arial; font-size:18px; font-weight:600;  }

/* Primary available & unavailable */
.dca-hide-disabled { visibility:hidden; }
.idn-result.dca-dn-available, .idn-result.dca-dn-unavailable
{  padding:0 0 0 50px;  }
.idn-result.dca-dn-available	{ background: url('/getImage.php?src=domain-available.png') no-repeat 0 6px;  }
.idn-result.dca-dn-unavailable    { background: url('/getImage.php?src=domain-unavailable.png') no-repeat 0 6px; }
.dca-domain-avail span select option:nth-child(even) { background: #f8f8f8; }

.dca-dn-available-icon, .dca-dn-unavailable-icon
{ height:36px; width:36px; vertical-align:top; margin:2px 10px 0 0; background:url('/getImage.php?src=images/dca-icons-sprite.png') no-repeat; }

.dca-dn-unavailable-icon { background-position:0 0; }

.dca-dn-available-icon { background-position:0 -48px; }

/* Show More */
.show-more  {  text-align:center;    }
.show-more button
{ background: url('/getImage.php?src=images/dca-icons-sprite.png') no-repeat 180px -169px #fff;
    font-family:"proxima_nova", Arial; font-size:18px; line-height:22px; font-weight:normal; color:#222;
    cursor: pointer; border:0; margin:-4px 0 0 0; width:200px; outline: none; }
.show-more button:hover
{ text-decoration: underline;  }

/* Tags */
.secondary-result .dca-sale-tag, .primary-result .dca-sale-tag
{  background: url('/getImage.php?src=images/dca-icons-sprite.png') no-repeat 0 -98px; position:absolute; top:-30px; right:0; height:38px; width:38px; }
.primary-result .dca-sale-tag { top: -27px; }
.dca-comingsoon-tag, .dca-premiumdomain-tag
{ font-family:"proxima_nova", Arial; font-size:12px; font-weight:100; color:#fff; padding:0 10px 0 27px; line-height:19px; margin-top:-2px;
    -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; display:block !important;
}
.dca-comingsoon-tag  { background: #e07182; width:120px !important; padding:0 0 0 8px !important; vertical-align:top; height:19px; position:relative; bottom:-5px; }

.primary-result .dca-comingsoon-tag { bottom:0; }

.dca-comingsoon-tag .dca-comingsoon-icon 
{ background: url('/getImage.php?src=images/dca-icons-sprite.png') no-repeat 0 -145px; height:19px; vertical-align:middle;  width:20px !important; margin:0 3px 0 0; }

.dca-premiumdomain-tag { background: url('/getImage.php?src=images/dca-icons-sprite.png') no-repeat -37px -145px #ff9c00;  height:19x;  width:55px !important; }

/* Select Button */
.primary-result .dca-select-button { width:127px !important;  }
.primary-result button.dca-added,.primary-result button.pre-add, .primary-result button.pre-add:hover, .secondary-result button.dca-added, .secondary-result button.pre-add,
.secondary-result button.pre-add:hover
{ background: url("/getImage.php?src=images/prereg-icons-bg.png") no-repeat 10px -67px #2fbe15; padding:8px 20px 8px 30px; }
.primary-result button.dca-added:hover, .secondary-result button.dca-added:hover
{  background: url('/getImage.php?src=images/dont-prebook-notify-icon.png') no-repeat 12px 9px #d61400 !important;
    -webkit-transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
    border:1px solid #d61400;

}

.loading-dca-content { height:10px; width:80px; margin:20px auto; text-align:center; }
.secondary-result-section .loading-dca-content { margin:100px auto; }

/* IDN Search Adjustment */
.small-idn-name { font-size:13px; font-weight:100; color:#222; display:block; } 


/* CART ITEM STYLING */
.dca-page-wrapper .cart-empty  { /*height:218px;*/ height: 200px; border:2px #ccc dashed; margin:20px;  width:180px; }
.dca-page-wrapper .cart-empty p {
    background: url("/getImage.php?src=prereg-icons-bg.png") no-repeat 20px -147px;
    color: #8A8A8A; font-family: "proxima_nova",sans-serif; font-size: 15px; font-weight: 100;
    text-align: center; padding: 0 0 0 20px; position: relative; top:40%;
}
.dca-page-wrapper #checkout, .dca-footer-banner a
{ background:#2fbe15; border:1px solid #18900b; color:#fff; cursor:pointer;
    font-family:"proxima_nova", Arial; font-size:18px; font-weight:100;text-align:center;
    width:100%; padding:16px 0;  -webkit-border-radius: 0 0 4px 4px; -moz-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
}
.dca-page-wrapper #checkout.disabled
{ background:#dedede; width:100%; padding:16px 0; border:0; border-top:1px solid #c7c7c7; color:#909090;
    font-family:"proxima_nova", Arial; font-size:16px; font-weight:100; text-align:center;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(216, 216, 216, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(216, 216, 216, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(216, 216, 216, 0.2);
}
.dca-page-wrapper .cart-items-container 
{ margin:0; background: none !important; padding:0 !important; min-height:204px; }
.dca-page-wrapper .cart { border: 1px solid #ccc; min-height : 300px; width: 225px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; position: absolute;
    right:0 }
.dca-page-wrapper .cart-header { background: #f2f2f2; width:100%; }
.dca-page-wrapper .cart-header h3
{ padding: 15px; font-family:"proxima_nova", Arial; font-size:18px; font-weight:400; color:#222; }
.dca-page-wrapper .cart-list { padding-top:25px; }
.dca-page-wrapper .cart-list li { margin:0; padding:0 20px 17px 20px; position:relative; }
.dca-page-wrapper .cart-list li span{ font-family:"proxima_nova", Arial; font-size:15px; font-weight:100; color:#222; }
.dca-page-wrapper .cart .remove, a.tooltipanimated.dca-comingsoon-button  span.classic-ani .close-button
{ background: url("/getImage.php?src=close.png") no-repeat 0 0; right: 20px; top:1px; height:15px; position: absolute; width:15px; opacity:0.6;  }
.dca-page-wrapper .cart .remove:hover, a.tooltipanimated.dca-comingsoon-button  span.classic-ani .close-button:hover { opacity:0.8 }
.dca-page-wrapper .cart .remove:active, a.tooltipanimated.dca-comingsoon-button  span.classic-ani .close-button:hover { opacity: 1; }

.dca-page-wrapper .cart .ppp-modal
{ background: #fff !important; border-top:1px solid #ccc; margin:4px 20px 30px 20px; padding:12px 0px; position:relative;  }
.dca-page-wrapper .cart .ppp-modal .ppp-tobe-enabled
{ background: url('/getImage.php?src=images/dca-icons-sprite.png') no-repeat -43px -216px; padding:0 0 0 20px; }
.dca-page-wrapper .cart .ppp-modal a{ font-family:"proxima_nova", Arial; font-size:13px; font-weight:100; color:#0a69a4; }
.dca-page-wrapper .cart .ppp-modal p, .cart .ppp-modal p a.heading
{ font-family:"proxima_nova", Arial; font-size:13px; font-weight:400; color:#0a69a4; padding-bottom:2px; }
.dca-page-wrapper .cart .ppp-modal p:hover, .cart .ppp-modal a:hover, .cart .ppp-modal:hover p,   .cart .ppp-modal:hover a
{ cursor: pointer; text-decoration: underline; }
.dca-page-wrapper .cart .ppp-modal .ppp-enabled .pp-enabled-icon
{ background: url('/getImage.php?src=images/dca-icons-sprite.png') no-repeat 0 -216px; width:15px; height:20px; margin:-2px 5px 0 -5px; vertical-align:middle; }
.dca-page-wrapper .cart .ppp-modal .ppp-enabled .pp-enabled-text
{ width:90%; vertical-align:top;}
.dca-page-wrapper .cart .ppp-modal .enable-ppp-arrow
{ background: url('/getImage.php?src=images/ppp-cart-arrow.png') 0 0; position:absolute;  top:-10px; left:20px; height:10px; width:16px; display:block; }
.dca-page-wrapper .total-container { margin:20px; }
.dca-page-wrapper .total-container span{ font-family:"proxima_nova", Arial; font-size:15px; font-weight:400; color:#222; text-transform:uppercase;   }
.dca-page-wrapper .total-container span#total { font-family:"proxima_nova", Arial; font-size:26px; font-weight:600; color:#28af0f }
.dca-page-wrapper .total-container .discounted-total, .dca-page-wrapper .total-container br	{ display:none; }
span.dca-domain-purchased, .secondary-result .dca-domain-name span, .dca-domain-name span.dca-primary-dn span.namevalue
{ display: inline-block; width: 150px; word-wrap: break-word;}
.dca-domain-name span.dca-primary-dn span.namevalue { width:200px; font-family:"proxima_nova", Arial; font-size:20px; color:#222; }
.secondary-result .dca-domain-name span, .dca-domain-name span.dca-primary-dn
{ width: 240px; }
.dca-domain-name span.dca-primary-dn.initial-padding { padding:0 0 0 50px; }
.dca-domain-name span.dca-primary-dn { margin-bottom: -5px; line-height:20px; padding-bottom:5px; }
.secondary-result .dca-domain-name { font-size:18px; }
.dca-page-wrapper .cart-items-container .cart-total { padding-left:0 !important; }
.dca-page-wrapper .dca-domain-purchased { position: relative; }
.dca-page-wrapper .dca-domain-purchased.add-left-padding{  padding:0 0 0 20px; }
.dca-page-wrapper .ic-privacy { position:absolute; margin:0; left:0; top:0; pointer-events: none; cursor: default; }

/* SEARCH FILTERS */
.filters { width:45% }
.filters ul li
{ display:inline-block; text-transform:uppercase; font-family:"proxima_nova", Arial; font-size:13px; font-weight:100; color:#222;
    position:relative; padding:5px; margin:0;
    border:1px solid #fff;
    -webkit-border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
}
.current-choosen-filter
{ background:#e8e8e8; border:1px solid #e2e2e2 !important; border-bottom:1px solid #e2e2e2 !important;
    -webkit-border-radius: 16px !important; -moz-border-radius: 16px !important; border-radius: 16px  !important;
    height:6px; line-height:6px;
}

.activefilter, #dca-match-filter.current-choosen-filter.activefilter
{   background: #fff !important; border:1px solid #e2e2e2 !important; border-bottom:0; border-right:1px solid #e2e2e2 !important;
    -webkit-border-radius: 4px 4px 0 0 !important; -moz-border-radius: 4px 4px 0 0 !important; border-radius: 4px 4px 0 0 !important;
    -webkit-box-shadow:  0 0 2px 2px #f1f1f1;
    -moz-box-shadow: 0 0 2px 2px #f1f1f1;
    box-shadow: 0 0 2px 2px #f1f1f1; height: auto; line-height: normal;
}


.filters ul li .dca-filter-option { background:transparent !important; border:0; cursor: pointer; }
.filters ul li button.filter-button { -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }


#dca-price-filter .dca-filteroption-details
{ text-transform: none !important;
    background: #fff;
    position: absolute; top:28px; right:-1px;
    padding:25px; z-index: 1000; border:1px solid #e2e2e2;
    -webkit-border-radius: 4px 0 4px 4px; -moz-border-radius: 4px 0 4px 4px; border-radius: 4px 0 4px 4px;
    -webkit-box-shadow:  0 0 2px 2px #f1f1f1;
    -moz-box-shadow: 0 0 2px 2px #f1f1f1;
    box-shadow: 0 0 2px 2px #f1f1f1;
}
#dca-price-filter .white-patch { width:44px; position:absolute; height:10px; z-index: 9999; right:0; top:-10px; background:white; }
.filters ul li#dca-price-filter button.filter-button{ margin: 0 20px; padding:6px 17px !important; font-size:13px; }
#dca-price-filter .dca-filteroption-details { text-align: center; }
#dca-price-filter .dca-filteroption-details span { font-family:"proxima_nova", Arial; font-size:12px; font-weight:100; line-height:18px;  }
#dca-price-filter .price-range-container { width:160px; margin: -8px 0 15px 0; }

#dca-match-filter .dca-filteroption-details
{ text-transform: none !important;
    position: absolute;
    padding:25px; z-index: 1000; top:28px; width:210px; border:1px solid #e2e2e2;
    background:#fff; right:-1px;
    -webkit-border-radius: 4px 0 4px 4px; -moz-border-radius: 4px 0 4px 4px; border-radius: 4px 0 4px 4px;
    -webkit-box-shadow:  0 0 2px 2px #f1f1f1;
    -moz-box-shadow: 0 0 2px 2px #f1f1f1;
    box-shadow: 0 0 2px 2px #f1f1f1;
}

#dca-match-filter .dca-filteroption-details label:hover { cursor: pointer; }

#dca-match-filter .white-patch { width:113px; position:absolute; height:10px; z-index: 9999; right:0; top:-10px; background:white; }
.filters ul li#dca-match-filter button.filter-button { margin:20px 45px 0 45px; padding:6px 17px !important; font-size:13px; }
.dca-filteroption-details input[type=checkbox]{ margin:4px 0 0 0; }
.dca-filteroption-details label
{ color:#222; font-family:"proxima_nova", Arial; font-size:13px; font-weight:100; line-height:20px; /*margin:0 0 10px 8px;*/ margin:0 0 2px 8px; vertical-align:top; width:85%; }
.dca-filteroption-details  p { color:#888; font-family:"proxima_nova", Arial; font-size:12px; font-weight:100; line-height:18px; width:90%; margin:0 0 0 19px;  }

.dca-filteroption-details .loading-dca-content
{ background: url('/getImage.php?src=images/ajax-loader-dca-filter.gif') no-repeat; height:16px; width:16px; margin:0; position: absolute; right:20px;  }

#dca-price-filter .dca-filteroption-details .loading-dca-content
{ left:95px; top:70px;   }


/* RANGE SLIDER - PLUGIN CSS */
.slider {
    width: 160px;
    margin:0 auto 5px auto !important;
}

.slider > .dragger { background: url('/getImage.php?src=images/dca-range-slider.png') no-repeat; width:25px; height:25px;	}
.slider > .track, .slider > .highlight-track {
    background: #ccc;
    background: -webkit-linear-gradient(top, #bbb, #adadad);
    background: -moz-linear-gradient(top, #bbb, #adadad);
    background: linear-gradient(top, #bbb, #adadad);

    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;

    border: 1px solid #aaa;
    height: 9px;
}

.slider > .highlight-track {
    background-color: #3ccbed;
    background: -webkit-linear-gradient(top, #3ccbed, #39a2dd);
    background: -moz-linear-gradient(top, #3ccbed, #39a2dd);
    background: linear-gradient(top, #3ccbed, #39a2dd);
    border-color: #c3e3ea;
}



/* FOOTER BANNER */
.dca-footer-banner
{ background: url('/getImage.php?src=images/dca-banner-bg.png') no-repeat 20px 15px #02b6ec; height:170px; width:735px; margin:80px 0 0 0; text-align:center;
    -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
}
.dca-footer-banner h1
{ font-family:"proxima_nova", Arial; font-size:32px; font-weight:600; padding:25px 0 0px 0; margin:0; color:#fff; text-shadow: #006571 1px 1px 1px; }
.dca-footer-banner p { text-align:center; font-family:"proxima_nova", Arial; font-size:17px; font-weight:100; color:#fff; margin:0 0 10px 0; }
.dca-footer-banner a { width:120px; padding:10px 20px; font-family:"proxima_nova", Arial; font-size:16px; font-weight:100;
    -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; opacity: 1 !important;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
}
.dca-footer-banner .learn-more-container
{ background: #ccf0fb; width: 125px; height:auto; padding:13px 0; margin:0 auto;
    -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
}

/* TOOLTIPS  */

a.tooltipanimated { position: relative; display: inline; text-decoration: none !important; cursor:pointer; }
a:hover.dca-premiumdomain-tag.tooltipanimated span.classic-ani,
.dca-comingsoon-tag a:hover.tooltipanimated span.classic-ani
{
    visibility: visible; opacity: 1; bottom: -115px; /*left: 35%;*/ margin-left: -80px; z-index: 9999;
    -webkit-transition: opacity, bottom 0.2s ease;  /* Chrome 1-25, Safari 3.2+ */
    -moz-transition: opacity, bottom 0.2s ease;  /* Firefox 4-15 */
    -o-transition: opacity, bottom  0.2s ease;  /* Opera 10.50â€"12.00 */
    transition: opacity, bottom  0.2s ease;  /* Chrome 26, Firefox 16+, IE 10+, Opera     12.50+ */
}

.dca-comingsoon-tag a:hover.tooltipanimated span.classic-ani { bottom:-95px; margin-left:-50px; }

.secondary-result .dca-comingsoon-tag a:hover.tooltipanimated span.classic-ani { bottom:-97px; }

.secondary-result a.tooltipanimated span:after,  .primary-result a.tooltipanimated span:after{ border:0; visibility:visible !important; }

a.dca-premiumdomain-tag.tooltipanimated span.classic-ani, 
.dca-comingsoon-tag a.tooltipanimated span.classic-ani
{
    position: absolute; width:300px; color: #FFFFFF; background: #363636; height: 85px; border:1px solid #000;
    line-height: 21px; font-size:14px; font-family:"proxima_nova", sans-serif; font-weight:100; text-align: left;
    -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;
    visibility: hidden; margin-left:0; bottom:-105px; opacity:0; padding:10px !important; overflow:visible !important;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.7); -moz-box-shadow:    1px 1px 3px 0px rgba(0, 0, 0, 0.7); box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.7);
}

.dca-comingsoon-tag a.tooltipanimated span.classic-ani { width:190px; height:65px; bottom:-80px; }

a.dca-premiumdomain-tag.tooltipanimated span.classic-ani .tooltip-arrow,
.dca-comingsoon-tag a.tooltipanimated span.classic-ani .tooltip-arrow
{ background: url('/getImage.php?src=images/dca-tooltip-arrow.png') no-repeat;
  position: absolute; top:-8px; left:133px; height:9px; width:18px; display:block; }
	
a:hover.dca-premiumdomain-tag.tooltipanimated,
.dca-comingsoon-tag a:hover.tooltipanimated,
.dca-comingsoon-tag a.tooltipanimated
{ color: #fff !important; }

a.tooltipanimated.dca-comingsoon-button { position:relative; }

a.tooltipanimated.dca-comingsoon-button em { font-style: normal !important; }

a.tooltipanimated.dca-comingsoon-button span.classic-ani {
    position: absolute !important; 
	width:190px !important; 
	color: #222 !important; 
	background: #fff !important; 
	height: 95px !important; 
	border:1px solid #e2e2e2 !important;
    line-height: 19px !important; 
	font-size:13px; font-family:"proxima_nova", sans-serif; font-weight:100; text-align: left;
    -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;
    visibility: hidden; margin-left: -210px; bottom:-135px; opacity:0; padding:20px !important; overflow:visible !important;
    -webkit-box-shadow:  0 0 2px 2px #f1f1f1;
    -moz-box-shadow:  0 0 2px 2px #f1f1f1;
    box-shadow:  0 0 2px 2px #f1f1f1;
}

.secondary-result .dca-domain-name span.dca-comingsoon-tag, .secondary-result .dca-domain-name span.preregister-tag { overflow: visible !important; }

a.clicked.tooltipanimated.dca-comingsoon-button span.classic-ani
{
    visibility: visible; opacity: 1; bottom: -145px; /*left: 35%;*/ left:auto !important; margin-left: -210px; z-index: 9999;
    -webkit-transition: opacity, bottom 0.2s ease;  /* Chrome 1-25, Safari 3.2+ */
    -moz-transition: opacity, bottom 0.2s ease;  /* Firefox 4-15 */
    -o-transition: opacity, bottom  0.2s ease;  /* Opera 10.50â€"12.00 */
    transition: opacity, bottom  0.2s ease;  /* Chrome 26, Firefox 16+, IE 10+, Opera     12.50+ */
}

a.tooltipanimated.dca-comingsoon-button  span.classic-ani .tooltip-arrow
{ background: url('/getImage.php?src=images/dca-comingsoon-arrow.png') no-repeat;
    position: absolute; top:-8px; left:265px; height:9px; width:18px;  }

a.tooltipanimated.dca-comingsoon-button.clicked span.classic-ani .tooltip-arrow
{ opacity:1;display:inline-block; visibility:visible !important; }

a.tooltipanimated.dca-comingsoon-button  span.classic-ani button
{ margin-top:10px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }

a.tooltipanimated.dca-comingsoon-button  span.classic-ani .close-button 
{ top: 10px !important; right:10px !important; border:0 !important; margin-left:125px !important; }

.secondary-result a.tooltipanimated.dca-comingsoon-button  span.classic-ani .close-button { margin-left:124px !important; }

a.tooltipanimated.dca-comingsoon-button.clicked span.classic-ani .close-button
{ visibility:visible; }

.primary-result a.tooltipanimated, .secondary-result a.tooltipanimated.dca-comingsoon-button  { display:inline-block;  }

.primary-result-premium {position: relative; margin-bottom: 20px;}

.preregister-tag { font-family:"proxima_nova", Arial; font-size:12px; font-weight:100; color:#222; position:absolute; bottom:0; right:-120px; }

.secondary-result .preregister-tag { right:-250px; }

.dca-display-modal 
{ font-family:"proxima_nova", Arial; font-size:13px; font-weight:100; text-decoration:underline; position:relative; right:-10px; color:#0a69a4; white-space:nowrap;   }

/* SELECT BOX STYLING */

.dca-domain-avail .styled-select
{ background:url('/getImage.php?src=images/dca-duration-arrow.png') no-repeat right #fff;  width:70px !important; overflow: visible; position:relative; }

.dca-domain-avail span .dca-duration {
    -webkit-appearance: none; -moz-appearance: none; appearance: none; height:20px; width:80px; border: none; background:transparent; cursor:pointer;
    font-family:"proxima_nova", Arial; font-size:15px; font-weight:100; text-align: left !important; display:inline-block;
    *display: inline; *position:relative; zoom:1; margin:3px 0 0 0;
}
ul.hidden-dca-durations
{ border:1px solid #e2e2e2; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
    padding:0; margin:0; width:100px; position:absolute; top:25px; left:0; z-index:9999; }
ul.hidden-dca-durations li
{ background:#fff; padding:10px 15px; cursor: pointer; list-style: none;
    text-align: left !important;font-family:"proxima_nova", Arial; font-size:14px; font-weight:100; }
ul.hidden-dca-durations li.even{ background:#f8f8f8; }
ul.hidden-dca-durations li:hover, ul.hidden-dca-durations li.even:hover{ background: #ccc; }

/* Some final hacks */
.secondary-result .dca-domain-avail .styled-select { position: relative; left: -35px; }
/* Discount offered */
.secondary-result .original-price, .primary-result .original-price
{ font-style: 100; position:absolute; /*left:-64px;*/ left: -85px; top:0; font-family: "proxima_nova", Arial;
    font-weight:100; font-size:15px; color:#999; text-decoration:line-through;  }
#pp_modal_div .wide_modal .model-twocols { max-width:790px; }
.primary-result .original-price { left: -70px; top:12px;}
.discount-offered { font-style: normal;font-family: "proxima_nova", Arial; font-weight:100 !important; font-size:13px !important; position:relative; top:2px; /*top:-3px;*/ }

.dotwien_authcode_link {
	position: relative;
	left: -162px;
	font-size: 14px;
	text-decoration: underline;
}