.enable-paid-privacy-protect
{ background:#EDF2F6; border-bottom:1px solid #c7d3dc; border-top:1px solid #c7d3dc; margin:25px 0 20px 0; padding:18px 10px; position:relative;  }

.enable-paid-privacy-protect .enable-ppp-arrow
{ background:url("/getImage.php?src=enable-ppp-arrow.png") no-repeat 0 0; position:absolute; top:-10px; left:15px; height:10px; width:20px; }

.enable-paid-privacy-protect p
{ background:url("/getImage.php?src=enable-ppp-shield.png") no-repeat 0 0; font-size:13px; color:#58677c; line-height:20px; padding:0 0 15px 32px; }

.enable-paid-privacy-protect a{ color:#377cec; font-size:13px; text-decoration:underline; }

.blurb-cart ul li { border:none !important; }

.blurb-cart .ic-privacy { background:url("/getImage.php?src=privacy-protect-icon.png") no-repeat 0 0 !important; height:14px; width:12px; }

.model-indent p.txt-info { font-size:11px; border-top: 1px solid #eee; padding-top:20px; margin-top:10px; }
