.model-indent{ padding:15px 30px;}
.grd-table th{
    background: -moz-linear-gradient(center top , #EEF0F0 5%, #EAECED 100%) repeat scroll 0 0 #FCFCFC;
    box-shadow: 0 1px 1px #FFFFFF inset;
    font: bold  16px Arial, Helvetica, sans-serif;
    padding: 15px 25px;
    text-align: left;
	width:50%;	
   border: 1px solid #d3d3d3;
	}
.grd-table td{
    background:#FAFAFA;
    border: 1px solid #d3d3d3;
	border-top:none;
    color: #404040;
    font:normal 14px Arial, Helvetica, sans-serif;
    padding: 15px 25px;	
	width:50%;
	}
.grd-table .hasbg td{
	background:#EEEFEF;
	}
.grd-table div#itoggle label.itoggle, .grd-table div#itoggle label.itoggle span{ margin:0;}	
.pp-wrp{
    background:url(/getImage.php?src=ic-small-pp.png) no-repeat 13px 14px #FFF8C6;
    border-color: #E4DA94 ;
    border-style: solid none;
    border-width: 1px 0;
    font: 14px arial;
    margin-top: -1px;
    padding: 13px 10px 13px 33px;		
	 }
.has-tip{
	background: url("/getImage.php?src=ic-pp-info.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 14px;
    position: relative;
    vertical-align: middle;
    width: 14px;
	cursor:pointer;
}
.has-tip:hover .tip-info{ display:block;}
.has-tip .tip-info{
	display:none;
	position: absolute;
    right: -32px;
    top: 18px;
    width: 160px;}
.tip-content p{ padding:5px 0;}	
.has-tip .tip-info .tip-content{
	background:#272727;
	padding:5px;
	border-radius:5px;
	font:normal 12px Arial, Helvetica, sans-serif;	
	color:#fff;
	margin-top:9px;
	padding:10px;
	}
.tip-info .cap{
    background: url("/getImage.php?src=tip-bg.png") no-repeat scroll 0 0;
    height: 10px;
    left: 111px;
    position: absolute;
    top: 0;
    width: 18px;	
	}
.orange{ color:#f4a500;}	
.ic-big-privacy{
    background: url("/getImage.php?src=ic-big-pp.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 23px;
    padding-right: 10px;
    vertical-align: middle;
    width: 21px;	
	}
.thumb-absolute{
	position:absolute;
	top:-18px;
	right:0;
	}
.brd-fix {
    opacity: 0;
}	
.three-cols .col{ padding-right:12px;}
.three-cols .left{
	width:315px;
	}
.three-cols .right{
	width:290px;
	padding:0 0 0 25px;
	}	
.txt-curly{ 
	font:italic 18px Arial, Helvetica, sans-serif;
	color:#3e8ae8;
	margin:15px 0;
}
.txt-curly .curly{
	color:#afafaf;
	font:normal 40px "MS Serif", "New York", serif;
	vertical-align:middle;
	display:inline-block;
	margin-top:-7px;
}
.txt-curly .first{ padding:0 10px 0 0;}
.txt-curly .last{ padding:0 0 0 10px;}
.three-cols .layers{
	height: 235px;
    padding: 22px;
    position: absolute;
    width: 157px;}
.three-cols .middle{ margin-top:50px; width:285px;}	
.three-cols .layer1{ background:#c0c0c0; font:normal 14px/25px Arial, Helvetica, sans-serif; color:#666;}
.three-cols .layer2{    background: none repeat scroll 0 0 #000000;
    margin: -25px 0 0 40px;
    opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);	
	box-shadow:1px 10px 75px 30px #888888;
	}
.three-cols .layer3{
	background: url("/getImage.php?src=grd-bg.gif") no-repeat 0 0 #D2E6A7;
    border: 2px solid #91BF2C;
    margin-left: 84px;
    margin-top: -50px;
	padding:8px;
	width:187px;
	height:250px;
	}
.three-cols .layer3 .heading{ font:bold 14px Arial, Helvetica, sans-serif;}
.three-cols	p{ font:normal 14px/23px Arial, Helvetica, sans-serif;}
.three-cols	.layer3 p{ padding:10px;}
.icon-arrow.left{
	width:100%;
	height:151px;
    background: url("/getImage.php?src=direction-left.jpg") no-repeat right 0;
	margin:21px 0;
	}
.icon-arrow.right{
	width:100%;
	height:89px;
    background: url("/getImage.php?src=direction-right.jpg") no-repeat left 0;	
	margin:21px 0 21px -25px;
	}
.pp-fea-1{
	background: url("/getImage.php?src=ic-privacyf-1.png") no-repeat scroll 0 0;
    float: left;
    height: 120px;
    margin-right: 15px;
    width: 52px;	
	}
.pp-fea-2{
	background: url("/getImage.php?src=ic-privacyf-2.png") no-repeat scroll 0 0;
    float: left;
    height: 120px;
    margin-right: 15px;
    width: 52px;	
	}
.pp-fea-3{
	background: url("/getImage.php?src=ic-privacyf-3.png") no-repeat scroll 0 0;
    float: left;
    height: 120px;
    margin-right: 15px;
    width: 52px;	
	}
.pp-fea-4{
	background: url("/getImage.php?src=ic-privacyf-4.png") no-repeat scroll 0 0;
    float: left;
    height: 120px;
    margin-right: 15px;
    width: 52px;	
	}		
.ic-small-shield{
	background: url("/getImage.php?src=ic-small-shield.png") no-repeat scroll 0 0;
    float: left;
    height: 45px;
    margin-right: 3px;
    width: 41px;		
	}
.vcenter{ display:inline-block; padding:14px 0;}
.model-heading{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fcfcfc), color-stop(1, #e7e7e7) );
	background:-moz-linear-gradient( center top, #fcfcfc 5%, #e7e7e7 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#e7e7e7');
	background-color:#fcfcfc;
    border-bottom: 1px solid #e6e6e6;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;			
    color: #424242;
    font: bold 25px Arial,Helvetica,sans-serif;
    padding: 15px 0px;
    text-shadow: 1px 1px 1px #FFFFFF;
    text-align: center;
}
.model-indent{
	margin:25px;
	}
.model-div-shadow{
	-moz-box-shadow:0 0 3px #ccc;
	-webkit-box-shadow:0 0 3px #ccc;
	-ms-box-shadow:0 0 3px #ccc;
	box-shadow:0 0 3px #ccc;
	padding:20px;		
	}
.model-indent{	
	font:normal 14px/20px Arial, Helvetica, sans-serif;
	color:#777;
}
.model-indent p{
	font:normal 14px/20px Arial, Helvetica, sans-serif;
	color:#777;
	padding-bottom:10px;
	}	
.model-box-wrp{
    background:#FAFAFA;
    border-top: 1px solid #DFDFDF;
    -moz-box-shadow: 0 -2px 3px #F2F2F2;
    -webkit-box-shadow: 0 -2px 3px #F2F2F2;
    -ms-box-shadow: 0 -2px 3px #F2F2F2;
    box-shadow: 0 -2px 3px #F2F2F2;			
    padding: 20px 25px;
	}
.model-box-wrp .domain-wrapper{	position:relative; color:#777;}
.model-box-wrp .item-dname{ font:normal 14px Arial, Helvetica, sans-serif; padding:10px 0;}
.model-box-wrp .duration{ position:absolute; top:7px; right:125px;}
.model-box-wrp .duration select{border:solid 1px #c9c8c9; padding:2px; font:normal 13px Arial, Helvetica, sans-serif; }
.model-box-wrp .ui-button-grn-copy{width:150px; padding:4px 2px;}
.model-fix{ height:300px; overflow-y:scroll;}
.bold {font-weight: bold;}
.margin {margin-left: -190px;}
.domain-wrapper .modal_close {position: relative;top: 0px;right: 0;left: 10px;}
.trademark_agreement_details { margin-left: 10px; }
