/* Paid Pre Registration CSS starts here */
.new-tlds-page .banner{background: url("/getImage.php?src=banner-new-tlds.jpg") no-repeat 0 0; width:1000px; height:339px; margin-top:-20px; position:relative;
}
.new-tlds-page p{font-size:14px;}
.new-tlds-page .banner .ui-heading{padding:30px 30px 0px;}
.new-tlds-page .banner p{font-size:18px; color:#5b5b5b; padding-left:30px; font-family:'Rokkitt',serif;}
.new-tlds-page .domain-name{ font-style:italic; color:#cccccc; font-size:25px; position:absolute; left:260px; top:155px;	}
.new-tlds-page .domain-name span{color:#8bd100; font-size:40px;}

.new-tlds-page .ui-heading{padding-bottom:0;margin-left: 30px;}
p.ui-sub-title{color:#727272; font-size:24px; font-family:'Rokkitt',serif; padding-bottom:15px;}

.new-tlds-page .tld-section{/*background: #ffb532 no-repeat 0 0;*/
	background:#00bad3; border-top: #00a6bc 1px solid; width:1000px; height:145px; position:relative;
	/*
	-webkit-box-shadow: inset 0px 10px 15px 5px rgba(0,179,203,1);
	-moz-box-shadow: inset 0px 10px 15px 5px rgba(0,179,203,1);
	box-shadow: inset 0px 10px 15px 5px rgba(0,179,203,1);
	*/
	padding-bottom:17px;
	position:relative;
}

.new-tlds-page .tld-section-1{background:#1e2f40; text-align:center; padding:15px 0;}
.new-tlds-page .tld-section-1 .ui-heading {
	color: #fff;
	font: bold 32px 'Rokkitt',serif;
	margin: 0;
	text-shadow:none;
}
.new-tlds-page .error-block{ border: 1px solid red; }
.new-tlds-page .error-block input[type="text"]{ font-size: 16px;color: red; padding-top: 13px;}
.new-tlds-page .tld-section-1 .ui-heading span{color:#ffcc00;}
.new-tlds-page .tld-section-1 p{text-align:center; color:#cccccc;}
.new-tlds-page .tag-free{background: url("/getImage.php?src=tag-free.png") no-repeat 0 0; width:65px; height:63px; position:absolute; left:0; top:0px; }
.new-tlds-page .tld-section .txt-1{font-size:18px; color:#ffcc00; font-style:italic; text-align:center; padding-top:16px;}
.new-tlds-page .tld-section .txt-2{font-size:18px; color:#ffd17b; font-weight:600; font-style:italic; position:absolute; top:58px; right:40px;}
.new-tlds-page .new-tlds-page p{color: #5B5B5B; font: 13px/1.5 Arial,Helvetica,sans-serif; margin-bottom:10px;}
.tld-section .txt-3{/*font-size:20px; color: #412b05;*/ font-family: "proxima_nova",sans-serif; font-size:20px; line-height:20px; font-weight:100; color:#fff; position:absolute; top:20px; left:65px; text-shadow: 1px 1px 1px #01a8bf }


.tld-section .txt-block-1{position:absolute; top:34px; left:624px;}
.tld-section .txt-4{font-size:18px; color:#fff; margin-bottom:20px;}
.tld-section .txt-5{font-size:14px; color:#FFCC00; }
.tld-section .domain-search-box{top:55px;left:58px; box-shadow:none;}

.tlds-content {padding:20px 30px 0; margin-bottom:30px;}
.tlds-content .left-col{width:690px; float:left;}
.tlds-content .sidebar{float:right; width:224px; box-shadow:0px 0px 3px 2px #EDEDED; -moz-box-shadow:0px 0px 3px 2px #EDEDED; -webkit-box-shadow:0px 0px 3px 2px #EDEDED; border:1px solid #e8e8e8; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px;}
.sidebar-sunrise li{padding:18px 16px; border-bottom:1px solid #f1f1f2; font-size:14px; color:#5b5b5b; margin:0 2px;}
.sidebar-sunrise li.title{padding:22px 10px 21px 60px;  background: url("/getImage.php?src=tlds-sidebar-title-bg.png") no-repeat 0px 0; color:#fff; font-size:18px; margin:0;}
.sidebar-sunrise .txt-button{padding:16px; font-size:15px;}

.tlds-diagram{width:690px; height:470px; background: url("/getImage.php?src=tlds-diagram.gif") no-repeat 1px 0; position:relative; margin-top:15px;}
.tlds-diagram .tag{font-size:16px; color:#eb5b4c; font-weight:600; position:absolute;}
.tlds-diagram .tag-1{left:327px; top:8px;}
.tlds-diagram .tag-2{left:466px; top:92px;}
.tlds-diagram .tag-3{left:500px; top:174px;}
.tlds-diagram .tag-4{left:465px; top:273px;}
.tlds-diagram .tag-5{left:327px; top:360px;}
.tlds-diagram .tag-6{left:72px; top:281px;}
.tlds-diagram .tag-7{left:48px; top:184px;}
.tlds-diagram .tag-8{left:74px; top:87px;}
.tlds-diagram .tag-label-1{position:absolute; left:262px; top:170px; font-size:20px; font-weight:600; color:#000; }
.tlds-diagram .tag-label-2{position:absolute; left:266px; top:205px; font-size:15px; text-transform:uppercase; font-weight:600; color:#555555; text-align:center; }

.launch-cycle{margin:20px 0 70px 30px; overflow:hidden;}
.launch-cycle li{float:left; width:210px; margin-right:30px; padding-top:80px; background: url("/getImage.php?src=launch-cycle-tlds.png") no-repeat 0px 0;}
.launch-cycle li.last{margin-right:0;}
.launch-cycle .wishlist{background-position:80px 0;}
.launch-cycle .sunrise{background-position:-170px 0;}
.launch-cycle .landrush{background-position:-400px 0;}
.launch-cycle .availability{background-position:-650px 0;}
.launch-cycle h5{font-size:18px; color:#5c5d5c; text-align:center; margin-bottom:15px;}
.launch-cycle p{font-size:13px; text-align:center;}

.switch-nav .tab-wrp .faqlist{width:214px; padding:10px 0; font-size:18px; border:2px solid #c6c6c6; border-radius:8px; display:inline-block; *display:inline; zoom:1; color:#000; background:#fafafa}
.new-tlds-page .domain-search-box .tlds-dd {
	background: url("/getImage.php?src=new-tlds-dd.png") no-repeat scroll -4px 0;
	display: block;
	height: 48px;
	position: absolute;
	right: 0;
	top: 0;
	width: 32px;
}
.new-tlds-page .tlds {
	height: 26px;
	overflow: hidden;
}
.new-tlds-page .error {
	background: #ffdbdb;
	padding: 8px 8px 8px 13px;
	display: inline-block;
	*display: inline;
	zoom: 1;
}
.new-tlds-page #categories {
	width: 113px;
}
.new-tlds-page .masthead {
	background:#02cfec url('/getImage.php?src=new_gtlds_blue_banner.png') no-repeat 475px 0;
	min-height: 370px;
	margin-top: -20px;
	padding-bottom:15px;
}

.new-tlds-page .two-cols {
	width: 50%;
}

.new-tlds-page .lead-text {
	padding-top: 43px;
	width: 60%;
	padding-left: 30px;
}

.new-tlds-page .lead-text h1 {
	color:#fff; font-size:52px; font-family: "proxima_nova",sans-serif; font-style:normal; font-weight:100; padding-bottom:5px; text-shadow: 1px 1px 1px #01a8bf; width:520px;
}

.new-tlds-page .lead-text h3 {
	color:#fff; font-family: "proxima_nova",sans-serif; font-size:20px; font-weight: 100; line-height: 1.5em; text-shadow: 1px 1px 1px #01a8bf; width:355px;
}

.new-tlds-page .domains-input {
	color:#222; font-family: "proxima_nova",sans-serif; font-size:18px; font-weight:100;  width:680px; margin-top:3px;
}

.new-tlds-page .domains-input[data-empty-message], .new-tlds-page .domains-input[data-default-message] { color: #999; }

.new-tlds-page .domains-input::-webkit-input-placeholder 	{	color: #ccc !important;	  }

.new-tlds-page .domains-input:-moz-placeholder 				{	color: #ccc !important;	  }

.new-tlds-page .domains-input::-moz-placeholder				{	color: #ccc !important;	  }

.new-tlds-page .domains-input:-ms-input-placeholder			{	color: #ccc !important;	  }

.new-tlds-page .error { background:none !important; border:none !important; margin:0 !important; padding: 0 !important; }

.new-tlds-page .error input[type="text"], .new-tlds-page .error-block input[type="text"]{ width:680px !important; color:#FF0000; font-size:18px;  }

.new-tlds-page .error input[type="text"]::-webkit-input-placeholder, .new-tlds-page .error-block input[type="text"]::-webkit-input-placeholder
{	color: #FF0000 !important;	  }

.new-tlds-page .error input[type="text"]:-moz-placeholder, .new-tlds-page .error-block input[type="text"]:-moz-placeholder
{	color: #FF0000 !important;	  }

.new-tlds-page .error input[type="text"]::-moz-placeholder, .new-tlds-page .error-block input[type="text"]::-moz-placeholder
{	color: #FF0000 !important;	  }

.new-tlds-page .error input[type="text"]:-ms-input-placeholder, .new-tlds-page .error-block input[type="text"]:-ms-input-placeholder
{	color: #FF0000 !important;	  }


.new-tlds-page .domain-search-box {
	border:1px solid #0095a9;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 805px;
	height:50px !important;

}

.new-tlds-page .section ul li {
	font-family: "proxima_nova",sans-serif; font-size:17px; padding:25px 15px;
}

/* TODO: remove unnecessary CSS from below */

/* New gtld page CSS */
.new-gtlds-wrap{
	margin-top: 70px;
	color: #596474;
	font-size: 15px;
}
.new-gtlds-wrap h1{
	font-size: 36px;
	font-weight: 400;
	text-align: center;
}
.new-gtlds-wrap .banner-wrap{
	height: 336px;
	margin-top: 20px;
}
.new-gtlds-wrap .intro-banner{
	background: url('/getImage.php?src=newgTld-banner.jpg') no-repeat scroll 0 0 transparent;
	height: 340px;
	margin: 20px 0;
}
.banner-wrap .btn-left, .banner-wrap .btn-right{
	width: 48px;
	height: 336px;
	cursor: pointer;
}
.banner-wrap .btn-left{
	background: url('/getImage.php?src=gtld-arrow-sprite.png') no-repeat scroll 0 50% transparent;
}
.banner-wrap .btn-right{
	background: url('/getImage.php?src=gtld-arrow-sprite.png') no-repeat scroll -83px 50% transparent;
}
.banner-wrap .carousel{
	padding: 0px 15px;
	width: 832px;
	height: 336px;
	overflow: hidden;
}
.banner-wrap .carousel li{
	display: none;
	width: 100%;
	text-align: center;
}
.banner-wrap .carousel li img{}
.banner-wrap .carousel li.active{
	display: block;
}
.new-gtlds-wrap .link-wrap{
	text-align: center;
	font-size: 18px;
	margin: 20px 0px;
	padding: 0px;
}
.new-gtlds-wrap .link-wrap a{
	color: #596474;
}
.new-gtlds-wrap .link-wrap.faqs a{
	text-decoration: underline;
}

.new-gtlds-wrap .section:nth-child(2){
	padding: 0;
	margin: 0;
	border: none;
}

.new-gtlds-wrap .section:first-child{
	border: none;
}

.new-gtlds-wrap .section .sectionTitle{
	font-size: 26px;
	font-weight: 600;
	margin: 20px 0px;
	text-align: center;
	background: none;
	color: #596474;
}

.new-gtlds-wrap .section .boxWrap{
	height: 78px;
	background: #7f8c8d;
	padding: 0px 25px;
	margin: 0;
	border: 1px solid #596474;
	border-radius: 5px;
}

.new-gtlds-wrap .cart-wrapper{
	background: #f9f9f9;
}
.new-gtlds-wrap .cart-wrapper .cart-header{
	text-align: center;
	font: bold 18px arial, helvetica, sans-serif;
}
.boxWrap .box{
	position: relative;
	width: 200px;
	color: white;
	list-style-type: decimal;
	margin-left: 25px;
	height: 78px;
	font-size: 18px;
	font-weight: 600;
	background: url("/getImage.php?src=steps-partition.jpg") no-repeat scroll 140px -1px transparent;
}

.boxWrap .box:last-child{
	background: url("/getImage.php?src=ngtld-tick.png") no-repeat scroll 0 45% transparent;
	width: 208px;
	margin: 0px;
	padding-left: 25px;
	list-style-type: none;
}

.boxWrap .box .nos{

}

.boxWrap .box .prop{
	height: 188px;
	padding: 1px;
}

.boxWrap .box .box-msg{
	height: 44px;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	padding: 17px 10px;
}

.boxWrap .box .box-msg p{
	padding: 0;
	margin: 0;
}

.boxWrap .box .box-msg .large{
	font-size: 28px;
	font-weight: 600;
	line-height: 28px;
}

.boxWrap .box .box-msg .small{
	font-size: 18px;
	font-weight: 100;
}

.section .register-wrap .err-msg{
	text-align: center;
	width: 404px;
	margin: 10px auto;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid red;
	color: red;
}

.section .register-wrap .keyword-wrap{
	width: 465px;
	height: 56px;
	margin: 0px auto;
	padding-left: 32px;
}

.section .register-wrap .keyword-wrap.error{
	background: none;
	padding: 0;
	border: none;
}

.register-wrap{
	position: relative;
}

.register-wrap .add-ext-arrow{
	position: absolute;
	background: url("/getImage.php?src=addextention-arrow.png") no-repeat scroll 0 0 transparent;
	height: 90px;
	width: 210px;
	left: 10px;
	top: 12px;
	z-index: 5;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all 1s ease-in-out 0s;-moz-transition: all 1s ease-in-out 0s;-ms-transition: all 1s ease-in-out 0s;-o-transition: all 1s ease-in-out 0s;transition: all 1s ease-in-out 0s;
}
.register-wrap .add-ext-arrow.active{
	opacity: 1;
	filter: alpha(opacity=100);
}
.register-wrap .keyword-wrap input{
	margin: 0px;
}
.register-wrap .keyword-wrap input[type="text"]{
	border: 2px solid #51b984;
	background: white;
	padding: 15px;
	border-radius: 6px;
	width: 325px;
	font-size: 18px;
}
.register-wrap .keyword-wrap.error input[type="text"]{
	color: red;
	border-color: red;
}
.register-wrap .keyword-wrap.editable input[type="text"]{
	color: #596476;
	border-color: #596476;
}
.register-wrap .keyword-wrap input[type="submit"]{
	background: #51b984;
	padding: 19px;
	border: none;
	font-weight: 600;
	color: white;
	border-radius: 6px;
	cursor: pointer;
	font-size: 15px;
}
.register-wrap .keyword-wrap.editable input[type="submit"]{
	background: #596476;
	content: "Edit";
}
/*.register-wrap .three-clmn-wrap{
    margin-top: 40px;
}*/

.three-clmn-wrap table td { border:1px solid #ccc; border-collapse:collapse; border-top:0; }

.three-clmn-wrap .column_1, .three-clmn-wrap .column_3{
	width: 210px;
	height: auto;
}
.three-clmn-wrap .column_1{
	/*padding: 10px;*/
	margin-bottom: 70px;
	/*	border-top:1px solid #ccc;*/
}
.three-clmn-wrap .column_2{
	width: 495px;
	/*    margin-right: 34px;
		border:1px solid #ccc; */
}
.three-clmn-wrap .column_2.regular{
	display: none;
}
/*.gtld-categories{
    background: #f9f9f9;
}*/
.gtld-categories li{
	padding: 10px;
	/* border-bottom: 1px solid #e3e3e3;*/
	font-size: 15px;
	cursor: pointer;
}
.gtld-categories li:hover{
	/*border-bottom: 4px solid #51b984;*/
	padding: 10px 10px 7px;
}
.gtld-categories li.active{
	background: #51b984;
	border-radius: 5px;
	border: none;
	color: white;
	padding: 10px;
}
.gtld-categories li.all-gtlds{
	/*border-bottom: 4px solid #51b984;*/
}
.gtld-list{

}
.gtld-list li{
	display: none;
	/*    padding: 10px;
		font-size: 18px;
		font-weight: bold;
		color: #596474;
	*/
	position: relative;
	font-family: "proxima_nova",sans-serif; font-size:17px; padding:25px 15px; border-top:1px solid #ccc;

}
.gtld-list li span{
	position: relative;
}
.gtld-list li span em{
	color:#222;
	display: inline-block;
	vertical-align:top;
}
.gtld-list li span .domain{
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 96px;
	display:inline-block;
	/*    position: relative;
		top: -2px;
	*/
	font-weight:100;
	
	}
.gtld-list li span .tld{
	/*    position: relative;
		top: -5px;
	*/
	font-family: "proxima_nova",sans-serif; font-weight:400;
	width: 120px;
}
.gtld-list li.active{
	display: block;
}
/*.gtld-list li:nth-child(odd){
    background: #f9f9f9;
}*/
.gtld-list li a{
	/*position: absolute;
	right: 10px;*/
	font-size: 14px;
	/*color: #27ae60;*/
	color:#fff;
	font-family: "proxima_nova",sans-serif;
	margin:0;
	padding:6px 0 0 20px;
	float:right;
	border:1px solid #18900b;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	height:25px;
	width:80px;
	text-align:center;
}

.featured-list li{
	float: left;
	position: relative;
	width: 218px;
	height: 170px;
	border: 1px solid #d7d7d7;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: white;
	overflow: hidden;
	margin-top: 10px;
	cursor: pointer;
}
.featured-list li:first-child, .featured-list li:nth-child(2){
	margin-top: 0px;
}
.featured-list li:nth-child(even){
	margin-left: 10px;
}
.featured-list li img, .featured-list li .text{
	/*margin: 34px 10% 0px;*/
	text-align: center;
	/*position: absolute;*/
	top: 32%;
	left: 12%;
}
.featured-list li .text{
	left: 0;
}
.featured-list li .overlay{
	opacity: 0;
	filter: alpha(opacity=0);
	height: 0px;
	width: 218px;
	position: absolute;
	bottom: 0;
	background: rgba(63,63,63,0.8);
	-webkit-transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
}
.featured-list li .overlay p{
	font-size: 12px;
	text-align: center;
	padding: 10px;
	margin: 0;
	color: white;
}
.featured-list li .overlay p a{
	line-height: 55px;
}
.featured-list li .tic{
	background: url('/getImage.php?src=newgTld-tick.png') no-repeat scroll 0 0 transparent;
	height: 43px;
	width: 43px;
	position: absolute;
	right: 0;
	opacity: 0;
	filter: alpha(opacity=0)
	-webkit-transition: all 1s ease-in-out 0s;
	-moz-transition: all 1s ease-in-out 0s;
	-ms-transition: all 1s ease-in-out 0s;
	-o-transition: all 1s ease-in-out 0s;
	transition: all 1s ease-in-out 0s;
}
.btn-flat-white{
	background: white;
	padding: 12px 20px;
	border-radius: 6px;
}
.featured-list li:hover .overlay{
	height: 120px;
	opacity: 1;
	filter: alpha(opacity=1);
}
.featured-list li.added .tic{
	opacity: 1;
	filter: alpha(opacity=1);
}
.featured-list li.added:hover .overlay{
	height: 0px;
	opacity: 0;
	filter: alpha(opacity=0)
}
.featured-list li.no-img{
	background: #fff;
}
.featured-list li.no-img.added{
	/*background: #596476;*/
}
.featured-list li.no-img .text{
	/*    font-size: 32px;
		font-weight: bold;
		color:#6c6c6c;
	*/
	text-align: center;
	width: 100%;
	/*padding: 0;*/
}
/*
.featured-list li.no-img.added .text{
    text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
    color: white;
}*/
.pagination-wrap{
	display: none;
}
.pagination-wrap .center{
	width: 450px;
	margin: 10px auto 20px;
	position: relative;
}
.pagination-wrap .prev{
	position: absolute;
	left: 0px;
	cursor: pointer;
}
.pagination-wrap .next{
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
}
.pagination-wrap .pages{
	display: inline-block;
	width: 100%;
	height: 25px;
	text-align: center;
}
.pagination-wrap .pages li{
	display: inline;
	padding: 2px 3px;
}
.pagination-wrap .pages .currentPage{
	border: 1px solid #d7d7d7;
	border-radius: 5px;
}

.new-gtlds-wrap .faqs-wrap{
	width: 880px;
	margin: 0px auto;
}
.new-gtlds-wrap .faqs-wrap .qa-wrap{
	height: 305px;
	width: 404px;
	float: left;
	margin-top: 35px;
}
.new-gtlds-wrap .faqs-wrap .qa-wrap:nth-child(even){
	margin-left: 70px;
}
.new-gtlds-wrap .faqs-wrap .qa-wrap:nth-child(1),.new-gtlds-wrap .faqs-wrap .qa-wrap:nth-child(2){
	height: 200px;
}
.new-gtlds-wrap .faqs-wrap .qa-wrap:nth-child(3), .new-gtlds-wrap .faqs-wrap .qa-wrap:nth-child(4), .new-gtlds-wrap .faqs-wrap .qa-wrap:nth-child(5), .new-gtlds-wrap .faqs-wrap .qa-wrap:nth-child(6){
	height: 250px;
}
.qa-wrap .qn{
	font-size: 18px;
	font-weight: 600;
	padding: 0 0 20px 5px;
	color: #596474;
	border-bottom: 5px solid #596474;
}
.qa-wrap .ans{
	font-size: 14px;
	margin-top:  25px;
	padding: 0;
	color: #7e8691;
	text-align: justify;
}

.new-gtlds-wrap .cart-btn-wrapper {
	margin: 15px 0px;
}
.cartList .cancel{
	cursor: pointer;
}

/* whislist success page */
.new-gtlds-wrap.success-page{
	margin-top: 20px;
}
.new-gtlds-wrap.success-page h1{
	padding: 0;
	font-size: 26px;
	text-align: center;
	color: #596474;
}
.new-gtlds-wrap.success-page .sub-title{
	font-size: 18px;
	font-weight: 600;
	color: #596474;
	text-align: center;
}
.new-gtlds-wrap.success-page .btn-wrap{
	padding: 20px 0px;
	text-align: center;
	margin: 40px 0;
	margin: 40px 0;
}
.new-gtlds-wrap.success-page .btn-flat-green{
	display: inline-block;
	width: 250px;
	height: 58px;
	text-align: center;
	line-height: 60px;
	color: white;
	border-radius: 5px;
}
.new-gtlds-wrap.success-page .btn-wrap span{
	margin: 20px;
}

.domain-search-box span.example-new-tld
{ color: #06d7c; display:block;  font-family: "proxima_nova",sans-serif; font-size:14px; font-weight:100; margin:10px 0 0 -20px; }

.tld-section .paid-pre-reg-arrow
{ background:url('/getImage.php?src=paid-pre-reg-banner-triangle.png') no-repeat; height:13px; position:absolute; top:-1px; left:145px; width:25px; }

#text-notes  { margin:70px 0 0 0; clear:both; }

#text-notes ul
{ margin:50px 30px 150px 30px; }

#text-notes ul li { float:left; margin:0 0 0 50px; width:278px; }

#text-notes ul li:first-child { margin:0; }

#text-notes h2 { background:url('/getImage.php?src=tell-me-more-bg.png') no-repeat  center 3px; font-family: "proxima_nova",sans-serif; font-weight:600; font-size:15px; margin-bottom:45px; text-align:center; color:#555; }

#text-notes ul li h3 { background:url('/getImage.php?src=paid-prereg-bullet.png') no-repeat  0 2px; color:#555;
	font-family: "proxima_nova",sans-serif; font-size:15px; font-weight:600; margin:0 0 13px 0; padding:0 0 0 37px;  }

#text-notes ul li p { font-family: "proxima_nova",sans-serif; font-size:14px; font-weight:100; line-height:22px; color:#555; }

.new-gtlds-wrap h1 { color:#222; font-family: "proxima_nova",sans-serif; font-size:30px; font-weight:600; text-align:left; }

.new-gtlds-wrap h2 { color:#222; font-family: "proxima_nova",sans-serif; font-size:22px; font-weight:100; }

#category-list  { width:210px; }

#category-list li
{ font-family: "proxima_nova",sans-serif; font-size:15px; font-weight:100; list-style-type: disc !important; list-style-position:inside; padding:15px; text-align:left; }

#category-list > li{	color: #02cfec;	}

#category-list li:nth-child(odd) { background:#fff; }

#category-list li:nth-child(even) { background:#f8f8f8; }

#category-list > li > span{	color:#222; }

.three-clmn-wrap { padding:0 30px;  }

.three-clmn-wrap .column_3 { margin-left:20px; }




#category-list li.tab.active, #category-list li.all-gtlds.active, #category-list li.featured.active
{ background:#02cfec; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; color:#fff !important;  }

#category-list li.tab.active span, #category-list li.all-gtlds.active span,  #category-list li.featured.active span { color:#fff; }

.new-tlds-page .section ul li t { display:inline-block; width:75px;}

.new-tlds-page .section ul li t span.from-text{ font-family: "proxima_nova",sans-serif; font-size:14px; color:#222; }

.new-tlds-page .section ul li t span.currency{ font-family: "proxima_nova",sans-serif; font-size:17px; font-weight:400; color:#222; display:inline-block; width:120px; }

#dca_cart .cart-button { background:#f8f8f8; padding:15px 0; position:relative; }

#dca_cart.blurb-cart { margin-top:0 !important; padding-bottom:0 !important; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;  }

#dca_cart .cart-button button.ui-button, #dca_cart .cart-button button.ui-button-dis
{ 	font-family: "proxima_nova",sans-serif; font-size:18px; font-weight:100;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-shadow: none;
	width:90% !important;
}

#dca_cart .cart-button button.ui-button
{ 	background:#2fbe15; border:1px solid #18900b; color:#fff;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 01px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0px rgba(0, 0, 0, 0.2);
}

#dca_cart .cart-button .ui-button:hover, .new-tlds-page .domain-submit:hover { background:#34c918; }

#dca_cart .cart-button .ui-button:active, .new-tlds-page .domain-submit:active { background:#2db315; }

#dca_cart .cart-button button.ui-button-dis
{ 	background:#dedede; border:1px solid #c7c7c7; color:#8a8a8a;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

#featured-gtld li { width:220px; float:left; list-style:none !important; margin:9px 0 9px 17px; border:1px solid #ccc !important; padding:0 !important; }

#featured-gtld { padding:9px 0; }

#featured-gtld p.text
{ font-family: "proxima_nova",sans-serif; font-weight:800; font-size:36px !important; line-height:36px !important; color:#222 !important; margin:0 auto !important; padding:0 !important; height:50px; }

#buzz p.text, #press p.text, #website p.text
{  background:url('/getImage.php?src=new-gtlds-icons.png') no-repeat; }

#press p.text { background-position:0 0; /*height: 37px;*/ width:97px; }

#buzz p.text { background-position:0 -118px; /*height:52px;*/ width:52px;  }

#website p.text { background-position:0 -247px; /*height:30px;*/ width:137px; }

#featured-gtld p.domain-searched
{ font-family: "proxima_nova",sans-serif; font-size:16px; font-weight:600; color:#222; display:inline-block; padding-top:25px; padding-bottom:5px; text-align:center; width:100%; text-overflow: ellipsis; overflow: hidden; }

#featured-gtld p.gtld-price
{ font-family: "proxima_nova",sans-serif; font-size:14px; color:#555; text-align:right; padding:3px 10px 3px 0; width:95%; min-height: 20px; font-weight:100; }

#featured-gtld p.gtld-price span { margin:0 -1px 0 5px; }

#category-list li.featured{ border-top:1px solid #ccc; list-style:none !important; background: url('/getImage.php?src=prereg-icons-bg.png') no-repeat 10px -167px !important; padding-left:27px; }

#category-list li.featured.active{ list-style:none !important; background: url('/getImage.php?src=prereg-icons-bg.png') no-repeat 10px -202px #02cfec !important; }

#dca_cart.cart-empty .heading { display:none !important; }

.cart-empty .cart-view
{ border:2px dashed #ccc; display:block !important; height:40px; margin:20px auto -35px auto; width:190px; padding:75px 0; }

.cart-empty .cart-view p { background:url('/getImage.php?src=prereg-icons-bg.png') no-repeat 9px -145px; font-family: "proxima_nova",sans-serif; font-size:15px; font-weight:600; color:#8a8a8a; padding:0 28px; text-align:center;   }

.blurb-cart .cart-view { display:none; }

#featured-gtld li.disabled { position:relative; }

.disabled-overlay, .disabled-overlay-preb { display:none; position:absolute; background :#000; opacity:0.78; top:0; bottom:0; left:0; right:0 }

.disabled-overlay p, .disabled-overlay-preb p{ text-align:center; color:#fff; width:70%; margin:15px auto; font-size:15px; font-family: "proxima_nova",sans-serif; font-weight:600; }

#featured-gtld li .disabled-overlay p{ margin-top:25%; }

#other-gtld .disabled-overlay-preb p { margin-top: 26px; }

.new-tlds-page .section ul li.disabled .disabled-overlay, .new-tlds-page .section ul li.disabled .disabled-overlay-preb{ display:block; z-index:99; }

ul#featured-gtld { border-top:1px solid #ccc; }

.gtld-submit-loading { background:url('/getImage.php?src=search-tlds-loader.gif') no-repeat 90px 12px #2FBE15 !important; }

.border-top {border-top : 1px solid #ccc;}
/*
.domain-search-box { position:relative; }

.gtld-submit-loading 
{ background:url('/getImage.php?src=search-tlds-loader.gif') no-repeat !important; display:none; height:16px; width:16px; position:absolute; right:15px; top:18px;}

.cart-button .gtld-submit-loading { top:33px; right:50px; }
*/

.cartList li { opacity: 0;   }


/* NOTIFY ME - DEFAULT (FEATURED) */
#featured-gtld p.pre-book-button-wrap { background:#28b012; padding:11px 0; text-align:center; width:100%; }
#featured-gtld [data-action="add_to_wishlist"]
{	background:url('/getImage.php?src=pre-book-notify-icon.png') no-repeat 0 4px #28B012; text-shadow:0px 1px 0px #24A20E;	}

/* NOTIFY ME - HOVER (FEATURED) */
#featured-gtld p.pre-book-button-wrap:hover
{ 	background:#34C918;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

#featured-gtld p.pre-book-button-wrap:hover a[data-action="add_to_wishlist"],
#featured-gtld li a[data-action="add_to_wishlist"]:hover
{ 	background:url('/getImage.php?src=pre-book-notify-icon.png') no-repeat 0 4px #34C918;
	-webkit-transition: background-color .2s ease-in-out;
	-moz-transition: background-color .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
}


/* NOTIFY ME - DEFAULT (NON-FEATURED) */
#other-gtld [data-action="add_to_wishlist"]
{	background:url('/getImage.php?src=pre-book-notify-icon.png') no-repeat 15px 8px #28B012; width:90px;	
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 01px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0px rgba(0, 0, 0, 0.2);

}

/* NOTIFY ME - HOVER (NON-FEATURED) */
#other-gtld li a[data-action="add_to_wishlist"]:hover
{ 	background:url('/getImage.php?src=pre-book-notify-icon.png') no-repeat 15px 8px #34C918;
	-webkit-transition: background-color .2s ease-in-out;
	-moz-transition: background-color .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;

}

/* PRE-BOOK - DEFAULT (FEATURED)*/
#featured-gtld [data-action="add_to_prebook"]
{	background:url('/getImage.php?src=pre-book-notify-icon.png') no-repeat 0 -65px #28B012; text-shadow:0px 1px 0px #24A20E;	}

/* PRE-BOOK - HOVER (FEATURED)*/
#featured-gtld p.pre-book-button-wrap:hover a[data-action="add_to_prebook"],
#featured-gtld li a[data-action="add_to_prebook"]:hover
{ 	background:url('/getImage.php?src=pre-book-notify-icon.png') no-repeat 0 -65px #34C918;
	-webkit-transition: background-colorl .2s ease-in-out;
	-moz-transition: background-color .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
}

/* PRE-BOOK - DEFAULT (NON-FEATURED)*/
#other-gtld [data-action="add_to_prebook"]
{	background:url('/getImage.php?src=pre-book-notify-icon.png') no-repeat 14px -61px #28B012; width:100px; 	
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 01px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0px rgba(0, 0, 0, 0.2);

}

/* PRE-BOOK - HOVER (NON-FEATURED)*/
#other-gtld li a[data-action="add_to_prebook"]:hover
{ 	background:url('/getImage.php?src=pre-book-notify-icon.png') no-repeat 14px -61px #34C918;
	-webkit-transition: background-color .2s ease-in-out;
	-moz-transition: background-color .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
}


/* ADDED (FEATURED) */
#featured-gtld li.no-img.added a.btn-flat-green,
#featured-gtld li.no-img.added a.nottaken
{ background:url('/getImage.php?src=prereg-icons-bg.png') no-repeat 0 -71px; }

/* ADDED - HOVER (FEATURED) */
#featured-gtld p.pre-book-button-wrap.remove,
#featured-gtld p.pre-book-button-wrap.remove:hover
{ 	background: #d61400;  text-align:center;  border-top:1px solid #d61400; width:100%;
	-webkit-transition: background-color 0.2s ease;
	-moz-transition: background-color 0.2s ease;
	-o-transition: background-color 0.2s ease;
	transition: background-color 0.2s ease;
}

#featured-gtld p.pre-book-button-wrap.remove:hover a
{ 	background: #d61400;
	-webkit-transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;
}

#featured-gtld p.pre-book-button-wrap.remove a, #featured-gtld p.pre-book-button-wrap.remove a:hover
{ 	/*background: url('/getImage.php?src=prereg-icons-bg.png') no-repeat 0 -109px  #d61400 !important;*/
	background: url('/getImage.php?src=dont-prebook-notify-icon.png') no-repeat 0 4px #d61400 !important;
	color:#fff !important; padding:0 20px; text-shadow:0px 1px 0px #000; }


/* ADDED (NON-FEATURED) */
#other-gtld a[data-action=add_to_wishlist].added, #other-gtld a.nottaken.added
{	background: url('/getImage.php?src=prereg-icons-bg.png') no-repeat 15px -67px #2fbe15 !important; color:#fff !important;	}

#other-gtld a[data-action=add_to_prebook].added 
{	background: url('/getImage.php?src=prereg-icons-bg.png') no-repeat 12px -67px #2fbe15 !important; color:#fff !important;	}

/* ADDED - HOVER (NON-FEATURED) */
#other-gtld a[data-action=add_to_wishlist].added.remove, #other-gtld a[data-action=add_to_prebook].added.remove,
#other-gtld a[data-action=add_to_wishlist].added.remove:hover, #other-gtld a[data-action=add_to_prebook].added.remove:hover,
#other-gtld a.nottaken.added.remove, #other-gtld a.nottaken.added.remove:hover
{	border-color: #d61400;
    background-image: url('/getImage.php?src=dont-prebook-notify-icon.png') !important;
	background-repeat: no-repeat !important;
  	background-position: 10px 8px !important; 
    background-color:#d61400 !important; color:#fff; }

#other-gtld a[data-action=add_to_prebook].added.remove:hover,
#other-gtld a.nottaken.added.remove, #other-gtld a.nottaken.added.remove:hover
{
	-webkit-transition: background-color 0.3s ease;
	-moz-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;

}
#other-gtld a[data-action=add_to_wishlist].remove { width:90px; }
#other-gtld a[data-action=add_to_prebook].remove {  width:130px; }

a.btn-flat-green
{ font-family: "proxima_nova",sans-serif; font-weight:600; font-size:17px; color:#fff; padding:0 20px;	}

/* NOTIFY ME, PRE-BOOK - ACTIVE (NON-FEATURED) */
#other-gtld li a[data-action="add_to_wishlist"]:active, #other-gtld li a[data-action="add_to_prebook"]:active, 
#featured-gtld li a[data-action="add_to_wishlist"]:active, #featured-gtld li a[data-action="add_to_prebook"]:active,
#featured-gtld p.pre-book-button-wrap:active, #featured-gtld p.pre-book-button-wrap:active a
{ background-color: #2db315 !important }

#featured-gtld a.check-avail, #other-gtld a.check-avail { background:#28B012 !important; background-image: none !important; }

#other-gtld a.check-avail {  padding: 5px 0 0; width: 140px }

#other-gtld a.check-avail:hover { background:#34c918; }

.gtld-loading 
{ background:url('/getImage.php?src=new-gtld-ajax-loader.gif') no-repeat #28B012; height:16px; display:inline-block; vertical-align:middle; margin:0 0 0 10px; width:16px; 

}

#other-gtld a.check-avail .gtld-loading { margin-right:0px !important; }


#dca_cart .heading
{ background: none !important; font-family: "proxima_nova",sans-serif; font-weight:600; font-size:18px; line-height:18px; border-bottom:1px dashed #ccc;
	margin:27px 20px 0 20px; padding:0 0 4px 0; color:#222; display:none; }

#dca_cart ul#prebook_domain_list { padding-bottom:10px; }

#dca_cart #wishlist_domain_list { margin-bottom:40px;  }

#dca_cart #wishlist_domain_list .domaintxt, #dca_cart #prebook_domain_list .domaintxt
{ font-family: "proxima_nova",sans-serif; font-size:15px; font-weight:100;  /*padding:0 0 0 20px*/ }

#dca_cart #wishlist_domain_list .domaintxt span, #dca_cart #prebook_domain_list .domaintxt span
{ font-family: "proxima_nova",sans-serif; font-weight:400; }


#dca_cart #prebook_domain_list .domaintxt, #dca_cart #wishlist_domain_list .domaintxt
{ display:inline-block; text-overflow: ellipsis; overflow:hidden; width:135px; padding:0 0 0 18px; color:#222; }

#dca_cart #prebook_domain_list .domaintxt
{ /*background:url('/getImage.php?src=prereg-icons-bg.png') no-repeat  0 -22px;*/ background:url('/getImage.php?src=prebook-notify-cart-icon.png') no-repeat 0 2px;	}

#dca_cart #wishlist_domain_list .domaintxt { /*background:url('/getImage.php?src=prereg-icons-bg.png') no-repeat  0 4px;*/ background:url('/getImage.php?src=prebook-notify-cart-icon.png') no-repeat 0 -50px; }

#dca_cart #prebook_domain_list li, #dca_cart #wishlist_domain_list li
{  list-style:none !important; border-bottom:none; margin:18px 20px 0 20px !important; padding:0 !important;  }


#dca_cart .ic-can
{ /*background:url('/getImage.php?src=prereg-icons-bg.png') no-repeat  0 -48px !important;*/ 
  float:right; height:15px; position: static !important; /*margin:4px 0 0 0;*/ width:15px; opacity:0.6;  }

#dca_cart .ic-can:hover { opacity:0.8 }

#dca_cart .ic-can:active { opacity: 1; }

/* setup tooltips */

a.tooltipanimated {
  position: relative;
  display: inline;
}
a.tooltipanimated span {
  position: absolute;
  width:180px;
  color: #FFFFFF;
  background: #000000;
  height: 75px;
  line-height: 17px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
  text-shadow:none;
  font-size:13px;
  font-family:"proxima_nova", sans-serif;
  font-weight:100;
  margin-left:-86px;
  bottom:30px;
  opacity:0;
}
a.tooltipanimated span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 35%;
  bottom:0;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;

}
a:hover.tooltipanimated span, p:hover a.tooltipanimated span {
  visibility: visible;
  opacity: 1;
  bottom: 40px;
  left: 35%;
  margin-left: -86px;
  z-index: 9999;
-webkit-transition: opacity, bottom 0.2s ease;  /* Chrome 1-25, Safari 3.2+ */
-moz-transition: opacity, bottom 0.2s ease;  /* Firefox 4-15 */
-o-transition: opacity, bottom  0.2s ease;  /* Opera 10.50–12.00 */
transition: opacity, bottom  0.2s ease;  /* Chrome 26, Firefox 16+, IE 10+, Opera     12.50+ */  
}

.domainname-tld { position:relative; top:10px; }

#other-gtld a[data-action="add_to_prebook"] { position:relative; top:5px;  }

#other-gtld a[data-action="add_to_wishlist"] { position:relative; bottom:7px;  }

#category-list li span { white-space:nowrap; }

/* Paid Pre Registration CSS ends here */