.tlds-wishlist-wrp .row-left{float:left; width:590px;position: relative;z-index: 2;}

.new-tlds-header-bg{background: url("/getImage.php?src=new-tlds-header-bg.png") no-repeat 0 0px;
    height: 125px;
    left: 0;
    position: absolute;
    bottom: 0;
    width: 621px;
	}
.tlds-wishlist-wrp .row-gray{margin-bottom: 20px}
.tlds-wishlist-wrp .row-gray p{color:#727272; font-size:20px; font-family:'Rokkitt',serif; padding-bottom:15px; }

.tlds-wishlist-wrp .ui-heading{padding-bottom:0;}
.new-gtlds-steps{margin:30px 0 46px;}
.new-gtlds-steps span{display:inline-block; *display:inline; zoom:1; font-size:13px; color:#5b5b5b;}
.new-gtlds-steps span span{font-size:18px; font-weight:bold; color:#e66802; display:block;}
.new-gtlds-steps .step{padding-right:40px; background: url("/getImage.php?src=new-tlds-step.png") no-repeat right 4px; margin-right:20px; }

.tlds-wishlist-wrp .banner-img {
width: 180px;
    top: -10px;}

.tlds-wishlist-wrp .row-left li {
    background: url("/getImage.php?src=ic-tic.png") no-repeat scroll 0 3px rgba(0, 0, 0, 0);
    color: #5C5B5B;
    font: 14px Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0 0 14px 20px;
}
.tlds-wishlist-wrp .row-gray .txt-1{font-weight:bold; color:#3E8AE8;font-size: 20px;font-family: arial;}
.domain-search-box{margin-bottom:18px;}
.tlds-wishlist-wrp .domain-search-box .tlds-dd {
    background: url("/getImage.php?src=new-tlds-dd.png") no-repeat scroll -4px 0 rgba(0, 0, 0, 0);
    display: block;
    height: 48px;
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
}
.tlds-wishlist-wrp .tlds {
    height: 26px;
    overflow: hidden;
}

.domains-wishlist{background:#e6e6e6; padding:30px 30px 20px;  width: 938px; height:auto;position: relative;border:1px solid #c2c2c2;}
.domains-wishlist-block{ background: url("/getImage.php?src=new-tlds-wishlist.png") no-repeat 0px 0px #f7f7f7;box-shadow: 0 0 5px #C4C4C4;height:58px;}
.domains-wishlist-block	.domains-wishlist-content{width:780px; float:left; padding:5px; position:relative;}
.domains-wishlist-block	.domains-wishlist-content .list-1{ padding:0px 0 0px 0px; overflow:hidden; width:642px;float:left}
.domains-wishlist-content .list-1 li{position:relative;width:129px; padding:0 20px 0 10px; float:left; height:44px; line-height:44px; border-right:1px solid #e3e3e3; color:#5b5b5b; font-size:14px;overflow: hidden;word-wrap: break-word;}
.domains-wishlist-content .btn-delete{position:absolute;top:18px;right:10px;width:9px; height:9px; display:inline-block; *display:inline; zoom:1; margin-left:10px; cursor:pointer; background: url("/getImage.php?src=btn-delete-1.png") no-repeat 0 0px;}

.domains-wishlist-content .list-dropdown{width:18px; height:10px;  background: url("/getImage.php?src=wishlist-dropdown.png") no-repeat 0 0px; position: absolute;
    right: 110px;    top: 25px;cursor:pointer; float:left; }
.domains-wishlist-content .list-dropdown.slideup {background: url("/getImage.php?src=wishlist-slideup.png") no-repeat 0 0px;}
.domains-wishlist-content .txt-button{width:88px; height:44px; float:right;/* position:absolute; top:12px; right:7px;*/}

.domains-wishlist-success .lbl-1,.domains-wishlist-block .lbl-1{height:58px; width:143px; float:left;font-size:19px; color:#fff;text-shadow: 0 1px 1px #777777; }
.domains-wishlist-success .lbl-1 span,.domains-wishlist-block .lbl-1 span{display: table-cell; height: 58px; vertical-align:middle; padding-left:48px;}
.domains-wishlist-success .lbl-1{margin: 33px 0px 0px 30px;}
.domains-wishlist-success{width:998px; height:115px;background: url("/getImage.php?src=domains-wishlist.png") no-repeat 0px -208px; position:relative; border:1px solid #c2c2c2; overflow:hidden; display:none;}
.domains-wishlist-success p{position:absolute; left:225px; top:46px; font-size:14px; color:#333333;}
.domains-wishlist .link-manage-now{position:absolute; right:48px; top:6px; font-size:12px;}
.domains-wishlist-success .link-manage-now{ float: right;margin: 7px 11px; }
.domains-wishlist .tag-free{width:54px; height:53px;  background: url("/getImage.php?src=tag-free-1.png") no-repeat 0 0px; position: absolute;right: -1px; top: -1px; z-index:2; }
.domains-wishlist .btn-disable {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -ms-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#555;
    font-family:arial;
    font:bold 15px Arial, Helvetica, sans-serif;
    padding:7px 15px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
}
.domains-wishlist .btn-disable:hover {
    cursor: default;
}

.wishlist-login-frm .txt-button{background-color: #4B4B4B;
    background-image: linear-gradient(#7D7D7D, #6B6B6B 25%, #5B5B5B);
    background-repeat: no-repeat;
    border: 1px solid #4B4B4B;  text-shadow: 1px 1px 0 #222222;
    box-shadow: 0 1px 0 0 #959595 inset;
    color: #FFFFFF;}
.wishlist-login-frm  .txt-button:hover{background:#4B4B4B;}
.wishlist-login-frm .or{width:30px; height:36px; float:left; padding:16px 0 0 0; text-align:center; vertical-align:middle; background:url("/getImage.php?src=new-tlds-login-sep.png") no-repeat center center;  color:#757575; font-size:15px; margin:0 15px; }
.wishlist-login-frm .or span{ color:#5b5b5b; background:#f7f7f7; display:inline-block; *display:inline; zoom:1}
.signup-link{font-size:18px; margin-top:12px; display:inline-block; *display:inline; zoom:1;}


.domains-wishlist-content .list-2-wrp{background:#fff; border:1px solid #ccc; width:665px; padding:15px; position:absolute; top:58px; left:-10px;
    box-shadow:0 0 5px #ccc; -moz-box-shadow:0 0 5px #ccc; webkit-box-shadow:0 0 5px #ccc; z-index:5; display:none;}
.domains-wishlist-content .list-2 li{position:relative;word-wrap: break-word;overflow: hidden;width:129px; padding:0 20px 0 10px; float:left; height:44px; line-height:44px; border-right:1px solid #e3e3e3; color:#5b5b5b; font-size:14px;}



.domains-wishlist-wrp{margin:40px 30px; box-shadow:0 0 5px #e1e1e1; -moz-box-shadow:0 0 5px #e1e1e1; webkit-box-shadow:0 0 5px #e1e1e1; color:#7a7a7a; border: 1px solid #E8E8E8;}

.wishlist-tabs-wrp .wishlist-tabs {
    float: left;
    width: 215px;
}
.wishlist-tabs-wrp .wishlist-tabs li {
    background:url("/getImage.php?src=tlds-cat-sprite.png") no-repeat 0px 0px #f6f6f6;

    color: #5b5b5b;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    padding: 15px 14px 15px 54px;
    border-right: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}
.wishlist-tabs-wrp .wishlist-tabs li.active{background-color:#fff; border-right:none;}

.wishlist-tabs-wrp .wishlist-tabs .tab[data-value="all"]{background-position:18px 12px;}
.wishlist-tabs-wrp .wishlist-tabs .tab[data-value="sports and games"]{background-position:18px -445px;}
.wishlist-tabs-wrp .wishlist-tabs .tab[data-value="adult"]{background-position:18px -140px;}
.wishlist-tabs-wrp .wishlist-tabs .tab[data-value="services"]{background-position:18px -240px;}
.wishlist-tabs-wrp .wishlist-tabs .tab[data-value="education"]{background-position:18px -294px;}
.wishlist-tabs-wrp .wishlist-tabs .tab[data-value="food and drink"]{background-position:18px -343px;}
.wishlist-tabs-wrp .wishlist-tabs .tab[data-value="geo cultural"]{background-position:18px -397px;}
.wishlist-tabs-wrp .wishlist-tabs .tab[data-value="arts and media"]{background-position:18px -90px;}
.wishlist-tabs-wrp .wishlist-tabs .tab[data-value="people and lifestyle"]{background-position:18px -1275px;}
.wishlist-tabs-wrp .wishlist-tabs .tab[data-value="finance"]{background-position:18px -546px;}
.wishlist-tabs-wrp .wishlist-tabs .tab[data-value="novelty"]{background-position:18px -599px;}
.wishlist-tabs-wrp .wishlist-tabs .tab[data-value="real estate"]{background-position:18px -650px;}
.wishlist-tabs-wrp .wishlist-tabs .tab[data-value="services"]{background-position:18px -750px;}
.wishlist-tabs-wrp .wishlist-tabs .tab[data-value="technology"]{background-position:18px -802px;}

.wishlist-tabs-wrp .wishlist-tabs .tab[data-value="beauty and fashion"]{background-position:18px -1169px}
.wishlist-tabs-wrp .wishlist-tabs .tab[data-value="business and commerce"]{background-position:18px -185px;}
.wishlist-tabs-wrp .wishlist-tabs .tab[data-value="government and politics"]{background-position:18px -847px;}
.wishlist-tabs-wrp .wishlist-tabs .tab[data-value="religion"]{background-position:18px -910px;}
.wishlist-tabs-wrp .wishlist-tabs .tab[data-value="generic"]{background-position:18px -1226px;}
.wishlist-tabs-wrp .wishlist-tabs .tab[data-value="travel"]{background-position:18px -1063px;}
.wishlist-tabs-wrp .wishlist-tabs .tab[data-value="idn"]{background-position:18px -1119px;}
.wishlist-tabs-wrp .wishlist-tabs .tab[data-value="health"]{background-position:18px -962px;}
.wishlist-tabs-wrp .wishlist-tabs .tab[data-value="news and information"]{background-position:18px -1013px;}


.tlds-wishlist-wrp .wishlist-content {
    float: right;
    width: 720px;
}
.tlds-wishlist-wrp .tab-content {
    position: absolute;
    overflow-y: scroll;
    width: 737px;
    height: 1042px;
}
.tlds-wishlist-wrp .tab-content li{width:270px; height:50px; line-height:50px; overflow:hidden; float:left; border-bottom:1px solid #e8e8e8; font-size:14px; margin:0 20px; position:relative;overflow: hidden;word-wrap: break-word;padding-right: 50px;}

.btn-add-wishlist{width:25px; height:25px; display:block; position:absolute; right:2px; top:12px; background:url("/getImage.php?src=btn-addtowishlist.png") no-repeat -31px -51px; cursor:pointer;}
.btn-add-wishlist.add.hover{ width: 55px;background-position: 0 0; transition:width 0.5s; -moz-transition:width 0.5s; -webkit-transition:width 0.5s; }
.btn-add-wishlist.added{ background:url("/getImage.php?src=btn-addtowishlist.png") no-repeat -31px -101px; cursor:default;}

.preorder-gtld-login .more-link {
    display: none;
}
.tlds-wishlist-wrp .error {
    background: #ffdbdb;
    padding: 8px 8px 8px 13px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    height: 16px;
    margin: -14px 0px 6px 11px;
}
.tlds-wishlist-wrp .domains-wishlist-error{
    display:none;background-color: #000;opacity: 0.9;z-index: 2;height:58px;position: absolute;width: 938px;top: 30px;text-align: center;
}
.tlds-wishlist-wrp .domains-wishlist-error p{
    background-color: #E04747;z-index: 3;color: white;padding: 4px 10px;display: inline-block;*display: inline;zoom: 1;text-align: center;text-align: center;margin: 14px 159px;width: 651px;border: 1px solid #D62929;margin: 14px 159px;width: auto;
}
.tlds-wishlist-wrp .domains-select #categories{
    width:113px;
}
.tlds-wishlist-wrp .error-block{ border: 1px solid red; }
.tlds-wishlist-wrp .error-block input[type="text"]{ color: red;font-size: 16px; padding-top: 13px;}

.gtld-price .original-price { color: #999; text-decoration: line-through; }