.tlds-sunrise-wrp .row-left{float:left; width:590px;}
.tlds-sunrise-wrp .row-gray p{font-size:14px; line-height:1.5;}
.tlds-sunrise-wrp .ui-heading{padding-bottom:0;}
.tlds-sunrise-wrp .banner-img {
    width: 350px;
    right: -30px;
    top: -10px;}

.gtld-sunrise-wrp{margin:40px 30px; box-shadow:0 0 5px #e1e1e1; -moz-box-shadow:0 0 5px #e1e1e1; webkit-box-shadow:0 0 5px #e1e1e1; color:#7a7a7a;}
.gtld-sunrise-inner{padding:20px; position:relative}
.gtld-sunrise-inner .smd-info{position:absolute; right:20px; top:6px;}
.gtld-sunrise-wrp h5{font-size:17px; font-weight:bold; color:#6b6b6b; }
.gtld-sunrise-wrp h6{font-size:14px; font-weight:bold; color:#6b6b6b; border-bottom:1px solid #ccc;  padding-bottom:10px; margin-top:15px; text-transform:capitalize;}
.tlds-sunrise-wrp p.ui-sub-title{color:#727272; font-size:20px; font-family:'Rokkitt',serif; padding-bottom:15px;}

.gtld-sunrise-wrp textarea{ border:1px solid #e1e1e1;
    -moz-box-shadow:inset 0 0 10px #e1e1e1;
    -webkit-box-shadow:inset 0 0 10px #e1e1e1;
    box-shadow:inset 0 0 10px #e1e1e1;
    width:100%; height:120px; margin-top:15px; margin-bottom:20px;}
.gtld-sunrise-wrp .txt-domain{ border:1px solid #e1e1e1;
    -moz-box-shadow:inset 0 0 10px #e1e1e1;
    -webkit-box-shadow:inset 0 0 10px #e1e1e1;
    box-shadow:inset 0 0 10px #e1e1e1;
    padding: 15px;
    width: 450px;  margin-top:15px; margin-bottom:20px;}
.gtld-sunrise-wrp .tld-ext{padding:15px 0;}
.gtld-sunrise-wrp .tld-ext input{margin-right:5px;}
.gtld-sunrise-wrp .tld-ext label{font-size:16px; font-weight:normal; margin-right:25px;}
.gtld-sunrise-wrp .gtld-sunrise-footer{background:#f3f3f3; padding:20px; border-top:1px solid #dadada;}

.tooltip-txt{position:relative; cursor:help;}
.tooltip-txt:hover{color:#377ce4;}
.tooltip-txt .tooltip-info{display:none; padding:15px; z-index:5; cursor:default; background:#272727; color:#ededed; font-size:12px; line-height:1.5; position:absolute; top:25px; border-radius:5px;  -moz-border-radius:5px;  -webkit-border-radius:5px; }
.tooltip-txt:hover .tooltip-info{display:block;}
.tooltip-txt .tooltip-info.what-is-smd{width:635px; right:2px;}
.tooltip-txt .tooltip-info.get-smd{width:276px; right:2px;}
.tooltip-txt .tooltip-info span{ background:url('/getImage.php?src=tt-up-arrow.png') 0 0 no-repeat; width:22px; height:12px; position:absolute; top:-10px; right:130px; display:block;}
.tooltip-txt .tooltip-info.what-is-smd span{right:29px;}
.tooltip-txt .tooltip-info.get-smd span{right:29px;}
.rel{position:relative;}